<dv class="forgot-psw" data-ng-show="changePsw">
    <h2>Reset password!</h2>
    <form name="pswChange"   class="container-fluid col-md-12"   >
        <md-content class="md-no-momentum" style="margin-bottom: 20px;">

            <md-input-container class="md-block ">
                <md-icon  md-svg-src="assets/img/ic_security_black_24px.svg"  ></md-icon>
                <input name="psw"  type="password" ng-trim="false" placeholder="Password" data-ng-model="userData.usr_psw" ng-required="true" >

                <div ng-messages="pswChange.psw.$error" ng-show="pswChange.psw.$invalid && (submitted || pswChange.psw.$touched)">
                    <div ng-message="required">Password is required.</div>
                </div>
                <div data-ng-show="submitted || pswChange.psw.$touched">
                    <span  data-ng-hide="pswChange.psw.$invalid" class="glyphicon  form-control-feedback glyphicon-ok"  ></span>
                    <span data-ng-show="pswChange.psw.$invalid"     class="glyphicon  form-control-feedback glyphicon-remove"></span>
                </div>
            </md-input-container>
            <md-input-container class="md-block ">
                <md-icon  md-svg-src="assets/img/ic_security_black_24px.svg"  ></md-icon>
                <input name="psw_rep"  type="password"   placeholder="Re-enter Password" data-ng-model="userData.usr_psw_repeat" ng-required="true" ng-trim="false" data-password-verify="userData.usr_psw">

                <div ng-messages="pswChange.psw_rep.$error" ng-show="pswChange.psw_rep.$invalid && (submitted || pswChange.psw_rep.$touched)">
                    <div ng-message="required">Password is required.</div>
                </div>
                <div ng-messages="pswChange.psw_rep.$error" ng-show="(pswChange.psw_rep.value != pswChange.psw.value || pswChange.psw_rep.$error.passwordVerify)&& (submitted || pswChange.psw_rep.$touched)">
                    <div ng-message="required">Passwords don't match.</div>
                </div>
                <div data-ng-show="submitted || pswChange.psw_rep.$touched">
                    <span  data-ng-hide="pswChange.psw_rep.$invalid && (pswChange.psw_rep.value != pswChange.psw.value || pswChange.psw_rep.$error.passwordVerify)" class="glyphicon  form-control-feedback glyphicon-ok"  ></span>
                    <span data-ng-show="pswChange.psw_rep. && (pswChange.psw_rep.value != pswChange.psw.value || pswChange.psw_rep.$error.passwordVerify)"     class="glyphicon  form-control-feedback glyphicon-remove"></span>
                </div>
            </md-input-container>

            <div class="form-group">
                <div class="col-sm-6" style="text-align: center;">
                    <md-button ng-click=" sign.move('sign_in')"  class="md-raised md-hue-1 my-btn" > <md-icon md-svg-src="assets/img/ic_create_white_24px.svg"></md-icon> Cancel </md-button>
                </div>
                <div class="col-sm-6" style="text-align: center;">
                    <md-button class="md-raised md-primary my-btn" ng-click="submitted = true; sign.resetPsw()" ng-disabled="pswChange.$invalid">   <md-icon md-svg-src="assets/img/ic_exit_to_app_white_24px.svg"></md-icon> Reset </md-button>
                </div>
            </div>
        </md-content>
        </div>
    </form>
</dv>