<style>

    .input-only-number > input {
        font-weight: bold;
    }

    .btn-eye {
        width: 5px;
        min-width: 55px;
        height: 55px;
        border-radius: 150px;
    }

    .sn {
        text-align: center;
    }

    .back-tables {
        background: white;
    }

    .input-tables {
        margin-bottom: 0;
    }

    .my-btn-set {
        font-size: 16px;
    }
</style>
<div class="contentCostum" id="calcCostum" data-ng-init="$parent.utils.fade()">
    <md-content class="level-1" id="max-height-block">
        <div layout="row" layout-xs="column">
            <md-card flex>
                <md-content id="header-form">
                    <form name="useresForm" class="form-horizontal col-md-12" role="form" novalidate>
                        <div layout="row " class="input-back" layout-xs="column">
                            <md-card flex class="col-sm-4 ">
                                <md-content layout-padding="" class="level-3 header-field back-tables input-layout ">
                                    <div class="col-sm-12 center " style="padding: 0 5px!important;">
                                        <div class="col-sm-4">
                                            <md-input-container class="md-block   input-only-number">
                                                <input name="usrName" type="text" data-ng-trim="false"
                                                       placeholder="Surgeon"
                                                       ng-required="data.inputOD.calcsFormSubmitted || data.inputOS.calcsFormSubmitted"
                                                       data-ng-model="session.user.usr_name"
                                                       data-ng-change="utils.changeName(session.user,'usr_name');"
                                                       data-ng-disabled="!data.isInputing"
                                                       ng-maxlength="51" tabindex=1>

                                            </md-input-container>
                                        </div>
                                        <div class="col-sm-8">

                                            <div class="col-sm-12">
                                                <div class="col-sm-6">
                                                    <md-input-container class="md-block  input-only-number">
                                                        <input name="usrPtnName" type="text"
                                                               placeholder="Patient" autofocus="true"
                                                               data-ng-disabled="!data.isInputing"
                                                               data-ng-model="data.ptntName" ng-maxlength="50"
                                                               tabindex=2>
                                                    </md-input-container>
                                                </div>
                                                <div class="col-sm-6">
                                                    <md-input-container class="md-block input-only-number">
                                                        <input name="usrPtnID" type="text"
                                                               placeholder="Patient ID"
                                                               data-ng-disabled="!data.isInputing"
                                                               data-ng-model="data.ptntID" ng-maxlength="50" tabindex=3>
                                                    </md-input-container>
                                                </div>
                                            </div>
                                            <div class="col-sm-12" style="text-align: center"
                                                 data-ng-show="data.isInputing">
                                                <input class="ng-hide" id="fileInput" multiple type="file"
                                                       accept="text/xml"/>
                                                <md-button class="md-raised md-primary" aria-label="IMPORT PATIENT"
                                                           ng-click="calc.upload()"
                                                           class="my-btn-set btn-text-calc">
                                                    <md-icon
                                                            md-svg-src="assets/img/ic_attach_file_black_24px.svg"></md-icon>
                                                    IMPORT PATIENT
                                                    <md-tooltip md-direction="Bottom"> Load a Lenstar or IOL Master
                                                        '.xml' patient file to import measurement data.
                                                    </md-tooltip>
                                                </md-button>
                                            </div>

                                        </div>

                                    </div>

                                </md-content>
                            </md-card>
                            <md-card flex class="col-sm-4 ">
                                <md-content class="level-3 header-field back-tables header-field" >

                                    <md-icon
                                            md-svg-src="assets/img/Original-300x225.svg"></md-icon>
                                    Original-300x225.png<p
                                        class="logo_text center " id="logo_text" tabindex=-1
                                        data-ng-bind="data.label.web_header"
                                        data-ng-click="calc.version()"></p>
                                </md-content>
                            </md-card>
                            <md-card flex class="col-sm-4 ">
                                <md-content class="level-3 header-field back-tables header-field ">
                                    <section layout="row" layout-sm="column" layout-align="center center"
                                             class="center "
                                             layout-wrap style="padding-top: 2px;">
                                        <div class="col-sm-12">
                                            <div class="col-sm-6">
                                                <md-button class="md-raised md-primary col-sm-11"
                                                           ng-click="utils.move('settings')">
                                                    <md-icon
                                                            md-svg-src="assets/img/ic_settings_black_24px.svg"></md-icon>
                                                    Settings
                                                </md-button>
                                            </div>
                                            <div class="col-sm-6">
                                                <md-button class="md-raised md-primary col-sm-11"
                                                           ng-click="utils.logOut()">
                                                    <md-icon
                                                            md-svg-src="assets/img/ic_exit_to_app_black_24px.svg"></md-icon>
                                                    Log OUT
                                                </md-button>
                                            </div>
                                        </div>


                                        <div class="col-sm-12">

                                            <div class="col-sm-6">

                                                <md-button class="md-raised md-primary col-sm-11"
                                                           style="padding-left: 25px;background-color: #EC1C1C!important;">

                                                    Post-LASIK Calculator
                                                    <md-tooltip md-direction="Bottom"> Coming soon!</md-tooltip>
                                                </md-button>
                                                <img src="assets/img/Pasted image at 2016_05_10 05_04 PM.png"
                                                     class="new-feature">
                                            </div>
                                            <div class="col-sm-6">

                                                <md-button class="md-raised md-primary col-sm-11"
                                                           style="padding-left: 25px;background-color: #007c15!important;"
                                                           ng-click="utils.move('toric_calc')">
                                                    Toric Calculator
                                                    <md-tooltip md-direction="Bottom"> Coming soon!</md-tooltip>
                                                </md-button>
                                                <img src="assets/img/Pasted image at 2016_05_10 05_04 PM.png"
                                                     class="new-feature">
                                            </div>

                                        </div>


                                    </section>
                                </md-content>
                            </md-card>
                        </div>
                    </form>
                </md-content>
            </md-card>
        </div>
        <div layout="row" layout-xs="column">
            <md-card flex>
                <md-content>
                    <div layout="row " class="input-back" layout-xs="column">
                        <md-card flex class="col-md-6">
                            <form name="calcsODForm" class="form-horizontal col-md-12" role="form" novalidate
                                  autocomplete="off">
                                <md-content layout-padding="" class="level-3 back-tables input-layout body-card">
                                    <div class="col-sm-12">
                                        <h2 style="text-align: center;">Right (OD)</h2>

                                        <div class="target">
                                            <div data-ng-hide="data.summary">
                                                <div>
                                                    <div class="col-md-12 "><h3>Measurements:</h3></div>
                                                    <div class="dd-val">
                                                        <div data-ng-repeat="f in data.measurem" class="form-group">
                                                            <label mean-token="'create-srt_name'"
                                                                   for="{{data._inpF[f]}}OD"
                                                                   class="col-md-7 control-label">{{data.label[data._inpF[f]]}}</label>

                                                            <div class="col-md-5">
                                                                <input name="{{data._inpF[f]}}"
                                                                       valid-number
                                                                       type="text"
                                                                       data-ng-model="data[data._inpF.r][data._inpF[f]]"
                                                                       data-ng-trim="false"
                                                                       placeholder="{{data.label[data._inpF[f]]}}"
                                                                       data-ng-required="data[data._inpF.r][data._intVl[f].r]"
                                                                       data-ng-change="calc.onInput(data._inpF[f])"
                                                                       min="{{data._intVl[f].min}}"
                                                                       max="{{data._intVl[f].max}}"
                                                                       class="input-succeces   input-only-number"
                                                                       id="{{data._inpF[f]}}OD" tabindex=4+{{$index}}>

                                                                <div class="tooltipes-t">?
                                                                    <md-tooltip md-direction="Left"><p>
                                                                        {{data.label[data._inpF[f]]}} is between
                                                                        {{data._intVl[f].min}} and
                                                                        {{data._intVl[f].max}}
                                                                        <span data-ng-show="data[data._inpF.r][data._intVl[f].r]">and it`s required</span>
                                                                    </p></md-tooltip>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group ">
                                                            <label mean-token="'create-srt_name'"
                                                                   class="col-md-7 control-label">{{data.label[data._inpF.f]}}</label>

                                                            <div class="col-md-5">
                                                                <md-input-container
                                                                        class="md-block input-tables input-only-number"
                                                                        style="padding: 0; margin: 0;">

                                                                    <md-select aria-label="{{data.label[data._inpF.f]}}"
                                                                               ng-model="data[data._inpF.r][data._inpF.f]"
                                                                               tabindex=9>
                                                                        <md-option ng-repeat="k in data.Kindexes"
                                                                                   value="{{k}}">
                                                                            {{k}}
                                                                        </md-option>
                                                                    </md-select>
                                                                </md-input-container>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="col-md-12"><h3>Lens Selection:</h3></div>
                                                    <div class="dd-val">
                                                        <div data-ng-repeat="f in data.lensS" class="form-group">
                                                            <label mean-token="'create-srt_name'"
                                                                   for="{{data._inpF[f]}}ODL"
                                                                   class="col-md-7 control-label">{{data.label[data._inpF[f]]}}</label>

                                                            <div class="col-md-5">
                                                                <input name="{{data._inpF[f]}}"
                                                                       valid-number
                                                                       type="text"
                                                                       data-ng-model="data[data._inpF.r][data._inpF[f]]"
                                                                       data-ng-trim="false"
                                                                       placeholder="{{data.label[data._inpF[f]]}}"
                                                                       data-ng-required="data[data._inpF.r][data._intVl[f].r]"
                                                                       data-ng-change="calc.onInput(data._inpF[f])"
                                                                       min="{{data._intVl[f].min}}"
                                                                       max="{{data._intVl[f].max}}"
                                                                       class="input-succeces   input-only-number"
                                                                       id="{{data._inpF[f]}}ODL" tabindex=10+{{$index}}>

                                                                <div class="tooltipes-t">?
                                                                    <md-tooltip md-direction="Left">
                                                                        <p>{{data.label[data._inpF[f]]}} is between
                                                                            {{data._intVl[f].min}} and
                                                                            {{data._intVl[f].max}}
                                                                            <span data-ng-show="data[data._inpF.r][data._intVl[f].r]">and it`s required</span>
                                                                        </p>
                                                                    </md-tooltip>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                            <div data-ng-show="data.summary">
                                                <table class="table table-hover table-bordered">
                                                    <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr data-ng-repeat="f in data.curFieldes">
                                                        <td>{{data.label[data._inpF[f]]}}</td>
                                                        <td>{{data[data._inpF.r][data._inpF[f]]}}</td>
                                                    </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-sm-12" layout="row center  ">
                                            <div class="threejs" id="{{data.listOfGraph[0]}}">
                                                <!-- <div class="toolltip">
                                                     <div class="glyphicon glyphicon-star"
                                                          style="font-size: 18px;"></div>
                                                     &nbsp;
                                                     <span><b>IOL Power</b></span>
                                                 </div>-->
                                                <div id="iolODData" class="iolData">
                                                    <table class="table table-hover iol-data">
                                                        <thead>
                                                        <tr>
                                                            <th><b>IOL (D)</b></th>
                                                            <th><b>REF (D)</b></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="iolRef in data.iolODRef">
                                                            <td ng-class="{'bol':iolRef.middle}">
                                                                <div ng-class="{ 'glyphicon glyphicon-star ': iolRef.middle}"></div>
                                                                &nbsp;{{ iolRef.iol }}&nbsp;
                                                                <div ng-class="{ 'glyphicon glyphicon-star ': iolRef.middle}"></div>
                                                            </td>
                                                            <td ng-class="{'bol':iolRef.middle}">{{iolRef.ref}}</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="info">Beta Testing Website - For Educational Purposes
                                                        Only
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="threejsPrint">
                                                <img alt="webgl is not support"/>
                                            </div>
                                        </div>
                                    </div>
                                </md-content>
                            </form>
                        </md-card>
                        <md-card flex class="col-md-6">
                            <form name="calcsOSForm" class="form-horizontal col-md-12" role="form" novalidate
                                  autocomplete="off">
                                <md-content layout-padding="" class="level-3 back-tables input-layout body-card">
                                    <div class="col-sm-12">
                                        <h2 style="text-align: center;">Left (OS)
                                        </h2>

                                        <div class="target">
                                            <div data-ng-hide="data.summary">
                                                <div>
                                                    <div class="col-md-12 "><h3>Measurements:</h3></div>
                                                    <div class="dd-val">

                                                        <div data-ng-repeat="f in data.measurem" class="form-group">
                                                            <label mean-token="'create-srt_name'"
                                                                   for="{{data._inpF[f]}}OS"
                                                                   class="col-md-7 control-label">{{data.label[data._inpF[f]]}}</label>

                                                            <div class="col-md-5">
                                                                <input name="{{data._inpF[f]}}"
                                                                       valid-number
                                                                       type="text"
                                                                       data-ng-model="data[data._inpF.l][data._inpF[f]]"
                                                                       data-ng-trim="false"
                                                                       placeholder="{{data.label[data._inpF[f]]}}"
                                                                       data-ng-required="data[data._inpF.l][data._intVl[f].r]"
                                                                       data-ng-change="calc.onInput(data._inpF[f])"
                                                                       min="{{data._intVl[f].min}}"
                                                                       max="{{data._intVl[f].max}}"
                                                                       class="input-succeces   input-only-number"
                                                                       id="{{data._inpF[f]}}OS" tabindex=11+{{$index}}>

                                                                <div class="tooltipes-t">?
                                                                    <md-tooltip md-direction="Left"><p>
                                                                        {{data.label[data._inpF[f]]}} is between
                                                                        {{data._intVl[f].min}} and
                                                                        {{data._intVl[f].max}}
                                                                        <span data-ng-show="data[data._inpF.l][data._intVl[f].r]">and it`s required</span>
                                                                    </p></md-tooltip>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group ">
                                                            <label mean-token="'create-srt_name'"
                                                                   class="col-md-7 control-label">{{data.label[data._inpF.f]}}</label>

                                                            <div class="col-md-5">
                                                                <md-input-container
                                                                        class="md-block input-tables input-only-number"
                                                                        style="padding: 0; margin: 0;">

                                                                    <md-select aria-label="{{data.label[data._inpF.f]}}"
                                                                               ng-model="data.inputOS.KIndex"
                                                                               tabindex=15>
                                                                        <md-option ng-repeat="k in data.Kindexes"
                                                                                   value="{{k}}">
                                                                            {{k}}
                                                                        </md-option>
                                                                    </md-select>
                                                                </md-input-container>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12"><h3>Lens Selection:</h3></div>
                                                    <div class="dd-val">
                                                        <div data-ng-repeat="f in data.lensS" class="form-group">
                                                            <label mean-token="'create-srt_name'"
                                                                   for="{{data._inpF[f]}}OSL"
                                                                   class="col-md-7 control-label">{{data.label[data._inpF[f]]}}</label>

                                                            <div class="col-md-5">
                                                                <input name="{{data._inpF[f]}}"
                                                                       valid-number
                                                                       type="text"
                                                                       data-ng-model="data[data._inpF.l][data._inpF[f]]"
                                                                       data-ng-trim="false"
                                                                       placeholder="{{data.label[data._inpF[f]]}}"
                                                                       data-ng-required="data[data._inpF.l][data._intVl[f].r]"
                                                                       data-ng-change="calc.onInput(data._inpF[f])"
                                                                       min="{{data._intVl[f].min}}"
                                                                       max="{{data._intVl[f].max}}"
                                                                       class="input-succeces   input-only-number"
                                                                       id="{{data._inpF[f]}}OSL" tabindex=16+{{$index}}>

                                                                <div class="tooltipes-t">?
                                                                    <md-tooltip md-direction="Left"><p>
                                                                        {{data.label[data._inpF[f]]}} is between
                                                                        {{data._intVl[f].min}} and
                                                                        {{data._intVl[f].max}}
                                                                        <span data-ng-show="data[data._inpF.l][data._intVl[f].r]">and it`s required</span>
                                                                    </p></md-tooltip>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div data-ng-show="data.summary">
                                                <table class="table table-hover table-bordered">
                                                    <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr data-ng-repeat="f in data.curFieldes">
                                                        <td>{{data.label[data._inpF[f]]}}</td>
                                                        <td>{{data[data._inpF.l][data._inpF[f]]}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="col-sm-12" layout="row center ">
                                            <div class="threejs" id="{{data.listOfGraph[1]}}">
                                                <!--<div class="toolltip">
                                                    <div class="glyphicon glyphicon-star"
                                                         style="font-size: 18px;"></div>
                                                    &nbsp;
                                                    <span><b>IOL Power</b></span>
                                                </div>-->
                                                <div id="iolOSData" class="iolData">
                                                    <table class="table table-hover iol-data">
                                                        <thead>
                                                        <tr>
                                                            <th><b>IOL (D)</b></th>
                                                            <th><b>REF (D)</b></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="iolRef in data.iolOSRef">
                                                            <td ng-class="{'bol':iolRef.middle}">
                                                                <div ng-class="{ 'glyphicon glyphicon-star ': iolRef.middle}"></div>
                                                                &nbsp;{{ iolRef.iol }}&nbsp;
                                                                <div ng-class="{ 'glyphicon glyphicon-star ': iolRef.middle}"></div>
                                                            </td>
                                                            <td ng-class="{'bol':iolRef.middle}">{{iolRef.ref}}</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="info">Beta Testing Website - For Educational Purposes
                                                        Only
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="threejsPrint">
                                                <img alt="webgl is not support"/>
                                            </div>
                                        </div>
                                    </div>
                                </md-content>
                            </form>
                        </md-card>
                    </div>


                    <div layout="row " class="input-back" layout-xs="column">
                        <div class="col-md-12">
                            <section layout="row" layout-sm="column" layout-align="center center"
                                     layout-wrap>
                                <md-button aria-label="PLOT" id="plotf"
                                           data-ng-show="data.isInputing"
                                           ng-click="calc.plot([calcsODForm,calcsOSForm],data.listOfGraph[0])"
                                           data-ng-disabled="(calcsODForm.$invalid && calcsOSForm.$invalid) || useresForm.$invalid"
                                           class="md-raised md-primary my-btn-set btn-text-calc">
                                    <md-icon md-svg-src="assets/img/ic_iso_black_24px.svg"></md-icon>
                                    <!--<md-tooltip md-direction="top"> PLOT</md-tooltip>-->PLOT
                                </md-button>
                                <md-button aria-label="Reset"
                                           data-ng-show="data.isInputing"
                                           data-ng-click="calc.reset(calcsODForm,data.listOfGraph[0])"
                                           class="md-raised md-primary my-btn-set btn-text-calc">
                                    <md-icon md-svg-src="assets/img/ic_cached_black_24px.svg"></md-icon>
                                    <!--<md-tooltip md-direction="top"> Reset</md-tooltip>-->Reset
                                </md-button>

                                <md-button aria-label="Edit"
                                           data-ng-hide="data.isInputing"
                                           ng-click="calc.reset(calcsODForm,data.listOfGraph[0],false,true);"
                                           class="md-raised md-primary my-btn-set btn-text-calc">
                                    <md-icon md-svg-src="assets/img/ic_create_black_24px.svg"></md-icon>
                                    <!--<md-tooltip md-direction="top"> Edit</md-tooltip>-->Edit
                                </md-button>
                                <md-button aria-label="New Patient"
                                           data-ng-hide="data.isInputing"
                                           ng-click="calc.reset(calcsODForm,data.listOfGraph[0],'yeas')"
                                           class="md-raised md-primary my-btn-set btn-text-calc" id="reset-ptnt">
                                    <md-icon md-svg-src="assets/img/ic_create_black_24px.svg"></md-icon>
                                    <!--<md-tooltip md-direction="top"> New Patient</md-tooltip>-->New Patient
                                </md-button>
                                <md-button aria-label="PRINT"
                                           data-ng-hide="data.isInputing"
                                           ng-click="calc.print(data.listOfGraph[0])"
                                           class="md-raised md-primary my-btn-set btn-text-calc">
                                    <md-icon md-svg-src="assets/img/ic_print_black_24px.svg"></md-icon>
                                    <!--<md-tooltip md-direction="top"> PRINT</md-tooltip>-->PRINT
                                </md-button>
                            </section>
                        </div>
                    </div>
                </md-content>
            </md-card>
        </div>
    </md-content>
</div>

<div id="pdf-content">
    <div class="pdf-content">
        <table id="details" class="table table-bordered" style="    margin-top: 150px;">
            <tbody>
            <div class="header-info">
                <div style="padding-bottom: 50px;" data-ng-bind="data.label.web_header"></div>
                <tr>
                    <td>Surgeon</td>
                    <td>{{session.user.usr_name}}</td>
                </tr>
                <tr>
                    <td>Patient</td>
                    <td>{{data.ptntName}}</td>
                </tr>
                <tr>
                    <td>Patient ID</td>
                    <td>{{data.ptntID}}</td>
                </tr>

            </div>

            <div class="data-print">
                <tr style="height: 2500px;">
                    <td style="border-right: 5px solid black;max-width: 1367px;">
                        <div class="data-data">

                            <div class="data-input">
                                <h1 class="pdf-h1">Right (OD)</h1>

                                <form name="calcForm" class="form-horizontal col-md-12 pdf-form" role="form" novalidate>

                                    <div data-ng-repeat="fld in data.curFieldes" class="form-group pdf-group">
                                        <label mean-token="'create-srt_name'" for="{{data._inpF[fld]}}OD_"
                                               class="col-md-8 control-label">{{data.label[data._inpF[fld]]}}</label>

                                        <div class="col-md-4">
                                            <input name="{{data._inpF[fld]}}" type="text"
                                                   class="form-control input-pdf"
                                                   data-ng-model="data[data._inpF.r][data._inpF[fld]]"
                                                   id="{{data._inpF[fld]}}OD_">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            </br>
                            <div class="data-output">
                                <div class="image-con"><img class="threejsOutput" id="threejsODOutput"
                                                            alt="Webgl is not support"/></div>
                                <table class="table table-hover table-pdf" style=" text-align: center;margin: auto;">
                                    <thead>
                                    <tr>
                                        <th><b>IOL (D)</b></th>
                                        <th><b>REF (D)</b></th>
                                    </tr>
                                    </thead>
                                    <tbody id="elDrop">
                                    <tr ng-repeat="iolRef in data.iolODRef ">
                                        <td ng-class="{'bol':iolRef.middle}" class="td-pdf">
                                            <div ng-class="{ 'glyphicon glyphicon-star ': iolRef.middle}"></div>
                                            {{ iolRef.iol }}
                                            <div ng-class="{ 'glyphicon glyphicon-star ': iolRef.middle}"></div>
                                        </td>
                                        <td ng-class="{'bol':iolRef.middle}" class="td-pdf">{{iolRef.ref}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </td>
                    <td style="max-width: 1367px;">

                        <div class="data-data" style="float: right">

                            <div class="data-input">
                                <h1 class="pdf-h1">Left (OS)</h1>

                                <form name="calcForm" class="form-horizontal col-md-12 pdf-form" role="form" novalidate>

                                    <div data-ng-repeat="fld in data.curFieldes" class="form-group pdf-group">
                                        <label mean-token="'create-srt_name'" for="{{data._inpF[fld]}}OS_"
                                               class="col-md-8 control-label">{{data.label[data._inpF[fld]]}}</label>

                                        <div class="col-md-4">
                                            <input name="{{data._inpF[fld]}}" type="text"
                                                   class="form-control input-pdf"
                                                   data-ng-model="data[data._inpF.l][data._inpF[fld]]"
                                                   id="{{data._inpF[fld]}}OS_">
                                        </div>
                                    </div>

                                    <!-- <div class="form-group pdf-group" >
                                         <label mean-token="'create-srt_name'" for="axialLength__"
                                                class="col-md-8 control-label">{{data.label.axialLength}}</label>

                                         <div class="col-md-4">
                                             <input name="axialLength" type="text" class="form-control input-pdf"
                                                    data-ng-model="data.inputOS.axialLength" id="axialLength__"  >
                                         </div>
                                     </div>
                                     <div class="form-group pdf-group" >
                                         <label mean-token="'create-srt_name'" for="K1__"
                                                class="col-md-8 control-label">K1</label>

                                         <div class="col-md-4">
                                             <input name="K1" type="text" class="form-control input-pdf"
                                                    data-ng-model="data.inputOS.K1" id="K1__" required step="0.01">
                                         </div>
                                     </div>
                                     <div class="form-group pdf-group" >
                                         <label mean-token="'create-srt_name'" for="K2__"
                                                class="col-md-8 control-label">K2</label>

                                         <div class="col-md-4">
                                             <input name="K2" type="text" class="form-control input-pdf"
                                                    data-ng-model="data.inputOS.K2" id="K2__" required step="0.01">
                                         </div>
                                     </div>
                                     <div class="form-group pdf-group" >
                                         <label mean-token="'create-srt_name'" for="ACD__" class="col-md-8 control-label">{{data.label.ACD}}</label>

                                         <div class="col-md-4">
                                             <input name="ACD" type="text" class="form-control input-pdf"
                                                    data-ng-model="data.inputOS.ACD" id="ACD__"  >
                                         </div>
                                     </div>
                                     <div class="form-group pdf-group" >
                                         <label mean-token="'create-srt_name'" for="A__"
                                                class="col-md-8 control-label">{{data.label.A}}</label>

                                         <div class="col-md-4">
                                             <input name="A_" type="text" class="form-control input-pdf"
                                                    data-ng-model="data.inputOS.AConstant" id="A__"  >
                                         </div>
                                     </div>
                                     <div class="form-group pdf-group" >
                                         <label mean-token="'create-srt_name'" for="Rfrctn__"
                                                class="col-md-8 control-label">{{data.label.Rfrctn}}</label>

                                         <div class="col-md-4">
                                             <input name="Rfrctn_" type="text" class="form-control input-pdf"
                                                    data-ng-model="data.inputOS.Rfrctn" id="Rfrctn__"  >
                                         </div>
                                     </div>
                                     <div class="form-group pdf-group" >
                                         <label mean-token="'create-srt_name'"
                                                class="col-md-8 control-label">{{data.label.KIndex}}</label>

                                         <div class="col-md-4">
                                             <input name="K_index" type="text" class="form-control input-pdf"
                                                    data-ng-model="data.inputOS.KIndex" id="K__index"  >
                                         </div>
                                     </div>-->
                                </form>
                            </div>
                            </br>

                            </br>
                            <div class="data-output">
                                <div class="image-con"><img class="threejsOutput_" id="threejsOSOutput"
                                                            alt="Webgl is not support"/></div>
                                <table class="table table-hover table-pdf" style=" text-align: center;margin: auto;">
                                    <thead>
                                    <tr>
                                        <th><b>IOL (D)</b></th>
                                        <th><b>REF (D)</b></th>
                                    </tr>
                                    </thead>
                                    <tbody id="el_Drop">
                                    <tr ng-repeat="iolRef in data.iolOSRef ">
                                        <td ng-class="{'bol':iolRef.middle}" class="td-pdf">
                                            <div ng-class="{ 'glyphicon glyphicon-star ': iolRef.middle}"></div>
                                            {{ iolRef.iol }}
                                            <div ng-class="{ 'glyphicon glyphicon-star ': iolRef.middle}"></div>
                                        </td>
                                        <td ng-class="{'bol':iolRef.middle}" class="td-pdf">{{iolRef.ref}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </td>
                </tr>


            </div>
            </tbody>
        </table>

        <div class="footer-notes">
            <label for="notes">Surgeon Notes</label>
                       <textarea class="form-control _notes" rows="18" disabled="true" id="notes">
                           </textarea>
        </div>
    </div>
</div>



