<div id="pdf-content">
    <div class="pdf-content">
        <div class="header-info">
            <div style="    padding-bottom: 50px;">LADAS SUPER FORMULA</div>
            <table id="details" class="table table-bordered">
                <tbody>
                <tr>
                    <td>Doctor</td>
                    <td>{{session.user.usr_name}}</td>
                </tr>
                <tr>
                    <td>Patient</td>
                    <td>{{ptntName}}</td>
                </tr>
                <tr>
                    <td>Patient ID</td>
                    <td>{{ptntID}}</td>
                </tr>
                <tr>
                    <td>Eye</td>
                    <td>{{active}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="data-print">
            <div class="data-data">
                <div class="data-input">
                    <form name="calcForm" class="form-horizontal col-md-12" role="form" novalidate
                          style="    border-right: 1px solid gray;border-bottom: 1px solid gray;   background: #ffffff; padding-bottom: 80px;margin-bottom: 70px;">
                        <div>
                            <div class="form-group pdf-group"
                                 ng-class="{ 'has-error' : submitted && calcForm.axialLength.$invalid }">
                                <label mean-token="'create-srt_name'" for="axialLength_"
                                       class="col-md-8 control-label">{{data.label.axialLength}}</label>

                                <div class="col-md-4">
                                    <input name="axialLength" type="number" class="form-control input-pdf"
                                           data-ng-model="data.input.axialLength" id="axialLength_"
                                           placeholder="{{data.label.axialLength}}" required step="0.01">
                                </div>
                            </div>
                            <div class="form-group pdf-group"
                                 ng-class="{ 'has-error' : submitted && calcForm.K1.$invalid }">
                                <label mean-token="'create-srt_name'" for="K1_"
                                       class="col-md-8 control-label">K1</label>

                                <div class="col-md-4">
                                    <input name="K1" type="number" class="form-control input-pdf"
                                           data-ng-model="data.input.K1" id="K1_"
                                           placeholder="K1" required step="0.01">
                                </div>
                            </div>
                            <div class="form-group pdf-group"
                                 ng-class="{ 'has-error' : submitted && calcForm.K2.$invalid }">
                                <label mean-token="'create-srt_name'" for="K2_"
                                       class="col-md-8 control-label">K2</label>

                                <div class="col-md-4">
                                    <input name="K2" type="number" class="form-control input-pdf"
                                           data-ng-model="data.input.K2" id="K2_"
                                           placeholder="K2" required step="0.01">
                                </div>
                            </div>


                            <div class="form-group pdf-group"
                                 ng-class="{ 'has-error' : submitted && calcForm.ACD.$invalid }">
                                <label mean-token="'create-srt_name'" for="ACD_" class="col-md-8 control-label">{{data.label.ACD}}</label>

                                <div class="col-md-4">
                                    <input name="ACD" type="number" class="form-control input-pdf"
                                           data-ng-model="data.input.ACD" id="ACD_"
                                           placeholder="{{data.label.ACD}}" required step="0.01">
                                </div>
                            </div>
                            <div class="form-group pdf-group"
                                 ng-class="{ 'has-error' : submitted && calcForm.A.$invalid }">
                                <label mean-token="'create-srt_name'" for="A_"
                                       class="col-md-8 control-label">{{data.label.A}}</label>

                                <div class="col-md-4">
                                    <input name="A_" type="number" class="form-control input-pdf"
                                           data-ng-model="data.input.AConstant" id="A_"
                                           placeholder="{{data.label.A}}" required step="0.01">
                                </div>
                            </div>
                            <div class="form-group pdf-group"
                                 ng-class="{ 'has-error' : submitted && calcForm.Rfrctn.$invalid }">
                                <label mean-token="'create-srt_name'" for="Rfrctn_"
                                       class="col-md-8 control-label">{{data.label.Rfrctn}}</label>

                                <div class="col-md-4">
                                    <input name="Rfrctn_" type="number" class="form-control input-pdf"
                                           data-ng-model="data.input.Rfrctn" id="Rfrctn_"
                                           placeholder="{{data.label.Rfrctn}}" required step="0.01">
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
                </br>
                <div class="data-output">
                    <table class="table table-hover table-pdf" style=" text-align: center;margin: auto;">
                        <thead>
                        <tr>
                            <th><b>IOL (D)</b></th>
                            <th><b>REF (D)</b></th>
                        </tr>
                        </thead>
                        <tbody id="elDrop">
                        <tr ng-repeat="iolRef in data.iolRef ">
                            <td ng-class="{'bol':iolRef.middle}" class="td-pdf">
                                <div ng-class="{ 'glyphicon glyphicon-star ': iolRef.middle}"></div>
                                {{ iolRef.iol }}
                                <div ng-class="{ 'glyphicon glyphicon-star ': iolRef.middle}"></div>
                            </td>
                            <td ng-class="{'bol':iolRef.middle}" class="td-pdf">{{iolRef.ref}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="image-con"><img id="threejsOutput" alt="print"/></div>
        </div>


        <div class="footer-notes">
            <label for="notes">Surgeon Notes</label>
                       <textarea class="form-control _notes" rows="38" disabled="true" id="notes">
                           </textarea>
        </div>
    </div>
</div>