<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="pingback" href="http://iolcalc.com/xmlrpc.php">
    <title>IOLCalc.com</title>

    <link rel='stylesheet' id='bootstrap-rtl-css' href='http://cdn.supsystic.com/_assets/coming_soon/css/bootstrap.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='bootstrap-theme-rtl-css' href='http://cdn.supsystic.com/_assets/coming_soon/css/bootstrap-theme.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='jasny-bootstrap-rtl-css' href='http://iolcalc.com/wp-content/plugins/coming-soon-by-supsystic/css/jasny-bootstrap.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesomeScs-rtl-css' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='animate-rtl-css' href='http://cdn.supsystic.com/_assets/coming_soon/css/animate.css' type='text/css' media='all' />
    <link rel='stylesheet' id='frontend.octo.fonts-rtl-css' href='http://cdn.supsystic.com/_assets/coming_soon/css/frontend.octo.fonts.css' type='text/css' media='all' />
    <link rel='stylesheet' id='frontend.octo-rtl-css' href='http://iolcalc.com/wp-content/plugins/coming-soon-by-supsystic/modules/octo/css/frontend.octo.css' type='text/css' media='all' />
    <link rel='stylesheet' id='slider.bx-rtl-css' href='http://iolcalc.com/wp-content/plugins/coming-soon-by-supsystic/modules/octo/assets/sliders/bx/jquery.bxslider.css' type='text/css' media='all' />
    <link rel='stylesheet' id='prettyphoto-rtl-css' href='http://iolcalc.com/wp-content/plugins/coming-soon-by-supsystic/js/prettyphoto/css/prettyPhoto.css' type='text/css' media='all' />
    <script type='text/javascript'>
        /* <![CDATA[ */
        var SCS_DATA = {"siteUrl":"http:\/\/iolcalc.com\/","imgPath":"http:\/\/iolcalc.com\/wp-content\/plugins\/coming-soon-by-supsystic\/img\/","cssPath":"http:\/\/iolcalc.com\/wp-content\/plugins\/coming-soon-by-supsystic\/css\/","loader":"http:\/\/iolcalc.com\/wp-content\/plugins\/coming-soon-by-supsystic\/img\/loading.gif","close":"http:\/\/iolcalc.com\/wp-content\/plugins\/coming-soon-by-supsystic\/img\/cross.gif","ajaxurl":"http:\/\/iolcalc.com\/wp-admin\/admin-ajax.php","SCS_CODE":"scs","onePxImg":"http:\/\/iolcalc.com\/wp-content\/plugins\/coming-soon-by-supsystic\/img\/1px.png"};
        var scsOcto = {"id":"5","pid":"0","unique_id":"fjep59","label":"IOLCalc.com","active":"1","original_id":"2","is_base":"0","img":"mercury.jpg","sort_order":"1","params":{"font_family":"Abel","bg_color":"rgb(177, 204, 248)","bg_img":"","bg_img_pos":"tile","keywords":"","description":"","maint_start":"10\/23\/2015","maint_end":"10\/25\/2015","fav_img":""},"date_created":"2015-10-23 15:54:25","is_pro":"0","img_preview_url":"http:\/\/cdn.supsystic.com\/_assets\/coming_soon\/img\/tpl_prev\/mercury.jpg","blocks":[{"id":30,"oid":5,"cid":4,"unique_id":"jMlpEI73","label":"Mercury Logo","original_id":6,"params":{"menu_items":{"val":"align|fill_color|bg_img"},"align":{"val":"center"},"fill_color_enb":{"val":1},"fill_color":{"val":"#000533"},"fill_color_opacity":{"val":"1"},"bg_img_enb":{"val":0}},"html":"<div class=\"scsCoverOverlay\" style=\"opacity: 1; background-color: rgb(0, 5, 51);\"><\/div>\n<div class=\"container scsContent\">\n\t<div class=\"scsEl scsElImg scsElWithArea\" data-el=\"img\" data-type=\"img\">\n      <div class=\"scsElArea\"><img src=\"http:\/\/iolcalc.com\/wp-content\/uploads\/2015\/10\/Original-300x225.png\"><\/div>\n  <\/div>\n<\/div>","css":"\/*base block setting*\/\r\n#{{block.view_id}} {\r\n  {% if block.params.bg_img_enb.val %}\r\n  \tbackground: url(\"{{ block.params.bg_img.val }}\") no-repeat center center; \r\n    -webkit-background-size: cover;\r\n    -moz-background-size: cover;\r\n    -o-background-size: cover;\r\n    background-size: cover;\r\n  \tfilter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{ block.params.bg_img.val }}', sizingMethod='scale');\r\n-ms-filter: \"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{ block.params.bg_img.val }}', sizingMethod='scale')\";\r\n  {% endif %}\r\n}\r\n\/*overlay*\/\r\n#{{block.view_id}} .scsCoverOverlay {\r\n\tposition: absolute;\r\n  \twidth: 100%;\r\n  \theight: 100%;\r\n  \ttop: 0;\r\n  \tleft: 0;\r\n  \tbackground-color: {{ block.params.fill_color.val }};\r\n  \topacity: {{ block.params.fill_color_opacity.val }};\r\n    {% if not block.params.fill_color_enb.val %}\r\n    display: none;\r\n    {% endif %}\r\n}\r\n\/*align*\/\r\n#{{block.view_id}}.scsAlign_center .scsContent {\r\n\ttext-align: center;\r\n}\r\n#{{block.view_id}}.scsAlign_left .scsContent {\r\n\ttext-align: left;\r\n}\r\n#{{block.view_id}}.scsAlign_right .scsContent {\r\n\ttext-align: right\r\n}\r\n\/*main styles*\/\r\n#{{block.view_id}} .scsContent {\r\n\tpadding-top: 25px;\r\n  \tpadding-bottom: 25px;\r\n}","img":"mercury-logo.jpg","sort_order":0,"is_base":"1","date_created":"2015-10-23 15:54:25","is_pro":"0","cat_label":"Content","cat_code":"banners","img_url":"http:\/\/cdn.supsystic.com\/_assets\/coming_soon\/img\/blocks\/mercury-logo.jpg","session_id":900225,"view_id":"octBlock_900225"},{"id":31,"oid":5,"cid":4,"unique_id":"896DK89S","label":"Mercury Header","original_id":7,"params":{"menu_items":{"val":"align|fill_color|bg_img"},"align":{"val":"center"},"fill_color_enb":{"val":1},"fill_color":{"val":"#b1ccf8"},"fill_color_opacity":{"val":"1"},"bg_img_enb":{"val":0}},"html":"<div class=\"scsCoverOverlay\" style=\"opacity: 1; display: block; background-color: rgb(177, 204, 248);\"><\/div>\n<div class=\"scsSemiTransparentLine\"><\/div>\n<div class=\"container scsContent\">\n\t<div class=\"scsEl scsMainText\" data-el=\"txt\"><p><span style=\"text-decoration: underline; color: rgb(0, 5, 51);\" data-mce-style=\"text-decoration: underline; color: #000533;\"><span style=\"font-size: 64px; line-height: 96px;\" data-mce-style=\"font-size: 64px; line-height: 96px;\"><strong>IOLCALC.COM<\/strong><\/span><\/span><\/p><p><span style=\"font-size: 48pt; color: #000533;\" data-mce-style=\"font-size: 48pt; color: #000533;\">IS COMING SOON<\/span><\/p><p><span style=\"font-size: 14pt; color: #000533;\" data-mce-style=\"font-size: 14pt; color: #000533;\">We'll be here soon with a new website.<\/span><\/p><p><br><\/p><p style=\"text-align: left;\" data-mce-style=\"text-align: left;\"><span style=\"font-size: 14pt;\" data-mce-style=\"font-size: 14pt;\"><span style=\"color: rgb(0, 5, 51);\" data-mce-style=\"color: #000533;\"><span style=\"line-height: 36px;\" data-mce-style=\"line-height: 36px;\"><span style=\"font-size: 24px; font-weight: bold;\" data-mce-style=\"font-size: 24px; font-weight: bold;\">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<span style=\"color: #0000ff;\" data-mce-style=\"color: #0000ff;\"><span style=\"color: #b0ffff;\" data-mce-style=\"color: #b0ffff;\">&nbsp;<\/span><span style=\"color: #b1ccf8;\" data-mce-style=\"color: #b1ccf8;\">.<\/span><\/span>Get to know what we are all about...<\/span><\/span><\/span><\/span><\/p><p style=\"text-align: left;\" data-mce-style=\"text-align: left;\"><br><\/p><p style=\"text-align: left;\" data-mce-style=\"text-align: left;\"><span style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<\/span><span style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp;<\/span><span style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<\/span><span style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp;<\/span><span style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<\/span><span style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp;<\/span><span style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<\/span><span style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp;<\/span><span style=\"font-weight: bold; line-height: 36px; color: rgb(0, 5, 51); font-size: 14pt; background-color: transparent;\" data-mce-style=\"color: #000533;\">1)<\/span><span style=\"font-weight: bold; line-height: 36px; color: #000533; font-size: 14pt; background-color: transparent;\" data-mce-style=\"font-weight: bold; line-height: 36px; color: #000533; font-size: 14pt; background-color: transparent;\">&nbsp;<\/span><span style=\"font-weight: bold; line-height: 36px; font-size: 14pt; color: rgb(0, 0, 255); background-color: transparent;\" data-mce-style=\"color: #0000ff;\"><a style=\"color: #0000ff;\" href=\"http:\/\/archopht.jamanetwork.com\/article.aspx?articleid=2451647\" data-mce-href=\"http:\/\/archopht.jamanetwork.com\/article.aspx?articleid=2451647\" data-mce-style=\"color: #0000ff;\"><em>JAMA Ophthalmology: &nbsp;<\/em>3-D IOL 'Super Surface' and 'Super Formula' to Maximize IOL Power Accuracy<\/a><\/span><\/p><p style=\"text-align: left;\" data-mce-style=\"text-align: left;\"><span style=\"font-size: 14pt;\" data-mce-style=\"font-size: 14pt;\"><span style=\"color: rgb(0, 5, 51);\" data-mce-style=\"color: #000533;\"><span style=\"line-height: 36px;\" data-mce-style=\"line-height: 36px;\"><span style=\"font-size: 18.6667px; font-weight: bold; color: rgb(0, 5, 51); background-color: transparent;\" data-mce-style=\"font-size: 18.6667px; font-weight: bold; color: #000533; background-color: transparent;\"><span style=\"font-size: 18.6667px; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<\/span><span style=\"font-size: 18.6667px; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp;<\/span><span style=\"font-size: 18.6667px; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<\/span><span style=\"font-size: 18.6667px; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp;<\/span><span style=\"font-size: 18.6667px; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<\/span><span style=\"font-size: 18.6667px; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp;<\/span><span style=\"font-size: 18.6667px; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<\/span><span style=\"font-size: 18.6667px; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp;<\/span>2)&nbsp;<span style=\"color: rgb(0, 0, 255);\" data-mce-style=\"color: #0000ff;\"><a style=\"color: #0000ff;\" href=\"http:\/\/www.healio.com\/ophthalmology\/cataract-surgery\/news\/print\/ocular-surgery-news\/%7Bd5ff718d-5177-4278-bd8e-2ed552a6d5fe%7D\/super-surface-and-super-formula-concepts-increase-iol-calculation-accuracy\" data-mce-href=\"http:\/\/www.healio.com\/ophthalmology\/cataract-surgery\/news\/print\/ocular-surgery-news\/%7Bd5ff718d-5177-4278-bd8e-2ed552a6d5fe%7D\/super-surface-and-super-formula-concepts-increase-iol-calculation-accuracy\" data-mce-style=\"color: #0000ff;\"><em>Ocular Surgery News: &nbsp;<\/em>'Super Surface' and 'Super Formula' Concepts Increase IOL Calculation Accuracy<\/a><\/span><\/span><\/span><\/span><\/span><\/p><p style=\"text-align: left;\" data-mce-style=\"text-align: left;\"><span style=\"font-size: 14pt;\" data-mce-style=\"font-size: 14pt;\"><span style=\"color: rgb(0, 5, 51);\" data-mce-style=\"color: #000533;\"><span style=\"line-height: 36px;\" data-mce-style=\"line-height: 36px;\"><span style=\"font-weight: bold;\" data-mce-style=\"font-weight: bold;\"><span style=\"color: rgb(0, 5, 51);\" data-mce-style=\"color: #000533;\"><span style=\"font-size: 18.6667px; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<\/span><span style=\"font-size: 18.6667px; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp;<\/span><span style=\"font-size: 18.6667px; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<\/span><span style=\"font-size: 18.6667px; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp;<\/span><span style=\"font-size: 18.6667px; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<\/span><span style=\"font-size: 18.6667px; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp;<\/span><span style=\"font-size: 18.6667px; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<\/span><span style=\"font-size: 18.6667px; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp;<\/span>3)&nbsp;<span style=\"color: rgb(0, 0, 255);\" data-mce-style=\"color: #0000ff;\"><a style=\"color: #0000ff;\" href=\"http:\/\/www.healio.com\/ophthalmology\/refractive-surgery\/news\/blogs\/%7B0beae074-c8de-450e-8543-0ebc68ffb129%7D\/uday-devgan-md\/blog-the-future-of-iol-calculations\" data-mce-href=\"http:\/\/www.healio.com\/ophthalmology\/refractive-surgery\/news\/blogs\/%7B0beae074-c8de-450e-8543-0ebc68ffb129%7D\/uday-devgan-md\/blog-the-future-of-iol-calculations\" data-mce-style=\"color: #0000ff;\"><em>Ocular Surgery News: &nbsp;<\/em>The Future of IOL Calculations<\/a><\/span><\/span><\/span><\/span><\/span><\/span><\/p><p style=\"text-align: left;\" data-mce-style=\"text-align: left;\"><span style=\"font-size: 14pt;\" data-mce-style=\"font-size: 14pt;\"><span style=\"color: rgb(0, 5, 51);\" data-mce-style=\"color: #000533;\"><span style=\"line-height: 36px;\" data-mce-style=\"line-height: 36px;\"><span style=\"font-weight: bold;\" data-mce-style=\"font-weight: bold;\"><span style=\"color: #0000ff;\" data-mce-style=\"color: #0000ff;\"><span style=\"color: #000533;\" data-mce-style=\"color: #000533;\"><span style=\"font-size: 18.6667px; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<\/span><span style=\"font-size: 18.6667px; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp;<\/span><span style=\"font-size: 18.6667px; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<\/span><span style=\"font-size: 18.6667px; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp;<\/span><span style=\"font-size: 18.6667px; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<\/span><span style=\"font-size: 18.6667px; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp;<\/span><span style=\"font-size: 18.6667px; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<\/span><span style=\"font-size: 18.6667px; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp;<\/span>4)<\/span> <a style=\"color: #0000ff;\" href=\"http:\/\/www.healio.com\/ophthalmology\/cataract-surgery\/news\/online\/%7Bfd2209a0-aeb5-423c-aabc-7c64bebe031f%7D\/video-new-formula-renders-iol-calculations-in-three-dimensions\" data-mce-href=\"http:\/\/www.healio.com\/ophthalmology\/cataract-surgery\/news\/online\/%7Bfd2209a0-aeb5-423c-aabc-7c64bebe031f%7D\/video-new-formula-renders-iol-calculations-in-three-dimensions\" data-mce-style=\"color: #0000ff;\"><em>Ocular Surgery News (VIDEO): &nbsp;<\/em>New formula renders IOL calculations in three dimensions<\/a><\/span><\/span><\/span><\/span><\/span><\/p><p style=\"text-align: left;\" data-mce-style=\"text-align: left;\"><span style=\"font-size: 14pt; color: rgb(0, 5, 51);\" data-mce-style=\"font-size: 14pt; color: #000533;\"><span style=\"line-height: 36px;\" data-mce-style=\"line-height: 36px;\"><span style=\"font-weight: bold;\" data-mce-style=\"font-weight: bold;\"><span style=\"font-size: 18.6667px; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<\/span><span style=\"font-size: 18.6667px; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp;<\/span><span style=\"font-size: 18.6667px; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<\/span><span style=\"font-size: 18.6667px; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp;<\/span><span style=\"font-size: 18.6667px; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<\/span><span style=\"font-size: 18.6667px; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp;<\/span><span style=\"font-size: 18.6667px; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<\/span><span style=\"font-size: 18.6667px; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp;<\/span>5)&nbsp;<\/span><\/span><\/span><a href=\"http:\/\/www.ophthalmologymanagement.com\/articleviewer.aspx?articleID=113620\" data-mce-href=\"http:\/\/www.ophthalmologymanagement.com\/articleviewer.aspx?articleID=113620\"><span style=\"color: #0000ff;\" data-mce-style=\"color: #0000ff;\"><em><span style=\"text-align: center; font-size: 14pt; background-color: transparent;\" data-mce-style=\"text-align: center; font-size: 14pt; background-color: transparent;\"><span style=\"line-height: 36px;\" data-mce-style=\"line-height: 36px;\"><span style=\"font-weight: bold;\" data-mce-style=\"font-weight: bold;\">Ophthalmology Management: &nbsp;<\/span><\/span><\/span><\/em><span style=\"text-align: center; font-size: 18.6667px; line-height: 36px; background-color: transparent;\" data-mce-style=\"text-align: center; font-size: 18.6667px; line-height: 36px; background-color: transparent;\"><strong>Fusing the best, from the best<\/strong><\/span><\/span><\/a><\/p><p style=\"text-align: left;\" data-mce-style=\"text-align: left;\"><span style=\"color: #000533;\" data-mce-style=\"color: #000533;\"><span style=\"text-align: center; font-size: 18.6667px; line-height: 36px; background-color: transparent;\" data-mce-style=\"text-align: center; font-size: 18.6667px; line-height: 36px; background-color: transparent;\"><span style=\"text-align: left; font-size: 18.6667px; font-weight: bold; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<\/span><span style=\"text-align: left; font-size: 18.6667px; font-weight: bold; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp;<\/span><span style=\"text-align: left; font-size: 18.6667px; font-weight: bold; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<\/span><span style=\"text-align: left; font-size: 18.6667px; font-weight: bold; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp;<\/span><span style=\"text-align: left; font-size: 18.6667px; font-weight: bold; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<\/span><span style=\"text-align: left; font-size: 18.6667px; font-weight: bold; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp;<\/span><span style=\"text-align: left; font-size: 18.6667px; font-weight: bold; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<\/span><span style=\"text-align: left; font-size: 18.6667px; font-weight: bold; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp;<\/span><strong>6)&nbsp;<\/strong><\/span><\/span><a href=\"http:\/\/www.consultant360.com\/story\/formula-combination-allows-optimized-outcomes-cataract-surgery\" data-mce-href=\"http:\/\/www.consultant360.com\/story\/formula-combination-allows-optimized-outcomes-cataract-surgery\"><span style=\"text-align: center; background-color: transparent; font-size: 18.6667px; line-height: 36px;\" data-mce-style=\"text-align: center; background-color: transparent; font-size: 18.6667px; line-height: 36px;\"><span style=\"color: #0000ff;\" data-mce-style=\"color: #0000ff;\"><strong><em>Reuters Consultant 360: &nbsp;<\/em>Formula combination allows optimized outcomes in cataract surgery<\/strong><\/span><\/span><\/a><\/p><p style=\"text-align: left;\" data-mce-style=\"text-align: left;\"><span style=\"text-align: center; background-color: transparent; font-size: 18.6667px; line-height: 36px;\" data-mce-style=\"text-align: center; background-color: transparent; font-size: 18.6667px; line-height: 36px;\"><span style=\"color: #0000ff;\" data-mce-style=\"color: #0000ff;\"><span style=\"text-align: left; color: rgb(0, 5, 51); font-size: 18.6667px; font-weight: bold; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<\/span><span style=\"text-align: left; color: rgb(0, 5, 51); font-size: 18.6667px; font-weight: bold; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp;<\/span><span style=\"text-align: left; color: rgb(0, 5, 51); font-size: 18.6667px; font-weight: bold; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<\/span><span style=\"text-align: left; color: rgb(0, 5, 51); font-size: 18.6667px; font-weight: bold; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp;<\/span><span style=\"text-align: left; color: rgb(0, 5, 51); font-size: 18.6667px; font-weight: bold; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<\/span><span style=\"text-align: left; color: rgb(0, 5, 51); font-size: 18.6667px; font-weight: bold; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp;<\/span><span style=\"text-align: left; color: rgb(0, 5, 51); font-size: 18.6667px; font-weight: bold; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<\/span><span style=\"text-align: left; color: rgb(0, 5, 51); font-size: 18.6667px; font-weight: bold; background-color: transparent;\" data-mce-style=\"color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;\">&nbsp;<\/span><strong><span style=\"color: #000533;\" data-mce-style=\"color: #000533;\">7)<\/span>&nbsp;<span style=\"color: rgb(0, 0, 255);\" data-mce-style=\"color: #0000ff;\"><a style=\"color: #0000ff;\" href=\"http:\/\/crstoday.com\/2015\/12\/top-picks-of-the-year\/\" data-mce-href=\"http:\/\/crstoday.com\/2015\/12\/top-picks-of-the-year\/\" data-mce-style=\"color: #0000ff;\"><em>Cataract &amp; Refractive Surgery Today:<\/em>&nbsp; Top Picks of the Year (IOL Power Calculations)<\/a><\/span><\/strong><\/span><\/span><\/p><\/div>\n<\/div>","css":"\/*base block setting*\/\r\n#{{block.view_id}} {\r\n  {% if block.params.bg_img_enb.val %}\r\n  \tbackground: url(\"{{ block.params.bg_img.val }}\") no-repeat center center; \r\n    -webkit-background-size: cover;\r\n    -moz-background-size: cover;\r\n    -o-background-size: cover;\r\n    background-size: cover;\r\n  \tfilter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{ block.params.bg_img.val }}', sizingMethod='scale');\r\n-ms-filter: \"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{ block.params.bg_img.val }}', sizingMethod='scale')\";\r\n  {% endif %}\r\n}\r\n\/*overlay*\/\r\n#{{block.view_id}} .scsCoverOverlay {\r\n\tposition: absolute;\r\n  \twidth: 100%;\r\n  \theight: 100%;\r\n  \ttop: 0;\r\n  \tleft: 0;\r\n  \tbackground-color: {{ block.params.fill_color.val }};\r\n  \topacity: {{ block.params.fill_color_opacity.val }};\r\n    {% if not block.params.fill_color_enb.val %}\r\n    display: none;\r\n    {% endif %}\r\n}\r\n\/*align*\/\r\n#{{block.view_id}}.scsAlign_center .scsContent {\r\n\ttext-align: center;\r\n}\r\n#{{block.view_id}}.scsAlign_left .scsContent {\r\n\ttext-align: left;\r\n}\r\n#{{block.view_id}}.scsAlign_right .scsContent {\r\n\ttext-align: right\r\n}\r\n\/*ignore p margin*\/\r\n#{{block.view_id}} p {\r\n\tmargin: 0;\r\n}\r\n\/*main styles*\/\r\n#{{block.view_id}} .scsMainText {\r\n\tpadding: 80px 0;\r\n}\r\n#{{block.view_id}} .scsSemiTransparentLine {\r\n\twidth: 100%;\r\n  \theight: 8px;\r\n  \tbackground-color: rgba(0, 0, 0, 0.2);\r\n}","img":"mercury-header.jpg","sort_order":1,"is_base":"1","date_created":"2015-10-23 15:54:25","is_pro":"0","cat_label":"Content","cat_code":"banners","img_url":"http:\/\/cdn.supsystic.com\/_assets\/coming_soon\/img\/blocks\/mercury-header.jpg","session_id":847830,"view_id":"octBlock_847830"},{"id":33,"oid":5,"cid":4,"unique_id":"wn8M1EBQ","label":"Mercury Text","original_id":9,"params":{"menu_items":{"val":"align|fill_color|bg_img"},"align":{"val":"center"},"fill_color_enb":{"val":1},"fill_color":{"val":"#b1ccf8"},"fill_color_opacity":{"val":"1"},"bg_img_enb":{"val":0},"fill_color_selector":{"val":".scsContent"}},"html":"<div class=\"container scsContent\" style=\"background-color: rgb(177, 204, 248);\">\n\t<div class=\"scsEl scsMainText\" data-el=\"txt\"><p><strong><span style=\"color: #000533; font-size: 24pt;\" data-mce-style=\"color: #000533; font-size: 24pt;\">L A D A S &nbsp;| &nbsp;S I D D I Q U I &nbsp;| &nbsp;D E V G A N &nbsp;| &nbsp;J U N<\/span><\/strong><\/p><p><br><\/p><p><span style=\"font-size: 14pt; color: rgb(0, 5, 51);\" data-mce-style=\"font-size: 14pt; color: #000533;\">Stay tuned!<\/span><\/p><\/div>\n<\/div>","css":"\/*base block setting*\/\r\n#{{block.view_id}} {\r\n  {% if block.params.bg_img_enb.val %}\r\n  \tbackground: url(\"{{ block.params.bg_img.val }}\") no-repeat center center; \r\n    -webkit-background-size: cover;\r\n    -moz-background-size: cover;\r\n    -o-background-size: cover;\r\n    background-size: cover;\r\n  \tfilter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{ block.params.bg_img.val }}', sizingMethod='scale');\r\n-ms-filter: \"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{ block.params.bg_img.val }}', sizingMethod='scale')\";\r\n  {% endif %}\r\n}\r\n\/*overlay*\/\r\n#{{block.view_id}} .scsContent {\r\n    {% if block.params.fill_color_enb.val %}\r\n    background-color: {{ hexToRgb(block.params.fill_color.val, block.params.fill_color_opacity.val) }};\r\n    {% endif %}\r\n}\r\n\/*align*\/\r\n#{{block.view_id}}.scsAlign_center .scsContent {\r\n\ttext-align: center;\r\n}\r\n#{{block.view_id}}.scsAlign_left .scsContent {\r\n\ttext-align: left;\r\n}\r\n#{{block.view_id}}.scsAlign_right .scsContent {\r\n\ttext-align: right\r\n}\r\n\/*ignore p margin*\/\r\n#{{block.view_id}} p {\r\n\tmargin: 0;\r\n}\r\n\/*links settings*\/\r\n#{{block.view_id}} a,\r\n#{{block.view_id}} a:hover {\r\n\tcolor: #000;\r\n}\r\n#{{block.view_id}} a {\r\n\ttext-decoration: underline;\r\n}\r\n#{{block.view_id}} a:hover {\r\n\ttext-decoration: none;\r\n}\r\n\/*main styles*\/\r\n#{{block.view_id}} .scsMainText {\r\n\tpadding: 0 0 50px 0;\r\n}","img":"mercury-text.jpg","sort_order":2,"is_base":"1","date_created":"2015-10-23 15:54:25","is_pro":"0","cat_label":"Content","cat_code":"banners","img_url":"http:\/\/cdn.supsystic.com\/_assets\/coming_soon\/img\/blocks\/mercury-text.jpg","session_id":850490,"view_id":"octBlock_850490"},{"id":34,"oid":5,"cid":7,"unique_id":"q1TdnCkj","label":"Mercury Subscribe","original_id":10,"params":{"menu_items":{"val":"align|fill_color|bg_img|add_field|sub_settings"},"align":{"val":"center"},"fill_color_enb":{"val":1},"fill_color":{"val":"#b1ccf8"},"fill_color_opacity":{"val":"1"},"bg_img_enb":{"val":0},"fields":{"val":[{"name":"email","label":"E-mail","html":"email","required":"1"}]},"new_item_html":{"val":"<div data-el=\"input\" class=\"scsEl scsElInput\"><div class=\"scsInputShell\">\r\n\t<input type=\"f_\" class=\"scsFormInput\" name=\"New_Name\"><\/div>\r\n<\/div>"},"sub_dest":{"val":"mailchimp"},"sub_aweber_listname":{"val":""},"sub_aweber_adtracking":{"val":""},"sub_mailchimp_api_key":{"val":"e42b82ead5d6a905f021b3dace0db6d8-us12"},"sub_mailchimp_lists":{"val":["a55901d808"]},"sub_txt_confirm_sent":{"val":"Confirmation link was sent to your email address. Check your email!"},"sub_txt_success":{"val":"Thank you for subscribing!"},"sub_txt_invalid_email":{"val":"Empty or invalid email"},"sub_redirect_url":{"val":"iolcalc.com"},"sub_ignore_confirm":{"val":"0"},"sub_txt_confirm_mail_subject":{"val":"Confirm subscription on [sitename]"},"sub_txt_confirm_mail_from":{"val":"johnladas@gmail.com"},"sub_txt_confirm_mail_message":{"val":"You subscribed on site <a href=\"[siteurl]\">[sitename]<\/a>. Follow <a href=\"[confirm_link]\">this link<\/a> to complete your subscription. If you did not subscribe here - just ignore this message."},"sub_txt_subscriber_mail_subject":{"val":"[sitename] Your username and password"},"sub_txt_subscriber_mail_from":{"val":"johnladas@gmail.com"},"sub_txt_subscriber_mail_message":{"val":"Username: [user_login]<br \/>Password: [password]<br \/>[login_url]"}},"html":"<div class=\"scsCoverOverlay\" style=\"opacity: 1; display: block; background-color: rgb(177, 204, 248);\"><\/div>\n<div class=\"container scsContent\">\n  \t<div class=\"row\">\n  \t\t<div class=\"col-sm-6\">\n      \t\t<div class=\"scsEl\" data-el=\"txt\"><p><span style=\"color: #000533;\" data-mce-style=\"color: #000533;\"><strong><span style=\"font-size: 12pt;\" data-mce-style=\"font-size: 12pt;\">GET OUR NEWS<\/span><\/strong><\/span><\/p><p><span style=\"font-size: 12pt; color: #000533;\" data-mce-style=\"font-size: 12pt; color: #000533;\"> Enter your mail to be notified when more info is available<\/span><\/p><\/div>\n          \t<div class=\"scsFormShell ui-sortable\">\n\t\t\t\t{{block.sub_form_start|raw}}\n\t\t\t\t  <div class=\"row\">\n\t\t\t\t\t<div class=\"scsFormFieldsShell col-sm-9\">\n\t\t\t\t\t  <div class=\"scsEl scsElInput\" data-el=\"input\"><div class=\"scsInputShell\">\n\t\t\t\t\t\t<input type=\"email\" name=\"email\" placeholder=\"E-mail\" class=\"scsFormInput\" required=\"1\"><\/div>\n\t\t\t\t\t  <\/div>\n\t\t\t\t\t<\/div>\n\t\t\t\t\t<div class=\"scsFormSubmitBtnShell col-sm-3\">\n\t\t\t\t\t  <div class=\"scsEl scsElInput scsElInputBtn\" data-el=\"input_btn\"><div class=\"scsInputShell\">\n\t\t\t\t\t\t<input type=\"submit\" name=\"\" value=\"SEND\" class=\"scsFormInput\"><\/div>\n\t\t\t\t\t  <\/div>\n\t\t\t\t\t<\/div>\n\t\t\t\t  <\/div>\n\t\t\t\t{{block.sub_form_end|raw}}\n\t\t\t<\/div>\n      \t<\/div>\n      \t<div class=\"col-sm-6\">\n        \t<div class=\"scsEl\" data-el=\"txt\"><p><span style=\"color: #000533;\" data-mce-style=\"color: #000533;\"><strong><span style=\"font-size: 12pt;\" data-mce-style=\"font-size: 12pt;\">FIND US ONLINE<\/span><\/strong><\/span><\/p><p><br><\/p><p><span style=\"font-size: 12pt; color: #000533;\" data-mce-style=\"font-size: 12pt; color: #000533;\">Drop us a line at:&nbsp;<strong>﻿<a href=\"mailto:jladas@marylandeye.com\" data-mce-href=\"mailto:jladas@marylandeye.com\">jladas@marylandeye.com<\/a><\/strong><\/span><\/p><p><br><\/p><\/div>\n          \t<div class=\"scsSocIconsShell\">\n\t          \t<div class=\"scsIcon scsEl scsElInput\" data-el=\"icon\" data-type=\"icon\" data-color=\"rgb(0, 5, 51)\" data-icon=\"fa-facebook-square\">\n\t\t\t\t\t\n\t\t\t\t<a class=\"scsLink\" title=\"\"><i class=\"fa fa-4x fa-facebook-square scsInputShell\" style=\"color: rgb(0, 5, 51);\"><\/i><\/a><\/div>\n              \t<div class=\"scsIcon scsEl scsElInput\" data-el=\"icon\" data-type=\"icon\" data-color=\"rgb(0, 5, 51)\" data-icon=\"fa-twitter-square\">\n\t\t\t\t\t\n\t\t\t\t<a class=\"scsLink\" title=\"\"><i class=\"fa fa-4x fa-twitter-square scsInputShell\" style=\"color: rgb(0, 5, 51);\"><\/i><\/a><\/div>\n              \t<div class=\"scsIcon scsEl scsElInput\" data-el=\"icon\" data-type=\"icon\" data-color=\"rgb(0, 5, 51)\" data-icon=\"fa-pinterest-square\">\n\t\t\t\t\t<i class=\"fa fa-4x fa-pinterest-square scsInputShell\" style=\"color: rgb(0, 5, 51);\"><\/i>\n\t\t\t\t<\/div>\n          \t<\/div>\n      \t<\/div>\n  \t<\/div>\n<\/div>","css":"\/*base block setting*\/\r\n#{{block.view_id}} {\r\n  {% if block.params.bg_img_enb.val %}\r\n  \tbackground: url(\"{{ block.params.bg_img.val }}\") no-repeat center center; \r\n    -webkit-background-size: cover;\r\n    -moz-background-size: cover;\r\n    -o-background-size: cover;\r\n    background-size: cover;\r\n  \tfilter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{ block.params.bg_img.val }}', sizingMethod='scale');\r\n-ms-filter: \"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{ block.params.bg_img.val }}', sizingMethod='scale')\";\r\n  {% endif %}\r\n}\r\n#{{block.view_id}} .scsContent {\r\n\tpadding: 30px 0;\r\n}\r\n\/*overlay*\/\r\n#{{block.view_id}} .scsCoverOverlay {\r\n\tposition: absolute;\r\n  \twidth: 100%;\r\n  \theight: 100%;\r\n  \ttop: 0;\r\n  \tleft: 0;\r\n  \tbackground-color: {{ block.params.fill_color.val }};\r\n  \topacity: {{ block.params.fill_color_opacity.val }};\r\n    {% if not block.params.fill_color_enb.val %}\r\n    display: none;\r\n    {% endif %}\r\n}\r\n\/*align*\/\r\n#{{block.view_id}}.scsAlign_center .scsContent {\r\n\ttext-align: center;\r\n}\r\n#{{block.view_id}}.scsAlign_left .scsContent {\r\n\ttext-align: left;\r\n}\r\n#{{block.view_id}}.scsAlign_right .scsContent {\r\n\ttext-align: right\r\n}\r\n\/*ignore p margin*\/\r\n#{{block.view_id}} p {\r\n\tmargin: 0;\r\n}\r\n\/*subscribe form styles*\/\r\n#{{block.view_id}} .scsFormShell {\r\n\tpadding-top: 10px;\r\n}\r\n#{{block.view_id}} .scsFormShell .scsElInput,\r\n#{{block.view_id}} .scsFormShell .scsInputShell {\r\n\tpadding: 0;\r\n  \twidth: 100%;\r\n}\r\n#{{block.view_id}} .scsFormFieldsShell,\r\n#{{block.view_id}} .scsFormSubmitBtnShell {\r\n\tpadding: 0;\r\n}\r\n#{{block.view_id}} .scsFormInput {\r\n  \twidth: 100%;\r\n  \theight: 50px;\r\n  \tline-height: 25px;\r\n  \tmargin: 0;\r\n  \tpadding: 0 20px;\r\n  \tcolor: #444;\r\n  \tborder: none;\r\n  \tfont-size: 18px;\r\n}\r\n#{{block.view_id}} .scsFormInput[type=\"submit\"] {\r\n\tcolor: #fff;\r\n  \tbackground-color: #000;\r\n  \ttransition: all 300ms ease-in-out 0s;\r\n}\r\n#{{block.view_id}} .scsFormInput[type=\"submit\"]:hover,\r\n#{{block.view_id}} .scsFormInput[type=\"submit\"]:focus {\r\n  \topacity: 0.8;\r\n}\r\n\/*social icons*\/\r\n#{{block.view_id}} .scsSocIconsShell {\r\n\tpadding-top: 10px;\r\n}\r\n#{{block.view_id}} .scsSocIconsShell .scsIcon:not(:last-of-type) {\r\n  \tmargin: 0 5px 0 0;\r\n}\r\n\/*main styles*\/","img":"mercury-subscribe.jpg","sort_order":3,"is_base":"1","date_created":"2015-10-23 15:54:25","is_pro":"0","cat_label":"Subscribe Form","cat_code":"subscribes","img_url":"http:\/\/cdn.supsystic.com\/_assets\/coming_soon\/img\/blocks\/mercury-subscribe.jpg","session_id":207536,"view_id":"octBlock_207536","sub_form_start":"<!--sub_form_start_open--><form class=\"scsSubscribeForm scsSubscribeForm_mailchimp\" action=\"http:\/\/iolcalc.com\/\" method=\"post\"><!--sub_form_start_close-->","sub_form_end":"<!--sub_form_end_open--><input type=\"hidden\" name=\"mod\" value=\"subscribe\"  \/><input type=\"hidden\" name=\"action\" value=\"subscribe\"  \/><input type=\"hidden\" name=\"id\" value=\"34\"  \/><input type=\"hidden\" name=\"_wpnonce\" value=\"f2fadb4600\"  \/><div class=\"scsSubMsg\"><\/div><\/form><!--sub_form_end_close-->"},{"id":35,"oid":5,"cid":5,"unique_id":"owzOb8CC","label":"Mercury Footer","original_id":11,"params":{"menu_items":{"val":"align|fill_color|bg_img"},"align":{"val":"left"},"fill_color_enb":{"val":1},"fill_color":{"val":"#000533"},"fill_color_opacity":{"val":"1"},"bg_img_enb":{"val":0},"fill_color_selector":{"val":".scsFootLine"}},"html":"<div class=\"container scsContent\">\n\t<div class=\"scsEl scsElImg scsElWithArea scsFootImg\" data-el=\"img\" data-type=\"img\">\n\t\t<div class=\"scsElArea\"><img src=\"http:\/\/iolcalc.com\/wp-content\/uploads\/2015\/10\/asdf.png\"><\/div>\n\t<\/div>\n  \t<div class=\"scsFootText\">\n  \t\t<div class=\"scsEl\" data-el=\"txt\"><p><span style=\"color: #000533;\" data-mce-style=\"color: #000533;\">Copyright <strong>ADVANCED EUCLIDEAN SOLUTIONS<\/strong>© 2015 <strong>iolcalc.com<\/strong><\/span><\/p><p><span style=\"color: #000533;\" data-mce-style=\"color: #000533;\">All rights reserved<\/span><\/p><\/div>\n  \t<\/div>\n<\/div>\n<div class=\"scsFootLine\" style=\"background-color: rgb(0, 5, 51);\"><\/div>","css":"\/*base block setting*\/\r\n#{{block.view_id}} {\r\n  {% if block.params.bg_img_enb.val %}\r\n  \tbackground: url(\"{{ block.params.bg_img.val }}\") no-repeat center center; \r\n    -webkit-background-size: cover;\r\n    -moz-background-size: cover;\r\n    -o-background-size: cover;\r\n    background-size: cover;\r\n  \tfilter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{ block.params.bg_img.val }}', sizingMethod='scale');\r\n-ms-filter: \"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{ block.params.bg_img.val }}', sizingMethod='scale')\";\r\n  {% endif %}\r\n}\r\n\/*align*\/\r\n#{{block.view_id}}.scsAlign_center .scsContent {\r\n\ttext-align: center;\r\n}\r\n#{{block.view_id}}.scsAlign_center .scsFootText,\r\n#{{block.view_id}}.scsAlign_center .scsFootImg {\r\n\tmargin: 0 auto;\r\n}\r\n#{{block.view_id}}.scsAlign_left .scsContent {\r\n\ttext-align: left;\r\n}\r\n#{{block.view_id}}.scsAlign_left .scsFootText,\r\n#{{block.view_id}}.scsAlign_left .scsFootImg {\r\n\tfloat: left;\r\n}\r\n#{{block.view_id}}.scsAlign_right .scsContent {\r\n\ttext-align: right\r\n}\r\n#{{block.view_id}}.scsAlign_right .scsFootText,\r\n#{{block.view_id}}.scsAlign_right .scsFootImg {\r\n\tfloat: right;\r\n}\r\n\/*align*\/\r\n#{{block.view_id}}.scsAlign_center .scsContent {\r\n\ttext-align: center;\r\n}\r\n#{{block.view_id}}.scsAlign_left .scsContent {\r\n\ttext-align: left;\r\n}\r\n#{{block.view_id}}.scsAlign_right .scsContent {\r\n\ttext-align: right\r\n}\r\n\/*ignore p margin*\/\r\n#{{block.view_id}} p {\r\n\tmargin: 0;\r\n}\r\n\/*links style*\/\r\n#{{block.view_id}} a,\r\n#{{block.view_id}} a:hover {\r\n\tcolor: #000;\r\n}\r\n\/*main styles*\/\r\n#{{block.view_id}} .scsFootLine {\r\n\twidth: 100%;\r\n  \theight: 60px;\r\n}\r\n#{{block.view_id}} .scsFootText {\r\n\tpadding: 5px;\r\n}\r\n#{{block.view_id}} .scsFootText,\r\n#{{block.view_id}} .scsFootImg {\r\n\tdisplay: block;\r\n}","img":"mercury-footer.jpg","sort_order":4,"is_base":"1","date_created":"2015-10-23 15:54:25","is_pro":"0","cat_label":"Footer","cat_code":"footers","img_url":"http:\/\/cdn.supsystic.com\/_assets\/coming_soon\/img\/blocks\/mercury-footer.jpg","session_id":453550,"view_id":"octBlock_453550"}]};
        /* ]]> */
    </script>
    <script type='text/javascript' src='http://iolcalc.com/wp-includes/js/jquery/jquery.js'></script>
    <script type='text/javascript' src='http://iolcalc.com/wp-content/plugins/coming-soon-by-supsystic/js/common.js'></script>
    <script type='text/javascript' src='http://iolcalc.com/wp-content/plugins/coming-soon-by-supsystic/js/core.js'></script>
    <script type='text/javascript' src='http://iolcalc.com/wp-content/plugins/coming-soon-by-supsystic/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='http://iolcalc.com/wp-content/plugins/coming-soon-by-supsystic/js/jasny-bootstrap.min.js'></script>
    <script type='text/javascript' src='http://iolcalc.com/wp-content/plugins/coming-soon-by-supsystic/modules/octo/assets/sliders/bx/jquery.bxslider.min.js'></script>
    <script type='text/javascript' src='http://iolcalc.com/wp-content/plugins/coming-soon-by-supsystic/modules/octo/js/frontend.octo.canvas.js'></script>
    <script type='text/javascript' src='http://iolcalc.com/wp-content/plugins/coming-soon-by-supsystic/modules/octo/js/frontend.octo.editor.blocks_fabric.base.js'></script>
    <script type='text/javascript' src='http://iolcalc.com/wp-content/plugins/coming-soon-by-supsystic/modules/octo/js/frontend.octo.editor.blocks.base.js'></script>
    <script type='text/javascript' src='http://iolcalc.com/wp-content/plugins/coming-soon-by-supsystic/modules/octo/js/frontend.octo.editor.elements.base.js'></script>
    <script type='text/javascript' src='http://iolcalc.com/wp-content/plugins/coming-soon-by-supsystic/modules/octo/js/frontend.octo.js'></script>
    <script type='text/javascript' src='http://iolcalc.com/wp-content/plugins/coming-soon-by-supsystic/js/prettyphoto/js/jquery.prettyPhoto.js'></script>	<style type="text/css">

    #scsCanvas {
        background-color:rgb(177, 204, 248);					}
</style>
</head>
<body>
<div id="scsCanvas">
    <div id="octBlock_900225" class="scsBlock scsAlign_center" data-id="30">
        <style type="text/css" class="scsBlockStyle">/*base block setting*/
        #octBlock_900225 {
        }
        /*overlay*/
        #octBlock_900225 .scsCoverOverlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: #000533;
            opacity: 1;
        }
        /*align*/
        #octBlock_900225.scsAlign_center .scsContent {
            text-align: center;
        }
        #octBlock_900225.scsAlign_left .scsContent {
            text-align: left;
        }
        #octBlock_900225.scsAlign_right .scsContent {
            text-align: right
        }
        /*main styles*/
        #octBlock_900225 .scsContent {
            padding-top: 25px;
            padding-bottom: 25px;
        }</style>
        <div class="scsBlockContent"><div class="scsCoverOverlay" style="opacity: 1; background-color: rgb(0, 5, 51);"></div>
            <div class="container scsContent">
                <div class="scsEl scsElImg scsElWithArea" data-el="img" data-type="img">
                    <div class="scsElArea"><img src="http://iolcalc.com/wp-content/uploads/2015/10/Original-300x225.png"></div>
                </div>
            </div></div>
    </div>							<div id="octBlock_847830" class="scsBlock scsAlign_center" data-id="31">
    <style type="text/css" class="scsBlockStyle">/*base block setting*/
    #octBlock_847830 {
    }
    /*overlay*/
    #octBlock_847830 .scsCoverOverlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #b1ccf8;
        opacity: 1;
    }
    /*align*/
    #octBlock_847830.scsAlign_center .scsContent {
        text-align: center;
    }
    #octBlock_847830.scsAlign_left .scsContent {
        text-align: left;
    }
    #octBlock_847830.scsAlign_right .scsContent {
        text-align: right
    }
    /*ignore p margin*/
    #octBlock_847830 p {
        margin: 0;
    }
    /*main styles*/
    #octBlock_847830 .scsMainText {
        padding: 80px 0;
    }
    #octBlock_847830 .scsSemiTransparentLine {
        width: 100%;
        height: 8px;
        background-color: rgba(0, 0, 0, 0.2);
    }
    </style>
    <div class="scsBlockContent"><div class="scsCoverOverlay" style="opacity: 1; display: block; background-color: rgb(177, 204, 248);"></div>
        <div class="scsSemiTransparentLine"></div>
        <div class="container scsContent">
            <div class="scsEl scsMainText" data-el="txt"><p><span style="text-decoration: underline; color: rgb(0, 5, 51);" data-mce-style="text-decoration: underline; color: #000533;"><span style="font-size: 64px; line-height: 96px;" data-mce-style="font-size: 64px; line-height: 96px;"><strong>IOLCALC.COM</strong></span></span></p><p><span style="font-size: 48pt; color: #000533;" data-mce-style="font-size: 48pt; color: #000533;">IS COMING SOON</span></p><p><span style="font-size: 14pt; color: #000533;" data-mce-style="font-size: 14pt; color: #000533;">We'll be here soon with a new website.</span></p><p><br></p><p style="text-align: left;" data-mce-style="text-align: left;"><span style="font-size: 14pt;" data-mce-style="font-size: 14pt;"><span style="color: rgb(0, 5, 51);" data-mce-style="color: #000533;"><span style="line-height: 36px;" data-mce-style="line-height: 36px;"><span style="font-size: 24px; font-weight: bold;" data-mce-style="font-size: 24px; font-weight: bold;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<span style="color: #0000ff;" data-mce-style="color: #0000ff;"><span style="color: #b0ffff;" data-mce-style="color: #b0ffff;">&nbsp;</span><span style="color: #b1ccf8;" data-mce-style="color: #b1ccf8;">.</span></span>Get to know what we are all about...</span></span></span></span></p><p style="text-align: left;" data-mce-style="text-align: left;"><br></p><p style="text-align: left;" data-mce-style="text-align: left;"><span style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><span style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp;</span><span style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp;</span><span style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp;</span><span style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp;</span><span style="font-weight: bold; line-height: 36px; color: rgb(0, 5, 51); font-size: 14pt; background-color: transparent;" data-mce-style="color: #000533;">1)</span><span style="font-weight: bold; line-height: 36px; color: #000533; font-size: 14pt; background-color: transparent;" data-mce-style="font-weight: bold; line-height: 36px; color: #000533; font-size: 14pt; background-color: transparent;">&nbsp;</span><span style="font-weight: bold; line-height: 36px; font-size: 14pt; color: rgb(0, 0, 255); background-color: transparent;" data-mce-style="color: #0000ff;"><a style="color: #0000ff;" href="http://archopht.jamanetwork.com/article.aspx?articleid=2451647" data-mce-href="http://archopht.jamanetwork.com/article.aspx?articleid=2451647" data-mce-style="color: #0000ff;"><em>JAMA Ophthalmology: &nbsp;</em>3-D IOL 'Super Surface' and 'Super Formula' to Maximize IOL Power Accuracy</a></span></p><p style="text-align: left;" data-mce-style="text-align: left;"><span style="font-size: 14pt;" data-mce-style="font-size: 14pt;"><span style="color: rgb(0, 5, 51);" data-mce-style="color: #000533;"><span style="line-height: 36px;" data-mce-style="line-height: 36px;"><span style="font-size: 18.6667px; font-weight: bold; color: rgb(0, 5, 51); background-color: transparent;" data-mce-style="font-size: 18.6667px; font-weight: bold; color: #000533; background-color: transparent;"><span style="font-size: 18.6667px; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><span style="font-size: 18.6667px; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp;</span><span style="font-size: 18.6667px; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span style="font-size: 18.6667px; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp;</span><span style="font-size: 18.6667px; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span style="font-size: 18.6667px; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp;</span><span style="font-size: 18.6667px; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span style="font-size: 18.6667px; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp;</span>2)&nbsp;<span style="color: rgb(0, 0, 255);" data-mce-style="color: #0000ff;"><a style="color: #0000ff;" href="http://www.healio.com/ophthalmology/cataract-surgery/news/print/ocular-surgery-news/%7Bd5ff718d-5177-4278-bd8e-2ed552a6d5fe%7D/super-surface-and-super-formula-concepts-increase-iol-calculation-accuracy" data-mce-href="http://www.healio.com/ophthalmology/cataract-surgery/news/print/ocular-surgery-news/%7Bd5ff718d-5177-4278-bd8e-2ed552a6d5fe%7D/super-surface-and-super-formula-concepts-increase-iol-calculation-accuracy" data-mce-style="color: #0000ff;"><em>Ocular Surgery News: &nbsp;</em>'Super Surface' and 'Super Formula' Concepts Increase IOL Calculation Accuracy</a></span></span></span></span></span></p><p style="text-align: left;" data-mce-style="text-align: left;"><span style="font-size: 14pt;" data-mce-style="font-size: 14pt;"><span style="color: rgb(0, 5, 51);" data-mce-style="color: #000533;"><span style="line-height: 36px;" data-mce-style="line-height: 36px;"><span style="font-weight: bold;" data-mce-style="font-weight: bold;"><span style="color: rgb(0, 5, 51);" data-mce-style="color: #000533;"><span style="font-size: 18.6667px; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><span style="font-size: 18.6667px; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp;</span><span style="font-size: 18.6667px; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span style="font-size: 18.6667px; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp;</span><span style="font-size: 18.6667px; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span style="font-size: 18.6667px; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp;</span><span style="font-size: 18.6667px; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span style="font-size: 18.6667px; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp;</span>3)&nbsp;<span style="color: rgb(0, 0, 255);" data-mce-style="color: #0000ff;"><a style="color: #0000ff;" href="http://www.healio.com/ophthalmology/refractive-surgery/news/blogs/%7B0beae074-c8de-450e-8543-0ebc68ffb129%7D/uday-devgan-md/blog-the-future-of-iol-calculations" data-mce-href="http://www.healio.com/ophthalmology/refractive-surgery/news/blogs/%7B0beae074-c8de-450e-8543-0ebc68ffb129%7D/uday-devgan-md/blog-the-future-of-iol-calculations" data-mce-style="color: #0000ff;"><em>Ocular Surgery News: &nbsp;</em>The Future of IOL Calculations</a></span></span></span></span></span></span></p><p style="text-align: left;" data-mce-style="text-align: left;"><span style="font-size: 14pt;" data-mce-style="font-size: 14pt;"><span style="color: rgb(0, 5, 51);" data-mce-style="color: #000533;"><span style="line-height: 36px;" data-mce-style="line-height: 36px;"><span style="font-weight: bold;" data-mce-style="font-weight: bold;"><span style="color: #0000ff;" data-mce-style="color: #0000ff;"><span style="color: #000533;" data-mce-style="color: #000533;"><span style="font-size: 18.6667px; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><span style="font-size: 18.6667px; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp;</span><span style="font-size: 18.6667px; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span style="font-size: 18.6667px; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp;</span><span style="font-size: 18.6667px; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span style="font-size: 18.6667px; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp;</span><span style="font-size: 18.6667px; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span style="font-size: 18.6667px; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp;</span>4)</span> <a style="color: #0000ff;" href="http://www.healio.com/ophthalmology/cataract-surgery/news/online/%7Bfd2209a0-aeb5-423c-aabc-7c64bebe031f%7D/video-new-formula-renders-iol-calculations-in-three-dimensions" data-mce-href="http://www.healio.com/ophthalmology/cataract-surgery/news/online/%7Bfd2209a0-aeb5-423c-aabc-7c64bebe031f%7D/video-new-formula-renders-iol-calculations-in-three-dimensions" data-mce-style="color: #0000ff;"><em>Ocular Surgery News (VIDEO): &nbsp;</em>New formula renders IOL calculations in three dimensions</a></span></span></span></span></span></p><p style="text-align: left;" data-mce-style="text-align: left;"><span style="font-size: 14pt; color: rgb(0, 5, 51);" data-mce-style="font-size: 14pt; color: #000533;"><span style="line-height: 36px;" data-mce-style="line-height: 36px;"><span style="font-weight: bold;" data-mce-style="font-weight: bold;"><span style="font-size: 18.6667px; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><span style="font-size: 18.6667px; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp;</span><span style="font-size: 18.6667px; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span style="font-size: 18.6667px; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp;</span><span style="font-size: 18.6667px; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span style="font-size: 18.6667px; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp;</span><span style="font-size: 18.6667px; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span style="font-size: 18.6667px; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp;</span>5)&nbsp;</span></span></span><a href="http://www.ophthalmologymanagement.com/articleviewer.aspx?articleID=113620" data-mce-href="http://www.ophthalmologymanagement.com/articleviewer.aspx?articleID=113620"><span style="color: #0000ff;" data-mce-style="color: #0000ff;"><em><span style="text-align: center; font-size: 14pt; background-color: transparent;" data-mce-style="text-align: center; font-size: 14pt; background-color: transparent;"><span style="line-height: 36px;" data-mce-style="line-height: 36px;"><span style="font-weight: bold;" data-mce-style="font-weight: bold;">Ophthalmology Management: &nbsp;</span></span></span></em><span style="text-align: center; font-size: 18.6667px; line-height: 36px; background-color: transparent;" data-mce-style="text-align: center; font-size: 18.6667px; line-height: 36px; background-color: transparent;"><strong>Fusing the best, from the best</strong></span></span></a></p><p style="text-align: left;" data-mce-style="text-align: left;"><span style="color: #000533;" data-mce-style="color: #000533;"><span style="text-align: center; font-size: 18.6667px; line-height: 36px; background-color: transparent;" data-mce-style="text-align: center; font-size: 18.6667px; line-height: 36px; background-color: transparent;"><span style="text-align: left; font-size: 18.6667px; font-weight: bold; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><span style="text-align: left; font-size: 18.6667px; font-weight: bold; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp;</span><span style="text-align: left; font-size: 18.6667px; font-weight: bold; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span style="text-align: left; font-size: 18.6667px; font-weight: bold; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp;</span><span style="text-align: left; font-size: 18.6667px; font-weight: bold; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span style="text-align: left; font-size: 18.6667px; font-weight: bold; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp;</span><span style="text-align: left; font-size: 18.6667px; font-weight: bold; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span style="text-align: left; font-size: 18.6667px; font-weight: bold; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp;</span><strong>6)&nbsp;</strong></span></span><a href="http://www.consultant360.com/story/formula-combination-allows-optimized-outcomes-cataract-surgery" data-mce-href="http://www.consultant360.com/story/formula-combination-allows-optimized-outcomes-cataract-surgery"><span style="text-align: center; background-color: transparent; font-size: 18.6667px; line-height: 36px;" data-mce-style="text-align: center; background-color: transparent; font-size: 18.6667px; line-height: 36px;"><span style="color: #0000ff;" data-mce-style="color: #0000ff;"><strong><em>Reuters Consultant 360: &nbsp;</em>Formula combination allows optimized outcomes in cataract surgery</strong></span></span></a></p><p style="text-align: left;" data-mce-style="text-align: left;"><span style="text-align: center; background-color: transparent; font-size: 18.6667px; line-height: 36px;" data-mce-style="text-align: center; background-color: transparent; font-size: 18.6667px; line-height: 36px;"><span style="color: #0000ff;" data-mce-style="color: #0000ff;"><span style="text-align: left; color: rgb(0, 5, 51); font-size: 18.6667px; font-weight: bold; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><span style="text-align: left; color: rgb(0, 5, 51); font-size: 18.6667px; font-weight: bold; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp;</span><span style="text-align: left; color: rgb(0, 5, 51); font-size: 18.6667px; font-weight: bold; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span style="text-align: left; color: rgb(0, 5, 51); font-size: 18.6667px; font-weight: bold; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp;</span><span style="text-align: left; color: rgb(0, 5, 51); font-size: 18.6667px; font-weight: bold; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span style="text-align: left; color: rgb(0, 5, 51); font-size: 18.6667px; font-weight: bold; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp;</span><span style="text-align: left; color: rgb(0, 5, 51); font-size: 18.6667px; font-weight: bold; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span style="text-align: left; color: rgb(0, 5, 51); font-size: 18.6667px; font-weight: bold; background-color: transparent;" data-mce-style="color: #000533; font-size: 18.6667px; font-weight: bold; line-height: 36px; background-color: transparent;">&nbsp;</span><strong><span style="color: #000533;" data-mce-style="color: #000533;">7)</span>&nbsp;<span style="color: rgb(0, 0, 255);" data-mce-style="color: #0000ff;"><a style="color: #0000ff;" href="http://crstoday.com/2015/12/top-picks-of-the-year/" data-mce-href="http://crstoday.com/2015/12/top-picks-of-the-year/" data-mce-style="color: #0000ff;"><em>Cataract &amp; Refractive Surgery Today:</em>&nbsp; Top Picks of the Year (IOL Power Calculations)</a></span></strong></span></span></p></div>
        </div></div>
</div>							<div id="octBlock_850490" class="scsBlock scsAlign_center" data-id="33">
    <style type="text/css" class="scsBlockStyle">/*base block setting*/
    #octBlock_850490 {
    }
    /*overlay*/
    #octBlock_850490 .scsContent {
        background-color: rgba(177,204,248,1);
    }
    /*align*/
    #octBlock_850490.scsAlign_center .scsContent {
        text-align: center;
    }
    #octBlock_850490.scsAlign_left .scsContent {
        text-align: left;
    }
    #octBlock_850490.scsAlign_right .scsContent {
        text-align: right
    }
    /*ignore p margin*/
    #octBlock_850490 p {
        margin: 0;
    }
    /*links settings*/
    #octBlock_850490 a,
    #octBlock_850490 a:hover {
        color: #000;
    }
    #octBlock_850490 a {
        text-decoration: underline;
    }
    #octBlock_850490 a:hover {
        text-decoration: none;
    }
    /*main styles*/
    #octBlock_850490 .scsMainText {
        padding: 0 0 50px 0;
    }
    </style>
    <div class="scsBlockContent"><div class="container scsContent" style="background-color: rgb(177, 204, 248);">
        <div class="scsEl scsMainText" data-el="txt"><p><strong><span style="color: #000533; font-size: 24pt;" data-mce-style="color: #000533; font-size: 24pt;">L A D A S &nbsp;| &nbsp;S I D D I Q U I &nbsp;| &nbsp;D E V G A N &nbsp;| &nbsp;J U N</span></strong></p><p><br></p><p><span style="font-size: 14pt; color: rgb(0, 5, 51);" data-mce-style="font-size: 14pt; color: #000533;">Stay tuned!</span></p></div>
    </div></div>
</div>							<div id="octBlock_207536" class="scsBlock scsAlign_center" data-id="34">
    <style type="text/css" class="scsBlockStyle">/*base block setting*/
    #octBlock_207536 {
    }
    #octBlock_207536 .scsContent {
        padding: 30px 0;
    }
    /*overlay*/
    #octBlock_207536 .scsCoverOverlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #b1ccf8;
        opacity: 1;
    }
    /*align*/
    #octBlock_207536.scsAlign_center .scsContent {
        text-align: center;
    }
    #octBlock_207536.scsAlign_left .scsContent {
        text-align: left;
    }
    #octBlock_207536.scsAlign_right .scsContent {
        text-align: right
    }
    /*ignore p margin*/
    #octBlock_207536 p {
        margin: 0;
    }
    /*subscribe form styles*/
    #octBlock_207536 .scsFormShell {
        padding-top: 10px;
    }
    #octBlock_207536 .scsFormShell .scsElInput,
    #octBlock_207536 .scsFormShell .scsInputShell {
        padding: 0;
        width: 100%;
    }
    #octBlock_207536 .scsFormFieldsShell,
    #octBlock_207536 .scsFormSubmitBtnShell {
        padding: 0;
    }
    #octBlock_207536 .scsFormInput {
        width: 100%;
        height: 50px;
        line-height: 25px;
        margin: 0;
        padding: 0 20px;
        color: #444;
        border: none;
        font-size: 18px;
    }
    #octBlock_207536 .scsFormInput[type="submit"] {
        color: #fff;
        background-color: #000;
        transition: all 300ms ease-in-out 0s;
    }
    #octBlock_207536 .scsFormInput[type="submit"]:hover,
    #octBlock_207536 .scsFormInput[type="submit"]:focus {
        opacity: 0.8;
    }
    /*social icons*/
    #octBlock_207536 .scsSocIconsShell {
        padding-top: 10px;
    }
    #octBlock_207536 .scsSocIconsShell .scsIcon:not(:last-of-type) {
        margin: 0 5px 0 0;
    }
    /*main styles*/</style>
    <div class="scsBlockContent"><div class="scsCoverOverlay" style="opacity: 1; display: block; background-color: rgb(177, 204, 248);"></div>
        <div class="container scsContent">
            <div class="row">
                <div class="col-sm-6">
                    <div class="scsEl" data-el="txt"><p><span style="color: #000533;" data-mce-style="color: #000533;"><strong><span style="font-size: 12pt;" data-mce-style="font-size: 12pt;">GET OUR NEWS</span></strong></span></p><p><span style="font-size: 12pt; color: #000533;" data-mce-style="font-size: 12pt; color: #000533;"> Enter your mail to be notified when more info is available</span></p></div>
                    <div class="scsFormShell ui-sortable">
                        <!--sub_form_start_open--><form class="scsSubscribeForm scsSubscribeForm_mailchimp" action="http://iolcalc.com/" method="post"><!--sub_form_start_close-->
                        <div class="row">
                            <div class="scsFormFieldsShell col-sm-9">
                                <div class="scsEl scsElInput" data-el="input"><div class="scsInputShell">
                                    <input type="email" name="email" placeholder="E-mail" class="scsFormInput" required="1"></div>
                                </div>
                            </div>
                            <div class="scsFormSubmitBtnShell col-sm-3">
                                <div class="scsEl scsElInput scsElInputBtn" data-el="input_btn"><div class="scsInputShell">
                                    <input type="submit" name="" value="SEND" class="scsFormInput"></div>
                                </div>
                            </div>
                        </div>
                        <!--sub_form_end_open--><input type="hidden" name="mod" value="subscribe"  /><input type="hidden" name="action" value="subscribe"  /><input type="hidden" name="id" value="34"  /><input type="hidden" name="_wpnonce" value="f2fadb4600"  /><div class="scsSubMsg"></div></form><!--sub_form_end_close-->
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="scsEl" data-el="txt"><p><span style="color: #000533;" data-mce-style="color: #000533;"><strong><span style="font-size: 12pt;" data-mce-style="font-size: 12pt;">FIND US ONLINE</span></strong></span></p><p><br></p><p><span style="font-size: 12pt; color: #000533;" data-mce-style="font-size: 12pt; color: #000533;">Drop us a line at:&nbsp;<strong>﻿<a href="mailto:jladas@marylandeye.com" data-mce-href="mailto:jladas@marylandeye.com">jladas@marylandeye.com</a></strong></span></p><p><br></p></div>
                    <div class="scsSocIconsShell">
                        <div class="scsIcon scsEl scsElInput" data-el="icon" data-type="icon" data-color="rgb(0, 5, 51)" data-icon="fa-facebook-square">

                            <a class="scsLink" title=""><i class="fa fa-4x fa-facebook-square scsInputShell" style="color: rgb(0, 5, 51);"></i></a></div>
                        <div class="scsIcon scsEl scsElInput" data-el="icon" data-type="icon" data-color="rgb(0, 5, 51)" data-icon="fa-twitter-square">

                            <a class="scsLink" title=""><i class="fa fa-4x fa-twitter-square scsInputShell" style="color: rgb(0, 5, 51);"></i></a></div>
                        <div class="scsIcon scsEl scsElInput" data-el="icon" data-type="icon" data-color="rgb(0, 5, 51)" data-icon="fa-pinterest-square">
                            <i class="fa fa-4x fa-pinterest-square scsInputShell" style="color: rgb(0, 5, 51);"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div></div>
</div>							<div id="octBlock_453550" class="scsBlock scsAlign_left" data-id="35">
    <style type="text/css" class="scsBlockStyle">/*base block setting*/
    #octBlock_453550 {
    }
    /*align*/
    #octBlock_453550.scsAlign_center .scsContent {
        text-align: center;
    }
    #octBlock_453550.scsAlign_center .scsFootText,
    #octBlock_453550.scsAlign_center .scsFootImg {
        margin: 0 auto;
    }
    #octBlock_453550.scsAlign_left .scsContent {
        text-align: left;
    }
    #octBlock_453550.scsAlign_left .scsFootText,
    #octBlock_453550.scsAlign_left .scsFootImg {
        float: left;
    }
    #octBlock_453550.scsAlign_right .scsContent {
        text-align: right
    }
    #octBlock_453550.scsAlign_right .scsFootText,
    #octBlock_453550.scsAlign_right .scsFootImg {
        float: right;
    }
    /*align*/
    #octBlock_453550.scsAlign_center .scsContent {
        text-align: center;
    }
    #octBlock_453550.scsAlign_left .scsContent {
        text-align: left;
    }
    #octBlock_453550.scsAlign_right .scsContent {
        text-align: right
    }
    /*ignore p margin*/
    #octBlock_453550 p {
        margin: 0;
    }
    /*links style*/
    #octBlock_453550 a,
    #octBlock_453550 a:hover {
        color: #000;
    }
    /*main styles*/
    #octBlock_453550 .scsFootLine {
        width: 100%;
        height: 60px;
    }
    #octBlock_453550 .scsFootText {
        padding: 5px;
    }
    #octBlock_453550 .scsFootText,
    #octBlock_453550 .scsFootImg {
        display: block;
    }
    </style>
    <div class="scsBlockContent"><div class="container scsContent">
        <div class="scsEl scsElImg scsElWithArea scsFootImg" data-el="img" data-type="img">
            <div class="scsElArea"><img src="http://iolcalc.com/wp-content/uploads/2015/10/asdf.png"></div>
        </div>
        <div class="scsFootText">
            <div class="scsEl" data-el="txt"><p><span style="color: #000533;" data-mce-style="color: #000533;">Copyright <strong>ADVANCED EUCLIDEAN SOLUTIONS</strong>© 2015 <strong>iolcalc.com</strong></span></p><p><span style="color: #000533;" data-mce-style="color: #000533;">All rights reserved</span></p></div>
        </div>
    </div>
        <div class="scsFootLine" style="background-color: rgb(0, 5, 51);"></div></div>
</div>							<a title="WordPress Coming Soon Plugin" style="border: none; color: #26bfc1 !important; font-size: 11px; display: block; position: fixed; right: 5px; bottom: 5px;" href="http://supsystic.com/plugins/coming-soon-plugin/?utm_source=plugin&utm_medium=love_link&utm_campaign=coming_soon" target="_blank">WordPress Coming Soon Plugin</a>	</div>
<!--Blocks loader-->
<div id="scsBlockLoader" class="scsShowSmooth">
    <div class="scsLoaderContent">
        <div class="scsLoaderContentCell">
            <div class="scsBlockLoaderIcon">
                <img class="glyphicon-spin" src="http://iolcalc.com/wp-content/plugins/coming-soon-by-supsystic/modules/octo/img/block-loader.png" />
            </div><br style="display: block; margin-top: 10px;" />
            <div class="scsBlockLoaderTxt" data-base-txt="We check your entries">
                We check your entries			</div>
        </div>
    </div>
</div>	</body>
</html>