<style>

    .code-in, .code-up {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(250, 250, 250, 1);
        overflow-y: scroll;
        padding: 10px;
        text-align: center;
    }

    .code-up {
        min-width: 510px;
    }
    .code-up,.code-in{
        text-align: center;
        padding: 10px 25px;
        box-shadow: 0 0 50px rgba(0,0,0,0.5);
    }
</style>
<div data-ng-show="data.req_ac" class="code-up">
    <!--<div class="close" style="cursor: pointer" data-ng-click="sign.close();">X</div>-->
    <h2>INVITE CODE REQUEST</h2>
    <!--<div style="height: 25px" ></div>-->
    <div class="bs-example" id="signUp">
        <!-- <form class="form-horizontal">
             <div class="form-group  has-feedback" ng-class="validate.usr_name.hasFeedback">
                 <label class="col-xs-4 control-label" for="usr">Name</label>
                 <div class="col-xs-8">
                     <input type="text" id="usr" class="form-control" required placeholder="enter your name" autofocus="true" data-ng-model="userData.usr_name" data-ng-change="validate.checkName()">
                     <span ng-class="validate.usr_name.feedback"class="glyphicon form-control-feedback"></span>
                     <span ng-class="validate.usr_name.help"  >{{validate.usr_name.text}}</span>
                 </div>
             </div></br>
             <div class="form-group  has-feedback" ng-class="validate.usr_email.hasFeedback">
                 <label class="col-xs-4 control-label" for="email">Email</label>
                 <div class="col-xs-8">
                     <input type="text" id="email" ng-trim="false" class="form-control" required placeholder="enter your email" data-ng-model="userData.usr_email" data-ng-change="validate.checkEmail()">
                     <span ng-class="validate.usr_email.feedback" class="glyphicon  form-control-feedback"></span>
                     <span ng-class="validate.usr_email.help" >{{validate.usr_email.text}}</span>
                 </div>
             </div></br>
             <div class="form-group  has-feedback" ng-class="validate.msg.hasFeedback" >
                 <label class="col-xs-4 control-label" for="msg">Message</label>
                 <div class="col-xs-8">
                     <textarea  id="msg" class="form-control" rows="5" data-ng-model="userData.msg" data-ng-change="validate.checkMsg()">
                     </textarea>
                     <span ng-class="validate.msg.feedback" class="glyphicon  form-control-feedback"></span>
                     <span ng-class="validate.msg.help" >{{validate.msg.text}}</span>
                 </div>
             </div></br>
             <div class="form-group">
                 <div class="col-sm-6" style="text-align: center;">
                     &lt;!&ndash;<button type="submit" style="width: 50%;" class="btn btn-primary" data-ng-click="sign.req_ac()">Send</button>&ndash;&gt;
                     <md-button ng-click="sign.req_ac()"  class="md-raised md-hue-1 my-btn" ><md-icon md-svg-src="assets/img/ic_send_black_24px.svg"></md-icon> Send </md-button>
                 </div>
                 <div class="col-sm-6" style="text-align: center;">
                     <md-button class="md-raised md-primary my-btn" ng-click="sign.move('sign_in')"><md-icon md-svg-src="assets/img/ic_exit_to_app_black_24px.svg"></md-icon>Log in </md-button>
                 </div>
             </div>
         </form>-->
        <div layout="column" layout-padding ng-cloak>
            <br/>
            <form name="myForm"   class="container-fluid" style="width: 100%;"  >
                <md-content class="md-no-momentum">
                    <md-input-container class="md-icon-float md-block" >
                        <!--<label>Name</label>-->
                        <md-icon md-svg-src="assets/img/ic_person_24px.svg" class="name"></md-icon>
                        <input name="userName" type="text" ng-required="true" placeholder="Name (required)" autofocus="true"data-ng-model="userData.usr_name" ng-pattern="'\\S{2,}'">

                        <div ng-messages="myForm.userName.$error" ng-show="myForm.userName.$invalid" ng-if="myForm.$submitted || myForm.userName.$touched">
                            <div ng-message="required">Name is too small.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <md-icon md-svg-src="assets/img/ic_email_24px.svg" class="email"></md-icon>
                        <input name="userEmail" type="email" data-ng-trim="false" placeholder="E-mail(required)" ng-required="true"
                               data-ng-model="userData.usr_email">
                        <div ng-messages="myForm.userEmail.$error" ng-show="myForm.userEmail.$invalid" ng-if="myForm.$submitted || myForm.userEmail.$touched">
                            <div ng-message="required">E-mail is not correct.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <md-icon md-svg-src="assets/img/ic_email_24px.svg" class="email"></md-icon>
                         <input name="userMsg"  type="text" placeholder="Message (required)" data-ng-model="userData.msg" ng-required="true">

                        <div ng-messages="myForm.userMsg.$error" ng-show="myForm.userMsg.$invalid">
                            <div ng-message="required">Message is required.</div>
                        </div>
                    </md-input-container>

                    <div class="form-group">
                        <div class="col-sm-6" style="text-align: center;">
                            <md-button data-ng-click="sign.req_ac()"  class="md-raised md-warn  my-btn " ng-disabled="myForm.$invalid" ><md-icon md-svg-src="assets/img/ic_send_black_24px.svg"></md-icon> Send </md-button>
                        </div>
                        <div class="col-sm-6" style="text-align: center;">
                            <md-button  class="md-raised md-primary my-btn" ng-click="sign.move('sign_in')"><md-icon md-svg-src="assets/img/ic_exit_to_app_black_24px.svg"></md-icon>Back to Log in </md-button>
                        </div>
                    </div>




                </md-content>
            </form>
        </div>
    </div>
</div>

<div data-ng-hide="data.req_ac" class="code-in" >
    <h2><b>THANK YOU!</b></h2>

    <h1 style="font-size: 16px;">Your request to sign up has been recieved</h1>
    <!--<button type="submit" style="width: 50%;" class="btn btn-primary" ><a href="#" style="padding: 10px 50% 10px 50%;color: white;" ui-sref="sign_up">OK</a></button>-->
    <md-button class="md-raised md-warn " ng-click="sign.move('sign_up')"> OK</md-button>
</div>
