<style>
    .listes {
        width: 50%;
        min-width: 150px;
    }

    .listes > li {
        text-align: left;
        color: #37ADF5;
    }

    .listes > li:hover {
        color: #2071A2;
        text-decoration: underline;
    }

    .my-tab {
        text-align: center;
    }

    .lef-btn {
        float: left;
    }

    .rgh-btn {
        float: right;
    }

    .rgh-btn, .lef-btn {
        width: 47%;
    :;
    }

    .left, .right {
        position: absolute;
        top: 50%;

    }

    .left {
        left: 0;
    }

    .right {
        right: 0;
    }

    table.md-table td.md-cell.md-numeric, table.md-table th.md-column.md-numeric {
        text-align: center !important;
    }

    .label {
        color: #000;
    }
</style>
<span id="left"></span>
<span id="right"></span>
<section class="settings">
    <!--<div style="position: relative;width:100%"><span  style="position: relative;float:right"> <a href="#" ui-sref="home">X</a> </span></div>-->
    <!--<div>  <md-button ng-click="utils.move('home')"  class="md-raised md-primary " > <md-icon md-svg-src="assets/img/ic_exit_to_app_black_24px.svg"></md-icon> Back to app</md-button></div>-->

    <md-button class="md-fab nice-back" aria-label="Back to App" ng-click="utils.move('home')"
               style="  right: 0; position: absolute;">
        <md-icon md-svg-src="assets/img/ic_exit_to_app_black_24px.svg"></md-icon>
        <md-tooltip md-direction="Bottom"> EXIT</md-tooltip>
    </md-button>

    <div class="sample" layout="column" ng-cloak>

        <md-content class="md-padding">
            <md-tabs md-selected="0" style="min-height: 95vh;" md-border-bottom md-autoselect>
                <!--/*-------- only Admin SETing---------*/-->
                <md-tab id="tab1" data-ng-if="utils.isAdmin()">
                    <md-tab-label>Users</md-tab-label>
                    <md-tab-body>
                        <div class="my-tab demo-tab tab{{$index%4}}" style="">
                            <div class="statistic-content" data-ng-show="statistics">
                                <md-button data-ng-click="setting.statisticBack()" style="margin-left: 0;float: right;"
                                           class="md-accent md-raised md-hue-1">
                                    <md-icon md-svg-src="assets/img/ic_exit_to_app_black_24px.svg"></md-icon>
                                    Back
                                </md-button>

                                <table class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th >Email</th>
                                        <th>Visites (page reload)</th>
                                        <th>Printes</th>
                                        <th>Log IN/OUT</th>
                                        <th>Calcs</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{::loadData.curStatistic.usr_email}}</td>
                                        <td>{{::loadData.curStatistic.st_visites}}</td>
                                        <td>{{::loadData.curStatistic.st_printes}}</td>
                                        <td>{{loadData.curStatistic.st_logines}}</td>
                                        <td>{{::loadData.curStatistic.st_calcs}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div data-ng-hide="statistics">
                                <md-toolbar class="md-table-toolbar md-default" style="background-color: #ffffff;"  >
                                    <div class="md-toolbar-tools" style="margin-top: 15px;">
                                        <md-input-container class="md-icon-float md-icon-right md-block col-md-4"
                                                            style="padding-left: 30px!important;">
                                            <md-icon md-svg-src="assets/img/ic_search_black_24px.svg"></md-icon>
                                            <input id='searchUser' type="text" placeholder="User"
                                                   ng-model="setting.searchData" ng-change="setting.search('user')">
                                        </md-input-container>


                                      <!--  <div data-ng-hide="loadData.IsAllUsers||true" style="margin-top: -30px;">
                                            <md-button ng-click="setting.getUsers()"
                                                       class="md-icon-button" aria-label="Load more " style=" margin-top: -35px;" ng-disabled="loading">
                                                <md-icon md-svg-icon="assets/img/ic_cached_black_24px.svg"></md-icon>
                                                <md-tooltip md-direction="Bottom"> Load more</md-tooltip>
                                            </md-button>
                                            <md-button ng-click="setting.getUsers('ALL')"
                                                       class="md-icon-button" aria-label="Load more " style=" margin-top: -35px;" ng-disabled="loading">
                                                <md-icon md-svg-icon="assets/img/ic_low_priority_black_24px.svg"></md-icon>
                                                <md-tooltip md-direction="Bottom"> Load All Users</md-tooltip>

                                            </md-button>
                                        </div>-->
                                        <div data-ng-if="setting.selection.showActions" class="buttons">
                                            <md-button ng-click="setting.selection.updateUsers('dropUserS')"
                                                       class="md-accent md-raised md-hue-1">Delete
                                            </md-button>

                                            <md-button ng-disabled="hasUser" ng-click="setting.selection.updateUsers('noAbilityPostData')"
                                                       class="md-accent md-raised md-hue-1">
                                                <md-icon
                                                        md-svg-src="assets/img/ic_accessibility_white_24px.svg"></md-icon>
                                                <md-tooltip md-direction="Bottom"> Remove ability to enter post-op
                                                    data
                                                </md-tooltip>

                                            </md-button>
                                            <md-button ng-disabled="hasSubAdmin || hasAdmin" ng-click="setting.selection.updateUsers('abilityPostData')"
                                                       class="md-accent md-raised md-hue-1">
                                                <md-icon
                                                        md-svg-src="assets/img/ic_accessibility_black_24px.svg"></md-icon>
                                                <md-tooltip md-direction="Bottom"> Set ability to enter post-op
                                                    data
                                                </md-tooltip>
                                            </md-button>

                                            <md-button ng-disabled="hasAdmin" ng-click="setting.selection.updateUsers('setAdminS')"
                                                       class="md-raised md-hue-1 my-btn .lef-btn"> to Admin
                                            </md-button>
                                            <md-button ng-disabled="hasUser" ng-click="setting.selection.updateUsers('setUserS')"
                                                       class="md-raised md-primary md-hue-1 .rgh-btn"> to User
                                            </md-button>
                                            <md-button ng-disabled="hasActivated" ng-click="setting.selection.updateUsers('activateUserS')"
                                                       class="md-raised md-hue-1 my-btn .lef-btn"> to Activate
                                            </md-button>
                                            <md-button ng-disabled="hasBanned" ng-click="setting.selection.updateUsers('banUserS')"
                                                       class="md-raised md-primary  md-hue-1 .rgh-btn"> to Ban
                                            </md-button>
                                        </div>



                                    </div>
                                </md-toolbar>

                                <md-input-container class="md-block col-sm-1" style="position: absolute; top: 70px;">
                                    <md-checkbox name="selectUsers" ng-model="setting.selection.all" aria-label="Select"
                                                 ng-change="setting.selection.selectUser('all')">
                                        Select All
                                    </md-checkbox>
                                </md-input-container>

                                <md-input-container class="md-block col-sm-1" style="position: absolute; left: 120px; top: 70px;">
                                    <md-checkbox name="selectUsers" ng-model="setting.selection.nonActivated" aria-label="Select new"
                                                 ng-change="setting.selection.selectUser('nonActivated')">
                                        Select New
                                    </md-checkbox>
                                </md-input-container>

                                <md-input-container class="md-block col-sm-offset-10 col-sm-2 totalInfo">
                                    <h5>Total users: {{ ::loadData.settingsTotalInfo.totalUsers }}</h5>
                                    <h5>New users in last 30 days: {{ ::loadData.settingsTotalInfo.last30daysCreated }}</h5>
                                    <h5>Total calcs done: {{ ::loadData.settingsTotalInfo.calcsDone }}</h5>
                                    <h5>Total log ins: {{ ::loadData.settingsTotalInfo.totalLogins }}</h5>
                                    <h5>Total prints: {{ ::loadData.settingsTotalInfo.totalPrints }}</h5>
                                    <h5>Total calcs done in last 30 days: {{ ::loadData.settingsTotalInfo.last30daysCalcs }}</h5>
                                    <h5>Total log ins in last 30 days: {{ ::loadData.settingsTotalInfo.last30daysLogins }}</h5>
                                    <h5>Total prints in last 30 days: {{ ::loadData.settingsTotalInfo.last30daysPrints }}</h5>
                                </md-input-container>

                                <table ng-table="loadData.usersPag" class="table table-striped table-hover" id="userTable">
                                   <!-- <thead>
                                    <tr>
                                        <th>
                                            <md-input-container class="md-block">
                                                <md-checkbox name="selectUsers" ng-model="setting.selection.all"
                                                             ng-change="setting.selection.selectUser('all')">
                                                    Select
                                                </md-checkbox>
                                            </md-input-container>
                                        </th>
                                        <th  >Email</th>
                                        <th  >Created</th>
                                        &lt;!&ndash;<th>Last Log IN</th>&ndash;&gt;
                                        &lt;!&ndash;<th>Last Calc</th>&ndash;&gt;
                                        &lt;!&ndash;<th>Log IN for last 2 weeks</th>&ndash;&gt;
                                        &lt;!&ndash;<th>Calcs for last 2 weeks</th>&ndash;&gt;
                                        &lt;!&ndash;<th>Action</th>&ndash;&gt;
                                        &lt;!&ndash;<th>Distinction</th>&ndash;&gt;
                                        &lt;!&ndash;<th>Activate/Ban</th>&ndash;&gt;
                                    </tr>
                                    </thead>-->

                                    <tbody>
                                    <tr ng-repeat="user in $data">
                                        <td title="'Select'" >
                                            <md-input-container class="md-block checkb" aria-label="Select">
                                                <md-checkbox name="selectUsers" ng-model="user.isSelected" aria-label="Select"
                                                             ng-change="setting.selection.selectUser('similar', user)">
                                                </md-checkbox>
                                            </md-input-container>
                                        </td>
                                        <td title="'Email'" sortable="'usr_email'" style="position: relative">
                                            <div class="displayEmail" ng-class="{'banned': user.usr_active === 'ban', 'newUser': user.usr_active === '0'}">{{::user.usr_email}}</div>
                                            <md-tooltip md-direction="Right">{{::user.usr_email}}</md-tooltip>
                                            <!--<img src="assets/img/Statistics-Button.png" alt="Statistics"
                                                 class="statistics-btn" data-ng-click="setting.loadStatistic(user)">-->
                                            <md-button class="md-icon-button displayEmailExportBtn" aria-label="Export"
                                                       ng-click="setting.exportEXL(user)" ng-if="user.counts">
                                                <md-icon
                                                        md-svg-icon="assets/img/ic_import_export_black_24px.svg"></md-icon>
                                                <md-tooltip md-direction="Bottom"> export exel, {{user.counts}} items
                                                </md-tooltip>
                                            </md-button>

                                        </td>
                                        <td title="'Created'"  sortable="'created'">{{::user.created}}</td>
                                        <td title="'Last Calc'" sortable=" 'last_calc_sort' ">{{::user.last_calc }}</td>
                                        <td title="'Last Log IN'"  sortable="'last_log_in_sort'">{{::user.last_log_in}}</td>
                                        <td title="'No. of calcs (last 2 wks)'"  sortable="'last_count_two_weeks_calsc'">{{::user.last_count_two_weeks_calsc}}</td>
                                        <td title="'No. of log ins for 2 weeks'"  sortable="'last_count_two_week_log_ins'">{{::user.last_count_two_week_log_ins}}</td>
                                        <td title="'Total calcs'"  sortable="'total_calcs'">{{::user.total_calcs}}</td>
                                        <td title="'Total prints'"  sortable="'total_prints'">{{::user.total_prints}}</td>
                                        <td title="'Total log ins'"  sortable="'total_log_ins'">{{::user.total_log_ins}}</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>

                    </md-tab-body>
                </md-tab>
                <md-tab id="tab2" data-ng-if="utils.isAdmin()">
                    <md-tab-label>Messages</md-tab-label>
                    <md-tab-body>
                        <div class="my-tab demo-tab tab{{$index%4}}">
                            <div data-ng-show="editMsgVis">
                                <!--<h3>List of Messages</h3>-->
                                <ul data-ng-repeat="msg in loadData.msgs" class="listes">
                                    <li data-ng-click="setting.setCurrentMsgToEdit(msg);">
                                        <!--<a target="_blank" href="{{$location.abs('/')}}/ckeditor/samples/{msg.subject}}">-->
                                        {{msg.subject}}<!--</a>--></li>
                                </ul>
                            </div>

                            <div data-ng-hide="editMsgVis" style="padding: 15px;" class="inputdemoIcons">
                                <style>
                                    .my-btn {
                                        width: inherit;
                                    }

                                    .myForm {
                                        padding-bottom: 10px;
                                    }

                                    .my-label {
                                        text-align: center;
                                    }

                                    .inputdemoIcons {
                                        /*
                                      .right-icon {
                                        position: absolute;
                                        top: 4px;
                                        right: 2px;
                                        left: auto;
                                        margin-top: 0;
                                      }
                                      */
                                    }

                                    .inputdemoIcons .inputIconDemo {
                                        min-height: 48px;
                                    }

                                    .inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.email {
                                        color: green;
                                    }

                                    .inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.name {
                                        color: dodgerblue;
                                    }

                                    .inputdemoIcons md-input-container.md-input-invalid > md-icon.email,
                                    .inputdemoIcons md-input-container.md-input-invalid > md-icon.name {
                                        color: red;
                                    }


                                </style>

                                <md-content class="md-no-momentum">
                                    <md-input-container class="md-icon-float md-block">
                                        <!-- Use floating label instead of placeholder -->
                                        <label>Name</label>
                                        <md-icon md-svg-src="assets/img/ic_person_24px.svg" class="name"></md-icon>
                                        <input ng-model="curMsgEdit.fromeName" type="text" ng-required="true">
                                    </md-input-container>

                                    <md-input-container class="md-block">
                                        <!-- Use floating placeholder instead of label -->
                                        <label>Email</label>
                                        <md-icon md-svg-src="assets/img/ic_email_24px.svg" class="email"></md-icon>
                                        <input ng-model="curMsgEdit.fromeEmail" type="email"
                                               placeholder="Email (required)" ng-required="true">
                                    </md-input-container>

                                    <md-input-container class="md-block">
                                        <label>Subject</label>
                                        <md-icon md-svg-src="assets/img/ic_subject_black_24px.svg"></md-icon>
                                        <input ng-model="curMsgEdit.subject" type="text" ng-required="true"
                                               placeholder="Subject (required)">
                                    </md-input-container>


                                    <textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel" class="form-control"
                                              id="msg"></textarea>

                                    <div class="group-btn" style="    text-align: left;">
                                        <md-button ng-click="setting.setCurrentMsgToEdit();" style="margin-left: 0;"
                                                   class="md-accent md-raised md-hue-1">
                                            <md-icon md-svg-src="assets/img/ic_exit_to_app_black_24px.svg"></md-icon>
                                            Back
                                        </md-button>
                                        <md-button ng-click="setting.updateMsg()" style=""
                                                   class="md-raised md-hue-1 my-btn" ng-class="md-primary">
                                            <md-icon md-svg-src="assets/img/ic_save_black_24px.svg"></md-icon>
                                            Save
                                        </md-button>
                                    </div>
                                </md-content>

                                <div style="float: left;text-align: left">
                                    <p data-ng-repeat="inf in loadData.info">
                                        <b>{{inf.val}}</b> - {{inf.desc}}
                                    </p>

                                    <h1>Warning, no more 10000 characteres</h1>
                                </div>
                            </div>
                            <br/>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab id="tab3" data-ng-if="utils.isAdmin()">
                    <md-tab-label>BackUp</md-tab-label>
                    <md-tab-body>
                        <md-button class="md-fab" aria-label="BACKUP" ng-click="setting.backUp()" style=" ">
                            <md-icon md-svg-src="assets/img/ic_save_black_24px.svg"></md-icon>
                            <md-tooltip md-direction="Bottom"> BACKUP</md-tooltip>
                        </md-button>
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>File name</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="file in loadData.backFiles">
                                <td>{{file.fileName}}</td>
                                <td>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <a href="{{file.source}}{{file.fileName}}" target="_blank">
                                                <md-button class="md-raised md-hue-1 my-btn ">
                                                    <md-icon
                                                            md-svg-src="assets/img/ic_file_upload_black_24px.svg"></md-icon>
                                                    Upload
                                                </md-button>
                                            </a>
                                        </div>
                                        <div class="col-md-6">
                                            <md-button ng-click="setting.deleteFile(file.fileName,$index)"
                                                       class="md-accent md-raised md-hue-1">Drop
                                            </md-button>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </md-tab-body>
                </md-tab>
                <md-tab id="tab4" data-ng-if="utils.isAdmin()" ng-click="setting.getNeuralFiles()">
                    <md-tab-label>Neural Network</md-tab-label>
                    <md-tab-body>
                        <div class="row">
                            <div class="col-sm-8">
                                <table class="table table-striped table-hover"  >
                                    <thead>
                                    <tr>
                                        <th>File name</th>
                                        <th>Actions</th>
                                        <th>Drop</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="file in loadData.neuralList">
                                        <td>{{file.origin_file_name}}</td>
                                        <td>
                                            <md-button class="md-raised md-hue-1 my-btn " data-ng-click="setting.neuronUpdate(file)">
                                                <md-icon
                                                        md-svg-src="assets/img/ic_file_upload_black_24px.svg"></md-icon>
                                                {{file.active ==2?'Deactivate':'Activate'}}
                                            </md-button>
                                        </td>
                                        <td>
                                            <md-button class="md-raised md-hue-1 my-btn " data-ng-click="setting.neuronDrop(file,$index)">
                                                <md-icon
                                                        md-svg-src="assets/img/ic_file_upload_black_24px.svg"></md-icon>
                                                Delete
                                            </md-button>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>

                            </div>
                            <div class="col-sm-4">
                                <input type="file"value="Upload csv" id="neuronFile" accept="text/csv, .csv"  />

                            </div>
                        </div>

                    </md-tab-body>
                </md-tab>
                <!--/*--------All useres SETing---------*/-->
                <md-tab id="tab5">
                    <md-tab-label>Profile</md-tab-label>
                    <md-tab-body>
                        <div class="my-tab demo-tab tab{{$index%4}}" style=" padding-top: 25px;">
                            <form name="userForm" class="container-fluid" style="width: 50%">
                                <md-content class="md-no-momentum">

                                    <md-content class="md-no-momentum">
                                        <md-input-container class="md-icon-float md-block col-md-6"
                                                            style="padding-left: 30px!important;">
                                            <md-icon md-svg-src="assets/img/ic_person_24px.svg" class="name"></md-icon>
                                            <input name="firstName" type="text" ng-required="true"
                                                   placeholder="First Name" ng-maxlength="25" autofocus="true"
                                                   data-ng-change="utils.changeName(session.user);" no-spaces
                                                   ng-trim="false" data-ng-model="session.user.firstName">

                                            <div ng-messages="userForm.firstName.$error"
                                                 ng-show="userForm.firstName.$invalid">
                                                <div ng-message="required">First Name is required.</div>
                                            </div>

                                            <div data-ng-show="submitted || userForm.firstName.$touched">
                                                <span data-ng-hide="userForm.firstName.$invalid"
                                                      class="glyphicon  form-control-feedback glyphicon-ok"></span>
                                                <span data-ng-show="userForm.firstName.$invalid"
                                                      class="glyphicon  form-control-feedback glyphicon-remove"></span>
                                            </div>
                                        </md-input-container>

                                        <md-input-container class="md-icon-float md-block col-md-6"
                                                            style="padding-left:  15px !important;">
                                            <input name="secondName" type="text" placeholder="Last Name" ng-trim="false"
                                                   ng-maxlength="25" data-ng-required="true"
                                                   data-ng-change="utils.changeName(session.user);" no-spaces
                                                   data-ng-model="session.user.secondName">

                                            <div ng-messages="userForm.secondName.$error"
                                                 ng-show="userForm.secondName.$invalid">
                                                <div ng-message="required">Last Name is required.</div>
                                            </div>

                                            <div data-ng-show="submitted || userForm.secondName.$touched">
                                                <span data-ng-hide="userForm.secondName.$invalid"
                                                      class="glyphicon  form-control-feedback glyphicon-ok"></span>
                                                <span data-ng-show="userForm.secondName.$invalid"
                                                      class="glyphicon  form-control-feedback glyphicon-remove"></span>
                                            </div>
                                        </md-input-container>


                                    </md-content>

                                    <md-input-container class="md-block">
                                        <md-icon md-svg-src="assets/img/ic_email_24px.svg" class="email"></md-icon>
                                        <input name="userEmail" type="email" ng-disabled="session.user.usr_email"
                                               data-ng-trim="false" no-spaces placeholder="Email (Username)"
                                               ng-required="true"
                                               data-ng-model="session.user.usr_email">

                                        <div ng-messages="userForm.userEmail.$error"
                                             ng-show="userForm.userEmail.$invalid">
                                            <!--ng-if="submitted || userForm.userEmail.$touched"-->
                                            <div ng-message="required">Email is invalid..</div>
                                        </div>
                                        <div data-ng-show="submitted || userForm.userEmail.$touched">
                                            <span data-ng-hide="userForm.userEmail.$invalid"
                                                  class="glyphicon  form-control-feedback glyphicon-ok"></span>
                                            <span data-ng-show="userForm.userEmail.$invalid"
                                                  class="glyphicon  form-control-feedback glyphicon-remove"></span>
                                        </div>
                                    </md-input-container>


                                    <md-input-container class="md-block">
                                        <md-icon md-svg-src="assets/img/ic_phone_black_24px.svg"
                                                 class="email"></md-icon>
                                        <input name="userPhone" type="text" data-ng-trim="false" placeholder="Phone"
                                               data-ng-model="session.user.usr_phone" tel phone-input>

                                        <div ng-messages="userForm.userPhone.$error"
                                             ng-show="( userForm.userPhone.$error.tel || userForm.userPhone.$invalid)&& ( submitted || userForm.userPhone.$touched)">
                                            <div ng-message="required">(xxx)-xxx-xxxx</div>
                                        </div>
                                        <div data-ng-show="userForm.userPhone &&(submitted || userForm.userPhone.$touched)">
                                            <span data-ng-hide="userForm.userPhone.$invalid || userForm.userPhone.$error.tel"
                                                  class="glyphicon  form-control-feedback glyphicon-ok"></span>
                                            <span data-ng-show="userForm.userPhone.$invalid || userForm.userPhone.$error.tel"
                                                  class="glyphicon  form-control-feedback glyphicon-remove"></span>
                                        </div>
                                    </md-input-container>

                                    <md-input-container class="md-block " style="padding-left: 30px!important;">
                                        <md-icon md-svg-src="assets/img/ic_place_black_24px.svg"></md-icon>
                                        <input name="userCountry" type="text" data-ng-trim="false" placeholder="Address"
                                               data-ng-model="session.user.usr_adresss" ng-maxlength="50">

                                        <div data-ng-show="submitted || userForm.userCountry.$touched">
                                            <span data-ng-hide="userForm.userCountry.$invalid"
                                                  class="glyphicon  form-control-feedback glyphicon-ok"></span>
                                            <span data-ng-show="userForm.userCountry.$invalid"
                                                  class="glyphicon  form-control-feedback glyphicon-remove"></span>
                                        </div>
                                    </md-input-container>

                                    <md-input-container class="md-block " style="padding-left: 30px!important;">
                                        <md-icon md-svg-src="assets/img/ic_home_black_24px.svg"></md-icon>
                                        <input name="usr_affiliation" type="text" data-ng-trim="false"
                                               placeholder="Affiliation" data-ng-model="session.user.usr_affiliation"
                                               ng-maxlength="50">

                                        <div data-ng-show="submitted || userForm.usr_affiliation.$touched">
                                            <span data-ng-hide="userForm.usr_affiliation.$invalid"
                                                  class="glyphicon  form-control-feedback glyphicon-ok"></span>
                                            <span data-ng-show="userForm.usr_affiliation.$invalid"
                                                  class="glyphicon  form-control-feedback glyphicon-remove"></span>
                                        </div>
                                    </md-input-container>

                                    <md-content class="md-no-momentum">
                                        <md-input-container class="md-block col-md-4"
                                                            style="padding-left: 30px!important;">
                                            <md-icon md-svg-src="assets/img/ic_security_black_24px.svg"></md-icon>
                                            <input name="psw" type="password" ng-trim="false" placeholder="Old Password"
                                                   data-ng-model="session.user.usr_old_psw_rep" ng-maxlength="50"
                                                   data-ng-required="session.user.usr_psw">

                                            <div ng-messages="userForm.psw.$error" ng-show="userForm.psw.$invalid">
                                                <div ng-message="required">Old Password is required</div>
                                            </div>

                                            <div data-ng-show="submitted || userForm.psw.$touched || userForm.psw.$invalid">
                                                <span data-ng-hide="userForm.psw.$invalid"
                                                      class="glyphicon  form-control-feedback glyphicon-ok"></span>
                                                <span data-ng-show="userForm.psw.$invalid"
                                                      class="glyphicon  form-control-feedback glyphicon-remove"></span>
                                            </div>
                                        </md-input-container>

                                        <md-input-container class="md-block col-md-4"
                                                            style="padding: 2px 15px !important;">
                                            <input name="psw_new" type="password" placeholder="New Password"
                                                   data-ng-model="session.user.usr_psw" ng-maxlength="50"
                                                   ng-trim="false"
                                                   data-ng-required="session.user.usr_old_psw_rep">

                                            <div ng-messages="userForm.psw_new.$error"
                                                 ng-show="userForm.psw_new.$invalid">
                                                <div ng-message="required">Password is required</div>
                                            </div>

                                            <div data-ng-show="submitted || userForm.psw_new.$touched || userForm.psw_new.$invalid">
                                                <span data-ng-hide="   userForm.psw_new.$invalid"
                                                      class="glyphicon  form-control-feedback glyphicon-ok"></span>
                                                <span data-ng-show="   userForm.psw_new.$invalid"
                                                      class="glyphicon  form-control-feedback glyphicon-remove"></span>
                                            </div>
                                        </md-input-container>

                                        <md-input-container class="md-block col-md-4"
                                                            style="padding: 2px 5px !important;">
                                            <input name="psw_rep" type="password" placeholder="Re-enter New Password"
                                                   data-ng-model="session.user.usr_psw_rep" ng-maxlength="50"
                                                   data-ng-required="session.user.usr_psw" ng-trim="false"
                                                   data-password-verify="session.user.usr_psw">

                                            <div ng-messages="userForm.psw_rep.$error.required"
                                                 ng-show="userForm.psw_rep.$error.required">
                                                <div ng-message="required">Password is required</div>
                                            </div>
                                            <div ng-messages="userForm.psw_rep.$error.passwordVerify"
                                                 ng-show="!userForm.psw_rep.$error.required && userForm.psw_rep.$error.passwordVerify">
                                                <div ng-message="required">Passwords don't match</div>
                                            </div>


                                            <div data-ng-show="submitted || userForm.psw_rep.$touched || userForm.psw_rep.$invalid">
                                                <span data-ng-hide="userForm.psw_rep.$error.passwordVerify ||  userForm.psw_rep.$invalid"
                                                      class="glyphicon  form-control-feedback glyphicon-ok"></span>
                                                <span data-ng-show="userForm.psw_rep.$error.passwordVerify ||  userForm.psw_rep.$invalid"
                                                      class="glyphicon  form-control-feedback glyphicon-remove"></span>
                                            </div>
                                        </md-input-container>
                                    </md-content>

                                    <md-button ng-click="submitted = true; setting.updateUserInfo()"
                                               class="md-raised md-primary " ng-disabled="userForm.$invalid">
                                        <md-icon md-svg-src="assets/img/ic_save_black_24px.svg"></md-icon>
                                        Save
                                    </md-button>

                                </md-content>
                            </form>
                        </div>
                    </md-tab-body>

                </md-tab>
                <md-tab id="tab6">
                    <md-tab-label>Default values</md-tab-label>
                    <md-tab-body>
                        <div class="my-tab demo-tab tab{{$index%4}}" style=" padding-top: 25px;">
                            <form name="defVal" class="container-fluid" style="width: 50%; min-width: 800px;">
                                <md-content class="md-no-momentum set-inpts">
                                    <div>
                                        <div class="col-md-12">
                                            <div class="dd-val set-inp">
                                                <div class="form-group row m-p"
                                                     ng-class="{ 'has-error' :  defVal.AConstant.$invalid }">
                                                    <label mean-token="'create-srt_name'" for="ACOD"
                                                           class="col-md-4 control-label">A-Constant</label>

                                                    <div class="col-md-8">
                                                        <input name="AConstant"
                                                               type="number"
                                                               step="0.01"
                                                               min="100"
                                                               max="120"
                                                               data-ng-model="inputData.AConstant"
                                                               data-ng-trim="false"
                                                               placeholder="A-Constant"
                                                               class="input-succeces   input-only-number col-md-11"
                                                               id="ACOD">

                                                        <div class="tooltipes-t col-md-1">?
                                                            <md-tooltip md-direction="Left"> A-Constant is between 100
                                                                and 120
                                                            </md-tooltip>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="form-group row m-p"
                                                     ng-class="{ 'has-error' :  defVal.Rfrctn.$invalid }">
                                                    <label mean-token="'create-srt_name'" for="TRefr"
                                                           class="col-md-4 control-label">Target Refraction</label>

                                                    <div class="col-md-8">
                                                        <input name="Rfrctn"
                                                               type="number"
                                                               step="0.01"
                                                               min="-10"
                                                               max="10"
                                                               data-ng-model="inputData.Rfrctn"
                                                               data-ng-trim="false"
                                                               placeholder="Target Refraction"
                                                               class="input-succeces   input-only-number col-md-11"
                                                               id="TRefr">

                                                        <div class="tooltipes-t col-md-1">?
                                                            <md-tooltip md-direction="Left"> Target Refraction is between -10
                                                                and 10
                                                            </md-tooltip>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="form-group row m-p"
                                                     ng-class="{ 'has-error' :  defVal.KINDXOD.$invalid }">
                                                    <label mean-token="'create-srt_name'" for="KINDXOD"
                                                           class="col-md-4 control-label">K Index</label>

                                                    <div class="col-md-8">
                                                        <div class="col-md-6">
                                                            <md-input-container
                                                                    class="md-block input-tables input-only-number"
                                                                    style="padding: 0; margin: 0;">
                                                                <md-select class="sel-set" aria-label="K Index"
                                                                           ng-model="inputData.input_KIndex"
                                                                           style="padding: 1px 0!important;">
                                                                    <md-option ng-repeat="k in inputData.Kindexes"
                                                                               value="{{k}}">
                                                                        {{k}}
                                                                    </md-option>
                                                                </md-select>
                                                            </md-input-container>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="col-md-10">
                                                                <input name="KINDXOD"
                                                                       type="number"
                                                                       step="0.01"
                                                                       min="0"
                                                                       max="2"
                                                                       data-ng-model="inputData.KIndex"
                                                                       data-ng-trim="false"
                                                                       placeholder="K Index"
                                                                       class="input-succeces   input-only-number col-md-11"
                                                                       id="KINDXOD"
                                                                       data-ng-disabled="inputData.input_KIndex !='Other'"
                                                                       min="0" max="2"
                                                                       style="float: right;">
                                                            </div>
                                                            <div class="tooltipes-t col-md-2">?
                                                                <md-tooltip md-direction="Left"> K Index is between 0
                                                                    and 2
                                                                </md-tooltip>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <md-button ng-click="setting.updateDefVal()" type="submit"
                                               data-ng-disabled="defVal.$invalid" class="md-raised md-primary ">
                                        <md-icon md-svg-src="assets/img/ic_save_black_24px.svg"></md-icon>
                                        Save
                                    </md-button>
                                </md-content>
                            </form>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab id="tab7">
                    <md-tab-label>VERSION</md-tab-label>
                    <md-tab-body>
                        <div class="my-tab demo-tab tab{{$index%4}}" style=" padding-top: 25px;">
                            <md-content class="md-no-momentum col-sm-6 centerX">
                                <version-info></version-info>

                            </md-content>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab id="tab8" ng-click="setting.uploadCalculation(1)"
                        data-ng-if="utils.isAdmin() || session.user.usr_type != '0'">
                    <md-tab-label>My Calculations</md-tab-label>
                    <md-tab-body>
                        <div class="my-tab demo-tab tab{{$index%7}}" style=" padding-top: 25px;">
                            <md-content class="md-no-momentum col-sm-12 centerX">
                                <md-toolbar class="md-table-toolbar md-default" style="background: #fff!important;">
                                    <div class="md-toolbar-tools" style="margin-top: 15px;">
                                        <md-input-container class="md-icon-float md-icon-right md-block col-md-4"
                                                            style="padding-left: 30px!important;">
                                            <md-icon md-svg-src="assets/img/ic_search_black_24px.svg"></md-icon>
                                            <input id='searchCalcs' type="text" placeholder="Calculations"
                                                   ng-model="searchCalc.$">
                                        </md-input-container>


                                        <!--<div data-ng-hide="setting.isAllCalcs">
                                            <md-button class="md-icon-button" aria-label="Load more " style=" margin-top: -35px;" ng-disabled="loading"
                                                       ng-click="setting.uploadCalculation()">
                                                <md-icon md-svg-icon="assets/img/ic_cached_black_24px.svg"></md-icon>
                                                <md-tooltip md-direction="Bottom"> Load more</md-tooltip>
                                            </md-button>

                                        </div>-->
                                        <md-button class="md-icon-button" aria-label="Export"
                                                   ng-click="setting.exportEXL()" style=" margin-top: -35px;">
                                            <md-icon md-svg-icon="assets/img/ic_import_export_black_24px.svg"></md-icon>
                                            <md-tooltip md-direction="Bottom"> export exel</md-tooltip>
                                        </md-button>
                                    </div>
                                </md-toolbar>


                                <table ng-table="calcs" show-filter="true" class="table-list" style="margin: auto;">
                                    <thead>
                                    <tr>
                                        <th rowspan="2">Patient ID</th>
                                        <th rowspan="2">Last Name</th>
                                        <th rowspan="2">First Name</th>
                                        <th rowspan="2">Calculation Date/Time</th>
                                        <th rowspan="2">OD/OS</th>
                                        <th colspan="3">Pre-Op Data</th>
                                        <th colspan="3">Lens Selection</th>
                                        <th colspan="3">Post-Op Data</th>
                                        <th rowspan="2">Delete</th>
                                    </tr>
                                    <tr>
                                        <th>AL</th>
                                        <th>K1</th>
                                        <th>K2</th>
                                        <th>A-Constant</th>
                                        <th>Implanted IOL Model</th>
                                        <th>Implanted IOL Power</th>
                                        <th>Sphere</th>
                                        <th>Cylinder</th>
                                        <th>Axis</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <ng-table-filter-row></ng-table-filter-row>
                                    <tr data-ng-repeat="calc in $data | filter:searchCalc:strict  ">
                                        <td title="'Patient ID'" filter="{ patient_id: 'text'}"
                                            sortable="'calc.patient_id'">{{calc.patient_id}}
                                        </td>
                                        <td title="'Last Name'" filter="{ sName: 'text'}" sortable="'calc.sName'">
                                            {{calc.sName}}
                                        </td>
                                        <td title="'First Name'" filter="{ fName: 'text'}" sortable="'calc.fName'">
                                            {{calc.fName}}
                                        </td>
                                        <td title="'Calculation Date/Time'" sortable="'calc.local_created'"
                                            style=" min-width: 150px;">{{calc.local_created}}
                                        </td>

                                        <td title="'OD/OS'" filter="{ calc_eye: 'text'}" sortable="'calc.calc_eye'">
                                            {{calc.calc_eye}}
                                        </td>

                                        <td title="'Axial Length'" filter="{ calc_inputAxialLength: 'text'}"
                                            sortable="'calc.calc_inputAxialLength'">{{calc.calc_inputAxialLength}}
                                        </td>
                                        <td title="'K1'" filter="{ calc_inputK1: 'text'}"
                                            sortable="'calc.calc_inputK1'">{{calc.calc_inputK1}}
                                        </td>
                                        <td title="'k2'" filter="{ calc_inputK2: 'text'}"
                                            sortable="'calc.calc_inputK2'">{{calc.calc_inputK2}}
                                        </td>

                                        <!--New col start-->
                                        <td title="'A-Constant'" filter="{ calc_inputAConstant: 'text'}"
                                            sortable="'calc.calc_inputAConstant'">
                                            {{calc.calc_inputAConstant}}
                                        </td>
                                        <td title="Implanted IOL Model" filter="{ extra_data_iol: 'text' }"
                                        sortable="'calc.extra_data_iol'">
                                            <input type="text" ng-model="calc.extra_data_iol"
                                                   ng-blur="setting.editCalcs('extra_data_iol', calc)">
                                        </td>
                                        <td title="'Implanted IOL Power'" filter="{ extra_data_l: 'text'}"
                                            sortable="'calc.extra_data_l'">
                                            <input type="text" ng-model="calc.extra_data_l"
                                                   ng-blur="setting.editCalcs('extra_data_l', calc)">
                                        </td>
                                        <!--New col end-->

                                        <td title="'Sphere'" filter="{ extra_data_f: 'text'}"
                                            sortable="'calc.extra_data_f'"><input type="text"
                                                                                  ng-model="calc.extra_data_f"
                                                                                  ng-blur="setting.editCalcs('extra_data_f',calc)">
                                        </td>
                                        <td title="'Cylinder'" filter="{ extra_data_s: 'text'}"
                                            sortable="'calc.extra_data_s'"><input type="text"
                                                                                  ng-model="calc.extra_data_s"
                                                                                  ng-blur="setting.editCalcs('extra_data_s',calc)">
                                        </td>
                                        <td title="'Axis'" filter="{ extra_data_t: 'text'}"
                                            sortable="'calc.extra_data_t'"><input type="text"
                                                                                  ng-model="calc.extra_data_t"
                                                                                  ng-blur="setting.editCalcs('extra_data_t',calc)">
                                        </td>
                                        <td><span class="delete" data-ng-click="setting.dropCalc(calc,$index)">X</span>
                                        </td>
                                    </tr>
                                    </tbody>

                                </table>

                            </md-content>
                        </div>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </md-content>

        <div ng-show="false">
            <a download="Calculations.xls" id="exportEXL" style="color: black;display: none" href="#"
               onclick="return ExcellentExport.excel(this, 'calcsDatatable', 'Calculations');">Export to Excel</a>
            <table id="calcsDatatable">
                <thead>
                <tr>
                    <th rowspan="2">Patient ID</th>
                    <th rowspan="2">Last Name</th>
                    <th rowspan="2">First Name</th>
                    <th rowspan="2">Calculation Date/Time</th>
                    <th rowspan="2">OD/OS</th>
                    <th colspan="4">Pre-Op Data</th>
                    <th colspan="2">Lens Selection</th>
                    <th colspan="3">Post-Op Data</th>
                </tr>
                <tr>
                    <th>AL</th>
                    <th>K1</th>
                    <th>K2</th>
                    <th>Optical ACD</th>
                    <th>A-Constant</th>
                    <th>Implanted IOL Power</th>
                    <th>Sphere</th>
                    <th>Cylinder</th>
                    <th>Axis</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="calc_ in setting.curEXL">
                    <td>{{calc_.patient_id}}</td>
                    <td>{{calc_.sName}}</td>
                    <td>{{calc_.fName}}</td>
                    <td>{{calc_.local_created}}</td>
                    <td>{{calc_.calc_eye}}</td>
                    <td>{{calc_.calc_inputAxialLength}}</td>
                    <td>{{calc_.calc_inputK1}}</td>
                    <td>{{calc_.calc_inputK2}}</td>
                    <td>{{calc_.calc_inputOpticalACD}}</td>
                    <td>{{calc_.calc_inputAConstant}}</td>
                    <td>{{calc_.extra_data_l}}</td>
                    <td>{{calc_.extra_data_f}}</td>
                    <td>{{calc_.extra_data_s}}</td>
                    <td>{{calc_.extra_data_t}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</section>