

<div  data-ng-click="containerVis = false" data-ng-hide ="changePsw" class="sign" id="signIn"  >
    <div >
        <h2>Logging in</h2>
        <form name="myForm"   class="container-fluid" style="width: 100%;"  >
            <md-content class="md-no-momentum" style="margin-bottom: 20px;">

                <md-input-container class="md-block">
                    <md-icon md-svg-src="assets/img/ic_email_24px.svg" class="email"></md-icon>
                    <input name="userEmail" type="email" data-ng-trim="false" placeholder="Username (Email)" ng-required="myFormSsubmitted " autofocus="true"
                           data-ng-model="userData.lgn" no-spaces data-ng-pattern="/^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/">

                    <div ng-messages="myForm.userEmail.$error" ng-show="( myForm.userEmail.$error.required) &&(submitted || myForm.userEmail.$touched)"  >
                        <div ng-message="required">Username (Email) is required.</div>
                    </div>
                    <div ng-messages="myForm.userEmail.$error" ng-show="myForm.userEmail.$viewValue && (myForm.userEmail.$invalid || myForm.userEmail.$error.pattern) &&(myFormSsubmitted || myForm.userEmail.$touched)"  >
                        <div ng-message="required">Username (Email) is invalid.</div>
                    </div>
                    <div data-ng-show="myFormSsubmitted || myForm.userEmail.$viewValue">
                        <span  data-ng-hide="myForm.userEmail.$invalid || myForm.userEmail.$error.pattern" class="glyphicon  form-control-feedback glyphicon-ok"  ></span>
                        <span data-ng-show="myForm.userEmail.$invalid  || myForm.userEmail.$error.pattern"     class="glyphicon  form-control-feedback glyphicon-remove"></span>
                    </div>
                </md-input-container>

                    <md-input-container class="md-block ">
                        <md-icon  md-svg-src="assets/img/ic_security_black_24px.svg"  ></md-icon>
                        <input name="psw"  type="password"  ng-trim="false" placeholder="Password" data-ng-model="userData.usr_psw" ng-required="myFormSsubmitted" >

                        <div ng-messages="myForm.psw.$error" ng-show="myForm.psw.$invalid && (myFormSsubmitted || myForm.psw.$touched)">
                            <div ng-message="required">Password is required.</div>
                        </div>

                        <div data-ng-show="myFormSsubmitted || myForm.psw.$viewValue">
                            <span  data-ng-hide="myForm.psw.$invalid" class="glyphicon  form-control-feedback glyphicon-ok"  ></span>
                            <span data-ng-show="myForm.psw.$invalid"     class="glyphicon  form-control-feedback glyphicon-remove"></span>
                        </div>
                    </md-input-container>

                <div class="row">
                    <div class="col-sm-12" style="text-align: center;height: 30px;">
                        <!--<md-button class="md-raised md-primary my-btn" ng-click="changePsw=true">   <md-icon md-svg-src="assets/img/ic_trending_flat_white_24px.svg"></md-icon> Forgot password </md-button>-->
                        <a href="#"data-ng-click="changePsw=true" style="margin-top: -30px; text-align: left; font-size: 17px;    padding-left: 60px;      position: absolute; top: 10px;width: 100%;    left:50%;transform: translateX(-50%);">Forgot password?</a>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12" style="text-align: center;">
                            <md-button ng-click="sign.inn(myForm)"  class="md-raised md-hue-1 my-btn" ng-disabled="myForm.$invalid && myFormSsubmitted"> <md-icon md-svg-src="assets/img/ic_create_white_24px.svg"></md-icon>  Log in </md-button>
                        </div>
                        <!--<div class="col-sm-6" style="text-align: center;">
                            <md-button class="md-raised md-primary my-btn" ng-click="sign.move('sign_up')">   <md-icon md-svg-src="assets/img/ic_exit_to_app_white_24px.svg"></md-icon> Sign up </md-button>
                        </div>-->
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="text-align: center;height: 30px;">
                            <!--<md-button class="md-raised md-primary my-btn" ng-click="changePsw=true">   <md-icon md-svg-src="assets/img/ic_trending_flat_white_24px.svg"></md-icon> Forgot password </md-button>-->
                            <a href="#"data-ng-click="sign.move('sign_up')" style="font-size: 17px; position: absolute; top: 10px;width: 100%;    left:50%;transform: translateX(-50%);">New here? Create an account</a>
                        </div>
                    </div>

                </div>
            </md-content>
        </form>
    </div>
</div>
<dv class="forgot-psw" data-ng-show="changePsw">
    <h2>Forgot password?</h2>
    <!--<p>Please enter the emaiil address for your account. A new password  will-->
    <!--be sent to you. Once you have recieved the new password. You will be able to get accesses for your account.</p>-->
    <form name="pswChange"   class="container-fluid col-md-12"   >
        <md-content class="md-no-momentum" style="margin-bottom: 20px;">

            <md-input-container class="md-block">
                <md-icon md-svg-src="assets/img/ic_email_24px.svg" class="email"></md-icon>
                <input name="user_email" type="email" data-ng-trim="false" placeholder="Username (Email)" ng-required="myFormFClicked" autofocus="true"
                       data-ng-model="userData.lgn" no-spaces data-ng-pattern="/^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/">

                <div ng-messages="pswChange.user_email.$error" ng-show="( pswChange.user_email.$error.required) &&(myFormFClicked )"  >
                    <div ng-message="required">Username (Email) is required.</div>
                </div>
                <div ng-messages="pswChange.user_email.$error" ng-show="pswChange.user_email.$viewValue && (pswChange.user_email.$invalid || pswChange.user_email.$error.pattern) &&(myFormFClicked)"  >
                    <div ng-message="required">Username (Email) is invalid.</div>
                </div>

                <div data-ng-show="myFormFClicked || pswChange.user_email.$viewValue">
                    <span  data-ng-hide="pswChange.user_email.$invalid || pswChange.user_email.$error.pattern" class="glyphicon  form-control-feedback glyphicon-ok"  ></span>
                    <span data-ng-show="pswChange.user_email.$invalid || pswChange.user_email.$error.pattern"     class="glyphicon  form-control-feedback glyphicon-remove"></span>
                </div>
            </md-input-container>

        <div class="form-group">
            <div class="col-sm-6" style="text-align: center;">
                <md-button ng-click=" changePsw=false"  class="md-raised md-hue-1 my-btn" > <md-icon md-svg-src="assets/img/ic_create_white_24px.svg"></md-icon> Back to Log in </md-button>
            </div>
            <div class="col-sm-6" style="text-align: center;">
                <md-button class="md-raised md-primary my-btn" ng-click=" sign.changePsw(pswChange)" ng-disabled="pswChange.$invalid && myFormFClicked">   <md-icon md-svg-src="assets/img/ic_exit_to_app_white_24px.svg"></md-icon> Reset </md-button>
            </div>
        </div>
            </md-content>
        </div>
        </form>
</dv>
