<style>
    .sign-up{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: rgba(255,255,255,1);
        overflow-y: auto!important;
        padding: 5px 25px;
        min-width: 580px;
        width: 60%;
        text-align: center;
        box-shadow: 0 0 50px rgba(0,0,0,0.5);
        /*overflow: auto!important;*/
        /*max-height: 760px;*/
        /*height: 85%;*/
        background-color: rgb(250,250,250);
    }



</style>

<script type="text/javascript">

    var verifyCallback = function(response){
        window.grecaptchaResponse = response;
        var $body = angular.element(document.body);
        var $rootScope = $body.scope().$root;
        $rootScope.$apply(function () {
            $rootScope.grecaptcha = response;
        });
    };

    var onloadCallback = function(){
        setTimeout(function () {
            grecaptcha.render('grecaptcha', {
                'sitekey' : '6LfNlyEUAAAAAEFKAJ5E7YfgK3bTMy4IGTB7mCqF',
                'callback' : verifyCallback,
                'theme' : 'light'
            });
        }, 1000);
    };
</script>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>

<div class="sign-up" >
    <div class="bs-example" id="signUp">
        <h2>REQUEST ACCESS</h2>
        <form name="myForm" class="container-fluid" style="width: 100%;"  >
            <md-content class="md-no-momentum" style="margin-bottom: 20px;">

                <md-content class="md-no-momentum">
                    <md-input-container class="md-icon-float md-block  left-input md-input-container-sign-up"   >
                        <md-icon md-svg-src="assets/img/ic_person_24px.svg" class="name"></md-icon>
                        <input name="userName" type="text" ng-required="myFormRsubmitted" placeholder="First Name" no-spaces autofocus="true" ng-trim="false"
                               data-ng-model="userData.usr_name"  >

                        <div ng-messages="myForm.userName.$error"   ng-if="myForm.userName.$invalid && (myFormRsubmitted || myForm.userName.$touched)">
                            <div ng-message="required">First Name is required.</div>
                        </div>

                        <div data-ng-show="myFormRsubmitted || myForm.userName.$viewValue">
                            <span  data-ng-hide="myForm.userName.$invalid" class="glyphicon  form-control-feedback glyphicon-ok"  ></span>
                            <span data-ng-show="myForm.userName.$invalid"     class="glyphicon  form-control-feedback glyphicon-remove"></span>
                         </div>
                    </md-input-container>

                    <md-input-container class="md-icon-float md-block right-input md-input-container-sign-up"   >
                        <input name="secondName" type="text" placeholder="Last Name" ng-trim="false"  no-spaces data-ng-required="myFormRsubmitted" data-ng-model="userData.secondName">
                        <div ng-messages="myForm.secondName.$error"   ng-if="myForm.secondName.$invalid && (myFormRsubmitted || myForm.secondName.$touched)">
                            <div ng-message="required">Last Name is required.</div>
                        </div>

                        <div data-ng-show="myFormRsubmitted ||  myForm.secondName.$viewValue">
                            <span  data-ng-hide="myForm.secondName.$invalid" class="glyphicon  form-control-feedback glyphicon-ok"  ></span>
                            <span data-ng-show="myForm.secondName.$invalid"     class="glyphicon  form-control-feedback glyphicon-remove"></span>
                        </div>
                    </md-input-container>
                </md-content >

                <md-content class="md-no-momentum">

                    <md-input-container class="md-block left-input md-input-container-sign-up">
                        <md-icon md-svg-src="assets/img/ic_email_24px.svg" class="email"></md-icon>
                        <input name="userEmail" type="email" data-ng-trim="false" placeholder="Email (Username)"  no-spaces ng-required="myFormRsubmitted"
                               data-ng-model="userData.usr_email" data-ng-pattern="/^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/">

                        <div ng-messages="myForm.userEmail.$error" ng-show="( myForm.userEmail.$error.required) &&(myFormRsubmitted )"  >
                            <div ng-message="required">Email is required.</div>
                        </div>
                        <div ng-messages="myForm.userEmail.$error" ng-show="myForm.userEmail.$viewValue && (myForm.userEmail.$invalid || myForm.userEmail.$error.pattern) &&(myFormRsubmitted)"  >
                            <div ng-message="required">Email is invalid.</div>
                        </div>

                        <div data-ng-show="myFormRsubmitted ||  myForm.userEmail.$viewValue">
                            <span  data-ng-hide="myForm.userEmail.$invalid || myForm.userEmail.$error.pattern" class="glyphicon form-control-feedback glyphicon-ok"></span>
                            <span data-ng-show="myForm.userEmail.$invalid  || myForm.userEmail.$error.pattern" class="glyphicon form-control-feedback glyphicon-remove"></span>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block right-input md-input-container-sign-up">
                        <input name="emailrep" type="email" placeholder="Confirm Email"
                               data-ng-model="email_rep" no-spaces ng-required="myFormRg.myFormRsubmitted"
                               ng-trim="false" data-ng-pattern="/^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/">

                        <div ng-messages="myFormRg.emailrep.$error"
                             ng-show="myForm.emailrep.$viewValue && userData.usr_email !== email_rep">
                            <div ng-message="required">Emails should match.</div>
                        </div>

                        <div ng-messages="myForm.emailrep.$error" ng-show="(myForm.emailrep.$error.required) && (myFormRsubmitted)"  >
                            <div ng-message="required">Email is required.</div>
                        </div>
                        <div ng-messages="myForm.emailrep.$error" ng-show="myForm.emailrep.$viewValue && (myForm.emailrep.$invalid || myForm.emailrep.$error.pattern) &&(myFormRsubmitted)"  >
                            <div ng-message="required">Email is invalid.</div>
                        </div>

                        <div data-ng-show="myFormRsubmitted || myForm.emailrep.$viewValue">
                            <span data-ng-hide="myForm.emailrep.$invalid || myForm.emailrep.$error.pattern"
                                  class="glyphicon form-control-feedback glyphicon-ok"></span>
                            <span data-ng-show="myForm.emailrep.$invalid || myForm.emailrep.$error.pattern"
                                  class="glyphicon form-control-feedback glyphicon-remove"></span>
                        </div>
                    </md-input-container>

                </md-content>

                <md-content class="md-no-momentum">
                    <md-input-container class="md-block left-input md-input-container-sign-up">
                        <md-icon  md-svg-src="assets/img/ic_security_black_24px.svg"  ></md-icon>
                        <input name="psw"  type="password" ng-trim="false" placeholder="Password" data-ng-model="userData.usr_psw"   ng-required="myFormRsubmitted"    data-ng-change="validate.checkPsw(myForm)">

                        <div ng-messages="myForm.psw.$error" ng-if="myForm.psw.$invalid && (myFormRsubmitted)">
                            <div ng-message="required">Password is required</div>
                        </div>

                        <div data-ng-show="myFormRsubmitted || myForm.psw.$viewValue">
                            <span  data-ng-hide="myForm.psw.$invalid" class="glyphicon  form-control-feedback glyphicon-ok"  ></span>
                            <span data-ng-show="myForm.psw.$invalid" class="glyphicon  form-control-feedback glyphicon-remove"></span>
                        </div>

                    </md-input-container>
                    <md-input-container class="md-block right-input md-input-container-sign-up">
                    <input name="psw_rep"  type="password" placeholder="Re-enter Password" data-ng-model="userData.usr_psw_rep" ng-required="myForm.psw.$viewValue" ng-trim="false" data-password-verify="userData.usr_psw" >

                        <div ng-messages=" myForm.psw_rep.$error.required" ng-if="(myForm.psw_rep.$error.required &&(submitted || myForm.psw_rep.$touched))" >
                            <div ng-message="required">Password is required</div>
                        </div>
                       <div ng-messages=" myForm.psw_rep.$error.passwordVerify && userData.usr_psw_rep"  ng-if="myForm.psw.$viewValue && myForm.psw.$touched && myForm.psw_rep.$error.passwordVerify" >
                        <div ng-message="required">Passwords don't match</div>
                    </div>


                    <div data-ng-show="myFormRsubmitted ||  myForm.secondName.$viewValue">
                        <span  data-ng-hide="myForm.psw_rep.$error.passwordVerify ||  myForm.psw_rep.$invalid" class="glyphicon  form-control-feedback glyphicon-ok"  ></span>
                        <span data-ng-show="myForm.psw_rep.$error.passwordVerify ||  myForm.psw_rep.$invalid"     class="glyphicon  form-control-feedback glyphicon-remove"></span>
                    </div>
                </md-input-container>
                </md-content>

                <md-input-container class="md-block md-input-container-sign-up">
                    <md-icon md-svg-src="assets/img/ic_email_24px.svg" class="email"></md-icon>
                    <input name="userMsg"  type="text" placeholder="Message" data-ng-model="userData.msg" >
                </md-input-container>

               <textarea class="form-control" style="text-align: justify;" rows="7" disabled="true" id="admission">
THE IOL SUPER FORMULA INTERFACE LICENSE AGREEMENT, TERMS OF USE, AND PRIVACY POLICY PLEASE READ THIS IOL SUPER FORMULA INTERFACE LICENSE AGREEMENT (THIS "AGREEMENT") BY SCROLLING DOWN. THIS AGREEMENT IS A LEGAL AGREEMENT BETWEEN YOU ("LICENSEE") AND ADVANCED EUCLIDEAN SOLUTIONS ("AES") AND GOVERNS ACCESS TO AND USE OF THE IOL SUPER FORMULA INTERFACE (THE "INTERFACE"). BY CHOOSING "ACCEPT" ON THIS SCREEN, LICENSEE AGREES TO ALL OF THE TERMS STATED HEREIN. IF LICENSEE CANNOT ACCEPT THE TERMS OF THIS AGREEMENT, PLEASE USE THIS OPPORTUNITY TO DECLINE BY CHOOSING "DECLINE" BELOW.

The Interface contains technical information about the calculation of the intraocular lens (IOL) power value for the implantation of IOL in patients following cataract surgery, and is intended for use by physicians only. The information contained herein is derived from the work and surface(s) of John Ladas, MD PhD, Aazim Siddiqui, MD, Uday Devgan, MD, and Albert S. Jun, MD PhD, and is printed with their permission.
This Interface is provided to physicians for educational and convenience purposes only, and is not a substitute for appropriate medical education and training or for the exercise of independent medical judgment. AES cannot warrant the accuracy or completeness of information that this Interface provides. Each medical situation should be considered unique to each patient, and all treatments individualized accordingly. AES does not endorse or recommend any particular technique beyond what is contained in the product labeling, and other techniques may be appropriate in a physician's medical judgment.
Any medical procedure has associated complications and risks, and the practice of medicine and standard of care may change over time. AES cannot warrant that this information will be error-free, and is not responsible for any deletion or inaccuracy. AES expressly disclaims all liability to any person in respect of all matters and all actions taken or not taken based on any information contained herein. Physicians are advised to consult the product labeling, and any appropriate research literature before implementing any new treatments or techniques.

1. OWNERSHIP.
The Interface is owned by AES and/or its affiliates and is protected by United States copyright laws and international treaty provisions.
Licensee may not reverse engineer, decompile, or disassemble the Interface, except to the extent the foregoing restriction is expressly prohibited by applicable law.
Licensee may not make error corrections to, or otherwise adapt or modify, or create derivative works based upon the Interface. The License below defines the extent of Licensee's rights with respect to the Interface.

2. LICENSE AND RESTRICTIONS ON USE.
This Agreement gives Licensee the right to access the Interface and to use it for the limited purpose of calculating the recommended power of IOLs, as those are defined by John Ladas, MD PhD, Aazim Siddiqui, MD, Uday Devgan, MD, and Albert S. Jun, MD PhD, in their algorithm and surfaces. Said license rights are not transferable or sublicenseable, nor may the Interface be reproduced or modified without the express consent of AES and the author. Licensee agrees to use reasonable efforts to prevent unauthorized use, distribution or publication.
By this License, Licensee acquires no ownership right, title or interest in the Interface, or in any applicable patents, trademarks, copyrights, trade secrets and other intellectual property rights which may be embodied or contained therein.

3. USE AND ENTRY OF PATIENT INFORMATION
Use of this Interface may involve the entry of patient data, which may be subject to the Health Insurance Portability and Accountability Act of 1996 ("HIPAA"). Such data, if input, will not be received or utilized by AES, nor will the data be retained.

4. NO WARRANTIES
THE INTERFACE IS PROVIDED "AS-IS" WITHOUT ANY WARRANTY WHATSOEVER. LICENSEE ASSUMES ALL RISKS AND RESPONSIBILITIES FOR SELECTION OF THE INTERFACE TO ACHIEVE LICENSEES INTENDED RESULTS, FOR THE USE OF THE INTERFACE, AND FOR THE USE OF ANY RESULTS OBTAINED FROM THE INTERFACE.
TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, AND IN ALL STATES AND JURISDICTIONS WHERE SUCH DISCLAIMERS ARE PERMIITED BY LAW, AES EXPRESSLY DISCLAIMS ALL REPRESENTATIONS AND WARRANTIES REGARDING THE INTERFACE, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT.
AES EXPRESSLY DISCLAIMS ANY WARRANTY, EITHER EXPRESS OR IMPLIED, REGARDING SYSTEM AND/OR INTERFACE AVAILAEMLITY, ACCESSIBILITY, OR PERFORMANCE. BY ACCEPTING THESE TERMS, LICENSEE HEREBY ACKNOWLEDGES THAT, AT ANY GIVEN TIME, THE INTERFACE MAY NOT BE AVAILABLE OR MAY BECOME UNAVAILABLE DUE TO ONE OR MORE OF THE FOLLOWING: PERIODIC SYSTEM MAINTENANCE, TECHNICAL FAILURE OF THE INTERFACE, TELECOMMUNICATIONS INFRASTRUCTURE. OR DELAY OR DISRUPTION ATTRIBUTABLE TO VIRUSES. DENIAL OF SERVICE. INCREASED OR FLUCTUATING DEMAND, ACTS OR OMISSIONS OF THIRD PARTIES, ACTS OF GOD, OR ANY OTHER CAUSE REASONABLY BEYOND THE CONTROL OF AES.

5. LIMITATIONS ON LIABILITY.
LICENSEE HEREBY EXPRESSLY ASSUMES THE ENTIRE COST OF ANY DAMAGE RESULTING FROM LICENSEE'S USE OF THE INTERFACE AND THE INFORMATION CONTAINED IN OR COMPILED BY THE INTERFACE.
TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, AND IN ALL STATES AND JURISDICTIONS WHERE SUCH LIMITATIONS AND EXCLUSIONS ARE PERMITTED, IN NO EVENT WILL AES BE LIABLE FOR ANY DAMAGES WHATSOEVER (INCLUDING, WITHOUT LIMITATION, DIRECT, INDIRECT, SPECIAL, CONSEQUENTIAL, PUNITIVE OR INCIDENTAL DAMAGES) ARISING OUT OF THE USE OR INABILITY TO USE THE INTERFACE, EVEN IF AES HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. IN NO EVENT SHALL AES'S TOTAL LIABILITY TO LICENSEE FOR ALL DAMAGES IN ANY ONE OR MORE CAUSE OF ACTION, WHETHER IN CONTRACT, TORT OR OTHERWISE, EXCEED THE SUM OF $500.00.

6. ADDITIONAL PROVISIONS.
Upon acceptance of the terms of this Agreement by clicking "Accept" below, Licensee will be bound by the terms of this Agreement. This License Agreement cannot be modified except in writing signed by AES).
This Agreement shall be governed by and interpreted in accordance with the laws of the State of Delaware, without regard to any rules or principles regarding conflicts of laws or the United Nations Convention on Contracts for the Sale of Goods.
This Agreement may be terminated by AES at any time for a violation of its terms; any failure by AES to immediately address or enforce any aspect of this Agreement shall not be considered a general or continuing waiver of such right of termination. AES may discontinue the Interface and the availability of the Interface to Licensee and to others at any time, in AES's sole discretion.

                   &copy; 2015 Advanced Euclidean Solutions Inc.
            </textarea>

                <br>
                <div class="row" style="display: flex;justify-content: center;align-items: center;">
                    <div class="col-md-6" style="text-align: left;">
                        <md-checkbox style="margin-left: 20px;" ng-model="sign.agree" aria-label="I agree to the terms and conditions."
                                ng-true-value="'yup'" ng-false-value="'nope'" class="md-warn md-align-top-left" flex>
                            I agree to the terms and conditions.
                        </md-checkbox>
                    </div>
                    <div class="col-md-6" style="display: flex;justify-content: center;">
                        <div id="grecaptcha" class="g-recaptcha"></div>
                    </div>
                </div>

                <div class="form-group">

                    <div class="col-sm-6" style="text-align: center;">
                        <md-button class="md-raised md-primary my-btn" ng-click="sign.move('sign_in')">   <md-icon md-svg-src="assets/img/ic_exit_to_app_white_24px.svg"></md-icon> BACK TO Log In </md-button>
                    </div>
                    <div class="col-sm-6" style="text-align: center;">
                        <md-button ng-click="sign.up(myForm)" class="md-raised md-hue-1 my-btn"
                                   data-ng-class="grecaptcha && userData.usr_email == email_rep ? 'activeBtn' : 'disabledBtn'"
                                   ng-disabled="(myForm.$invalid && myFormRsubmitted )||( myFormRsubmitted && sign.agree == 'nope')">
                            <md-icon md-svg-src="assets/img/ic_create_white_24px.svg"></md-icon>  Sign up </md-button>
                    </div>
                </div>
            </md-content>
        </form>
    </div>
</div>

<div data-ng-hide="true" class="code-in" >
    <h2><b>THANK YOU!</b></h2>
    <h1 style="font-size: 16px;">Your request to sign up has been recieved</h1>
    <md-button class="md-raised md-warn " ng-click="sign.move('sign_in')"> OK</md-button>
</div>
