<style>

    .input-only-number > input {
        font-weight: bold;
    }

    .btn-eye {
        width: 5px;
        min-width: 55px;
        height: 55px;
        border-radius: 150px;
    }

    .sn {
        text-align: center;
    }

    .back-tables {
        background: white;
    }

    .input-tables {
        margin-bottom: 0;
    }

    .my-btn-set {
        font-size: 16px;
    }
</style>
<div class="contentCostum" id="calcCostum" data-ng-init="$parent.utils.fade()">
    <md-content class="level-1 tor" id="max-height-block">
        <div layout="row" layout-xs="column">
            <md-card flex>
                <md-content id="header-form">
                    <form name="useresForm" class="form-horizontal col-md-12" role="form" novalidate>
                        <div layout="row " class="input-back" layout-xs="column">
                            <md-card flex class="col-sm-4 ">
                                <md-content layout-padding="" class="level-3 header-field back-tables input-layout ">
                                    <div class="col-sm-12 center " style="padding: 0 5px!important;">
                                        <div class="col-sm-4">
                                            <md-input-container class="md-block   input-only-number">
                                                <input name="usrName" type="text" data-ng-trim="false"
                                                       placeholder="Surgeon"
                                                       ng-required="data.inputOD.calcsFormSubmitted || data.inputOS.calcsFormSubmitted"
                                                       data-ng-model="session.user.usr_name"
                                                       data-ng-change="utils.changeName(session.user,'usr_name');"
                                                       data-ng-disabled="!data.isInputing"
                                                       ng-maxlength="51" tabindex=1>

                                            </md-input-container>
                                        </div>
                                        <div class="col-sm-8">

                                            <div class="col-sm-12">
                                                <div class="col-sm-6">
                                                    <md-input-container class="md-block  input-only-number">
                                                        <input name="usrPtnName" type="text"
                                                               placeholder="Patient" autofocus="true"
                                                               data-ng-disabled="!data.isInputing"
                                                               data-ng-model="data.ptntName" ng-maxlength="50"
                                                               tabindex=2>
                                                    </md-input-container>
                                                </div>
                                                <div class="col-sm-6">
                                                    <md-input-container class="md-block input-only-number">
                                                        <input name="usrPtnID" type="text"
                                                               placeholder="Patient ID"
                                                               data-ng-disabled="!data.isInputing"
                                                               data-ng-model="data.ptntID" ng-maxlength="50" tabindex=3>
                                                    </md-input-container>
                                                </div>
                                            </div>
                                            <div class="col-sm-6" style="text-align: center"
                                                 data-ng-show="data.isInputing">

                                                <md-input-container class="md-block input-tables input-only-number"
                                                                    style="padding: 0; margin: 0;">

                                                    <md-select aria-label=" " ng-model="data.PersCons" tabindex=4>
                                                        <md-option ng-repeat="k in data.PersConstes" value="{{k}}">
                                                            {{k}}
                                                        </md-option>
                                                    </md-select>
                                                </md-input-container>
                                            </div>
                                            <div class="col-sm-6 md-tor" style="text-align: center">
                                                <input class="ng-hide" id="fileInput" multiple type="file"
                                                       accept="text/xml"/>
                                                <md-button class="md-raised md-primary" aria-label="IMPORT PATIENT"
                                                           ng-click="calc.upload()"
                                                           data-ng-hide="data.summary"
                                                           class="my-btn-set btn-text-calc">
                                                    <md-icon
                                                            md-svg-src="assets/img/ic_attach_file_black_24px.svg"></md-icon>
                                                    IMPORT PATIENT
                                                    <md-tooltip md-direction="Bottom"> Load a Lenstar or IOL Master
                                                        '.xml' patient file to import measurement data.
                                                    </md-tooltip>
                                                </md-button>
                                            </div>

                                        </div>

                                    </div>

                                </md-content>
                            </md-card>
                            <md-card flex class="col-sm-4 ">
                                <md-content class="level-3 header-field back-tables header-field"><p
                                        class="logo_text center " id="logo_text"
                                        data-ng-bind="data.label.web_header"
                                        data-ng-click="calc.version()"></p>
                                </md-content>
                            </md-card>
                            <md-card flex class="col-sm-4 ">
                                <md-content class="level-3 header-field back-tables header-field ">
                                    <section layout="row" layout-sm="column" layout-align="center center"
                                             class="center md-tor"
                                             layout-wrap style="padding-top: 2px;">
                                        <div class="col-sm-12">
                                            <div class="col-sm-6">
                                                <md-button class="md-raised md-primary col-sm-11"
                                                           ng-click="utils.move('settings')">
                                                    <md-icon
                                                            md-svg-src="assets/img/ic_settings_black_24px.svg"></md-icon>
                                                    Settings
                                                </md-button>
                                            </div>
                                            <div class="col-sm-6">
                                                <md-button class="md-raised md-primary col-sm-11"
                                                           ng-click="utils.logOut()">
                                                    <md-icon
                                                            md-svg-src="assets/img/ic_exit_to_app_black_24px.svg"></md-icon>
                                                    Log OUT
                                                </md-button>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">

                                            <div class="col-sm-6">

                                                <md-button class="md-raised md-primary col-sm-11"
                                                           style="padding-left: 25px;background-color: #EC1C1C!important;">

                                                    Post-LASIK Calculator
                                                    <md-tooltip md-direction="Bottom"> Coming soon!</md-tooltip>
                                                </md-button>
                                                <img src="assets/img/Pasted image at 2016_05_10 05_04 PM.png"
                                                     class="new-feature">
                                            </div>
                                            <div class="col-sm-6">
                                                <md-button class="md-raised md-primary col-sm-11"
                                                           ng-click="utils.move('home')">
                                                    <md-icon md-svg-src="assets/img/ic_home_black_24px.svg"></md-icon>
                                                    Home
                                                </md-button>
                                            </div>

                                        </div>
                                    </section>
                                </md-content>
                            </md-card>
                        </div>
                    </form>
                </md-content>
            </md-card>
        </div>
        <div layout="row" layout-xs="column">
            <md-card flex>
                <md-content>
                    <div layout="row " class="input-back" layout-xs="column">
                        <md-card flex flex-gt-xs="40">
                            <form name="calcsODForm" class="form-horizontal col-md-12 " role="form" novalidate
                                  style="min-height: 932px"
                                  autocomplete="off">

                                <div layout="row center" class="input-back" layout-xs="column">
                                    <md-content layout-padding="" class="level-3 back-tables input-layout col-sm-12"
                                                style="padding: 0">
                                        <div class="col-sm-12">
                                            <div>
                                                <div class="  col-sm-12 sn"><label class="labelC"
                                                                                   style="margin: 0">Eye</label></div>
                                                <div class="  col-sm-12">
                                                    <div class="col-sm-6 sn">
                                                        <div class="col-sm-12 sn">
                                                            <md-button class="groupX btn-eye" tabindex=5
                                                                       aria-label="Right (OD)"
                                                                       ng-class="{ 'active': data.eyeActive == 'Right (OD)'}"
                                                                       ng-click="calc.selectEye('Right (OD)')" id="OD">
                                                                <md-icon md-svg-src="assets/img/eye.svg"></md-icon>
                                                            </md-button>
                                                        </div>
                                                        <div class="col-sm-12 sn"><label>Right (OD)</label></div>
                                                    </div>
                                                    <div class="col-sm-6 sn">
                                                        <div class="col-sm-12 sn">
                                                            <md-button class="groupX btn-eye" tabindex=6
                                                                       aria-label="Left (OS)"
                                                                       ng-class="{ 'active': data.eyeActive == 'Left (OS)'}"
                                                                       ng-click="calc.selectEye('Left (OS)')">
                                                                <md-icon md-svg-src="assets/img/eye.svg"></md-icon>
                                                            </md-button>
                                                        </div>
                                                        <div class="col-sm-12 sn"><label>Left (OS)</label></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </md-content>
                                </div>

                                <md-content layout-padding="" class="level-3 back-tables input-layout body-card">
                                    <div class="col-sm-12" style="    min-height: 800px;">

                                        <div class="target  ">
                                            <div data-ng-hide="data.summary">
                                                <div>

                                                    <div class="dd-val">
                                                        <div class="form-group ">
                                                            <label mean-token="'create-srt_name'"
                                                                   class="col-md-7 control-label tor">IOL</label>

                                                            <div class="col-md-5">
                                                                <md-input-container
                                                                        class="md-block input-tables input-only-number"
                                                                        style="padding: 0; margin: 0;">

                                                                    <md-select aria-label=" " ng-model="data.inputIOL"
                                                                               tabindex=7>
                                                                        <md-option ng-repeat="k in data.IOL"
                                                                                   value="{{k}}">
                                                                            {{k}}
                                                                        </md-option>
                                                                    </md-select>
                                                                </md-input-container>
                                                            </div>
                                                        </div>
                                                        <div class="form-group ">
                                                            <label mean-token="'create-srt_name'"
                                                                   class="col-md-7 control-label tor">{{data._inpF.f.l}}</label>

                                                            <div class="col-md-5">
                                                                <md-input-container
                                                                        class="md-block input-tables input-only-number"
                                                                        style="padding: 0; margin: 0;">
                                                                    <md-select aria-label=" "
                                                                               ng-model="data.inputOD.KIndex"
                                                                               tabindex=8>
                                                                        <md-option ng-repeat="k in data.Kindexes"
                                                                                   value="{{k}}">
                                                                            {{k}}
                                                                        </md-option>
                                                                    </md-select>
                                                                </md-input-container>
                                                            </div>
                                                        </div>
                                                        <div data-ng-repeat="f in data.curFieldes"
                                                             class="form-group tor">
                                                            <label mean-token="'create-srt_name'"
                                                                   for="{{data._inpF[f].l}}OD"
                                                                   class="col-md-7 control-label">{{data._inpF[f].l}}</label>

                                                            <div class="col-md-5">
                                                                <input name="{{data._inpF[f].n}}"
                                                                       valid-number
                                                                       type="text"
                                                                       data-ng-model="data[data._inpF.r][data._inpF[f].n]"
                                                                       data-ng-trim="false"
                                                                       placeholder="{{data._inpF[f].l}}"
                                                                       data-ng-required="data[data._inpF.r][data._inpF[f].r]"
                                                                       data-ng-change="calc.onInput(data._inpF[f].n,calcsODForm)"
                                                                       min="{{data._intVl[f].min}}"
                                                                       max="{{data._intVl[f].max}}"
                                                                       class="input-succeces   input-only-number"
                                                                       id="{{data._inpF[f].l}}OD" tabindex=8+{{$index}}>

                                                                <div class="tooltipes-t">?
                                                                    <md-tooltip md-direction="Left">
                                                                        <p>
                                                                            {{data._inpF[f].l}} is between
                                                                            {{data._intVl[f].min}} and
                                                                            {{data._intVl[f].max}}
                                                                            <span data-ng-show="data[data._inpF.r][data._inpF[f].r]">and it`s required</span>
                                                                        </p>

                                                                    </md-tooltip>
                                                                </div>
                                                            </div>
                                                            <!--<span> required = {{data[data._inpF.r][data._inpF[f].r]}}</span>-->

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div data-ng-show="data.summary">
                                                <table class="table table-hover table-bordered">
                                                    <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr data-ng-repeat="f in data.curFieldes">
                                                        <td>{{data._inpF[f].l}}</td>
                                                        <td>{{data[data._inpF.r][data._inpF[f].n]}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </md-content>
                            </form>
                        </md-card>
                        <md-card flex class="col-md-8">
                            <form name="calcsOSForm" class="form-horizontal col-md-12" role="form" novalidate
                                  autocomplete="off">
                                <md-content layout-padding="" class="level-3 back-tables input-layout body-card">
                                    <div class="col-sm-12">
                                        <div class="target">

                                        </div>

                                        <div class="col-sm-12" layout="row center ">
                                            <div class="threejs threejs-tor" id="{{data.listOfGraph[2]}}">
                                                <div id="iolODData" class="iolData">
                                                    <table class="table table-hover iol-data">
                                                        <thead>
                                                        <tr>
                                                            <th><b>IOL (D)</b></th>
                                                            <th><b>REF (D)</b></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="iolRef in data.iolODRef">
                                                            <td ng-class="{'bol':iolRef.middle}">
                                                                <div ng-class="{ 'glyphicon glyphicon-star ': iolRef.middle}"></div>
                                                                &nbsp;{{ iolRef.iol }}&nbsp;
                                                                <div ng-class="{ 'glyphicon glyphicon-star ': iolRef.middle}"></div>
                                                            </td>
                                                            <td ng-class="{'bol':iolRef.middle}">{{iolRef.ref}}</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="info">Beta Testing Website - For Educational Purposes
                                                        Only
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="threejsPrint">
                                                <img alt="webgl is not support"/>
                                            </div>
                                        </div>
                                    </div>
                                </md-content>
                            </form>
                        </md-card>
                    </div>
                    <div layout="row " class="input-back" layout-xs="column">
                        <div class="col-md-12">
                            <section layout="row" layout-sm="column" layout-align="center center"
                                     layout-wrap class="md-tor">
                                <md-button aria-label="PLOT" id="plotf"
                                           data-ng-show="data.isInputing"
                                           data-ng-disabled="(calcsODForm.$invalid ) || useresForm.$invalid"
                                           class="md-raised md-primary my-btn-set btn-text-calc"
                                           ng-click="calc.plot([calcsODForm])">
                                    <md-icon md-svg-src="assets/img/ic_iso_black_24px.svg"></md-icon>
                                    <!--<md-tooltip md-direction="top"> PLOT</md-tooltip>-->PLOT
                                </md-button>
                                <md-button aria-label="Reset"
                                           data-ng-show="data.isInputing"
                                           data-ng-click="calc.reset(calcsODForm)"
                                           class="md-raised md-primary my-btn-set btn-text-calc">
                                    <md-icon md-svg-src="assets/img/ic_cached_black_24px.svg"></md-icon>
                                    <!--<md-tooltip md-direction="top"> Reset</md-tooltip>-->Reset
                                </md-button>

                                <md-button aria-label="Edit"
                                           data-ng-hide="data.isInputing"
                                           ng-click="calc.reset(calcsODForm,data.listOfGraph[2],false,true);"
                                           class="md-raised md-primary my-btn-set btn-text-calc">
                                    <md-icon md-svg-src="assets/img/ic_create_black_24px.svg"></md-icon>
                                    <!--<md-tooltip md-direction="top"> Edit</md-tooltip>-->Edit
                                </md-button>
                                <md-button aria-label="New Patient"
                                           data-ng-hide="data.isInputing"
                                           ng-click="calc.reset(calcsODForm,data.listOfGraph[2],'yeas')"
                                           class="md-raised md-primary my-btn-set btn-text-calc" id="reset-ptnt">
                                    <md-icon md-svg-src="assets/img/ic_create_black_24px.svg"></md-icon>
                                    <!--<md-tooltip md-direction="top"> New Patient</md-tooltip>-->New Patient
                                </md-button>
                                <md-button aria-label="PRINT"
                                           data-ng-hide="data.isInputing"
                                           ng-click="calc.print(data.listOfGraph[2])"
                                           class="md-raised md-primary my-btn-set btn-text-calc">
                                    <md-icon md-svg-src="assets/img/ic_print_black_24px.svg"></md-icon>
                                    <!--<md-tooltip md-direction="top"> PRINT</md-tooltip>-->PRINT
                                </md-button>
                            </section>
                        </div>
                    </div>
                </md-content>
            </md-card>
        </div>
    </md-content>
</div>

<div id="pdf-content">
    <div class="pdf-content">
        <table id="details" class="table table-bordered" style="    margin-top: 150px;">
            <tbody>
            <div class="header-info">
                <div style="padding-bottom: 50px;" data-ng-bind="data.label.web_header"></div>
                <tr>
                    <td>Surgeon</td>
                    <td>{{session.user.usr_name}}</td>
                </tr>
                <tr>
                    <td>Patient</td>
                    <td>{{data.ptntName}}</td>
                </tr>
                <tr>
                    <td>Patient ID</td>
                    <td>{{data.ptntID}}</td>
                </tr>

            </div>

            <div class="data-print">
                <tr style="height: 2500px;">
                    <td>
                        <div class="data-data" style="margin-top: -200px;">

                            <div class="data-input">
                                <!--<h1 class="pdf-h1">Right (OD)</h1>-->
                                <form name="calcForm" class="form-horizontal col-md-12 pdf-form" role="form" novalidate>

                                    <div class="form-group pdf-group">
                                        <label mean-token="'create-srt_name'" for="{{data.inputIOL}}OD_"
                                               class="col-md-8 control-label">{{data._inpF.f.l}}</label>

                                        <div class="col-md-4">
                                            <input name="K_index" type="number" class="form-control input-pdf"
                                                   data-ng-model="data.inputIOL" id="{{data.inputIOL}}OD_">
                                        </div>
                                    </div>
                                    <div class="form-group pdf-group">
                                        <label mean-token="'create-srt_name'" for="{{data._inpF.f.l}}OD_"
                                               class="col-md-8 control-label">{{data._inpF.f.l}}</label>

                                        <div class="col-md-4">
                                            <input name="K_index" type="number" class="form-control input-pdf"
                                                   data-ng-model="data[data._inpF.r][data._inpF.f.n]"
                                                   id="{{data._inpF.f.l}}OD_">
                                        </div>
                                    </div>

                                    <div data-ng-repeat="f in data.curFieldes" class="form-group pdf-group">
                                        <label mean-token="'create-srt_name'" for="{{data._inpF[f].l}}OD_"
                                               class="col-md-8 control-label">{{data._inpF[f].l}}</label>

                                        <div class="col-md-4">
                                            <input name="{{data._inpF[f].n}}"
                                                   type="text" data-ng-model="data[data._inpF.r][data._inpF[f].n]"
                                                   id="{{data._inpF[f].l}}OD_"
                                                   class="form-control input-pdf">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            </br>
                            <div class="data-output">

                                <table class="table table-hover table-pdf" style=" text-align: center;margin: auto;">
                                    <thead>
                                    <tr>
                                        <th><b>IOL (D)</b></th>
                                        <th><b>REF (D)</b></th>
                                    </tr>
                                    </thead>
                                    <tbody id="elDrop">
                                    <tr ng-repeat="iolRef in data.iolODRef ">
                                        <td ng-class="{'bol':iolRef.middle}" class="td-pdf">
                                            <div ng-class="{ 'glyphicon glyphicon-star ': iolRef.middle}"></div>
                                            {{ iolRef.iol }}
                                            <div ng-class="{ 'glyphicon glyphicon-star ': iolRef.middle}"></div>
                                        </td>
                                        <td ng-class="{'bol':iolRef.middle}" class="td-pdf">{{iolRef.ref}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </td>
                    <td>
                        <div class="image-con-tor"><img class="" id="threejsODOutput" alt="Webgl is not support"/></div>
                    </td>
                </tr>


            </div>
            </tbody>
        </table>

        <div class="footer-notes">
            <label for="notes">Surgeon Notes</label>
                       <textarea class="form-control _notes" rows="18" disabled="true" id="notes">
                           </textarea>
        </div>
    </div>
</div>



