<div class="viewCustom">
    <div id="scsCanvas" style="font-family: Abel ; background: rgb(177, 204, 248);;">

        <div id="octBlock_605450" class="scsBlock scsAlign_center" data-id="30">
            <style type="text/css" class="scsBlockStyle">/*base block setting*/
            #octBlock_605450 {
            }

            .navigation-item {

            }

            .navigation-item div {
                display: inline;
                font-size: 32px;
            }

            /*overlay*/
            #octBlock_605450 .scsCoverOverlay {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: #000533;
                opacity: 1;
            }

            /*align*/
            #octBlock_605450.scsAlign_center .scsContent {
                text-align: center;
            }

            #octBlock_605450.scsAlign_left .scsContent {
                text-align: left;
            }

            #octBlock_605450.scsAlign_right .scsContent {
                text-align: right
            }

            /*main styles*/
            #octBlock_605450 .scsContent {
                padding-top: 25px;
                padding-bottom: 25px;
            }</style>
            <div class="scsBlockContent" style="background: rgb(0, 5, 51);">
                <div class="scsCoverOverlay" style="opacity: 1; background-color: rgb(0, 5, 51);
    z-index: -1;"></div>
                <div class="container scsContent">
                    <div class="scsEl scsElImg scsElWithArea" data-el="img" data-type="img">
                        <div class="scsElArea"><img src="assets/img/Original-300x225 (1).png"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="octBlock_516425" class="scsBlock scsAlign_center" data-id="52">
            <style type="text/css" class="scsBlockStyle">/*base block setting*/
            #octBlock_516425 {
            }

            /*overlay*/
            #octBlock_516425 .scsCoverOverlay {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: #aa6666;
                opacity: 0.5;
                display: none;
            }

            /*align*/
            #octBlock_516425.scsAlign_center .scsContent {
                text-align: center;
            }

            #octBlock_516425.scsAlign_left .scsContent {
                text-align: left;
            }

            #octBlock_516425.scsAlign_right .scsContent {
                text-align: right
            }

            /*ignore p margin*/
            #octBlock_516425 p {
                margin: 0;
            }

            /*main styles*/
            #octBlock_516425 .scsMainText {
                padding: 80px 0;
            }

            .my-list, .my-list ul {
                text-align: left;
                font-size: 18px;
                color: #000533;
            }

            .my-list li ul {
                margin-left: 40px;
            }

            #octBlock_516425 .scsSemiTransparentLine {
                width: 100%;
                height: 8px;
                background-color: rgba(0, 0, 0, 0.2);
            }</style>
            <div class="scsBlockContent">
                <div class="scsCoverOverlay"
                     style="opacity: 1; display: none; background-color: rgb(170, 102, 102);"></div>
                <div class="scsSemiTransparentLine"></div>
                <div class="container scsContent">
                    <div class="scsEl scsMainText" data-el="txt"><p><span
                            style="color: #000533; font-size: 72pt; line-height: 96px;"
                            data-mce-style="color: #000533; font-size: 72pt; line-height: 96px;">IOL<span
                            style="font-size: 64pt;" data-mce-style="font-size: 64pt;">CALC</span></span><br></p>

                        <p><span style="font-size: 18pt;" data-mce-style="font-size: 18pt;"><strong><span
                                style="color: #000533;" data-mce-style="color: #000533;"><span
                                style="line-height: 96px;" data-mce-style="line-height: 96px;">Become a beta-tester today...</span></span></strong><strong><span
                                style="color: #000533;" data-mce-style="color: #000533;"><span
                                style="line-height: 96px;"
                                data-mce-style="line-height: 96px;"><br></span></span></strong></span></p>
                        <p style="font-size: 32px;font-weight: 900;"> Introducing </p>
                        <p class="title-p1"> LADAS SUPER FORMULA AI </p>
                        <div class="iolcalc">
                            <div class="iolcalc"
                                 style="width: 211px; margin: auto; box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1); background-color: #ffffff;"
                                 data-mce-style="width: 211px; margin: auto; box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1); background-color: #ffffff;">
                                <div style="color: white;background-color: rgb(0, 5, 51);padding: 10px;"
                                     data-mce-style="color: red;"><p>LADAS SUPER FORMULA AI</p></div>
                                <a class="waves-effect waves-dark btn white"
                                   style="font-size:18px;color: #5068c2; height: 48px; width: 100%; margin: 0; padding: 0; outline: none!important; vertical-align: middle; display: table-cell; /* margin: auto; */    /* text-align: center; */    /* margin-left: 20px; */    width: 100vw;"
                                   href="iolcalc/sign_in" data-mce-href="iolcalc/sign_in"
                                   data-mce-style="color: #5068c2; height: 48px; width: 100%; margin: 0; padding: 0; outline: none!important; vertical-align: middle; display: table-cell; /* margin: auto; */    /* text-align: center; */    /* margin-left: 20px; */    width: 100vw;">
                                    START</a></div>
                        </div>

                        <div class="navigation-item">
                            <div><a href="/"><b>Recent Updates</b></a> |</div>
                            <div><a href="/more"> Learn More</a> |</div>
                            <div><a href="/press"> In the Press</a></div>
                        </div>


                        <ul class="my-list">
                            <li>Improved the original Ladas Super Formula (LSF) using two major studies of more than
                                4000 eyes.
                            </li>
                            <li>Introduced artificial intelligence (AI) to improve performance and harness the power of
                                machine learning.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="octBlock_40908" class="scsBlock scsAlign_center" data-id="33">
            <style type="text/css" class="scsBlockStyle">/*base block setting*/
            #octBlock_40908 {
            }

            /*overlay*/
            #octBlock_40908 .scsContent {
                background-color: rgba(177, 204, 248, 1);
            }

            /*align*/
            #octBlock_40908.scsAlign_center .scsContent {
                text-align: center;
            }

            #octBlock_40908.scsAlign_left .scsContent {
                text-align: left;
            }

            #octBlock_40908.scsAlign_right .scsContent {
                text-align: right
            }

            /*ignore p margin*/
            #octBlock_40908 p {
                margin: 0;
            }

            /*links settings*/
            #octBlock_40908 a,
            #octBlock_40908 a:hover {
                color: #000;
            }

            #octBlock_40908 a {
                text-decoration: underline;
            }

            #octBlock_40908 a:hover {
                text-decoration: none;
            }

            /*main styles*/
            #octBlock_40908 .scsMainText {
                padding: 0 0 50px 0;
            }</style>
            <div class="scsBlockContent">
                <div class="container scsContent" style="background-color: rgb(177, 204, 248);">
                    <div class="scsEl scsMainText" data-el="txt"><p><strong><span
                            style="color: #000533; font-size: 24pt;" data-mce-style="color: #000533; font-size: 24pt;">&nbsp;L A D A S &nbsp;| &nbsp;S I D D I Q U I &nbsp;| &nbsp;D E V G A N &nbsp;| &nbsp;J U N</span></strong>
                    </p>

                        <p><br></p>

                        <p><span style="font-size: 14pt; color: rgb(0, 5, 51);"
                                 data-mce-style="font-size: 14pt; color: #000533;">Stay tuned!</span></p></div>
                </div>
            </div>
        </div>
        <div id="octBlock_156142" class="scsBlock scsAlign_center" data-id="34">
            <style type="text/css" class="scsBlockStyle">/*base block setting*/
            #octBlock_156142 {
            }

            #octBlock_156142 .scsContent {
                padding: 30px 0;
            }

            /*overlay*/
            #octBlock_156142 .scsCoverOverlay {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: #b1ccf8;
                opacity: 1;
            }

            /*align*/
            #octBlock_156142.scsAlign_center .scsContent {
                text-align: center;
            }

            #octBlock_156142.scsAlign_left .scsContent {
                text-align: left;
            }

            #octBlock_156142.scsAlign_right .scsContent {
                text-align: right
            }

            /*ignore p margin*/
            #octBlock_156142 p {
                margin: 0;
            }

            /*subscribe form styles*/
            #octBlock_156142 .scsFormShell {
                padding-top: 10px;
            }

            #octBlock_156142 .scsFormShell .scsElInput,
            #octBlock_156142 .scsFormShell .scsInputShell {
                padding: 0;
                width: 100%;
            }

            #octBlock_156142 .scsFormFieldsShell,
            #octBlock_156142 .scsFormSubmitBtnShell {
                padding: 0;
            }

            #octBlock_156142 .scsFormInput {
                width: 100%;
                height: 50px;
                line-height: 25px;
                margin: 0;
                padding: 0 20px;
                color: #444;
                border: none;
                font-size: 18px;
            }

            #octBlock_156142 .scsFormInput[type="submit"] {
                color: #fff;
                background-color: #000;
                transition: all 300ms ease-in-out 0s;
            }

            #octBlock_156142 .scsFormInput[type="submit"]:hover,
            #octBlock_156142 .scsFormInput[type="submit"]:focus {
                opacity: 0.8;
            }

            /*social icons*/
            #octBlock_156142 .scsSocIconsShell {
                padding-top: 10px;
            }

            #octBlock_156142 .scsSocIconsShell .scsIcon:not(:last-of-type) {
                margin: 0 5px 0 0;
            }

            /*main styles*/</style>
            <div class="scsBlockContent">
                <div class="scsCoverOverlay"
                     style="opacity: 1; display: block;    z-index: -1; background-color: rgb(177, 204, 248);"></div>
                <div class="container scsContent">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="scsEl" data-el="txt"><p><span style="color: #000533;"
                                                                      data-mce-style="color: #000533;"><strong><span
                                    style="font-size: 12pt;"
                                    data-mce-style="font-size: 12pt;">GET OUR NEWS...</span></strong></span></p>

                                <p><span style="font-size: 12pt; color: #000533;"
                                         data-mce-style="font-size: 12pt; color: #000533;"> Enter your email to get&nbsp;our&nbsp;latest news</span>
                                </p></div>
                            <div class="scsFormShell ui-sortable">
                                <!--sub_form_start_open-->
                                <form class="scsSubscribeForm scsSubscribeForm_mailchimp" action="http://iolcalc.com/"
                                      method="post"><!--sub_form_start_close-->
                                    <div class="row">
                                        <div class="scsFormFieldsShell col-sm-9">
                                            <div class="scsEl scsElInput" data-el="input">
                                                <div class="scsInputShell">
                                                    <input type="email" name="email" placeholder="E-mail"
                                                           class="scsFormInput" required="1"></div>
                                            </div>
                                        </div>
                                        <div class="scsFormSubmitBtnShell col-sm-3">
                                            <div class="scsEl scsElInput scsElInputBtn" data-el="input_btn">
                                                <div class="scsInputShell">
                                                    <input type="submit" name="" value="SEND" class="scsFormInput">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--sub_form_end_open--><input type="hidden" name="mod" value="subscribe"><input
                                            type="hidden" name="action" value="subscribe"><input type="hidden" name="id"
                                                                                                 value="34"><input
                                            type="hidden" name="_wpnonce" value="40bc919419">

                                    <div class="scsSubMsg"></div>
                                </form>
                                <!--sub_form_end_close-->
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="scsEl" data-el="txt"><p><span style="color: #000533;"
                                                                      data-mce-style="color: #000533;"><strong><span
                                    style="font-size: 12pt;"
                                    data-mce-style="font-size: 12pt;">GET IN TOUCH WITH US...</span></strong></span></p>

                                <p><br></p>

                                <p><span style="font-size: 12pt; color: #000533;"
                                         data-mce-style="font-size: 12pt; color: #000533;">Drop us a line at:&nbsp;<a
                                        href="iolcalc.com"
                                        data-mce-href="iolcalc.com"><strong>admin@iolcalc.com</strong></a></span></p>

                                <p><br></p></div>
                            <div class="scsSocIconsShell">
                                <div class="scsIcon scsEl scsElInput" data-el="icon" data-type="icon"
                                     data-color="rgb(0, 5, 51)" data-icon="fa-facebook-square">

                                    <a class="scsLink" title=""><i class="fa fa-4x fa-facebook-square scsInputShell"
                                                                   style="color: rgb(0, 5, 51);"></i></a></div>
                                <div class="scsIcon scsEl scsElInput" data-el="icon" data-type="icon"
                                     data-color="rgb(0, 5, 51)" data-icon="fa-twitter-square">

                                    <a class="scsLink" title=""><i class="fa fa-4x fa-twitter-square scsInputShell"
                                                                   style="color: rgb(0, 5, 51);"></i></a></div>
                                <div class="scsIcon scsEl scsElInput" data-el="icon" data-type="icon"
                                     data-color="rgb(0, 5, 51)" data-icon="fa-pinterest-square">
                                    <i class="fa fa-4x fa-pinterest-square scsInputShell"
                                       style="color: rgb(0, 5, 51);"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="octBlock_921323" class="scsBlock scsAlign_left" data-id="35">
            <style type="text/css" class="scsBlockStyle">/*base block setting*/
            #octBlock_921323 {
            }

            /*align*/
            #octBlock_921323.scsAlign_center .scsContent {
                text-align: center;
            }

            #octBlock_921323.scsAlign_center .scsFootText,
            #octBlock_921323.scsAlign_center .scsFootImg {
                margin: 0 auto;
            }

            #octBlock_921323.scsAlign_left .scsContent {
                text-align: left;
            }

            #octBlock_921323.scsAlign_left .scsFootText,
            #octBlock_921323.scsAlign_left .scsFootImg {
                float: left;
            }

            #octBlock_921323.scsAlign_right .scsContent {
                text-align: right
            }

            #octBlock_921323.scsAlign_right .scsFootText,
            #octBlock_921323.scsAlign_right .scsFootImg {
                float: right;
            }

            /*align*/
            #octBlock_921323.scsAlign_center .scsContent {
                text-align: center;
            }

            #octBlock_921323.scsAlign_left .scsContent {
                text-align: left;
            }

            #octBlock_921323.scsAlign_right .scsContent {
                text-align: right
            }

            /*ignore p margin*/
            #octBlock_921323 p {
                margin: 0;
            }

            /*links style*/
            #octBlock_921323 a,
            #octBlock_921323 a:hover {
                color: #000;
            }

            /*main styles*/
            #octBlock_921323 .scsFootLine {
                width: 100%;
                height: 60px;
            }

            #octBlock_921323 .scsFootText {
                padding: 5px;
            }

            #octBlock_921323 .scsFootText,
            #octBlock_921323 .scsFootImg {
                display: block;
            }</style>
            <div class="scsBlockContent">
                <div class="container scsContent">
                    <div class="scsEl scsElImg scsElWithArea scsFootImg" data-el="img" data-type="img">
                        <div class="scsElArea"><img src="assets/img/asdf.png"></div>
                    </div>
                    <div class="scsFootText">
                        <div class="scsEl" data-el="txt"><p><span style="color: #000533;"
                                                                  data-mce-style="color: #000533;">Copyright <strong>ADVANCED
                            EUCLIDEAN SOLUTIONS</strong>© 2015 <strong>iolcalc.com</strong></span></p>

                            <p><span style="color: #000533;" data-mce-style="color: #000533;">All rights reserved</span>
                            </p></div>
                    </div>
                </div>
                <div class="scsFootLine" style="background-color: rgb(0, 5, 51);"></div>
            </div>
        </div>
        <link class="scsFont" rel="stylesheet" type="text/css" href="">
    </div>
</div>