<style>
    /*
        .input-only-number > input {
            font-weight: bold;
        }

        .btn-eye {
            width: 5px;
            min-width: 55px;
            height: 55px;
            border-radius: 150px;
        }

        .sn {
            text-align: center;
        }

        .back-tables {
            background: white;
        }

        .input-tables {
            margin-bottom: 0;
        }

        .my-btn-set {
            font-size: 16px;
        }*/
    .calc-content .las-card-inp {
        height: calc(100vh - 108px);
        min-height: 755px;
    }
    .calc-content .post-results .threejsPrnt{
        height: calc(100vh - 475px);
        min-height: 400px;
    }


</style>

<div class="calc-content" id="home-scroll" oncontextmenu="return false;">

    <div class="header-main">
        <div class="col-sm-6 h-logo"><p class="tor-list-menu" data-ng-bind="data.label.web_header"
                                        data-ng-click="utils.version()"></p></div>
        <div class="col-sm-6 h-menu">

            <div class="col-sm-3 tor-link">
                <div class="tor-list-menu "><img
                        src="assets/img/toric/toric_new.png" class="new-feature"> <span
                        class="post-tor">Toric Calculator
                 </span></div>
                <md-tooltip md-direction="Left">Coming Soon!</md-tooltip>
            </div>
            <div class="col-sm-3 tor-link">
                <div class="tor-list-menu " ><img
                        src="assets/img/toric/post_new_.png" class="new-feature"> <span
                        class="lad-post">Post-LASIK Calculator</span></div>
                <md-tooltip md-direction="Left">Coming Soon!</md-tooltip>
            </div>
            <div class="col-sm-3">
                <div class="tor-list-menu" ng-click="utils.move('settings')">
                    <md-icon md-svg-src="assets/img/ic_settings_black_24px.svg"></md-icon>
                    Settings
                </div>
            </div>
            <div class="col-sm-3">
                <div class="tor-list-menu" ng-click="utils.logOut()">
                    <md-icon md-svg-src="assets/img/ic_exit_to_app_black_24px.svg"></md-icon>
                    Log out
                </div>
            </div>
        </div>
    </div>

    <md-content class="md-padding">
        <div layout="row" layout-xs="column">

            <md-content onselectstart="return false" flex flex-gt-xs="15" class="noselect post-user-cntrl ">
                <div layout="row" layout-xs="column">
                    <md-card flex flex-gt-xs="100">
                        <div class=" lad-client-info">

                            <md-input-container class="md-block input-tables input-only-number">
                                <input name="usrName" type="text"   data-ng-trim="false"
                                       placeholder="Surgeon"
                                       ng-required="true"
                                       data-ng-model="session.user.usr_name"
                                       data-ng-change="utils.changeName(session.user,'usr_name');"
                                       data-ng-disabled="!data.isInputing"
                                       ng-maxlength="51" tabindex=1 class="noselect fs-anim-lower col-sm-12">
                            </md-input-container>
                            <md-input-container class="md-block input-tables input-only-number">
                                <input name="usrPtnName"
                                       type="text"
                                       data-ng-trim="false"
                                       placeholder="Patient"
                                       data-ng-disabled="!data.isInputing"
                                       data-ng-model="data.ptntName"
                                       ng-maxlength="50" tabindex=2 class="noselect fs-anim-lower col-sm-12"/>
                            </md-input-container>
                            <md-input-container class="md-block input-tables input-only-number">
                                <input name="usrPtnID"
                                       type="text"
                                       data-ng-trim="false"
                                       placeholder="Patient ID"
                                       data-ng-disabled="!data.isInputing"
                                       data-ng-model="data.ptntID"
                                       ng-maxlength="50" tabindex=3 class="noselect fs-anim-lower col-sm-12"/>
                            </md-input-container>

                        </div>
                        <div class="col-sm-12 lad-imortant"
                             data-ng-hide="data.summary">
                            <div class="lad-imp-cont">
                                <xml-load></xml-load>
                            </div>
                        </div>
                    </md-card>
                </div>
                <div layout="row" layout-xs="column">
                    <div class="col-sm-12 lad-calc-btn">
                        <div data-ng-hide="data.summary">
                            <div class="col-sm-12">
                                <md-button class="md-fab  col-sm-8" aria-label="PLOT" id="plotf"
                                           ng-click="calc.plot($parent.data.listOfGraph[0])" >
                                    <md-icon md-svg-src="assets/img/ic_iso_black_24px.svg"></md-icon>
                                </md-button>
                                <span class="col-sm-4">Plot</span>
                            </div>
                            <div class="col-sm-12">
                                <md-button class="md-fab col-sm-8" aria-label="Reset"
                                           ng-click="calc.reset(data[data._inpF.rF],$parent.data.listOfGraph[0])">
                                    <md-icon md-svg-src="assets/img/ic_cached_black_24px.svg"></md-icon>
                                </md-button>
                                <span class="col-sm-4"> Reset</span>
                            </div>
                        </div>
                        <div data-ng-show="data.summary">
                            <div class="col-sm-12">
                                <md-button class="md-fab  col-sm-8" aria-label="Edit"
                                           ng-click="calc.reset(data[data._inpF.rF],$parent.data.listOfGraph[0],false,true)">
                                    <md-icon md-svg-src="assets/img/ic_create_black_24px.svg"></md-icon>
                                </md-button>
                                <span class="col-sm-4">Edit</span>
                            </div>
                            <div class="col-sm-12">
                                <md-button class="md-fab  col-sm-8" aria-label="New Patient"
                                           ng-click="calc.reset(data[data._inpF.rF],$parent.data.listOfGraph[0],'yeas')">
                                    <md-icon md-svg-src="assets/img/ic_add_white_24px.svg"></md-icon>
                                </md-button>
                                <span class="col-sm-4">New Patient</span>
                            </div>
                            <div class="col-sm-12">
                                <md-button class="md-fab  col-sm-8" aria-label="PRINT"
                                           ng-click="calc.print($parent.data.listOfGraph[0])">
                                    <md-icon md-svg-src="assets/img/ic_print_black_24px.svg"></md-icon>
                                </md-button>
                                <span class="col-sm-4">Print</span>
                            </div>
                        </div>
                    </div>
                </div>
            </md-content>



            <md-card class="las-card-inp" data-ng-repeat="card in data.cards" flex flex-gt-xs="45"  >
                <div class="no-copy" oncontextmenu="return false;"  data-ng-show="data.summary"></div>
                <p data-ng-bind="card.eye"></p>

                <div class="col-sm-12 post-inp" data-ng-hide="data.summary">
                        <div class="vert-line"></div>
                        <div class="target">
                            <form name="{{card.formName}}" role="form" novalidate autocomplete="off">
                                <div data-ng-init="data[card.formName] = this[card.formName]">

                                    <div data-ng-repeat="inp in data.inpDts">
                                        <div class="full-relative-width"><h4 style="font-weight: 900;">{{inp.head}}</h4></div>
                                        <div class="dd-val">
                                            <div data-ng-repeat="f in inp.list" class="form-group">
                                                <label mean-token="'create-srt_name'"
                                                       for="{{data._inpF[f]}}{{card.formName}}"
                                                       class="col-md-7 control-label">{{data._inpF[f]}}:</label>

                                                <div class="col-md-5">
                                                    <input name="{{data._inpF[f]}}"
                                                           data-ng-hide="f == 'f'"
                                                           valid-number
                                                           type="text"
                                                           data-ng-model="data[card.outPut][data._inpF[f]]"
                                                           data-ng-trim="false"
                                                           placeholder="{{data._inpF[f]}}"
                                                           data-ng-required="data[card.outPut][data._intVl[f].r]"
                                                           data-ng-change="calc.onInput(data._inpF[f],card.formName==data._inpF.rF)"
                                                           min="{{data._intVl[f].min}}"
                                                           max="{{data._intVl[f].max}}"
                                                           class="col-sm-11 input-only-number"
                                                           id="{{data._inpF[f]}}{{card.formName}}"
                                                           tabindex=4+{{$index}}>

                                                    <md-input-container data-ng-show="f == 'f'"
                                                                        class="col-sm-12 md-block input-tables input-only-number"
                                                                        style="padding: 0; margin: 0;">

                                                        <md-select aria-label="{{data._inpF.f}}"
                                                                   ng-model="data[card.outPut][data._inpF[f]]"
                                                                   tabindex=4+{{$index}}>
                                                            <md-option ng-repeat="k in data.Kindexes"
                                                                       value="{{k}}">
                                                                {{k}}
                                                            </md-option>
                                                        </md-select>
                                                    </md-input-container>

                                                    <div class="tooltipes-t col-sm-1" data-ng-hide="f == 'f'">?
                                                        <md-tooltip md-direction="Left"><p>
                                                            {{data._inpF[f]}} is between
                                                            {{data._intVl[f].min}} and
                                                            {{data._intVl[f].max}}
                                                        </p></md-tooltip>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>

                </div>
                <div  onselectstart="return false" class="col-sm-12 post-results noselect" data-ng-show="data.summary">
                    <table class="las-data-output">
                        <tbody>
                        <tr class="las-iol-ref-tr" >
                            <td class="las-iol-ref-inp">
                                <table class="iol-inputes iol-data " id="{{card.outData}}input">
                                    <tbody>
                                    <tr data-ng-repeat="f in data.curFieldes">
                                        <td>{{data._inpF[f]}}</td>
                                        <td>{{data[card.outPut][data._inpF[f]]}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td class="las-iol-ref" >
                                <div id="{{card.outData}}" class="iolData">
                                    <table class="iol-data">
                                        <thead>
                                        <tr>
                                            <th><b>IOL (D)</b></th>
                                            <th><b>REF (D)</b></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="iolRef in data[card.outValues]">
                                            <td ng-class="{'bol':iolRef.middle}">
                                                <div ng-class="{ 'glyphicon glyphicon-star ': iolRef.middle}"></div>
                                                <span>{{ iolRef.iol }}</span>
                                                <div ng-class="{ 'glyphicon glyphicon-star ': iolRef.middle}"></div>
                                            </td>
                                            <td ng-class="{'bol':iolRef.middle}"><span>{{iolRef.ref}}</span></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!--<div class="info">Beta Testing Website - For Educational Purposes
                                        Only
                                    </div>-->
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                        <div class="row">
                            <div class="col-sm-12 threejsPrnt" layout="row center  ">
                                <div class="threejs" id="{{card.listPrint}}"  >
                                    <div class="post-data-divable" id="{{card.listPrint}}NOT">No data entered.</div>
                                    <three-js-out></three-js-out>
                                </div>

                                <div class="threejsPrint">
                                    <img alt="webgl is not support"/>
                                </div>

                            </div>
                        </div>
                    </div>
            </md-card>



        </div>
    </md-content>
</div>


<div id="pdf-content">
    <div class="pdf-content">
        <table id="details" class="table table-bordered" style="    margin-top: 100px;">
            <tbody>
            <div class="header-info">
                <div style="padding-bottom: 50px;" data-ng-bind="data.label.web_header"></div>
                <tr>
                    <td>Surgeon</td>
                    <td>{{session.user.usr_name}}</td>
                </tr>
                <tr>
                    <td>Patient</td>
                    <td>{{data.ptntName}}</td>
                </tr>
                <tr>
                    <td>Patient ID</td>
                    <td>{{data.ptntID}}</td>
                </tr>

            </div>

            <div class="data-print">
                <tr style="height: 2500px;">
                    <td style="border-right: 5px solid black;max-width: 1367px;">
                        <div class="data-data">

                            <div class="data-input">
                                <h1 class="pdf-h1">Right (OD)</h1>

                                <form name="calcForm" class="form-horizontal full-relative-width pdf-form" role="form"
                                      novalidate>

                                    <div data-ng-repeat="fld in data.curFieldes" class="form-group pdf-group">
                                        <label mean-token="'create-srt_name'" for="{{data._inpF[fld]}}OD_"
                                               class="col-md-8 control-label">{{data._inpF[fld]}}</label>

                                        <div class="col-md-4">
                                            <input name="{{data._inpF[fld]}}" type="text"
                                                   class="form-control input-pdf"
                                                   data-ng-model="data[data._inpF.r][data._inpF[fld]]"
                                                   id="{{data._inpF[fld]}}OD_">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            </br>
                            <div class="data-output" id="{{$parent.data.listOfGraph[0]}}tablepdf">
                                <div class="image-con"><img class="threejsOutput" id="{{$parent.data.listOfGraph[0]}}pdf"
                                                            alt="Webgl is not support"/></div>
                                <table class="table table-hover table-pdf" style=" text-align: center;margin: auto;" >
                                    <thead>
                                    <tr>
                                        <th><b>IOL (D)</b></th>
                                        <th><b>REF (D)</b></th>
                                    </tr>
                                    </thead>
                                    <tbody id="elDrop">
                                    <tr ng-repeat="iolRef in data.iolODRef ">
                                        <td ng-class="{'bol':iolRef.middle}" class="td-pdf">
                                            <div ng-class="{ 'glyphicon glyphicon-star ': iolRef.middle}"></div>
                                           <span>{{ iolRef.iol }}</span>
                                            <div ng-class="{ 'glyphicon glyphicon-star ': iolRef.middle}"></div>
                                        </td>
                                        <td ng-class="{'bol':iolRef.middle}" class="td-pdf"><span>{{iolRef.ref}}</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </td>
                    <td style="max-width: 1367px;">

                        <div class="data-data" style="float: right">

                            <div class="data-input">
                                <h1 class="pdf-h1">Left (OS)</h1>

                                <form name="calcForm" class="form-horizontal full-relative-width pdf-form" role="form"
                                      novalidate>

                                    <div data-ng-repeat="fld in data.curFieldes" class="form-group pdf-group">
                                        <label mean-token="'create-srt_name'" for="{{data._inpF[fld]}}OS_"
                                               class="col-md-8 control-label">{{data._inpF[fld]}}</label>

                                        <div class="col-md-4">
                                            <input name="{{data._inpF[fld]}}" type="text"
                                                   class="form-control input-pdf"
                                                   data-ng-model="data[data._inpF.l][data._inpF[fld]]"
                                                   id="{{data._inpF[fld]}}OS_">
                                        </div>
                                    </div>

                                    <!-- <div class="form-group pdf-group" >
                                         <label mean-token="'create-srt_name'" for="axialLength__"
                                                class="col-md-8 control-label">{{data.label.axialLength}}</label>

                                         <div class="col-md-4">
                                             <input name="axialLength" type="text" class="form-control input-pdf"
                                                    data-ng-model="data.inputOS.axialLength" id="axialLength__"  >
                                         </div>
                                     </div>
                                     <div class="form-group pdf-group" >
                                         <label mean-token="'create-srt_name'" for="K1__"
                                                class="col-md-8 control-label">K1</label>

                                         <div class="col-md-4">
                                             <input name="K1" type="text" class="form-control input-pdf"
                                                    data-ng-model="data.inputOS.K1" id="K1__" required step="0.01">
                                         </div>
                                     </div>
                                     <div class="form-group pdf-group" >
                                         <label mean-token="'create-srt_name'" for="K2__"
                                                class="col-md-8 control-label">K2</label>

                                         <div class="col-md-4">
                                             <input name="K2" type="text" class="form-control input-pdf"
                                                    data-ng-model="data.inputOS.K2" id="K2__" required step="0.01">
                                         </div>
                                     </div>
                                     <div class="form-group pdf-group" >
                                         <label mean-token="'create-srt_name'" for="ACD__" class="col-md-8 control-label">{{data.label.ACD}}</label>

                                         <div class="col-md-4">
                                             <input name="ACD" type="text" class="form-control input-pdf"
                                                    data-ng-model="data.inputOS.ACD" id="ACD__"  >
                                         </div>
                                     </div>
                                     <div class="form-group pdf-group" >
                                         <label mean-token="'create-srt_name'" for="A__"
                                                class="col-md-8 control-label">{{data.label.A}}</label>

                                         <div class="col-md-4">
                                             <input name="A_" type="text" class="form-control input-pdf"
                                                    data-ng-model="data.inputOS.AConstant" id="A__"  >
                                         </div>
                                     </div>
                                     <div class="form-group pdf-group" >
                                         <label mean-token="'create-srt_name'" for="Rfrctn__"
                                                class="col-md-8 control-label">{{data.label.Rfrctn}}</label>

                                         <div class="col-md-4">
                                             <input name="Rfrctn_" type="text" class="form-control input-pdf"
                                                    data-ng-model="data.inputOS.Rfrctn" id="Rfrctn__"  >
                                         </div>
                                     </div>
                                     <div class="form-group pdf-group" >
                                         <label mean-token="'create-srt_name'"
                                                class="col-md-8 control-label">{{data.label.KIndex}}</label>

                                         <div class="col-md-4">
                                             <input name="K_index" type="text" class="form-control input-pdf"
                                                    data-ng-model="data.inputOS.KIndex" id="K__index"  >
                                         </div>
                                     </div>-->
                                </form>
                            </div>
                            </br>

                            </br>
                            <div class="data-output" id="{{$parent.data.listOfGraph[1]}}tablepdf">
                                <div class="image-con" style="margin-top:-280px;"><img class="threejsOutput_" id="{{$parent.data.listOfGraph[1]}}pdf"
                                                            alt="Webgl is not support"/></div>
                                <table class="table table-hover table-pdf" style=" text-align: center;margin: auto;" >
                                    <thead>
                                    <tr>
                                        <th><b>IOL (D)</b></th>
                                        <th><b>REF (D)</b></th>
                                    </tr>
                                    </thead>
                                    <tbody id="el_Drop">
                                    <tr ng-repeat="iolRef in data.iolOSRef ">
                                        <td ng-class="{'bol':iolRef.middle}" class="td-pdf">
                                            <div ng-class="{ 'glyphicon glyphicon-star ': iolRef.middle}"></div>
                                            <span>{{ iolRef.iol }}</span>
                                            <div ng-class="{ 'glyphicon glyphicon-star ': iolRef.middle}"></div>
                                        </td>
                                        <td ng-class="{'bol':iolRef.middle}" class="td-pdf"><span>{{iolRef.ref}}</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </td>
                </tr>


            </div>
            </tbody>
        </table>

        <div class="footer-notes">
            <label for="notes">Surgeon Notes</label>
                       <textarea class="form-control _notes" rows="18" disabled="true" id="notes">
                           </textarea>
        </div>
    </div>
</div>
<!--<div id="pdf-content"  >
    <div class="pdf-content">
        <table id="details" class="table table-bordered" style="    margin-top: 100px;">
            <tbody class="pdf-data-print ">
            <div class="header-info">
                <div style="padding-bottom: 50px;" data-ng-bind="data.label.web_header"></div>
                <tr>
                    <td>Surgeon</td>
                    <td>{{session.user.usr_name}}</td>
                </tr>
                <tr>
                    <td>Patient</td>
                    <td>{{data.ptntName}}</td>
                </tr>
                <tr>
                    <td>Patient ID</td>
                    <td>{{data.ptntID}}</td>
                </tr>

            </div>

            <div class="data-print ">
                <tr >
                    <td data-ng-repeat="card in data.cards">
                        <div class="data-data">
                            <div class="data-input">
                                <h1 class="pdf-h1" data-ng-bind="card.eye"></h1>
                                <form name="{{card.formName}}" class="form-horizontal full-relative-width pdf-form" role="form"
                                      novalidate>

                                    <div data-ng-repeat="fld in data.curFieldes" class="form-group pdf-group">
                                        <label mean-token="'create-srt_name'" for="{{data._inpF[fld]}}{{card.formName}}"
                                               class="col-md-8 control-label">{{data._inpF[fld]}}</label>

                                        <div class="col-md-4">
                                            <input name="{{data._inpF[fld]}}" type="text"
                                                   class="form-control input-pdf"
                                                   data-ng-model="data[card.outPut][data._inpF[fld]]"
                                                   id="{{data._inpF[fld]}}{{card.formName}}">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            </br>
                            <div class="data-output" id="{{card.listPrint}}tablepdf">
                                <div class="image-con"><img class="threejsOutput" id="{{card.listPrint}}pdf"
                                                            alt="Webgl is not support"/></div>
                                <table class="table table-hover table-pdf"  >
                                    <thead>
                                    <tr>
                                        <th><b>IOL (D)</b></th>
                                        <th><b>REF (D)</b></th>
                                    </tr>
                                    </thead>
                                    <tbody id="elDrop">
                                    <tr ng-repeat="iolRef in data[card.outValues] ">
                                        <td ng-class="{'bol':iolRef.middle}" class="td-pdf">
                                            <div ng-class="{ 'glyphicon glyphicon-star ': iolRef.middle}"></div>
                                            {{ iolRef.iol }}
                                            <div ng-class="{ 'glyphicon glyphicon-star ': iolRef.middle}"></div>
                                        </td>
                                        <td ng-class="{'bol':iolRef.middle}" class="td-pdf">{{iolRef.ref}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </td>
                </tr>
            </div>
            </tbody>
        </table>

        <div class="footer-notes">
            <label for="notes">Surgeon Notes</label>
                       <textarea class="form-control _notes" rows="18" disabled="true" id="notes">
                           </textarea>
        </div>
    </div>
</div>-->



