.table-pdf>tbody>tr>td, .table-pdf>tbody>tr>th, .table-pdf>tfoot>tr>td, .table-pdf>tfoot>tr>th, .table-pdf>thead>tr>td, .table-pdf>thead>tr>th,
.col-md-4 > .input-pdf,
.header-info>.table-bordered>tbody>tr>td, .header-info>.table-bordered>tbody>tr>th, .header-info>.table-bordered>tfoot>tr>td, .header-info>.table-bordered>tfoot>tr>th,
.header-info>.table-bordered>thead>tr>td, .header-info>.table-bordered>thead>tr>th,
#notes
{
    border: 3px solid #000000!important;
}
.pdf-form{
    border-right:  3px solid #000000!important;
    border-bottom: 3px solid #000000!important;
}
@media print {
   /* .pdf-content {
        left: 0 !important;
        top: 0 !important;
    }

    .col-md-4 > .input-pdf {
        width: 30%;
        float: right;
    }

    .col-md-8 {
        float: left;
        width: 69%;
    }

    .cont, #calcCostum,
    .preloader-text-animate,
    .preloader-text,
    .contvd, #backSubmit,
    #inTurnBlurringTextG,
    .pdf-content{
        display: none;
    }
    .pdf-ie-content{
        display: block!important;
    }


    body {
        background-color: rgba(255, 255, 255, 0);
        overflow: hidden;
    }
*/

        .cont, #calcCostum,
        .preloader-text-animate,
        .preloader-text,
        .contvd, #backSubmit,
        #inTurnBlurringTextG,
        .container_main,
        .contentCostum {
            display: none;
            visibility: hidden;
        }
        body {
            background-color: rgba(255, 255, 255, 0);
            overflow: hidden;
        }

        .contvd {
            z-index: 100;
            display: block;
        }
}
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}
