.full_rel{
    position: relative;
    width: 100%;
    height: 100%;
}
.full_abs{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0
}

.ggkj {
    color: honeydew;
}
.transition(@transition) {
    -webkit-transition: @transition;
    -o-transition: @transition;
    transition: @transition;
}
.centerX{
    transform: translateX(-50%);
    left:50%;
}
.centerY{
    transform: translateY(-50%);
    top:50%;
}
.center{
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
}