.full_rel {
  position: relative;
  width: 100%;
  height: 100%;
}
.full_abs {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.ggkj {
  color: honeydew;
}
.centerX {
  transform: translateX(-50%);
  left: 50%;
}
.centerY {
  transform: translateY(-50%);
  top: 50%;
}
.center {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.close {
  color: gray;
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
  position: absolute;
  right: 10px;
  z-index: 16;
}
.dark-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 112;
  background: rgba(0, 0, 0, 0.35);
}
.sign-up,
#signIn,
.forgot-psw {
  z-index: 113;
}
.tor-back {
  background-color: #26a19a;
}
.tor-border {
  border: 5px solid rgba(38, 161, 154, 0.15);
}
.tor-color {
  color: #26a19a;
}
.post-back {
  background-color: #3f51b5;
}
.post-border {
  border: 5px solid rgba(63, 81, 181, 0.15);
}
.post-color {
  color: #3f51b5;
}
.lad-back {
  background-color: #3598db;
}
.lad-border {
  border: 5px solid rgba(53, 152, 219, 0.15);
}
.lad-color {
  color: #3598db;
}
.header {
  position: fixed;
  clear: both;
  width: 100%;
  padding: 25px 20px;
  z-index: 10;
  background-color: #5068c2;
  max-height: 100px;
}
.header .menu-wrap {
  position: relative;
  z-index: 11;
  width: 50%;
  text-align: center;
  margin: auto;
}
.header .menu-wrap .main-menu {
  margin-left: 105px;
}
.header .menu-wrap li {
  display: inline-block;
  line-height: 22px;
  padding: 10px;
  color: #a6a6a6;
}
.header .menu-wrap li a {
  color: #f2f2f2;
}
.header .menu-wrap li:last-child {
  float: right;
}
.header .menu-wrap li:hover {
  background-color: rgba(255, 255, 255, 0.15);
  cursor: pointer;
  font-size: 18px;
  font-weight: 900;
}
.header .menu-wrap li:hover a {
  color: white;
}
body {
  background-color: #fff;
}
* {
  margin: 0;
  padding: 0;
}
a:focus {
  color: #989898!important;
}
.sign-up {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  overflow-y: auto!important;
  padding: 5px 25px;
  min-width: 580px;
  width: 60%;
  text-align: center;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}
.sign-up md-content {
  background: #fff;
}
/*----------PARALLAX---------*/
/* Parallax base styles
 --------------------------------------------- */
.main-container {
  /* Debugger styles - used to show the effect
  --------------------------------------------- */
  /* demo styles
  --------------------------------------------- */
  /* centre the content in the parallax layers */
  /* style the groups
  --------------------------------------------- */
  /* misc
  --------------------------------------------- */
}
.main-container .parallax {
  height: 500px;
  /* fallback for older browsers */
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
}
.main-container .parallax__group {
  position: relative;
  height: 70vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  margin-bottom: 110px;
}
.main-container .parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.main-container .circe-cont {
  margin-bottom: 210vh;
}
.main-container .circe-cont .parallax__layer--base {
  margin-top: 30vh;
  height: 20vh;
}
.main-container .parallax__layer--fore {
  -webkit-transform: translateZ(90px) scale(0.7);
  -moz-transform: translateZ(90px) scale(0.7);
  transform: translateZ(90px) scale(0.7);
  -ms-transform: translateZ(0px) scale(1);
  z-index: 1;
}
.main-container .parallax__layer--base {
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4;
}
.main-container .parallax__layer--back {
  -webkit-transform: translateZ(-300px) scale(2);
  -moz-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
  -ms-transform: translateZ(0px) scale(1);
  z-index: 3;
}
.main-container .parallax__layer--deep {
  -webkit-transform: translateZ(-600px) scale(3);
  -moz-transform: translateZ(-600px) scale(3);
  transform: translateZ(-600px) scale(3);
  -ms-transform: translateZ(0px) scale(1);
  z-index: 2;
  margin-top: 165vh;
}
.main-container .debug {
  position: fixed;
  top: 0;
  left: .5em;
  z-index: 999;
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  padding: .5em;
  border-radius: 0 0 5px 5px;
}
.main-container .debug-on .parallax__group {
  -webkit-transform: translate3d(800px, 0, -800px) rotateY(30deg);
  transform: translate3d(700px, 0, -800px) rotateY(30deg);
}
.main-container .debug-on .parallax__layer {
  box-shadow: 0 0 0 2px #000;
  opacity: 0.9;
}
.main-container .parallax__group {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.main-container .parallax {
  font-size: 200%;
}
.main-container .title {
  padding: 0;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  height: inherit;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.main-container .title .content {
  text-align: center;
  color: white;
}
.main-container .title .content .dft-btn,
.main-container .title .content .dft-s-btn {
  border-radius: 0px;
  padding: 5px 40px;
  font-weight: 900;
}
.main-container .title .content .dft-s-btn {
  background-color: #5068c2;
  color: white;
}
.main-container .title .content .dft-btn,
.main-container .title .content .dft-s-btn {
  color: #5068c2;
  background-color: white;
}
.main-container .title .content .dft-btn[disabled],
.main-container .title .content .dft-s-btn[disabled] {
  background-color: rgba(205, 205, 205, 0.9) !important;
  color: gray;
}
.main-container .title .content .circle-back-op {
  width: 570px;
  position: relative;
  height: 570px;
  margin: auto;
  border-radius: 285px;
  text-align: center;
}
.main-container .title .content .circle-back-op .circle-back {
  width: 530px;
  height: 530px;
  margin: auto;
  border-radius: 265px;
}
.main-container .title .content .circle-back-op .circle-back img {
  width: 780px !important;
}
.main-container .title .content .title-calc-info h2 {
  text-transform: uppercase;
}
.main-container .title .content .title-calc-info .title-calc-body {
  color: black;
  text-align: justify;
  padding: 20px 10px;
  font-weight: 100;
  font-size: 14px;
}
.main-container .title .content .row {
  margin: 15px 0;
  text-align: left;
}
.main-container .title .content .cacl-list {
  text-align: center;
}
.main-container .title .content .cacl-list .clc {
  margin: auto;
  text-align: left;
  padding: 10px;
  text-transform: uppercase;
  min-height: 30vh;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-weight: 400;
}
.main-container .title .content .cacl-list .clc p {
  padding: 10px;
}
.main-container .title .content .cacl-list button {
  margin: 0;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
}
.main-container .title .input-error {
  border-bottom: 1px solid red!important;
}
.main-container #group1,
.main-container #group-about {
  z-index: 5;
  /* slide over group 2 */
}
.main-container #group1 .parallax__layer--base,
.main-container #group1 .parallax__layer--fore {
  background-image: url('../img/home/calcs.png');
  background-color: #5068c2;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 50%;
}
.main-container #group-about .parallax__layer--back .grad img {
  width: 70%;
  top: 43%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.main-container #group-about .parallax__layer--base .content {
  margin-top: 5%;
}
.main-container #group-about .parallax__layer--base .about-info {
  background: #fff;
  color: #333;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
  padding: 50px ;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  min-height: 370px;
}
.main-container #group-about .parallax__layer--base .about-info p {
  text-align: center;
  margin: 0;
  margin-top: 10px;
}
.main-container #group-about .parallax__layer--base img {
  margin-top: -20%;
}
.main-container #group-about .parallax__layer--base .cont {
  width: 360px;
  margin: auto;
}
.main-container #group-about .parallax__layer--base .cont label {
  margin-top: 10px;
}
.main-container #group-about .parallax__layer--base .cont input {
  border-style: none none solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
}
.main-container .partens p {
  color: #333;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
}
.main-container .partens .parallax__layer--deep {
  margin: 0;
}
.main-container .partens .parallax__layer--deep img {
  margin: 10px 90px;
  width: 120px;
}
.main-container #group2 {
  z-index: 3;
  /* slide under groups 1 and 3 */
}
.main-container #group2 .parallax__layer--back {
  background: #7bd266;
}
.main-container #group3 {
  z-index: 4;
  /* slide over group 2 and 4 */
}
.main-container .parallax__layer--base {
  background: rgba(255, 255, 255, 0);
}
.main-container .parallax__layer--fore {
  background: #f2f2f2;
}
.main-container #group4 {
  z-index: 2;
  /* slide under group 3 and 5 */
}
.main-container #group4 .parallax__layer--deep {
  background: #b8df65;
}
.main-container #group5 {
  z-index: 3;
  /* slide over group 4 and 6 */
}
.main-container #group5 .parallax__layer--base {
  background: #d6e564;
}
.main-container #group6 {
  z-index: 2;
  /* slide under group 5 and 7 */
}
.main-container #group6 .parallax__layer--back {
  background: #f5eb64;
}
.main-container #group7 {
  z-index: 4;
  /* slide over group 7 */
  height: 180px;
  margin: 0;
}
.main-container #group7 .parallax__layer--base {
  background-color: #212121;
  color: #fdfdfd;
}
.main-container .demo__info {
  position: absolute;
  z-index: 100;
  bottom: 1vh;
  top: auto;
  font-size: 80%;
  text-align: center;
  width: 100%;
}
/*--------animations-----*/
.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}
.animate-enter,
.animate-leave {
  -webkit-transition: 2000ms cubic-bezier(0.42, 0, 1, 1) all;
  -moz-transition: 2000ms cubic-bezier(0.42, 0, 1, 1) all;
  -ms-transition: 2000ms cubic-bezier(0.42, 0, 1, 1) all;
  -o-transition: 2000ms cubic-bezier(0.42, 0, 1, 1) all;
  transition: 2000ms cubic-bezier(0.42, 0, 1, 1) all;
}
.animate-enter {
  left: 100%;
}
.animate-enter.animate-enter-active {
  left: 0;
}
.animate-leave {
  left: 0;
}
.animate-leave.animate-leave-active {
  left: -100%;
}
.footer div {
  text-align: left;
  padding: 0 15px !important;
}
.footer .tails__link {
  color: white;
}
.footer .list-parent {
  text-align: center;
  border-left: 1px solid #303030;
  border-right: 1px solid #303030;
}
.footer .footer-desc h2 {
  font-size: 16px;
  letter-spacing: 3px;
}
.footer .footer-desc p {
  color: #999;
  line-height: 18px;
}
.footer .footer-contact a {
  font-size: 14px;
}
.footer .footer-contact h2 {
  text-transform: uppercase;
  font-size: 14px;
}
.footer .-list-menu {
  width: 50%;
  list-style: none;
  padding: 20px 10px;
  text-align: left;
  margin: auto;
}
.footer .-list-menu li {
  padding: 5px 0;
}
.footer .-list-menu li a {
  color: white;
}
.footer .-list-menu li a:hover {
  font-weight: 900;
}
/*-------------SLIDER--------*/
.slide-container {
  /*width: 800px;*/
  /*height: 400px;*/
  /*padding: 20px;*/
  /*border: 1px solid gray;*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*background: black;*/
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  margin-top: 20px;
  min-height: 135px;
}
.slider_wrapper {
  overflow: hidden;
  position: relative;
  /*height: 280px;*/
  top: auto;
  /*position: absolute;*/
  /*width: 100%;*/
  height: 100%;
  /*top:0;*/
  /*left:0;*/
}
#image_slider {
  position: relative;
  /*height: auto;*/
  list-style: none;
  overflow: hidden;
  float: left;
  /*Chrom default padding for ul is 40px */
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
}
#image_slider li {
  position: relative;
  float: left;
  height: 100%;
  padding: 10px;
  overflow-y: scroll;
}
li > img,
li > iframe {
  width: 100vw;
  height: 100%;
}
.nvgt {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 150px;
  width: 30px;
  opacity: 0.6;
}
.nvgt:hover {
  opacity: 1;
  cursor: pointer;
}
#prev {
  left: 0px;
}
#next {
  right: 0px;
}
#pager {
  padding: 10px 0;
  height: 50px;
  margin: auto;
  /* margin-top: 10px; */
  bottom: 0;
  font-weight: 900;
  width: 490px;
}
#pager li {
  padding: 0px;
  margin: 15px;
  /*color: white;*/
  list-style: none;
  opacity: 0.6;
  float: left;
  cursor: pointer;
  text-transform: uppercase;
}
#pager li.activeLi {
  color: white;
  opacity: 1;
  text-decoration: underline;
}
#pager li:hover {
  opacity: 1;
  text-decoration: underline;
}
.bod {
  position: absolute;
  width: 100%;
  top: 100%;
}
.arrow-bottom {
  background: url("../img/home/arrows.png") no-repeat center;
  left: 50%;
  width: 20px;
  height: 20px;
  top: 50vh;
  position: absolute;
  cursor: pointer;
}
.dft-btn,
.dft-s-btn {
  border-radius: 0px!important;
  padding: 5px 40px!important;
  font-weight: 900!important;
  box-shadow: 0 3px 20px rgba(45, 45, 45, 0.07);
}
.dft-s-btn {
  background-color: #5068c2 !important;
  color: white!important;
}
.dft-btn {
  color: #5068c2 !important;
  background-color: white!important;
}
.dft-s-btn[disabled],
.dft-btn[disabled] {
  background-color: rgba(205, 205, 205, 0.9) !important;
  color: gray!important;
}
.version-cont {
  max-width: 960px;
  margin: 0;
}
.version-cont p {
  margin: 0;
}
.version-cont .lad-color {
  padding-bottom: 15px;
  border-bottom: 1px solid whitesmoke;
  text-transform: uppercase;
  font-weight: 900;
}
.version-cont .vers-head {
  font-weight: 500;
  text-transform: uppercase;
  padding: 12px 0;
}
.version-cont .vers-desc {
  margin: 0;
  color: #999;
  font-weight: 300;
  line-height: 22px;
  text-align: justify;
  padding: 0 50px;
}
.version-cont .vers-list p {
  text-align: left;
}