

    @media print {
        .container_main,
        .contentCostum {
            display: none;
            visibility: hidden;
        }
        .contvd {
            z-index: 100;
            display: block;
        }

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            .pdf-content{
                left:0!important;
                top:0!important;
            }
            .col-md-4 > .input-pdf{
                width:30%;
                float:right;
            }
            .col-md-8{
                float:left;
                width:69%;
            }
            .cont,#calcCostum,
            .preloader-text-animate,
            .preloader-text,
            .contvd,#backSubmit,
            #inTurnBlurringTextG{
                display: none;
            }

            body{
                background-color: rgba(255, 255, 255, 0);
                overflow: hidden;
            }
    }
}


