@import "variables";
@import "functions";
@import "tor-calc";
@import "ladas-calc";
@import "post-calc";
@import "table";



body{
    font-family: 'Open Sans', sans-serif!important;
    //scrollbar-face-color: @tor-primary-text;
    //scrollbar-shadow-color: #2D2C4D;
    //scrollbar-highlight-color:#7D7E94;
    //scrollbar-3dlight-color: #7D7E94;
    //scrollbar-darkshadow-color: #2D2C4D;
    //scrollbar-track-color: #7D7E94;
    //scrollbar-arrow-color: #C1C1D1;
    color: @tor-primary-text;
}
.md-tooltip, md-tooltip{
    z-index: 100000000000000000000000!important;
}
._md-select-menu-container,.md-dialog-container{
    z-index: 100000000000000000000001!important;
}
.tor-inputs, .post-inp {
    ::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.49);
        font-size: 13px;
    }
    ::-moz-placeholder {
        color: rgba(255, 255, 255, 0.49);
        font-size: 13px;
    }
    /* Firefox 19+ */
    :-moz-placeholder {
        color: rgba(255, 255, 255, 0.49);
        font-size: 13px;
    }
    /* Firefox 18- */
    :-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.49);
        font-size: 13px;
    }
    input.address:-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.49);
        font-size: 13px;
    }
}

::-webkit-scrollbar {
    height: 6px;
    width: 2px;
}
::-webkit-scrollbar-track {
    background-color:rgba(74, 74, 74, 0.2);
    /*border-right: 1px solid @tor-primary-text;*/
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
::-webkit-scrollbar-thumb  {
    background-color: #ffffff;
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    vertical-align: middle!important;
    width: 25%;
}
.col-sm-3 >label{
//    padding: 15px;
//    border-radius: 5px;
//    background-color: #E6DEDF;
}
.col-sm-3{
    text-align: center;
}
.vertical-align {
    display: flex;
    align-items: center;
}
/*.header,.slide-tabs{
    background-color: @nice-blue;
}*/
.logo{
    position: relative;
    width: 82px;
}
.threejs,.title,.value{
    .full_rel();
    margin: auto;
font-weight: 900;
}


.back-tables>.col-sm-12>.threejsPrnt{
     left: 50%;
     transform: translateX(-50%);
}
.threejs{
    width: 100%;
}
 three-js-out{
    position: absolute;
    width: 100%;
    height: 100%;
     min-width: 450px;
     min-height: 400px;
    top: 0;
    left: 0;
}
.level-1.post{
    background: @post-back;
}
.post-calc>div>div>.md-button.md-primary.md-raised,
.fs-controls>.md-button.md-primary.md-raised,
.post-clc-btn>.md-button.md-primary.md-raised
,.fs-progress,.fs-nav-dots button:hover::before, .fs-nav-dots button.fs-dot-current::before{
    background-color:@post-btns!important ;
}
.post-cur-inf{
    padding: 10px 15px;
    div{
        p{
            border-bottom: 1px gray solid;
            margin-bottom: 25px;
        }
        p.activInf{
            font-weight: 900;
            border-bottom: 2px black solid;
        }
        .avialable:hover{
            cursor: pointer;
            border-bottom: 2px #3838c7 solid;
            color: #3838c7;
        }
    }
}

.error-info{
    position: relative;
}


.title,.value{
    text-align: center;
    padding: 15px;
}
.level-1{
    background: @home-blue ;
    color: white;
}

.level-2{
    background-color: #D4D4D4;
}
 .level-3{
     background-color: #f0f0f0;
 }
.value{
    color:#58B300;
    font-weight: bold;
}
.md-tabs .md-tab.md-active{
color:rgb(255, 255, 255)!important;
}
.md-tabs.md-default-theme .md-tab, .md-tabs .md-tab{
    color: rgba(0, 0, 0, 1)!important;
}
.md-input-container .md-errors-spacer{
    min-height: 0px!important;
}
.groupX {
    margin: 6px 0px!important;
    width: 49.5%;
    color: rgb(49, 46, 46);
    background-color: @tor-divide-col!important;
    text-transform: none;
    padding: 15px;
    font-weight: 400;
    min-width: 100px;
}

.logo_text{
    text-align: center;
    line-height: 36px;
    font-size: 35px;
    padding-top: 5px;
}
.logo_text :focus{
    outline: none!important;
}
:focus {
    outline: -webkit-focus-ring-color auto 0px!important;
}
.col-sm-12,.col-sm-6,.col-sm-4,.col-sm-3 ,.col-sm-2{
    padding: 0!important;
}
.table.table-results{
    width:80%!important;
}
.input-layout{
    padding: 2px 5px;
}
.input-only-number{
//    -webkit-box-shadow: inset 0 0 0 50px #fff;
//    -webkit-text-fill-color: #000;
    margin-bottom: 0;
    width: 100%;
    font-weight: 900;
    //padding: 0;
    //margin: 0;

}
._md-select-value > span:not(._md-select-icon) ._md-text{
    padding-left: 12px;
}
.input-tables >input{
    //-webkit-box-shadow: inset -12px 112px 26px -114px rgba(0,0,0,0.55)!important;;
    //-moz-box-shadow: inset -12px 112px 26px -114px rgba(0,0,0,0.55)!important;;
    //box-shadow: inset -12px 112px 26px -114px rgba(0,0,0,0.55)!important;
}
._md-select-menu-container._md-active md-select-menu > *{
    overflow: auto!important;
}

md-select.md-default-theme ._md-select-value, md-select ._md-select-value,
md-select:not([disabled]):focus ._md-select-value{
    padding: 7px 0!important;
    font-size: 14px!important;;
    font-weight: 900!important;
}



input {outline: none;}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important; /* Цвет фона */
    -webkit-text-fill-color: #999 !important; /* цвет текста */
    color: #999 !important; /* цвет текста */
}
md-input-container label:not(.md-no-float):not(._md-container-ignore), md-input-container ._md-placeholder{
    padding-left: 10px!important;
    margin-bottom: -3px!important;
}
.tooltipes-t{
    //position: absolute;
    //right: 10px;
    background: rgba(255, 255, 255, 0);
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    //border: 1px solid #8989D8;
    border-radius: 11px;
    width: 22px;
    height: 22px;
    //font-weight: 900;
    z-index: 10;
    color:white;
}


.input-only-number>.md-errors-spacer{
    min-height: 0px!important;
}
.dd-val{
    width: 95%  ;
    float: right;
}
.input-only-number-calc{
    margin: 18px 0 0 0!important;


}
.new-feature{
    position: absolute;
    //margin: -45px auto;
    height: 45px!important;
    padding: 2px;
    width: 40px;
    z-index: 1;
    top:0;
}
.md-button.left {
    border-radius: 15px 0 0 15px;
    float: left;
}

.md-button.right {
    border-radius: 0 10px 10px 0;
    float: right;
}

.md-button:not([disabled]):hover {
    background-color: rgba(193, 193, 193, 0.96);
    color: rgba(44, 65, 164, 0.96);
    transition: 0.3s;
}
.header-field{
    min-height: 120px!important;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
    background-color:rgba(1,1,1,0)!important;
}
.iolData{
    display: none;
    //position: absolute;
    //right:0;
    width: 100%;
    //top: 50px;
    overflow: auto;
    min-width: 170px;
}

.toolltip{
    min-width: 125px;
    width: 20%;
    text-align: center;
    float: right;
//    z-index: 2;
    position: absolute;
    right:0;
    background: #ffffff;
    padding: 5px;
    border: 1px solid  #007F00;
    border-radius: 5px;
}
.left-input{
    float: left;
}
.right-input{
    float: right;
}
.right-input, .left-input{
    max-width: 49%;
    width: 49%;
}
.toolltip img{
    width: 22px;
    float:left;
}
.toolltip span{
    font-weight: 900;
}
.infoLogo{
    text-align: center;
    font-size: 35px;
    width: 100%;
    height:116px;
}
.infoLogo img{
    position: relative;
    width:250px;
}

.info{
    padding: 10px;
    text-align: center;

}
.preloader,.contentCostum,main{
    position: absolute;
    width: 100%;
    height: 100%;
}
md-content,.sign-up{
    overflow:hidden!important;
}
.preloader{
    z-index: 100;
    background-color: #ffffff;
    background-image: url("../img/preloader.gif");
    background-position: center center;
    background-repeat: no-repeat;
}
.pdf-form{

    padding-bottom: 80px;
}
.pdf-h1{
    font-size: 78px;
    margin-top: 600px;
    padding-bottom: 80px;
    text-align: center;
}
.input-back{
    background: #e7e7e7;
}
md-radio-button ._md-container{
    text-align: center;
    left: inherit!important;
}
.inp-post-rig{
    width: 48%!important;
    float: right;
    margin-top: -32px;
}

.fs-fields>li>input{

}
.inp-post-left{
    width: 48%!important;
}
.ful-w{
    width: 100%!important;
}
.inp-hide{
    display: none!important;
}

.fs-fields > li > md-input-container > md-select > ._md-select-value > span:not(._md-select-icon){
    font-size: 3.0em!important;
    height: 1em;
    padding: 5px 0 !important;

}
a.tooltipes {
    position: relative;
    display: inline;
}

a.tooltipes span {
    position: absolute;
    width:140px;
    color: #FFFFFF;
    text-shadow: 0px 1px 0px #808080;
    background: @tor-primary-text;
    height: 30px;
    line-height: 30px;
    text-align: center;
    visibility: hidden;
    border-radius: 8px;
    box-shadow: 0px 4px 4px #030000;
}
a.tooltipes span:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0; height: 0;
    border-bottom: 8px solid @tor-primary-text;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
a:hover.tooltipes span {
    visibility: visible;
    opacity: 0.8;
    top: 30px;
    left: 50%;
    margin-left: -76px;
    z-index: 999;
}


#signIn,.forgot-psw{
    min-width: 460px;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    background: rgba(255,255,255,1);
    padding: 5px 15px;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
    background-color: rgb(250,250,250);
}
.threejsPrint{
    display: none;
    z-index: 1;
    .full_abs();
}
.threejsPrint_{
    .full_rel();
}
.threejsPrint>img,.threejsPrint_>img{
    position: relative;
    width: 100%;
}
.userAccept{
    .full_abs();
}
.content{
    margin: AUTO;
    width: 650px;
    position: relative;
    top: 25.25%; //calc((55%)/2);
}
.row{
    text-align: center;
}
.toolltipInfo{
    padding: 0!important;
    height: 38px;
}
.toolltipInfo > .flex{
    margin: 0!important;
}
input,.value{
    font-size: 14px!important;
}

.labelC{
    color: rgba(0,0,0,0.54)
}
.eye{
    padding-top: 47px!important;
}
.full-relative-width{
    width: 100%;
}
.input-back>.col-sm-4:nth-child(2) {
    margin: 8px 0!important;
}
.input-back>.col-md-6:nth-child(1) {
    margin: 8px 0 8px 8px!important;
}
.btn-clc>div>div>button{
    margin: 0 4px 7px 4px!important;
}
.btn-clc>div:nth-child(1)>div:nth-child(1)>.md-button{
    float:right;
    margin-right: 5px!important;
}
.btn-clc>div:nth-child(1)>div:nth-child(2)>.md-button{
    float:left;
    margin-left: 5px!important;
}
.level-1>div:nth-child(1)>md-card:nth-child(1){
    margin-bottom: 0px!important;
}
.header-field>section>div:nth-child(1)>div:nth-child(1)>button{
    left: 2.9%!important;;
}
.header-field>section>div:nth-child(2)>div:nth-child(1){
    left: 1.4%!important;;
}

.btn-clc{
    margin: 0!important;
}
.control-label{
    width: 100%;
    padding: 10px;
    text-align: center!important;
    font-weight: 100!important;
}
.control-label,.labelC, .toolltip span,.groupX,.title,{
    font-size: 18px!important;
}
md-dialog._md-transition-in{
    z-index: 100000000000000000000000000;
}
.info{
    font-size: 9px!important;
}
 .control-label{
    background-color: #0076C3;
    color: white;
}
.form-control{
    border-radius:0px!important;
    text-align: center;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    padding-left:0px!important;
    padding-right:0px!important;
}
.scrollToTop,.scrollToDown{
    width:50px;
    height:50px;
    //padding:10px;
    text-align:center;
    background: whiteSmoke;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position:absolute;
    bottom: 0px;
    right:40px;
    display:none;
    background: url('../../assets/img/to-top.png') no-repeat 0px 0px;
    background-size: contain;
    z-index: 2;
}

.scrollToDown{
    transform: rotate(180deg);
}
.scrollToTop:hover,.scrollToDown:hover,{
    text-decoration:none;
}
.btn-full{

    font-size: 28px!important;
    padding: 5px!important;
}

.form-horizontal .form-group{
    margin: 0!important;
}
input[type="number"],input{
    padding: 0!important;
    padding-left: 12px!important;
    height: 42px!important;
    font-weight: 900;
}
a.md-button.md-default-theme.md-primary.md-raised,
a.md-button.md-primary.md-raised,
a.md-button.md-default-theme.md-primary.md-fab,
a.md-button.md-primary.md-fab,
.md-button.md-default-theme.md-primary.md-raised,
.md-button.md-default-theme.md-primary.md-fab,
.md-button.md-primary.md-fab{
    background-color: @home-btn-blue!important;
}
.active{
    background-color: @tor-green!important;
    color: @tor-white!important;
}
.my-btn,.my-btn-b{
    background-color:   #09568c !important;
}
md-card{
    border: 1px solid #B1ABAB;
    background: #e7e7e7;
}
.container_main{
    position: absolute;
    top:0;
    left: 0;
    width:100% ;
    height:100% ;
}
.cont{
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    //background-color: rgba(13, 9, 6, 0.36);

}
body{
//    background: url("../img/background.png") 100% 100% no-repeat;
//    background-size: 90%;
//    background-position: center;
}



.form-horizontal .has-feedback .form-control-feedback{
    right:0px!important;
}
.control-label{
    color: #ffffff !important;
}
.promo-code {
    .full_abs();
}
.promo-code-close{
    .full_abs();
    background: rgba(41, 41, 41, 0.4);
    cursor:pointer;
}
.viewCustom,.settings{
    .full_abs()!important;
}
.settings,.tab-pane{
    background: #ffffff!important;
}
.viewCustom iframe{
    .full_rel();
}
.error{
    border: 1px solid red!important;
}
.table > tbody > tr > td,.table>thead>tr>th{
    text-align: center;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{
    width: inherit;
}
.tab-content{
    padding: 10px;
}


@media (max-width: 1330px){
    .col-md-8{
        width:100%
    }
    .sign-up{
        transform: translate(-50%,-50%) scale(0.9)!important;
        //height: 100%!important;;
    }
}
.btn-eye:focus{
    border: 1px solid @tor-blue;
}
.md-input-container-sign-up{
    margin: 7px 0 0 0!important;
}

.contvd{
//    .full_abs();
    position: absolute;
    width: 100%;
    left: 0;
    top:0;
    display: none;
//    z-index: -100;


}
//.contvd img{
//
//    position: relative;
//    width: 100%;
////    height: 100%;
////    margin-top: 100px;
//}
.glyphicon-remove {
    color:rgb(221,44,0) !important;
}
.glyphicon-ok{
    color: #00801b !important;
}
.bol{
    font-weight: 900;
}
.code-in, .code-up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(250, 250, 250, 1);
    overflow-y: scroll;
    padding: 10px;
    text-align: center;
}

.code-up {
    min-width: 510px;
}
.code-up,.code-in{
    text-align: center;
    padding: 10px 25px;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
}
.pdf-content{
    position: absolute;
    width:2480px;
    height: 3508px;
    top:-3508px;
    left:-2480px;
    z-index: -100;
//    top:-5000px;
}
@page {
    size:A4;

}
.data-input,.data-output,.image-con {
    margin: auto;
    text-align: center;
}
.data-output{
    //border-right: 1px solid gray;
}
.data-data,.image-con{
//    width:34.5%;
    float: left;
    transform: scale(0.8);
    margin-top: -800px;
}
.req-input{
    //margin: ;
}
.image-con{
    width:100%;
    text-align: center;
//    float: right;
//    right: 0;
//    position: absolute;
//    bottom: 355px;
    margin-top: -180px;
    max-width: 1390px;
    //padding-bottom: 50px;
    z-index: -1;
    //height: 1783px;
}
.mk-8{
     width: 75%;
    float: left;
    margin-top: 10px;
}
.mk-2{
    width: 25%;
    float: right;
}

.mk{
    width: 100%;
}
.threejsOutput,.threejsOutput_{
    //position: absolute;
    //width: 90%;
    //bottom: 200px;
    width: inherit;
    //transform: scale(1.41);
}
.input-succeces{
    border: 1px solid gray!important;
}
.input-err{
    border: 1px solid red!important;;
}
.threejsOutput{
    left: -100px;
}

.threejsOutput_{
    //right: 250px;
}
.header-info{
    width: 100%;
    top:0;
    margin-bottom: -150px;

}
.footer-notes {
    width: 100%;
   position: absolute;
    bottom: 0;
}
.col-md-4> .input-pdf{
    padding: 10px 6px 0 0!important;
    border: none;
    font-weight: 900;
    height: inherit!important
}
.pdf-group{
    margin-bottom: 10px;
}
.pdf-group > label{
    color: @tor-primary-text!important; background: white;
}
.table>tbody>tr>.td-pdf{
//    line-height:0.5!important;;
}
#notes{
    text-align: justify;
    background-color: rgba(255, 0, 0, 0);
}
.col-md-4> .input-pdf,
.pdf-group>label,
.pdf-content,
.table .table-hover .table-pdf,
textarea .form-control ._notes{
    font-size: 66px!important;
}

.data-print{
    position: absolute;
    width:100%;
}
.my-btn{
    width:90%;

}
.my-btn,.my-btn>a{
    color:@tor-primary-text;
}
.my-btn>a:hover,.my-btn:hover{
    text-decoration: none;
    color:@tor-primary-text;
}
.table{
    margin: auto;
    width: 99%!important;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    padding: 0!important;
}
  .glyphicon-star{
      transform: scale(1.4);
    color:#344d7e!important;
}
  .m-p{
      padding: 0!important;
      margin: 0!important;;
  }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    display: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
}
.statistics-btn{
    width:25px;
}
.form-dd,.dd-val >  .form-group  {
    margin-bottom: 5px!important;
}
.data-input>form{
    z-index: 10;
}
.m-p {
        margin: 0 !important;
        padding: 0 !important;

      >.control-label {
        padding: 8.5px;
    }
}

.btn-text-calc{
    letter-spacing: 3px!important;
    margin: 4px!important;
}
input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: textfield!important;
}
///////////---------preloader--------------------/////////
.preloader-text,.preloader-text-animate{
    position: fixed;
    width: 100%;
    height:100%;
    left:0;
    top:0;
    z-index: 1000;
    display: none;
    background: white;
}
.centerX{
    transform: translateX(-50%);
    left:50%;
}
.center{
    transform: translate(-50%, -50%);
    position: absolute!important;;
    top:50%;
    left:50%;
    width: 100%;
}
#inTurnBlurringTextG{
    width:125px;
    margin:auto;
}

.inTurStaingTextG{
    font-family:Arial;
    font-size:24px;
    text-decoration:none;
    font-weight:normal;
    font-style:normal;
}
.inTurnBlurringTextG{
    color:transparent;
    font-family:Arial;
    font-size:24px;
    text-decoration:none;
    font-weight:normal;
    font-style:normal;
    float:left;
    text-shadow: @tor-primary-text 0 0 0;
//    animation-name:bounce_inTurnBlurringTextG;
//    -o-animation-name:bounce_inTurnBlurringTextG;
//    -ms-animation-name:bounce_inTurnBlurringTextG;
//    -webkit-animation-name:bounce_inTurnBlurringTextG;
//    -moz-animation-name:bounce_inTurnBlurringTextG;
    animation-duration:2.09s;
    -o-animation-duration:2.09s;
    -ms-animation-duration:2.09s;
    -webkit-animation-duration:2.09s;
    -moz-animation-duration:2.09s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
}
#inTurnBlurringTextG{
    width:125px;
    margin:auto;
}

.inTurnBlurringTextG{
    color:transparent;
    font-family:Arial;
    font-size:24px;
    text-decoration:none;
    font-weight:normal;
    font-style:normal;
    float:left;
    text-shadow: @tor-primary-text 0 0 0;
    animation-name:bounce_inTurnBlurringTextG;
    -o-animation-name:bounce_inTurnBlurringTextG;
    -ms-animation-name:bounce_inTurnBlurringTextG;
    -webkit-animation-name:bounce_inTurnBlurringTextG;
    -moz-animation-name:bounce_inTurnBlurringTextG;
    animation-duration:2.09s;
    -o-animation-duration:2.09s;
    -ms-animation-duration:2.09s;
    -webkit-animation-duration:2.09s;
    -moz-animation-duration:2.09s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
}

#inTurnBlurringTextG_1{
    animation-delay:0.75s;
    -o-animation-delay:0.75s;
    -ms-animation-delay:0.75s;
    -webkit-animation-delay:0.75s;
    -moz-animation-delay:0.75s;
}
#inTurnBlurringTextG_2{
    animation-delay:0.9s;
    -o-animation-delay:0.9s;
    -ms-animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
    -moz-animation-delay:0.9s;
}
#inTurnBlurringTextG_3{
    animation-delay:1.05s;
    -o-animation-delay:1.05s;
    -ms-animation-delay:1.05s;
    -webkit-animation-delay:1.05s;
    -moz-animation-delay:1.05s;
}
#inTurnBlurringTextG_4{
    animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -ms-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
}
#inTurnBlurringTextG_5{
    animation-delay:1.35s;
    -o-animation-delay:1.35s;
    -ms-animation-delay:1.35s;
    -webkit-animation-delay:1.35s;
    -moz-animation-delay:1.35s;
}
#inTurnBlurringTextG_6{
    animation-delay:1.5s;
    -o-animation-delay:1.5s;
    -ms-animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
}
#inTurnBlurringTextG_7{
    animation-delay:1.64s;
    -o-animation-delay:1.64s;
    -ms-animation-delay:1.64s;
    -webkit-animation-delay:1.64s;
    -moz-animation-delay:1.64s;
}
#inTurnBlurringTextG_8{
    animation-delay:1.79s;
    -o-animation-delay:1.79s;
    -ms-animation-delay:1.79s;
    -webkit-animation-delay:1.79s;
    -moz-animation-delay:1.79s;
}
#inTurnBlurringTextG_9{
    animation-delay:1.94s;
    -o-animation-delay:1.94s;
    -ms-animation-delay:1.94s;
    -webkit-animation-delay:1.94s;
    -moz-animation-delay:1.94s;
}
#inTurnBlurringTextG_10{
    animation-delay:2.09s;
    -o-animation-delay:2.09s;
    -ms-animation-delay:2.09s;
    -webkit-animation-delay:2.09s;
    -moz-animation-delay:2.09s;
}




@keyframes bounce_inTurnBlurringTextG{
    0%{
        text-shadow: @tor-primary-text 0 0 0;
    }

    100%{
        text-shadow: rgb(255,255,255) 0 0 19px;
    }
}

@-o-keyframes bounce_inTurnBlurringTextG{
    0%{
        text-shadow: @tor-primary-text 0 0 0;
    }

    100%{
        text-shadow: rgb(255,255,255) 0 0 19px;
    }
}

@-ms-keyframes bounce_inTurnBlurringTextG{
    0%{
        text-shadow: @tor-primary-text 0 0 0;
    }

    100%{
        text-shadow: rgb(255,255,255) 0 0 19px;
    }
}

@-webkit-keyframes bounce_inTurnBlurringTextG{
    0%{
        text-shadow: @tor-primary-text 0 0 0;
    }

    100%{
        text-shadow: rgb(255,255,255) 0 0 19px;
    }
}

@-moz-keyframes bounce_inTurnBlurringTextG{
    0%{
        text-shadow: @tor-primary-text 0 0 0;
    }

    100%{
        text-shadow: rgb(255,255,255) 0 0 19px;
    }
}





.md-button.md-raised:not([disabled]),a.md-button.md-default-theme.md-hue-1.md-accent.md-raised, a.md-button.md-hue-1.md-accent.md-raised, a.md-button.md-default-theme.md-hue-1.md-accent.md-fab, a.md-button.md-hue-1.md-accent.md-fab, .md-button.md-default-theme.md-hue-1.md-accent.md-raised, .md-button.md-hue-1.md-accent.md-raised, .md-button.md-default-theme.md-hue-1.md-accent.md-fab, .md-button.md-hue-1.md-accent.md-fab{
    color: white!important;
    font-weight: bold!important;
}
md-input-container label:not(.md-no-float):not(._md-container-ignore), md-input-container ._md-placeholder{
    text-align: left;
}

    md-select-menu{
        max-height: inherit!important;
    }
    md-select-menu md-content{
        max-height: inherit!important;
    }

.set-inpts{
    //background: @home-blue;
    padding: 15px;


    .control-label{
        background: @home-blue;
    }
    input{
        background: rgba(255, 255, 255, 0);
        border: none !important;
        border-bottom: 1px solid @set-gray !important;
        padding-left: 10px !important;
        color: black;
        font-size: 16px!important;
    }
    .tooltipes-t{
        color: @set-gray;
        border-radius: 11px;
        position: absolute;
        top: 5px;
        right: 0;
    }
    ._md-select-value{
        border-bottom-color: @set-gray;
    }
    md-select-value{
    color: @set-gray;
    font-size: 16px!important;
    }
    ::-webkit-input-placeholder {
        color: #999;
        font-size: 13px;
    }
    ::-moz-placeholder {
        color: #999;
        font-size: 13px;
    }
    /* Firefox 19+ */
    :-moz-placeholder {
        color: #999;
        font-size: 13px;
    }
    /* Firefox 18- */
    :-ms-input-placeholder {
        color: #999;
        font-size: 13px;
    }
}