@import url(https://fonts.googleapis.com/css?family=Asap:400,700);

.full_rel {
    position: relative;
    width: 100%;
    height: 100%;
}

.full_abs {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.ggkj {
    color: honeydew;
}

.centerX {
    transform: translateX(-50%);
    left: 50%;
}

.centerY {
    transform: translateY(-50%);
    top: 50%;
}

.center {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.threejs-tor {
    min-height: 916px !important;
}

.tor,
.tor > .control-label {
    padding-top: 10px;
    background: #009688 !important;
}

.md-tor > .md-button.md-primary.md-raised,
.md-tor > .col-sm-12 > .col-sm-6 > .md-button.md-primary.md-raised,
.active {
    background: #009688 !important;
}

.calc-content {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px;
    font-weight: 900;
}

.calc-content md-input-container:not(.md-input-invalid).md-input-focused .md-input,
.calc-content md-input-container:not(.md-input-invalid).md-input-focused label {
    border-color: #009688;
    color: #009688;
}

.calc-content md-content {
    padding: 10px;
}

.calc-content md-card {
    border: none;
    background: #fff;
    border-radius: 0px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
}

.calc-content md-card .tor-eye-btns button {
    width: 100%;
    border-radius: 0px;
    padding: 10px;
    margin: 0px !important;
}

.calc-content md-card .tor-eye-btns .sn {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
}

.calc-content md-card .tor-eye-btns .groupX {
    background-color: #fff !important;
}

.calc-content md-card .tor-inputs {
    min-height: 350px;
    height: 100%;
    background: #009688;
}

.calc-content md-card .tor-inputs .tor-form-full {
    padding: 10px 40px !important;
    width: 100%;
}

.calc-content md-card .tor-inputs .tor-form-full .dd-val {
    width: 100%;
    float: none;
    overflow-y: scroll;
    color: white;
    min-height: 450px;
}

.calc-content md-card .tor-inputs .tor-form-full .dd-val .form-group {
    margin-bottom: 0px !important;
    display: flex;
}

.calc-content md-card .tor-inputs .tor-form-full .dd-val .form-group .tooltipes-t {
    border: 1px solid rgba(137, 137, 216, 0.01);
    background: rgba(255, 255, 255, 0);
    right: 0px;
    margin-top: 5px;
}

.calc-content md-card .tor-inputs .tor-form-full .dd-val .form-group .col-md-7 {
    text-align: center;
    border-left: 1px solid rgba(255, 255, 255, 0.19);
}

.calc-content md-card .tor-inputs .tor-form-full .dd-val .form-group .col-md-7 input,
.calc-content md-card .tor-inputs .tor-form-full .dd-val .form-group .col-md-7 select {
    color: white !important;
    border: none;
    background: #009688 !important;
    border-bottom: 1px solid #ffffff;
}

.calc-content md-card .tor-inputs .tor-form-full .dd-val .form-group .col-md-7 .input-err {
    border: none !important;
    border-bottom: 1px solid red !important;
}

.calc-content md-card .tor-inputs .tor-form-full .dd-val .form-group .col-md-7 > .col-sm-11 {
    left: 50%;
    transform: translateX(-50%);
}

.calc-content .selectpicker {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.calc-content md-input-container md-select.md-default-theme ._md-select-value,
.calc-content md-input-container md-select ._md-select-value {
    border-bottom-color: #ffffff;
}

.calc-content .header-main {
    display: flex;
    background: #fff;
}

.calc-content .header-main .h-logo,
.calc-content .header-main .h-menu {
    z-index: 1;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
}

.calc-content .header-main .h-logo {
    text-transform: uppercase;
}

.calc-content .header-main .h-logo .tor-list-menu {
    letter-spacing: 2px;
}

.calc-content .header-main .tor-list-menu {
    height: 70px;
    display: table-cell;
    vertical-align: middle;
    width: inherit;
    text-align: center;
}

.calc-content .header-main .tor-list-menu .new-feature {
    left: 0;
}

.calc-content .header-main .tor-list-menu .tor-post {
    color: #3f51b5;
}

.calc-content .header-main .tor-list-menu .post-tor {
    color: #009688;
}

.calc-content .header-main .tor-list-menu xml-load {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 10% 0;
    min-width: 140px;
    transform: translateY(-50%);
    top: 50%;
}

.calc-content .header-main .tor-list-menu xml-load span {
    padding: 10px 0;
}

.calc-content .header-main .h-menu > div > .tor-list-menu:hover,
.calc-content .header-main .h-menu > div > .tor-list-menu > span:hover {
    background-color: rgba(193, 193, 193, 0.96);
    color: rgba(44, 65, 164, 0.96);
    transition: 0.3s;
}

.calc-content .header-main .h-menu > div {
    border-left: 2px solid rgba(128, 128, 128, 0.14);
}

.calc-content .header-main .h-menu > .calc {
    border-left: 0px solid rgba(128, 128, 128, 0.14);
}

.calc-content .tor-client-info {
    min-height: 140px !important;
    max-height: 140px;
}

.calc-content .tor-client-info md-card-content {
    padding-right: 0px;
    height: 100%;
}

.calc-content .tor-row {
    margin: 10px 0 10px 10px;
    display: flex;
}

.calc-content .tor-row .selectpicker {
    border: none;
    border-bottom: 1px solid #060606;
    margin: 0;
    padding: 0;
    width: 90%;
    font-weight: 100;
}

.calc-content .tor-row .surg-data {
    top: -10px;
}

.calc-content .tor-row .h-menu {
    height: 140px;
    margin-top: -26px;
}

.calc-content .tor-row .h-menu .tor-list-menu {
    height: inherit;
    display: table-cell;
    vertical-align: middle;
    width: inherit;
    text-align: center;
    border-left: 2px solid rgba(128, 128, 128, 0.14);
    color: #009688;
}

.calc-content .tor-row .h-menu .tor-list-menu xml-load {
    padding: 60px 0px;
}

.calc-content .tor-row .h-menu .tor-list-menu:hover {
    background-color: rgba(193, 193, 193, 0.96);
    color: rgba(44, 65, 164, 0.96);
    transition: 0.3s;
}

.calc-content .tor-row .h-menu button {
    margin-left: 11px !important;
}

.calc-content .tor-row .h-menu button:hover {
    background-color: rgba(193, 193, 193, 0.96);
    color: rgba(44, 65, 164, 0.96);
    transition: 0.3s;
}

.calc-content .tor-row .row {
    width: 90%;
    margin: 0px;
}

.calc-content .tor-row .row input,
.calc-content .tor-row .row select {
    width: 90% !important;
    border: none;
    border-bottom: 1px solid #000000;
}

.calc-content .tor-row .row select {
    margin-top: 10px;
}

.calc-content .tor-row .row input:focus {
    color: #009688;
    border-bottom: 1px solid #009688;
}

.calc-content .tor-row .row:last-child {
    bottom: 0px;
}

.calc-content .md-primary {
    transform: translate(-50%, -50%);
    position: absolute !important;
    top: 50%;
    left: 50%;
    width: 100%;
    border-radius: 0px;
    text-transform: lowercase;
    margin: 0;
    padding: 6px;
    color: #009688;
}

.calc-content #plotf {
    visibility: hidden;
}

.calc-content .threejs-out {
    min-height: 742px;
    background: #000 url("../img/toric/back_view.png") center no-repeat;
}

.calc-content .threejs-out .tor-eye {
    position: relative;
    width: 100%;
    height: 100%;
    background: #000 url("../img/toric/back_view.png") center no-repeat;
}

.calc-content .threejs-out .tor-eye .tor-threejs {
    position: relative;
    width: 100%;
    height: 100%;
}

.calc-content .threejs-out .tor-eye .tor-threejs canvas:last-child {
    position: absolute;
    z-index: 1;
}

.calc-content .threejs-out .tor-eye .tor-threejs .tor-calc-btn {
    position: absolute;
    bottom: 0;
    padding: 30px;
    color: white;
    width: 280px;
}

.calc-content .threejs-out .tor-eye .tor-threejs .tor-calc-btn .md-button {
    background: #009688 !important;
}

.calc-content .threejs-out .tor-eye .tor-threejs .tor-calc-btn .md-button[disabled] {
    background: rgba(128, 128, 128, 0.6) !important;
}

.calc-content .threejs-out .tor-eye .tor-threejs .tor-calc-btn span {
    margin-top: 20px;
}

.calc-content .threejs-out .tor-head {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../img/toric/head.png") no-repeat center;
    background-size: contain;
}

.calc-content .threejs-out .FlatA {
    width: 80px;
    height: 20px;
    background-position: 0 50%;
    margin-right: 20px;
    margin-left: 3px;
}

.calc-content .threejs-out #Flat_Axis {
    background-image: url("../img/toric/steep_arrow.png");
}

.calc-content .threejs-out #Steep_Axis {
    background: url("../img/toric/flat_arrow.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin-left: -3px;
    transform: scale(1) rotate(15deg);
}

.calc-content .threejs-out .iLoctn {
    transform: rotate(270deg) scale(0.8);
    width: 90px;
    height: 120px;
    background-position: 100%;
    margin-left: -5px;
}

.calc-content .threejs-out .tor-three-info {
    position: absolute;
    z-index: 10;
    padding: 25px;
    color: white;
}

.calc-content .threejs-out .tor-three-info p {
    margin-left: 3px;
}

.calc-content .threejs-out .tor-three-info .table {
    margin: 0;
}

.calc-content .threejs-out .tor-three-info .table p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 900;
    margin: 0;
}

.calc-content .threejs-out .tor-three-info > .table > tbody > tr > td {
    border: none;
    color: white;
    margin: 0;
    padding: 0 !important;
    line-height: 0.1;
    text-align: left;
}

.calc-content .threejs-out .tor-face-p {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
}

.calc-content .threejs-out .tor-face-left,
.calc-content .threejs-out .tor-face-right {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0.15;
    z-index: 0;
}

.calc-content .threejs-out .tor-face-right {
    background: url("../img/toric/left.png") no-repeat right;
}

.calc-content .threejs-out .tor-face-left {
    background: url("../img/toric/ight.png") no-repeat left;
}

.calc-content .row {
    margin: 0;
}

.calc-content .post-user-cntrl {
    min-width: 156px !important;
}

.calc-content .lad-client-info {
    margin: 20px;
}

.calc-content .lad-client-info input {
    border: none;
    border-bottom: 1px solid black;
    font-size: 16px !important;
}

.calc-content .lad-client-info .lablia {
    margin-top: 10px;
    font-weight: 900;
}

.calc-content .lad-client-info input:focus {
    color: #3498db;
    border-bottom: 1px solid #3498db;
}

.calc-content .lad-client-info input[disabled] {
    background: rgba(255, 255, 255, 0);
}

.calc-content .lad-client-info md-input-container:not(.md-input-invalid).md-input-focused .md-input,
.calc-content .lad-client-info md-input-container:not(.md-input-invalid).md-input-focused label {
    border-color: #3498db;
    color: #3498db;
}

.calc-content .lad-post {
    color: #3498db !important;
}

.calc-content .post-inp {
    padding: 20px 40px !important;
    border-top: 1px solid rgba(206, 200, 200, 0.13);
    min-height: 470px;
    overflow-y: auto;
    height: 100%;
}

.calc-content .post-inp .full-relative-width {
    text-transform: uppercase;
    color: #3f51b5;
}

.calc-content .post-inp .vert-line {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    border-right: 1px solid rgba(206, 200, 200, 0.13);
    top: 0;
    z-index: 1;
}

.calc-content .post-inp .dd-val {
    width: 100%;
    text-align: left !important;
}

.calc-content .post-inp .dd-val .control-label {
    text-align: left !important;
    background: rgba(255, 255, 255, 0);
}

.calc-content .post-inp .dd-val input {
    background: rgba(255, 255, 255, 0);
    border: none !important;
    border-bottom: 1px solid white !important;
    padding-left: 10px !important;
}

.calc-content .post-inp .dd-val input,
.calc-content .post-inp .dd-val md-input-container,
.calc-content .post-inp .dd-val md-select-value {
    color: white;
    font-size: 16px !important;
}

.calc-content .post-inp .dd-val .input-err {
    border-bottom: 1px solid red !important;
}

.calc-content .post-inp .control-label,
.calc-content .post-inp .labelC,
.calc-content .post-inp .toolltip span,
.calc-content .post-inp .groupX,
.calc-content .post-inp .title {
    font-size: inherit !important;
}

.calc-content .post-results {
    background: white;
}

.calc-content .post-results .threejs {
    height: 100%;
}

.calc-content .post-results .row:first-child {
    border-bottom: 1px solid rgba(128, 128, 128, 0.13);
}

.calc-content .post-results .row:first-child .col-sm-6:first-child {
    border-right: 1px solid rgba(128, 128, 128, 0.13);
}

.calc-content .post-results .iol-inputes td {
    text-align: left;
}

.calc-content .post-results .iol-inputes td:first-child {
    font-size: 16px;
    padding-left: 15%;
    padding-top: 5px;
    padding-bottom: 7px;
}

.calc-content .post-results .iol-data {
    text-align: center;
    margin: auto;
    min-width: 150px !important;
    width: 100%;
}

.calc-content .post-results .iol-data th {
    padding: 5px 20px;
    text-align: center;
}

.calc-content .post-results .iol-data td {
    padding: 5px;
}

.calc-content .post-results .iol-data tr:hover {
    background: rgba(20, 118, 189, 0.25);
}

.calc-content md-card.las-card-inp {
    background: #3498db;
}

.calc-content md-card.las-card-inp p {
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 16px;
    padding: 30px;
    margin: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
}

.calc-content md-card.las-card-inp .las-data-output {
    width: 100%;
    min-height: 285px;
}

.calc-content md-card.las-card-inp .las-data-output .las-iol-ref-tr {
    border-bottom: 1px solid rgba(128, 128, 128, 0.13);
}

.calc-content md-card.las-card-inp .las-data-output .las-iol-ref-tr .las-iol-ref-inp,
.calc-content md-card.las-card-inp .las-data-output .las-iol-ref-tr .las-iol-ref {
    width: 50%;
}

.calc-content md-card.las-card-inp .las-data-output .las-iol-ref-tr .las-iol-ref {
    border-left: 1px solid rgba(128, 128, 128, 0.13);
    background: rgba(52, 152, 219, 0.24);
}

.calc-content md-card.lad-client-info-cont,
.calc-content md-card.lad-client-info-cont-disabled {
    background: white;
    max-height: 260px;
    min-height: 260px;
}

.calc-content .lad-imortant {
    color: #3498db;
    height: inherit;
    text-align: center;
    border-top: 1px solid rgba(128, 128, 128, 0.14);
    margin-top: 15px;
}

.calc-content .lad-imortant .lad-imp-cont {
    text-align: center;
    height: 70px;
}

.calc-content .lad-imortant .lad-imp-cont xml-load {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 10% 0;
    min-width: 140px;
    transform: translateY(-50%);
    top: 50%;
}

.calc-content .lad-imortant .lad-imp-cont xml-load span {
    padding: 10px 0;
    padding-left: 5px;
}

.calc-content .lad-imortant:hover {
    background-color: rgba(193, 193, 193, 0.96);
    transition: 0.3s;
    cursor: pointer;
}

.calc-content md-card.lad-client-info-cont-disabled {
    max-height: 180px !important;
    min-height: 180px !important;
}

.calc-content .lad-calc-btn {
    max-width: 280px;
    left: 20px;
    padding: 0px 20px;
}

.calc-content .lad-calc-btn #plotf {
    visibility: visible;
}

.calc-content .lad-calc-btn button[disabled] {
    background: rgba(0, 0, 0, 0.7) !important;
}

.calc-content .lad-calc-btn button {
    background: #3498db !important;
}

.calc-content .lad-calc-btn span {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}

.calc-content .lad-calc-btn .col-sm-12:hover {
    color: #3498db;
}

.pdf-content input {
    box-shadow: none;
    border: none !important;
}

.pdf-content .table-bordered {
    background: white;
}

.pdf-content .form-horizontal .form-group,
.pdf-content .table-pdf > tbody > tr > td {
    border: none !important;
    border-bottom: 2px solid !important;
}

.md-button.md-fab.nice-back,
.md-button.md-fab:not([disabled]):hover,
md-tabs.md-default-theme md-ink-bar,
md-tabs md-ink-bar,
.md-button.md-primary.md-raised {
    background-color: #3498db !important;
}

md-tabs .md-tab.md-active,
md-tabs.md-default-theme md-ink-bar,
md-tabs md-ink-bar {
    color: #3498db;
}

.calc-content .post-data-divable {
    width: 100%;
    transform: translateY(-50%);
    top: 50%;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    color: rgba(153, 153, 153, 0.64);
}

.calc-content #post-user-info-foc input:focus {
    color: #3f51b5;
    border-bottom: 1px solid #3f51b5;
}

.calc-content .post-clc-hide {
    display: none;
}

.calc-content .post-inputs p {
    text-align: center;
    color: #999;
    font-weight: 900;
    font-size: 16px;
    padding: 30px;
    margin: 0;
    border-bottom: 1px solid #e8eaf6;
    text-transform: uppercase;
}

.calc-content .post-inputs .fs-form-wrap {
    position: relative;
    min-height: 0px;
    padding: 0px;
}

.calc-content .post-inputs .fs-form-wrap .fs-form {
    position: relative;
    width: 100%;
    height: 100%;
}

.calc-content .post-inputs .fs-form-wrap .fs-form .fs-fields .fs-anim-upper {
    text-align: center;
}

.calc-content .post-inputs .fs-form-wrap .fs-form .fs-fields .fs-anim-upper .post-lbl-inp-values {
    margin: 10px 0;
}

.calc-content .post-inputs .fs-form-wrap .fs-form .fs-fields .fs-anim-upper .post-lbl-inp-values .post-lbl-inp-val {
    transform: translateX(-50%);
    left: 50%;
}

.calc-content .post-inputs .fs-form-wrap .fs-form .fs-fields .fs-anim-upper .header-np-name {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    color: #3f51b5;
}

.calc-content .post-inputs .fs-form-wrap .fs-form .fs-fields .fs-anim-upper .post-inp-cntnr {
    border-bottom: 1px solid rgba(128, 128, 128, 0.14);
}

.calc-content .post-inputs .fs-form-wrap .fs-form .fs-fields .fs-anim-upper .post-calc-group {
    padding: 50px;
    text-decoration: underline;
    color: #999;
    font-size: 18px;
}

.calc-content .post-inputs .fs-form-wrap .fs-form .fs-fields .fs-anim-upper label.fs-field-label {
    width: 100%;
    text-align: left;
    margin: 10px 0;
    font-weight: 400;
    font-size: 16px;
}

.calc-content .post-inputs .fs-form-wrap .fs-form .fs-fields .fs-anim-upper md-select {
    margin: 0;
}

.calc-content .post-inputs .fs-form-wrap .fs-form .fs-fields .fs-anim-upper md-select md-select-value {
    border: none;
    border-bottom: 1px solid black;
    font-weight: 400 !important;
    text-align: left;
}

.calc-content .post-inputs .fs-form-wrap .fs-form .fs-fields .fs-anim-upper input {
    border: none;
    border-bottom: 1px solid black;
}

.calc-content .post-inputs .fs-form-wrap .fs-form .fs-fields .fs-anim-upper .tooltipes-t {
    color: black;
    font-weight: 900;
}

.calc-content .post-inputs .fs-form-wrap .post-clc-btn {
    position: relative;
    width: 100%;
    height: 50px;
}

.calc-content .post-inputs .fs-form-wrap .post-clc-btn div {
    height: inherit;
    text-align: center;
}

.calc-content .post-inputs .fs-form-wrap .post-clc-btn div .md-button {
    position: relative !important;
    width: initial;
    background: #3f51b5;
    border-radius: 0px;
    text-transform: none;
}

.calc-content .post-inputs .fs-form-wrap .post-clc-btn #fs-controls {
    display: none;
}

.calc-content .post-user-cntrl {
    padding: 0;
    margin: 0;
}

.calc-content .post-user-cntrl .post-user-info {
    padding: 30px;
}

.calc-content .post-user-cntrl .post-list-head-inputs div {
    padding: 20px 10px;
}

.calc-content .post-user-cntrl .post-list-head-inputs div p {
    margin: 0;
    font-size: 13px;
    line-height: 14px;
    text-align: left;
}

.calc-content .post-user-cntrl .post-list-head-inputs .avialable:hover,
.calc-content .post-user-cntrl .post-list-head-inputs div.activInf {
    cursor: pointer;
    background: rgba(63, 81, 181, 0.11);
}

.calc-content .post-user-cntrl .post-list-head-inputs div.activInf {
    border-left: 2px solid #3f51b5;
}

.calc-content .post-calc-btn #plotf {
    visibility: visible;
}

.calc-content .post-calc-btn button[disabled] {
    background: rgba(0, 0, 0, 0.7) !important;
}

.calc-content .post-calc-btn button {
    background: #3f51b5 !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.41);
}

.calc-content .post-calc-btn span {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}

.calc-content .post-calc-btn .col-sm-12:hover,
.calc-content .post-calc-btn button:hover {
    color: #3f51b5;
}

.calc-content .back-tables,
.calc-content .input-back {
    background: white;
}

.table-results > tbody > tr > td {
    line-height: 1.42857143 !important;
    padding: 0.36rem !important;
}

.table-results > thead:first-child > tr:first-child > th {
    text-align: center;
}

.table-results {
    width: 80% !important;
    margin: auto;
    max-width: 100%;
    background-color: #fff;
}

.table-results > thead > tr,
.table-results > tbody > tr,
.table-results > tfoot > tr {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.table-results > thead > tr > th,
.table-results > tbody > tr > th,
.table-results > tfoot > tr > th,
.table-results > thead > tr > td,
.table-results > tbody > tr > td,
.table-results > tfoot > tr > td {
    text-align: left;
    padding: 1.6rem;
    vertical-align: top;
    border-top: 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.table-results > thead > tr > th {
    font-weight: 400;
    color: #757575;
    vertical-align: bottom;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.table-results > caption + thead > tr:first-child > th,
.table-results > colgroup + thead > tr:first-child > th,
.table-results > thead:first-child > tr:first-child > th,
.table-results > caption + thead > tr:first-child > td,
.table-results > colgroup + thead > tr:first-child > td,
.table-results > thead:first-child > tr:first-child > td {
    border-top: 0;
}

.table-results > tbody + tbody {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.table-results .table-results {
    background-color: #fff;
}

.table-results .no-border {
    border: 0;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: rgba(0, 0, 0, 0.12);
}

.close {
    color: gray;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
    position: absolute;
    right: 10px;
    z-index: 16;
}

.dark-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 112;
    background: rgba(0, 0, 0, 0.35);
}

.sign-up,
#signIn,
.forgot-psw {
    z-index: 113;
}

.tor-back {
    background-color: #26a19a;
}

.tor-border {
    border: 5px solid rgba(38, 161, 154, 0.15);
}

.tor-color {
    color: #26a19a;
}

.post-back {
    background-color: #3f51b5;
}

.post-border {
    border: 5px solid rgba(63, 81, 181, 0.15);
}

.post-color {
    color: #3f51b5;
}

.lad-back {
    background-color: #3598db;
}

.lad-border {
    border: 5px solid rgba(53, 152, 219, 0.15);
}

.lad-color {
    color: #3598db;
}

.header {
    position: fixed;
    clear: both;
    width: 100%;
    padding: 25px 20px;
    z-index: 10;
    background-color: #5068c2;
    max-height: 100px;
}

.header .menu-wrap {
    position: relative;
    z-index: 11;
    width: 50%;
    text-align: center;
    margin: auto;
}

.header .menu-wrap .main-menu {
    margin-left: 105px;
}

.header .menu-wrap li {
    display: inline-block;
    line-height: 22px;
    padding: 10px;
    color: #a6a6a6;
}

.header .menu-wrap li a {
    color: #f2f2f2;
}

.header .menu-wrap li:last-child {
    float: right;
}

.header .menu-wrap li:hover {
    background-color: rgba(255, 255, 255, 0.15);
    cursor: pointer;
    font-size: 18px;
    font-weight: 900;
}

.header .menu-wrap li:hover a {
    color: white;
}

body {
    background-color: #fff;
}

* {
    margin: 0;
    padding: 0;
}

a:focus {
    color: #989898 !important;
}

.sign-up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    overflow-y: auto !important;
    padding: 5px 25px;
    min-width: 580px;
    width: 60%;
    text-align: center;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.sign-up md-content {
    background: #fff;
}

/*----------PARALLAX---------*/
/* Parallax base styles
 --------------------------------------------- */
.main-container {
    /* Debugger styles - used to show the effect
    --------------------------------------------- */
    /* demo styles
    --------------------------------------------- */
    /* centre the content in the parallax layers */
    /* style the groups
    --------------------------------------------- */
    /* misc
    --------------------------------------------- */
}

.main-container .parallax {
    height: 500px;
    /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
}

.main-container .parallax__group {
    position: relative;
    height: 70vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin-bottom: 110px;
}

.main-container .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.main-container .circe-cont {
    margin-bottom: 210vh;
}

.main-container .circe-cont .parallax__layer--base {
    margin-top: 30vh;
    height: 20vh;
}

.main-container .parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(0.7);
    -moz-transform: translateZ(90px) scale(0.7);
    transform: translateZ(90px) scale(0.7);
    -ms-transform: translateZ(0px) scale(1);
    z-index: 1;
}

.main-container .parallax__layer--base {
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
}

.main-container .parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    -moz-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    -ms-transform: translateZ(0px) scale(1);
    z-index: 3;
}

.main-container .parallax__layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    -moz-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    -ms-transform: translateZ(0px) scale(1);
    z-index: 2;
    margin-top: 165vh;
}

.main-container .debug {
    position: fixed;
    top: 0;
    left: .5em;
    z-index: 999;
    background: rgba(0, 0, 0, 0.85);
    color: #fff;
    padding: .5em;
    border-radius: 0 0 5px 5px;
}

.main-container .debug-on .parallax__group {
    -webkit-transform: translate3d(800px, 0, -800px) rotateY(30deg);
    transform: translate3d(700px, 0, -800px) rotateY(30deg);
}

.main-container .debug-on .parallax__layer {
    box-shadow: 0 0 0 2px #000;
    opacity: 0.9;
}

.main-container .parallax__group {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.main-container .parallax {
    font-size: 200%;
}

.main-container .title {
    padding: 0;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    height: inherit;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.main-container .title .content {
    text-align: center;
    color: white;
}

.main-container .title .content .dft-btn,
.main-container .title .content .dft-s-btn {
    border-radius: 0px;
    padding: 5px 40px;
    font-weight: 900;
}

.main-container .title .content .dft-s-btn {
    background-color: #5068c2;
    color: white;
}

.main-container .title .content .dft-btn,
.main-container .title .content .dft-s-btn {
    color: #5068c2;
    background-color: white;
}

.main-container .title .content .dft-btn[disabled],
.main-container .title .content .dft-s-btn[disabled] {
    background-color: rgba(205, 205, 205, 0.9) !important;
    color: gray;
}

.main-container .title .content .circle-back-op {
    width: 570px;
    position: relative;
    height: 570px;
    margin: auto;
    border-radius: 285px;
    text-align: center;
}

.main-container .title .content .circle-back-op .circle-back {
    width: 530px;
    height: 530px;
    margin: auto;
    border-radius: 265px;
}

.main-container .title .content .circle-back-op .circle-back img {
    width: 780px !important;
}

.main-container .title .content .title-calc-info h2 {
    text-transform: uppercase;
}

.main-container .title .content .title-calc-info .title-calc-body {
    color: black;
    text-align: justify;
    padding: 20px 10px;
    font-weight: 100;
    font-size: 14px;
}

.main-container .title .content .row {
    margin: 15px 0;
    text-align: left;
}

.main-container .title .content .cacl-list {
    text-align: center;
}

.main-container .title .content .cacl-list .clc {
    margin: auto;
    text-align: left;
    padding: 10px;
    text-transform: uppercase;
    min-height: 30vh;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    font-weight: 400;
}

.main-container .title .content .cacl-list .clc p {
    padding: 10px;
}

.main-container .title .content .cacl-list button {
    margin: 0;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
}

.main-container .title .input-error {
    border-bottom: 1px solid red !important;
}

.main-container #group1,
.main-container #group-about {
    z-index: 5;
    /* slide over group 2 */
}

.main-container #group1 .parallax__layer--base,
.main-container #group1 .parallax__layer--fore {
    background-image: url('../img/home/calcs.png');
    background-color: #5068c2;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 50%;
}

.main-container #group-about .parallax__layer--back .grad img {
    width: 70%;
    top: 43%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.main-container #group-about .parallax__layer--base .content {
    margin-top: 5%;
}

.main-container #group-about .parallax__layer--base .about-info {
    background: #fff;
    color: #333;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    min-height: 370px;
}

.main-container #group-about .parallax__layer--base .about-info p {
    text-align: center;
    margin: 0;
    margin-top: 10px;
}

.main-container #group-about .parallax__layer--base img {
    margin-top: -20%;
}

.main-container #group-about .parallax__layer--base .cont {
    width: 360px;
    margin: auto;
}

.main-container #group-about .parallax__layer--base .cont label {
    margin-top: 10px;
}

.main-container #group-about .parallax__layer--base .cont input {
    border-style: none none solid;
    border-bottom-width: 1px;
    border-bottom-color: black;
}

.main-container .partens p {
    color: #333;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
}

.main-container .partens .parallax__layer--deep {
    margin: 0;
}

.main-container .partens .parallax__layer--deep img {
    margin: 10px 90px;
    width: 120px;
}

.main-container #group2 {
    z-index: 3;
    /* slide under groups 1 and 3 */
}

.main-container #group2 .parallax__layer--back {
    background: #7bd266;
}

.main-container #group3 {
    z-index: 4;
    /* slide over group 2 and 4 */
}

.main-container .parallax__layer--base {
    background: rgba(255, 255, 255, 0);
}

.main-container .parallax__layer--fore {
    background: #f2f2f2;
}

.main-container #group4 {
    z-index: 2;
    /* slide under group 3 and 5 */
}

.main-container #group4 .parallax__layer--deep {
    background: #b8df65;
}

.main-container #group5 {
    z-index: 3;
    /* slide over group 4 and 6 */
}

.main-container #group5 .parallax__layer--base {
    background: #d6e564;
}

.main-container #group6 {
    z-index: 2;
    /* slide under group 5 and 7 */
}

.main-container #group6 .parallax__layer--back {
    background: #f5eb64;
}

.main-container #group7 {
    z-index: 4;
    /* slide over group 7 */
    height: 180px;
    margin: 0;
}

.main-container #group7 .parallax__layer--base {
    background-color: #212121;
    color: #fdfdfd;
}

.main-container .demo__info {
    position: absolute;
    z-index: 100;
    bottom: 1vh;
    top: auto;
    font-size: 80%;
    text-align: center;
    width: 100%;
}

/*--------animations-----*/
.grow {
    transition: all 0.2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.animate-enter,
.animate-leave {
    -webkit-transition: 2000ms cubic-bezier(0.42, 0, 1, 1) all;
    -moz-transition: 2000ms cubic-bezier(0.42, 0, 1, 1) all;
    -ms-transition: 2000ms cubic-bezier(0.42, 0, 1, 1) all;
    -o-transition: 2000ms cubic-bezier(0.42, 0, 1, 1) all;
    transition: 2000ms cubic-bezier(0.42, 0, 1, 1) all;
}

.animate-enter {
    left: 100%;
}

.animate-enter.animate-enter-active {
    left: 0;
}

.animate-leave {
    left: 0;
}

.animate-leave.animate-leave-active {
    left: -100%;
}

.footer div {
    text-align: left;
    padding: 0 15px !important;
}

.footer .tails__link {
    color: white;
}

.footer .list-parent {
    text-align: center;
    border-left: 1px solid #303030;
    border-right: 1px solid #303030;
}

.footer .footer-desc h2 {
    font-size: 16px;
    letter-spacing: 3px;
}

.footer .footer-desc p {
    color: #999;
    line-height: 18px;
}

.footer .footer-contact a {
    font-size: 14px;
}

.footer .footer-contact h2 {
    text-transform: uppercase;
    font-size: 14px;
}

.footer .-list-menu {
    width: 50%;
    list-style: none;
    padding: 20px 10px;
    text-align: left;
    margin: auto;
}

.footer .-list-menu li {
    padding: 5px 0;
}

.footer .-list-menu li a {
    color: white;
}

.footer .-list-menu li a:hover {
    font-weight: 900;
}

/*-------------SLIDER--------*/
.slide-container {
    /*width: 800px;*/
    /*height: 400px;*/
    /*padding: 20px;*/
    /*border: 1px solid gray;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*background: black;*/
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    margin-top: 20px;
    min-height: 135px;
}

.slider_wrapper {
    overflow: hidden;
    position: relative;
    /*height: 280px;*/
    top: auto;
    /*position: absolute;*/
    /*width: 100%;*/
    height: 100%;
    /*top:0;*/
    /*left:0;*/
}

#image_slider {
    position: relative;
    /*height: auto;*/
    list-style: none;
    overflow: hidden;
    float: left;
    /*Chrom default padding for ul is 40px */
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

#image_slider li {
    position: relative;
    float: left;
    height: 100%;
    padding: 10px;
    overflow-y: scroll;
}

li > img,
li > iframe {
    width: 100vw;
    height: 100%;
}

.nvgt {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 150px;
    width: 30px;
    opacity: 0.6;
}

.nvgt:hover {
    opacity: 1;
    cursor: pointer;
}

#prev {
    left: 0px;
}

#next {
    right: 0px;
}

#pager {
    padding: 10px 0;
    height: 50px;
    margin: auto;
    /* margin-top: 10px; */
    bottom: 0;
    font-weight: 900;
    width: 490px;
}

#pager li {
    padding: 0px;
    margin: 15px;
    /*color: white;*/
    list-style: none;
    opacity: 0.6;
    float: left;
    cursor: pointer;
    text-transform: uppercase;
}

#pager li.activeLi {
    color: white;
    opacity: 1;
    text-decoration: underline;
}

#pager li:hover {
    opacity: 1;
    text-decoration: underline;
}

.bod {
    position: absolute;
    width: 100%;
    top: 100%;
}

.arrow-bottom {
    background: url("../img/home/arrows.png") no-repeat center;
    left: 50%;
    width: 20px;
    height: 20px;
    top: 50vh;
    position: absolute;
    cursor: pointer;
}

.dft-btn,
.dft-s-btn {
    border-radius: 0px !important;
    padding: 5px 40px !important;
    font-weight: 900 !important;
    box-shadow: 0 3px 20px rgba(45, 45, 45, 0.07);
}

.dft-s-btn {
    background-color: #5068c2 !important;
    color: white !important;
}

.dft-btn {
    color: #5068c2 !important;
    background-color: white !important;
}

.dft-s-btn[disabled],
.dft-btn[disabled] {
    background-color: rgba(205, 205, 205, 0.9) !important;
    color: gray !important;
}

.version-cont {
    max-width: 960px;
    margin: 0;
}

.version-cont p {
    margin: 0;
}

.version-cont .lad-color {
    padding-bottom: 15px;
    border-bottom: 1px solid whitesmoke;
    text-transform: uppercase;
    font-weight: 900;
}

.version-cont .vers-head {
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px 0;
}

.version-cont .vers-desc {
    margin: 0;
    color: #999;
    font-weight: 300;
    line-height: 22px;
    text-align: justify;
    padding: 0 50px;
}

.version-cont .vers-list p {
    text-align: left;
}

@media (max-width: 1330px) {
    .col-md-8 {
        width: 100%;
    }

    .sign-up {
        transform: translate(-50%, -50%) scale(0.9) !important;
    }

    .header-content {
        display: block;
    }

    .header-content .blog-title {
        font-size: 16px;
        color: white;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 4px;
        cursor: pointer;
    }

    .header-content .menu-toggle {
        color: #f4f4f4;
        cursor: pointer;
        -webkit-transition: all 0.1s;
        -moz-transition: all 0.1s;
        -o-transition: all 0.1s;
        transition: all 0.1s;
        float: right;
        line-height: 64px;
        opacity: 0.6;
        font-size: 15px;
    }

    .header-content .menu-toggle .menu-toggle-hamburger {
        position: relative;
        margin: 0 2px -4px 0;
        width: 24px;
        height: 20px;
    }

    .header-content .menu-toggle .menu-toggle-hamburger span,
    .header-content .menu-toggle .menu-toggle-hamburger span:before,
    .header-content .menu-toggle .menu-toggle-hamburger span:after {
        background: #f4f4f4;
        content: '';
        position: absolute;
        top: 8px;
        left: 0;
        width: 100%;
        height: 4px;
        -webkit-transition: all 0.1s;
        -moz-transition: all 0.1s;
        -o-transition: all 0.1s;
        transition: all 0.1s;
    }

    .header-content .menu-toggle .menu-toggle-hamburger span:after {
        top: 8px;
    }

    .header-content .menu-toggle .menu-toggle-hamburger span:before {
        top: -8px;
    }

    .header-content .menu-toggle:hover {
        opacity: 1;
    }

    .header .menu-wrap {
        position: fixed;
        z-index: 100;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        display: none;
        width: 100%;
    }

    .header .menu-wrap .menu-toggle {
        display: none;
        width: 24px;
        line-height: 1;
        opacity: 0.6;
        cursor: pointer;
        padding: 0 10px;
        color: #f4f4f4;
    }

    .header .menu-wrap .menu-toggle .menu-toggle-hamburger {
        position: relative;
        margin: 0 2px -4px 0;
        width: 24px;
        height: 20px;
    }

    .header .menu-wrap .menu-toggle .menu-toggle-hamburger span {
        background-color: transparent !important;
    }

    .header .menu-wrap .menu-toggle .menu-toggle-hamburger span,
    .header .menu-wrap .menu-toggle .menu-toggle-hamburger span:before,
    .header .menu-wrap .menu-toggle .menu-toggle-hamburger span:after {
        background: #f4f4f4;
        content: '';
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        height: 4px;
        -webkit-transition: all 0.1s;
        -moz-transition: all 0.1s;
        -o-transition: all 0.1s;
        transition: all 0.1s;
    }

    .header .menu-wrap .menu-toggle .menu-toggle-hamburger span:after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .header .menu-wrap .menu-toggle .menu-toggle-hamburger span:before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .header .menu-wrap .on {
        display: block;
    }

    .header .menu-wrap .menu-toggle:hover {
        opacity: 1;
    }

    .header .menu-wrap.on {
        display: block;
    }

    .header .menu-wrap.on .menu-overlay {
        opacity: 0.4;
        background: #22313f;
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        cursor: pointer;
        -webkit-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
        -moz-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
        -o-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .header .menu-wrap.on .menu {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
        -webkit-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
        -moz-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
        -o-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
        opacity: 1;
        visibility: visible;
        background: #000;
        position: absolute;
        z-index: 110;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        padding: 20px 25px 30px;
        width: 50%;
    }

    .header .menu-wrap.on .menu .main-menu {
        position: relative;
        list-style: none;
        margin: 10px -12px 0 0;
    }

    .header .menu-wrap.on .menu .main-menu li {
        display: block;
        text-align: left;
        font-size: 16px;
        text-transform: uppercase;
        padding-left: 20px;
    }

    .header .menu-wrap.on .menu .main-menu li:last-child {
        float: none;
    }

    .header .menu-wrap.on .menu .main-menu li:last-child md-icon {
        display: none;
    }

    .header .menu-wrap.on .menu .main-menu .grow:hover {
        transform: scale(1.05);
    }

    .header .menu-wrap.on .menu .main-menu .logo-title {
        display: none;
    }

    .main-container #group7 {
        height: inherit;
    }

    .footer div {
        text-align: center;
    }

    .footer .list-parent {
        border: none;
    }

    .footer .-list-menu {
        border: none;
        height: inherit;
        width: inherit;
        text-align: center;
    }

    .content {
        width: inherit !important;
    }
}

@media (max-width: 700px) {
    .main-container .title .content .circle-back-op {
        width: 270px;
        height: 270px;
    }

    .main-container .title .content .circle-back-op .circle-back {
        width: 230px;
        height: 230px;
    }

    .main-container .title img {
        width: 350px;
    }

    .main-container .parallax__group.circe-cont {
        height: 50vh;
    }
}

@media (min-width: 1330px) {
    .header-content {
        display: none;
    }
}

body {
    font-family: 'Open Sans', sans-serif !important;
    color: #212121;
}

.white-back {
    background-color: white !important;
}

.md-tooltip,
md-tooltip {
    z-index: 100000000000000000000000 !important;
}

._md-select-menu-container,
.md-dialog-container {
    z-index: 100000000000000000000001 !important;
}

.tor-inputs,
.post-inp {
    /* Firefox 19+ */
    /* Firefox 18- */
}

.tor-inputs ::-webkit-input-placeholder,
.post-inp ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.49);
    font-size: 13px;
}

.tor-inputs ::-moz-placeholder,
.post-inp ::-moz-placeholder {
    color: rgba(255, 255, 255, 0.49);
    font-size: 13px;
}

.tor-inputs :-moz-placeholder,
.post-inp :-moz-placeholder {
    color: rgba(255, 255, 255, 0.49);
    font-size: 13px;
}

.tor-inputs :-ms-input-placeholder,
.post-inp :-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.49);
    font-size: 13px;
}

.tor-inputs input.address:-ms-input-placeholder,
.post-inp input.address:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.49);
    font-size: 13px;
}

::-webkit-scrollbar,
scrollbar {
    height: 6px;
    width: 8px;
}

::-webkit-scrollbar-track,
scrollbar-track {
    background-color: rgba(74, 74, 74, 0.2);
    /*border-right: 1px solid @tor-primary-text;*/
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

::-webkit-scrollbar-thumb,
scrollbar-thumb {
    background-color: #636363;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover,
scrollbar-thumb:hover {
    background-color: #aaa;
}

body {
    scrollbar-3dlight-color: #ffffff;
    scrollbar-arrow-color: #ffffff;
    scrollbar-base-color: #ffffff;
    scrollbar-darkshadow-color: #ffffff;
    scrollbar-face-color: #ffffff;
    scrollbar-highlight-color: #ffffff;
    scrollbar-shadow-color: #ffffff;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    vertical-align: middle !important;
    width: 25%;
}

.col-sm-3 {
    text-align: center;
}

.vertical-align {
    display: flex;
    align-items: center;
}

/*.header,.slide-tabs{
    background-color: @nice-blue;
}*/
.logo {
    position: relative;
    width: 82px;
}

.threejs,
.title,
.value {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    font-weight: 900;
}

.back-tables > .col-sm-12 > .threejsPrnt {
    left: 50%;
    transform: translateX(-50%);
}

.threejs {
    width: 100%;
}

three-js-out {
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 450px;
    min-height: 400px;
    top: 0;
    left: 0;
}

.level-1.post {
    background: #3f51b5;
}

.post-calc > div > div > .md-button.md-primary.md-raised,
.fs-controls > .md-button.md-primary.md-raised,
.post-clc-btn > .md-button.md-primary.md-raised,
.fs-progress,
.fs-nav-dots button:hover::before,
.fs-nav-dots button.fs-dot-current::before {
    background-color: #3f51b5 !important;
}

.post-cur-inf {
    padding: 10px 15px;
}

.post-cur-inf div p {
    border-bottom: 1px gray solid;
    margin-bottom: 25px;
}

.post-cur-inf div p.activInf {
    font-weight: 900;
    border-bottom: 2px black solid;
}

.post-cur-inf div .avialable:hover {
    cursor: pointer;
    border-bottom: 2px #3838c7 solid;
    color: #3838c7;
}

.error-info {
    position: relative;
}

.title,
.value {
    text-align: center;
    padding: 15px;
}

.level-1 {
    background: #3498db;
    color: white;
}

.level-2 {
    background-color: #D4D4D4;
}

.level-3 {
    background-color: #f0f0f0;
}

.value {
    color: #58B300;
    font-weight: bold;
}

.md-tabs .md-tab.md-active {
    color: #ffffff !important;
}

.md-tabs.md-default-theme .md-tab,
.md-tabs .md-tab {
    color: #000000 !important;
}

.md-input-container .md-errors-spacer {
    min-height: 0px !important;
}

.groupX {
    margin: 6px 0px !important;
    width: 49.5%;
    color: #312e2e;
    background-color: #B6B6B6 !important;
    text-transform: none;
    padding: 15px;
    font-weight: 400;
    min-width: 100px;
}

.logo_text {
    text-align: center;
    line-height: 36px;
    font-size: 35px;
    padding-top: 5px;
}

.logo_text :focus {
    outline: none !important;
}

:focus {
    outline: -webkit-focus-ring-color auto 0px !important;
}

.col-sm-12,
.col-sm-6,
.col-sm-4,
.col-sm-3,
.col-sm-2 {
    padding: 0 !important;
}

.table.table-results {
    width: 80% !important;
}

.input-layout {
    padding: 2px 5px;
}

.input-only-number {
    margin-bottom: 0;
    width: 100%;
    font-weight: 900;
}

._md-select-value > span:not(._md-select-icon) ._md-text {
    padding-left: 8px;
}

._md-select-menu-container._md-active md-select-menu > * {
    overflow: auto !important;
}

md-select.md-default-theme ._md-select-value,
md-select ._md-select-value,
md-select:not([disabled]):focus ._md-select-value {
    padding: 7px 0 !important;
    font-size: 14px !important;
    font-weight: 900 !important;
}

input {
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important;
    /* Цвет фона */
    -webkit-text-fill-color: #999 !important;
    /* цвет текста */
    color: #999 !important;
    /* цвет текста */
}

md-input-container label:not(.md-no-float):not(._md-container-ignore),
md-input-container ._md-placeholder {
    padding-left: 10px !important;
    margin-bottom: -10px !important;
}

.tooltipes-t {
    background: rgba(255, 255, 255, 0);
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    border-radius: 11px;
    width: 22px;
    height: 22px;
    z-index: 10;
    color: white;
}

.input-only-number > .md-errors-spacer {
    min-height: 0px !important;
}

.dd-val {
    width: 95%;
    float: right;
}

.input-only-number-calc {
    margin: 18px 0 0 0 !important;
}

.new-feature {
    position: absolute;
    height: 45px !important;
    padding: 2px;
    width: 40px;
    z-index: 1;
    top: 0;
}

.md-button.left {
    border-radius: 15px 0 0 15px;
    float: left;
}

.md-button.right {
    border-radius: 0 10px 10px 0;
    float: right;
}

.md-button:not([disabled]):hover {
    background-color: rgba(193, 193, 193, 0.96);
    color: rgba(44, 65, 164, 0.96);
    transition: 0.3s;
}

.header-field {
    min-height: 120px !important;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: rgba(1, 1, 1, 0) !important;
}

.iolData {
    display: none;
    width: 100%;
    overflow: auto;
    min-width: 170px;
}

.toolltip {
    min-width: 125px;
    width: 20%;
    text-align: center;
    float: right;
    position: absolute;
    right: 0;
    background: #ffffff;
    padding: 5px;
    border: 1px solid #007F00;
    border-radius: 5px;
}

.left-input {
    float: left;
}

.right-input {
    float: right;
}

.right-input,
.left-input {
    max-width: 49%;
    width: 49%;
}

.toolltip img {
    width: 22px;
    float: left;
}

.toolltip span {
    font-weight: 900;
}

.infoLogo {
    text-align: center;
    font-size: 35px;
    width: 100%;
    height: 116px;
}

.infoLogo img {
    position: relative;
    width: 250px;
}

.info {
    padding: 10px;
    text-align: center;
}

.preloader,
.contentCostum,
main {
    position: absolute;
    width: 100%;
    height: 100%;
}

md-content,
.sign-up {
    overflow: hidden !important;
}

.preloader {
    z-index: 100;
    background-color: #ffffff;
    background-image: url("../img/preloader.gif");
    background-position: center center;
    background-repeat: no-repeat;
}

.pdf-form {
    padding-bottom: 80px;
}

.pdf-h1 {
    font-size: 78px;
    margin-top: 600px;
    padding-bottom: 80px;
    text-align: center;
}

.input-back {
    background: #e7e7e7;
}

md-radio-button ._md-container {
    text-align: center;
    left: inherit !important;
}

.inp-post-rig {
    width: 48% !important;
    float: right;
    margin-top: -32px;
}

.inp-post-left {
    width: 48% !important;
}

.ful-w {
    width: 100% !important;
}

.inp-hide {
    display: none !important;
}

.fs-fields > li > md-input-container > md-select > ._md-select-value > span:not(._md-select-icon) {
    font-size: 3.0em !important;
    height: 1em;
    padding: 5px 0 !important;
}

a.tooltipes {
    position: relative;
    display: inline;
}

a.tooltipes span {
    position: absolute;
    width: 140px;
    color: #FFFFFF;
    text-shadow: 0px 1px 0px #808080;
    background: #212121;
    height: 30px;
    line-height: 30px;
    text-align: center;
    visibility: hidden;
    border-radius: 8px;
    box-shadow: 0px 4px 4px #030000;
}

a.tooltipes span:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-bottom: 8px solid #212121;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

a:hover.tooltipes span {
    visibility: visible;
    opacity: 0.8;
    top: 30px;
    left: 50%;
    margin-left: -76px;
    z-index: 999;
}

#signIn,
.forgot-psw {
    min-width: 460px;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    background: #ffffff;
    padding: 5px 15px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

#signIn md-content,
.forgot-psw md-content {
    background: #ffffff;
}

.threejsPrint {
    display: none;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.threejsPrint_ {
    position: relative;
    width: 100%;
    height: 100%;
}

.threejsPrint > img,
.threejsPrint_ > img {
    position: relative;
    width: 100%;
}

.userAccept {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.content {
    margin: AUTO;
    width: 950px;
    position: relative;
    top: 25.25%;
}

.row {
    text-align: center;
}

.toolltipInfo {
    padding: 0 !important;
    height: 38px;
}

.toolltipInfo > .flex {
    margin: 0 !important;
}

input,
.value {
    font-size: 14px !important;
}

.labelC {
    color: rgba(0, 0, 0, 0.54);
}

.eye {
    padding-top: 47px !important;
}

.full-relative-width {
    width: 100%;
}

.input-back > .col-sm-4:nth-child(2) {
    margin: 8px 0 !important;
}

.input-back > .col-md-6:nth-child(1) {
    margin: 8px 0 8px 8px !important;
}

.btn-clc > div > div > button {
    margin: 0 4px 7px 4px !important;
}

.btn-clc > div:nth-child(1) > div:nth-child(1) > .md-button {
    float: right;
    margin-right: 5px !important;
}

.btn-clc > div:nth-child(1) > div:nth-child(2) > .md-button {
    float: left;
    margin-left: 5px !important;
}

.level-1 > div:nth-child(1) > md-card:nth-child(1) {
    margin-bottom: 0px !important;
}

.header-field > section > div:nth-child(1) > div:nth-child(1) > button {
    left: 2.9% !important;
}

.header-field > section > div:nth-child(2) > div:nth-child(1) {
    left: 1.4% !important;
}

.btn-clc {
    margin: 0 !important;
}

.control-label {
    width: 100%;
    padding: 10px;
    text-align: center !important;
    font-weight: 100 !important;
}

.control-label,
.labelC,
.toolltip span,
.groupX,
.title {
    font-size: 18px !important;
}

md-dialog._md-transition-in {
    z-index: 100000000000000000000000000;
}

.info {
    font-size: 9px !important;
}

.control-label {
    background-color: #0076C3;
    color: white;
}

.form-control {
    border-radius: 0px !important;
    text-align: center;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.scrollToTop,
.scrollToDown {
    width: 50px;
    height: 50px;
    text-align: center;
    background: whiteSmoke;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position: absolute;
    bottom: 0px;
    right: 40px;
    display: none;
    background: url('../../assets/img/to-top.png') no-repeat 0px 0px;
    background-size: contain;
    z-index: 2;
}

.scrollToDown {
    transform: rotate(180deg);
}

.scrollToTop:hover,
.scrollToDown:hover {
    text-decoration: none;
}

.btn-full {
    font-size: 28px !important;
    padding: 5px !important;
}

.form-horizontal .form-group {
    margin: 0 !important;
}

input[type="number"],
input {
    padding: 0 !important;
    padding-left: 12px !important;
    height: 42px !important;
    font-weight: 900;
}

a.md-button.md-default-theme.md-primary.md-raised,
a.md-button.md-primary.md-raised,
a.md-button.md-default-theme.md-primary.md-fab,
a.md-button.md-primary.md-fab,
.md-button.md-default-theme.md-primary.md-raised,
.md-button.md-default-theme.md-primary.md-fab,
.md-button.md-primary.md-fab {
    background-color: #3f51b5 !important;
}

.active {
    background-color: #009688 !important;
    color: #fff !important;
}

.my-btn,
.my-btn-b {
    background-color: #09568c !important;
}

md-card {
    border: 1px solid #B1ABAB;
    background: #e7e7e7;
}

.container_main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cont {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
}

.form-horizontal .has-feedback .form-control-feedback {
    right: 0px !important;
}

.control-label {
    color: #ffffff !important;
}

.promo-code {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.promo-code-close {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(41, 41, 41, 0.4);
    cursor: pointer;
}

.viewCustom,
.settings {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
}

.settings,
.tab-pane {
    background: #ffffff !important;
}

.viewCustom iframe {
    position: relative;
    width: 100%;
    height: 100%;
}

.error {
    border: 1px solid red !important;
}

.table > tbody > tr > td,
.table > thead > tr > th {
    text-align: center;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    width: inherit;
}

.tab-content {
    padding: 10px;
}

.btn-eye:focus {
    border: 1px solid #0097A7;
}

.md-input-container-sign-up {
    margin: 7px 0 0 0 !important;
}

.contvd {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    display: none;
}

.glyphicon-remove {
    color: #dd2c00 !important;
}

.glyphicon-ok {
    color: #00801b !important;
}

.bol {
    font-weight: 900;
}

.code-in,
.code-up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fafafa;
    overflow-y: scroll;
    padding: 10px;
    text-align: center;
}

.code-up {
    min-width: 510px;
}

.code-up,
.code-in {
    text-align: center;
    padding: 10px 25px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.pdf-content {
    position: absolute;
    width: 2480px;
    height: 3508px;
    top: -3508px;
    left: -2480px;
    z-index: -100;
}

.noDisplay {
    display: none;
}

@page {
    size: A4;
}

.data-input,
.data-output,
.image-con {
    margin: auto;
    text-align: center;
}

.data-data,
.image-con {
    float: left;
    transform: scale(0.8);
    margin-top: -800px;
}

.image-con {
    width: 100%;
    text-align: center;
    margin-top: -180px;
    max-width: 1390px;
    z-index: -1;
}

.mk-8 {
    width: 75%;
    float: left;
    margin-top: 10px;
}

.mk-2 {
    width: 25%;
    float: right;
}

.mk {
    width: 100%;
}

.threejsOutput,
.threejsOutput_ {
    width: inherit;
}

.input-succeces {
    border: 1px solid gray !important;
}

.input-err {
    border: 1px solid red !important;
}

.threejsOutput {
    left: -100px;
}

.header-info {
    width: 100%;
    top: 0;
    margin-bottom: -150px;
}

.footer-notes {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.col-md-4 > .input-pdf {
    padding: 10px 6px 0 0 !important;
    border: none;
    font-weight: 900;
    height: inherit !important;
}

.pdf-group {
    margin-bottom: 10px;
}

.pdf-group > label {
    color: #212121 !important;
    background: white;
}

#notes {
    text-align: justify;
    background-color: rgba(255, 0, 0, 0);
}

.col-md-4 > .input-pdf,
.pdf-group > label,
.pdf-content,
.table .table-hover .table-pdf,
textarea .form-control ._notes {
    font-size: 66px !important;
}

.data-print {
    position: absolute;
    width: 100%;
}

.pdf-data-print tr:last-child {
    height: 2500px;
}

.pdf-data-print tr:last-child td:first-child {
    border-right: 5px solid black;
}

.pdf-data-print tr:last-child td:last-child .data-data {
    float: right;
}

.pdf-data-print tr:last-child td {
    max-width: 1367px;
}

.pdf-data-print tr:last-child td .table-pdf {
    text-align: center;
    margin: auto;
}

.my-btn {
    width: 90%;
}

.my-btn,
.my-btn > a {
    color: #212121;
}

.my-btn > a:hover,
.my-btn:hover {
    text-decoration: none;
    color: #212121;
}

.table {
    margin: auto;
    width: 99% !important;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    padding: 0 !important;
}

.table-list > tbody > tr > td,
.table-list > tbody > tr > th,
.table-list > tfoot > tr > td,
.table-list > tfoot > tr > th,
.table-list > thead > tr > td,
.table-list > thead > tr > th {
    border: 1px solid #ddd;
    padding: 5px;
}

.glyphicon-star {
    transform: scale(1.4);
    color: #344d7e !important;
}

.m-p {
    padding: 0 !important;
    margin: 0 !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    display: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
}

.statistics-btn {
    width: 25px;
}

.form-dd,
.dd-val > .form-group {
    margin-bottom: 5px !important;
}

.data-input > form {
    z-index: 10;
}

.m-p {
    margin: 0 !important;
    padding: 0 !important;
}

.m-p > .control-label {
    padding: 8.5px;
}

.btn-text-calc {
    letter-spacing: 3px !important;
    margin: 4px !important;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: textfield !important;
}

.preloader-text,
.preloader-text-animate {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    display: none;
    background: white;
}

.centerX {
    transform: translateX(-50%);
    left: 50%;
}

.center {
    transform: translate(-50%, -50%);
    position: absolute !important;
    top: 50%;
    left: 50%;
    width: 100%;
}

#inTurnBlurringTextG {
    width: 125px;
    margin: auto;
}

.inTurStaingTextG {
    font-family: Arial;
    font-size: 24px;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
}

.inTurnBlurringTextG {
    color: transparent;
    font-family: Arial;
    font-size: 24px;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    float: left;
    text-shadow: #212121 0 0 0;
    animation-duration: 2.09s;
    -o-animation-duration: 2.09s;
    -ms-animation-duration: 2.09s;
    -webkit-animation-duration: 2.09s;
    -moz-animation-duration: 2.09s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
}

#inTurnBlurringTextG {
    width: 125px;
    margin: auto;
}

.inTurnBlurringTextG {
    color: transparent;
    font-family: Arial;
    font-size: 24px;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    float: left;
    text-shadow: #212121 0 0 0;
    animation-name: bounce_inTurnBlurringTextG;
    -o-animation-name: bounce_inTurnBlurringTextG;
    -ms-animation-name: bounce_inTurnBlurringTextG;
    -webkit-animation-name: bounce_inTurnBlurringTextG;
    -moz-animation-name: bounce_inTurnBlurringTextG;
    animation-duration: 2.09s;
    -o-animation-duration: 2.09s;
    -ms-animation-duration: 2.09s;
    -webkit-animation-duration: 2.09s;
    -moz-animation-duration: 2.09s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
}

#inTurnBlurringTextG_1 {
    animation-delay: 0.75s;
    -o-animation-delay: 0.75s;
    -ms-animation-delay: 0.75s;
    -webkit-animation-delay: 0.75s;
    -moz-animation-delay: 0.75s;
}

#inTurnBlurringTextG_2 {
    animation-delay: 0.9s;
    -o-animation-delay: 0.9s;
    -ms-animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
}

#inTurnBlurringTextG_3 {
    animation-delay: 1.05s;
    -o-animation-delay: 1.05s;
    -ms-animation-delay: 1.05s;
    -webkit-animation-delay: 1.05s;
    -moz-animation-delay: 1.05s;
}

#inTurnBlurringTextG_4 {
    animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    -ms-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
}

#inTurnBlurringTextG_5 {
    animation-delay: 1.35s;
    -o-animation-delay: 1.35s;
    -ms-animation-delay: 1.35s;
    -webkit-animation-delay: 1.35s;
    -moz-animation-delay: 1.35s;
}

#inTurnBlurringTextG_6 {
    animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
}

#inTurnBlurringTextG_7 {
    animation-delay: 1.64s;
    -o-animation-delay: 1.64s;
    -ms-animation-delay: 1.64s;
    -webkit-animation-delay: 1.64s;
    -moz-animation-delay: 1.64s;
}

#inTurnBlurringTextG_8 {
    animation-delay: 1.79s;
    -o-animation-delay: 1.79s;
    -ms-animation-delay: 1.79s;
    -webkit-animation-delay: 1.79s;
    -moz-animation-delay: 1.79s;
}

#inTurnBlurringTextG_9 {
    animation-delay: 1.94s;
    -o-animation-delay: 1.94s;
    -ms-animation-delay: 1.94s;
    -webkit-animation-delay: 1.94s;
    -moz-animation-delay: 1.94s;
}

#inTurnBlurringTextG_10 {
    animation-delay: 2.09s;
    -o-animation-delay: 2.09s;
    -ms-animation-delay: 2.09s;
    -webkit-animation-delay: 2.09s;
    -moz-animation-delay: 2.09s;
}

@keyframes bounce_inTurnBlurringTextG {
    0% {
        text-shadow: #212121 0 0 0;
    }
    100% {
        text-shadow: #ffffff 0 0 19px;
    }
}

@-o-keyframes bounce_inTurnBlurringTextG {
    0% {
        text-shadow: #212121 0 0 0;
    }
    100% {
        text-shadow: #ffffff 0 0 19px;
    }
}

@-ms-keyframes bounce_inTurnBlurringTextG {
    0% {
        text-shadow: #212121 0 0 0;
    }
    100% {
        text-shadow: #ffffff 0 0 19px;
    }
}

@-webkit-keyframes bounce_inTurnBlurringTextG {
    0% {
        text-shadow: #212121 0 0 0;
    }
    100% {
        text-shadow: #ffffff 0 0 19px;
    }
}

@-moz-keyframes bounce_inTurnBlurringTextG {
    0% {
        text-shadow: #212121 0 0 0;
    }
    100% {
        text-shadow: #ffffff 0 0 19px;
    }
}

.md-button.md-raised:not([disabled]),
a.md-button.md-default-theme.md-hue-1.md-accent.md-raised,
a.md-button.md-hue-1.md-accent.md-raised,
a.md-button.md-default-theme.md-hue-1.md-accent.md-fab,
a.md-button.md-hue-1.md-accent.md-fab,
.md-button.md-default-theme.md-hue-1.md-accent.md-raised,
.md-button.md-hue-1.md-accent.md-raised,
.md-button.md-default-theme.md-hue-1.md-accent.md-fab,
.md-button.md-hue-1.md-accent.md-fab {
    color: white !important;
    font-weight: bold !important;
}

md-input-container label:not(.md-no-float):not(._md-container-ignore),
md-input-container ._md-placeholder {
    text-align: left;
}

md-select-menu {
    max-height: inherit !important;
}

md-select-menu md-content {
    max-height: inherit !important;
}

.set-inpts {
    padding: 15px;
    /* Firefox 19+ */
    /* Firefox 18- */
}

.set-inpts .control-label {
    background: #3498db;
}

.set-inpts input {
    background: rgba(255, 255, 255, 0);
    border: none !important;
    border-bottom: 1px solid rgba(142, 142, 142, 0.51) !important;
    padding-left: 10px !important;
    color: black;
    font-size: 16px !important;
}

.set-inpts .tooltipes-t {
    color: rgba(142, 142, 142, 0.51);
    border-radius: 11px;
    position: absolute;
    top: 5px;
    right: 0;
}

.set-inpts ._md-select-value {
    border-bottom-color: rgba(142, 142, 142, 0.51);
}

.set-inpts md-select-value {
    color: rgba(142, 142, 142, 0.51);
    font-size: 16px !important;
}

.set-inpts ::-webkit-input-placeholder {
    color: #999;
    font-size: 13px;
}

.set-inpts ::-moz-placeholder {
    color: #999;
    font-size: 13px;
}

.set-inpts :-moz-placeholder {
    color: #999;
    font-size: 13px;
}

.set-inpts :-ms-input-placeholder {
    color: #999;
    font-size: 13px;
}

.noselect {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.no-copy {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.mdb-table > tbody > tr > td, .mdb-table > tbody > tr > th, .mdb-table > tfoot > tr > td, .mdb-table > tfoot > tr > th, .mdb-table > thead > tr > td, .mdb-table > thead > tr > th {
    padding: 8px !important;
    border: 1px solid #ddd !important;
    text-align: center;
}

.sortorder:after {
    content: '\25b2';
/ / BLACK UP-POINTING TRIANGLE
}

.sortorder.reverse:after {
    content: '\25bc';
/ / BLACK DOWN-POINTING TRIANGLE
}

.table-list .delete {
    padding: 4px 9px;
}

.table-list .delete:hover {
    background: red;
    border-radius: 20px;
}

md-autocomplete-wrap {
    box-shadow: none !important;
}

md-autocomplete {
    background: rgba(255, 255, 255, 0) !important;
    border: none;
}

.md-autocomplete-suggestions li:nth-child(1),
.md-autocomplete-suggestions li:nth-child(2),
.md-autocomplete-suggestions li:nth-child(3),
.md-autocomplete-suggestions li:nth-child(4),
.md-autocomplete-suggestions li:nth-child(5) {
    font-weight: 900;
}

.els-list {
    transition: all 0.8s;
    background: white;
    z-index: 100;
    position: absolute;
    width: 100%;
    max-height: 0;
    opacity: 0;
    top: -15px;
    visibility: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.els-list-parent-items {
    width: 100%;
    overflow: hidden;
    float: left;
    padding-bottom: 5px;
}
.scrollable{
    overflow: auto;
    max-height: 120px;
}

.els-list .inpt-wrapper {
    padding: 10px!important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
}

.els-list .inpt-wrapper .input-only-number {
    background: #ebebeb !important;
    color: #696969 !important;
}

.els-list .inpt-wrapper .input-only-number::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #696969;
    font-family: "Open Sans";
}
.els-list .inpt-wrapper .input-only-number::-moz-placeholder { /* Firefox 19+ */
    color: #696969;
    font-family: "Open Sans";
}
.els-list .inpt-wrapper .input-only-number:-ms-input-placeholder { /* IE 10+ */
    color: #696969;
    font-family: "Open Sans";
}
.els-list .inpt-wrapper .input-only-number:-moz-placeholder { /* Firefox 18- */
    color: #696969;
    font-family: "Open Sans";
}

.els-list.els-active {

    max-height: 100vh;
    opacity: 1;
    visibility: visible;
}

.els-list h3 {
    font-size: 18px;
    font-weight: 900;
    margin: 10px;
}

.els-list .lens-el {
    font-weight: 400 !important;
    font-family: 'Open Sans';
    padding: 0 16px 0 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.els-list .lens-el:hover {
    background: rgb(238,238,238);
    color: rgba(33,33,33,0.87);
}
.table.table-striped.table-hover td{
    max-height: 80px;
    max-width: 220px;
    /*overflow: auto;*/
}
.table>thead>tr>th.header{
    position: relative;
    height: 50px;
    background: #e9e9e9;
}
.selectable{
    cursor: pointer;
    color: white;
}
.selectable .md-text, .selectable ._md-text{
    white-space: normal !important;
    overflow: visible !important;
}
.selectable .md-select-value span, .selectable ._md-select-value span{
    margin-bottom: 5px !important;
}
._md-select-value{
    border-color: white;
    color: white;
}
.calc-content md-card.las-card-inp p.p-black{
    color: black;
    padding: 0;
}

.calc-content md-card.las-card-inp p.p-black span{
    text-decoration: underline;
    color: #2c5999;
}

.checkb{
    margin-bottom: 0 !important;
    margin-top: 10px !important;
}

.totalInfo{
    display: flex !important;
    flex-direction: column;
    align-items: end;
    height: 100px;
    margin-top: -70px;
    z-index: 10;
}

.totalInfo h5{
    margin: 0;
    font-size: 11px;
}

.buttons{
    max-width: 50%;
    display: inline-flex;
    margin-left: 10px;
}

.buttons button{
    margin: 1px !important;
    width: 10px;
    font-size: 12px !important;

}

.displayEmailExportBtn{
    position: absolute !important;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}

.displayEmail{
    position: relative !important;
    padding-right: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.banned {
    color: red;
    font-weight: bold;
}

.newUser {
    color: #01008b;
    font-weight: bold;
}