.full_rel {
  position: relative;
  width: 100%;
  height: 100%;
}
.full_abs {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.ggkj {
  color: honeydew;
}
.centerX {
  transform: translateX(-50%);
  left: 50%;
}
.centerY {
  transform: translateY(-50%);
  top: 50%;
}
.center {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.table-results > tbody > tr > td {
  line-height: 1.42857143!important;
  padding: 0.36rem!important;
}
.table-results > thead:first-child > tr:first-child > th {
  text-align: center;
}
.table-results {
  width: 80%!important;
  margin: auto;
  max-width: 100%;
  background-color: #fff;
}
.table-results > thead > tr,
.table-results > tbody > tr,
.table-results > tfoot > tr {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.table-results > thead > tr > th,
.table-results > tbody > tr > th,
.table-results > tfoot > tr > th,
.table-results > thead > tr > td,
.table-results > tbody > tr > td,
.table-results > tfoot > tr > td {
  text-align: left;
  padding: 1.6rem;
  vertical-align: top;
  border-top: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.table-results > thead > tr > th {
  font-weight: 400;
  color: #757575;
  vertical-align: bottom;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.table-results > caption + thead > tr:first-child > th,
.table-results > colgroup + thead > tr:first-child > th,
.table-results > thead:first-child > tr:first-child > th,
.table-results > caption + thead > tr:first-child > td,
.table-results > colgroup + thead > tr:first-child > td,
.table-results > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table-results > tbody + tbody {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.table-results .table-results {
  background-color: #fff;
}
.table-results .no-border {
  border: 0;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: rgba(0, 0, 0, 0.12);
}
