@import "variables";
@import "functions";
@import url(https://fonts.googleapis.com/css?family=Asap:400,700);

.threejs-tor {
  min-height: 916px !important;
}

.tor, .tor > .control-label {
  padding-top: 10px;
  background: @tor-green !important;
}

.md-tor > .md-button.md-primary.md-raised,
.md-tor > .col-sm-12 > .col-sm-6 > .md-button.md-primary.md-raised,
.active {
  background: @tor-green !important;
}

.calc-content {
  font-family: 'Asap', sans-serif !important;
  font-size: 16px;
  md-input-container:not(.md-input-invalid).md-input-focused .md-input,
  md-input-container:not(.md-input-invalid).md-input-focused label {
    border-color: @tor-green;
    color: @tor-green;
  }

  md-content {
    padding: 10px;
  }

  md-card {
    border: none;
    background: #fff;
    border-radius: 0px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
    .tor-eye-btns {
      button {
        width: 100%;
        border-radius: 0px;
        padding: 10px;
        margin: 0px !important;

      }
      .sn {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
      }
      .groupX {
        background-color: @tor-white !important;
      }
    }
    .tor-inputs {
      min-height: 350px;
      height: 100%;
      background: @tor-green;

      .tor-form-full {
        padding: 10px 40px !important;
        width: 100%;
        .dd-val {
          width: 100%;
          float: none;
          overflow-y: scroll;
          color: white;
          min-height: 450px;
          //padding: 60px 40px;
          .form-group {
            margin-bottom: 0px !important;
            display: flex;
            .tooltipes-t {
              border: 1px solid rgba(137, 137, 216, 0.01);
              background: rgba(255, 255, 255, 0);
              right: 0px;
              margin-top: 5px;
            }
            .col-md-7 {
              text-align: center;
              border-left: 1px solid rgba(255, 255, 255, 0.19);

              input, select {
                color: white !important;;
                border: none;
                background: @tor-green !important;
                border-bottom: 1px solid rgb(255, 255, 255);
              }

              .input-err {
                border: none !important;
                border-bottom: 1px solid red !important;
              }

            }
            .col-md-7 > .col-sm-11 {
              //width: 90%!important;
              left: 50%;
              transform: translateX(-50%);
            }

          }
        }
      }
    }
  }
  .selectpicker {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  md-input-container {
    //margin: auto;
    md-select.md-default-theme ._md-select-value, md-select ._md-select-value {
      border-bottom-color: rgb(255, 255, 255);
    }
  }
  .header-main {
    //min-height: 140px;
    display: flex;

    background: @tor-white;
    .h-logo, .h-menu {
      z-index: 1;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
    }
    .h-menu>.tor-link{
      //border: none;
    }

    .h-logo {

      text-transform: uppercase;
      .tor-list-menu{
        letter-spacing: 2px;
      }
    }
    .tor-list-menu {
      height: 70px;
      display: table-cell;
      vertical-align: middle;
      width: inherit;
      text-align: center;
      .new-feature {
        left: 0;
      }
      .tor-post {
        color: @post-back;
      }
      .post-tor{
        color: @tor-green
      }
      xml-load {
        position: absolute;
        width: 100%;
        left: 0;
        padding: 10% 0;
        min-width: 140px;
        .centerY();
        span{
          padding: 10px 0;
        }

      }
    }

    .h-menu > div > .tor-list-menu:hover, .h-menu > div > .tor-list-menu > span:hover, {
      background-color: rgba(193, 193, 193, 0.96);
      color: rgba(44, 65, 164, 0.96);
      transition: 0.3s;
    }
    .h-menu > div {
      border-left: 2px solid rgba(128, 128, 128, 0.14);
    }
    .h-menu > .calc {
      border-left: 0px solid rgba(128, 128, 128, 0.14);
    }

  }
  .tor-client-info {
    min-height: 140px !important;
    max-height: 140px;

    md-card-content {
      padding-right: 0px;
      height: 100%;
    }
  }
  .tor-row {
    margin: 10px 0 10px 10px;
    display: flex;
    .selectpicker {
      border: none;
      border-bottom: 1px solid #060606;
      margin: 0;
      padding: 0;
      width: 90%;
      font-weight: 100;
    }

    .surg-data {
      top: -10px;
    }
    .h-menu{
      height: 140px;
      margin-top: -26px;

      .tor-list-menu {
        height: inherit;
        display: table-cell;
        vertical-align: middle;
        width: inherit;
        text-align: center;
        border-left: 2px solid rgba(128, 128, 128, 0.14);
        color: @tor-green;
        xml-load {
          padding: 60px 0px;
        }
      }
      .tor-list-menu:hover {
        background-color: rgba(193, 193, 193, 0.96);
        color: rgba(44, 65, 164, 0.96);
        transition: 0.3s;
      }
      button {
        margin-left: 11px !important;
      }
      button:hover {
        background-color: rgba(193, 193, 193, 0.96);
        color: rgba(44, 65, 164, 0.96);
        transition: 0.3s;
      }
    }

    .row {
      width: 90%;
      margin: 0px;
      //position: absolute;

      input, select {
        width: 90% !important;
        border: none;
        border-bottom: 1px solid rgb(0, 0, 0);
      }
      select {
        margin-top: 10px;
      }
      input:focus {
        color: @tor-green;
        border-bottom: 1px solid @tor-green;
      }
    }
    .row:last-child {
      bottom: 0px;
    }

  }
  .md-primary {
    .center();
    border-radius: 0px;
    text-transform: lowercase;
    margin: 0;
    padding: 6px;
    color: @tor-green;
  }

  #plotf {
    visibility: hidden;
  }
  .threejs-out {
    min-height: 742px;
    background: #000 url("../img/toric/back_view.png") center no-repeat;
    .tor-eye {
      position: relative;
      width: 100%;
      height: 100%;
      background: #000 url("../img/toric/back_view.png") center no-repeat;
      //background: rgba(0, 0, 0, 0) url("../img/toric/eye.png") center no-repeat;
      //background-size: 50%;
      .tor-threejs {
        position: relative;
        width: 100%;
        height: 100%;
        canvas:last-child {
          position: absolute;
          z-index: 1;
        }
        .tor-calc-btn {
          position: absolute;
          bottom: 0;
          padding: 30px;
          color: white;
          width: 280px;
          .md-button {
            background: @tor-green !important;
          }
          .md-button[disabled] {
            background: rgba(128, 128, 128, 0.6) !important;
          }
          span {
            margin-top: 20px;
          }
        }
      }
    }
    .tor-head {
      position: absolute;
      width: 100%;
      height: 100%;
      background: url("../img/toric/head.png") no-repeat center;
      background-size: contain;
    }
    .FlatA {
      width: 80px;
      height: 20px;
      background-position: 0 50%;
      margin-right: 20px;
      margin-left: 3px;
    }
    #Flat_Axis {
      background-image: url("../img/toric/steep_arrow.png");

    }
    #Steep_Axis {
      background: url("../img/toric/flat_arrow.png");
      background-position: 50% 50%;
      background-repeat: no-repeat;
      margin-left: -3px;
      transform: scale(1) rotate(15deg);
    }

    .iLoctn {
      transform: rotate(270deg) scale(0.8);
      width: 90px;
      height: 120px;
      background-position: 100%;
      margin-left: -5px;
    }
    .tor-three-info {
      position: absolute;
      z-index: 10;
      padding: 25px;
      color: white;
      p {
        margin-left: 3px;
      }
      .table {
        margin: 0;
        p {
          font-size: 12px;
          color: rgba(255, 255, 255, 0.6);
          font-weight: 900;
          margin: 0;
        }
      }
    }
    .tor-three-info > .table > tbody > tr > td {
      border: none;
      color: white;
      margin: 0;
      padding: 0 !important;
      line-height: 0.1;
      text-align: left;
    }
    .tor-face-p {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.55);
    }
    .tor-face-left, .tor-face-right {
      position: absolute;
      width: 100%;
      height: 100%;
      //background-size:  contain!important;
      display: none;
      opacity: 0.15;
      z-index: 0;
    }
    .tor-face-right {
      background: url("../img/toric/left.png") no-repeat right;
    }
    .tor-face-left {
      background: url("../img/toric/ight.png") no-repeat left;
    }

  }
}