@nice-blue-: #5B83AD;
@nice-blue: #536DFE;
@light-blue: @nice-blue + #111;

@home-blue:#3498db;
@home-btn-blue:#3f51b5;

@post-back:#3f51b5;
@post-btns:#3f51b5;
@post-txt-gray:#999;;

@tor-green:#009688;
@tor-blue: #0097A7;
@tor-divide-col: #B6B6B6;
@tor-primary-text: #212121;
@tor-sec-text: #727272;
@tor-white: #fff;

@table-header-font-weight:      400;
@table-header-font-color:       #757575;

@table-cell-padding:            1.6rem;
@table-condensed-cell-padding:  @table-cell-padding/2;


@table-bg:                      #fff;
@table-bg-accent:               #f5f5f5;
@table-bg-hover:                rgba(0,0,0,.12);
@table-bg-active:               @table-bg-hover;
@table-border-color:            #e0e0e0;

@border-color:#e8eaf6;

@set-gray: rgba(142, 142, 142, 0.51);

