<div class="contentCostum" id="calcCostum" data-ng-init="$parent.utils.fade()">
    <md-content class="level-1" id="max-height-block">
        <div layout="row" layout-xs="column">
            <md-card flex>
                <md-content id="header-form">
                    <form name="useresForm" class="form-horizontal full-relative-width" role="form" novalidate>
                        <div layout="row " class="input-back" layout-xs="column">
                            <md-card flex class="col-sm-4 ">
                                <md-content layout-padding="" class="level-3 header-field back-tables input-layout ">
                                    <div class="col-sm-12 center " style="padding: 0 5px!important;">
                                        <div class="col-sm-4">
                                            <md-input-container class="md-block   input-only-number">
                                                <input name="usrName" type="text" data-ng-trim="false"
                                                       placeholder="Surgeon"
                                                       ng-required="data.inputOD.calcsFormSubmitted || data.inputOS.calcsFormSubmitted"
                                                       data-ng-model="session.user.usr_name"
                                                       data-ng-change="utils.changeName(session.user,'usr_name');"
                                                       data-ng-disabled="!data.isInputing"
                                                       ng-maxlength="51" tabindex=1>

                                            </md-input-container>
                                        </div>
                                        <div class="col-sm-8">

                                            <div class="col-sm-12">
                                                <div class="col-sm-6">
                                                    <md-input-container class="md-block  input-only-number">
                                                        <input name="usrPtnName" type="text"
                                                               placeholder="Patient" autofocus="true"
                                                               data-ng-disabled="!data.isInputing"
                                                               data-ng-model="data.ptntName" ng-maxlength="50"
                                                               tabindex=2>
                                                    </md-input-container>
                                                </div>
                                                <div class="col-sm-6">
                                                    <md-input-container class="md-block input-only-number">
                                                        <input name="usrPtnID" type="text"
                                                               placeholder="Patient ID"
                                                               data-ng-disabled="!data.isInputing"
                                                               data-ng-model="data.ptntID" ng-maxlength="50" tabindex=3>
                                                    </md-input-container>
                                                </div>
                                            </div>
                                            <div class="col-sm-12" style="text-align: center"
                                                 data-ng-show="data.isInputing">
                                                <input class="ng-hide" id="fileInput" multiple type="file"
                                                       accept="text/xml"/>
                                                <md-button class="md-raised md-primary" aria-label="IMPORT PATIENT"
                                                           ng-click="calc.upload()"
                                                           class="my-btn-set btn-text-calc">
                                                    <md-icon
                                                            md-svg-src="assets/img/ic_attach_file_black_24px.svg"></md-icon>
                                                    IMPORT PATIENT
                                                    <md-tooltip md-direction="Bottom"> Load a Lenstar or IOL Master
                                                        '.xml' patient file to import measurement data.
                                                    </md-tooltip>
                                                </md-button>
                                            </div>

                                        </div>

                                    </div>

                                </md-content>
                            </md-card>
                            <md-card flex class="col-sm-4 ">
                                <md-content class="level-3 header-field back-tables header-field"><p
                                        class="logo_text center " id="logo_text" tabindex=-1
                                        data-ng-bind="data.label.web_header"
                                        data-ng-click="utils.version()"></p>
                                </md-content>
                            </md-card>
                            <md-card flex class="col-sm-4 ">
                                <md-content class="level-3 header-field back-tables header-field ">
                                    <section layout="row" layout-sm="column" layout-align="center center"
                                             class="center "
                                             layout-wrap style="padding-top: 2px;">
                                        <div class="col-sm-12">
                                            <div class="col-sm-6">
                                                <md-button class="md-raised md-primary col-sm-11"
                                                           ng-click="utils.move('settings')">
                                                    <md-icon
                                                            md-svg-src="assets/img/ic_settings_black_24px.svg"></md-icon>
                                                    Settings
                                                </md-button>
                                            </div>
                                            <div class="col-sm-6">
                                                <md-button class="md-raised md-primary col-sm-11"
                                                           ng-click="utils.logOut()">
                                                    <md-icon
                                                            md-svg-src="assets/img/ic_exit_to_app_black_24px.svg"></md-icon>
                                                    Log OUT
                                                </md-button>
                                            </div>
                                        </div>


                                        <div class="col-sm-12">

                                            <div class="col-sm-6">

                                                <md-button class="md-raised md-primary col-sm-11"
                                                           style="padding-left: 25px;background-color: #EC1C1C!important;"
                                                           ng-click="utils.move('post-lasik-calc')">

                                                    Post-LASIK Calculator
                                                </md-button>
                                                <img src="assets/img/Pasted image at 2016_05_10 05_04 PM.png"
                                                     class="new-feature">
                                            </div>
                                            <div class="col-sm-6">

                                                <md-button class="md-raised md-primary col-sm-11"
                                                           style="padding-left: 25px;background-color: #007c15!important;"
                                                           ng-click="utils.move('toric_calc')">
                                                    Toric Calculator
                                                </md-button>
                                                <img src="assets/img/Pasted image at 2016_05_10 05_04 PM.png"
                                                     class="new-feature">
                                            </div>

                                        </div>


                                    </section>
                                </md-content>
                            </md-card>
                        </div>
                    </form>
                </md-content>
            </md-card>
        </div>
        <div layout="row" layout-xs="column">
            <md-card flex>
                <md-content>
                    <div layout="row " class="input-back" layout-xs="column">
                        <md-card flex class="col-md-6">
                            <form name="calcsODForm" class="form-horizontal full-relative-width" role="form" novalidate
                                  autocomplete="off">
                                <md-content layout-padding="" class="level-3 back-tables input-layout body-card">
                                    <div class="col-sm-12">
                                        <h2 style="text-align: center;">Right (OD)</h2>

                                        <div class="target">
                                            <div data-ng-hide="data.summary">
                                                <div data-ng-repeat="inp in data.inpDts">
                                                    <div class="full-relative-width"><h3>{{inp.head}}</h3></div>
                                                    <div class="dd-val">
                                                        <div data-ng-repeat="f in inp.list" class="form-group">
                                                            <label mean-token="'create-srt_name'"
                                                                   for="{{data._inpF[f]}}OD"
                                                                   class="col-md-7 control-label">{{data.label[data._inpF[f]]}}</label>

                                                            <div class="col-md-5">
                                                                <input name="{{data._inpF[f]}}"
                                                                       data-ng-hide ="f == 'f'"
                                                                       valid-number
                                                                       type="text"
                                                                       data-ng-model="data[data._inpF.r][data._inpF[f]]"
                                                                       data-ng-trim="false"
                                                                       placeholder="{{data.label[data._inpF[f]]}}"
                                                                       data-ng-required="data[data._inpF.r][data._intVl[f].r]"
                                                                       data-ng-change="calc.onInput(data._inpF[f],1)"
                                                                       min="{{data._intVl[f].min}}"
                                                                       max="{{data._intVl[f].max}}"
                                                                       class="input-succeces   input-only-number"
                                                                       id="{{data._inpF[f]}}OD" tabindex=4+{{$index}}>

                                                                <md-input-container data-ng-show="f == 'f'"
                                                                                    class="md-block input-tables input-only-number"
                                                                                    style="padding: 0; margin: 0;">

                                                                    <md-select aria-label="{{data.label[data._inpF.f]}}"
                                                                               ng-model="data[data._inpF.r][data._inpF[f]]"
                                                                               tabindex=15>
                                                                        <md-option ng-repeat="k in data.Kindexes"
                                                                                   value="{{k}}">
                                                                            {{k}}
                                                                        </md-option>
                                                                    </md-select>
                                                                </md-input-container>

                                                                <div class="tooltipes-t"  data-ng-hide ="f == 'f'">?
                                                                    <md-tooltip md-direction="Left"><p>
                                                                        {{data.label[data._inpF[f]]}} is between
                                                                        {{data._intVl[f].min}} and
                                                                        {{data._intVl[f].max}}
                                                                        <span data-ng-show="data[data._inpF.r][data._intVl[f].r]">and it`s required</span>
                                                                    </p></md-tooltip>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div data-ng-show="data.summary">
                                                <table class="table table-hover table-bordered">
                                                    <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr data-ng-repeat="f in data.curFieldes">
                                                        <td>{{data.label[data._inpF[f]]}}</td>
                                                        <td>{{data[data._inpF.r][data._inpF[f]]}}</td>
                                                    </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-sm-8 threejsPrnt" layout="row center  ">
                                            <div class="threejs" id="{{data.listOfGraph[0]}}">
                                            </div>

                                            <div class="threejsPrint">
                                                <img alt="webgl is not support"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-12" layout="row center  ">
                                            <div id="iolODData" class="iolData">
                                                <table class="table table-hover iol-data">
                                                    <thead>
                                                    <tr>
                                                        <th><b>IOL (D)</b></th>
                                                        <th><b>REF (D)</b></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="iolRef in data.iolODRef">
                                                        <td ng-class="{'bol':iolRef.middle}">
                                                            <div ng-class="{ 'glyphicon glyphicon-star ': iolRef.middle}"></div>
                                                            &nbsp;{{ iolRef.iol }}&nbsp;
                                                            <div ng-class="{ 'glyphicon glyphicon-star ': iolRef.middle}"></div>
                                                        </td>
                                                        <td ng-class="{'bol':iolRef.middle}">{{iolRef.ref}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <div class="info">Beta Testing Website - For Educational Purposes
                                                    Only
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </md-content>
                            </form>
                        </md-card>
                        <md-card flex class="col-md-6">
                            <form name="calcsOSForm" class="form-horizontal full-relative-width" role="form" novalidate
                                  autocomplete="off">
                                <md-content layout-padding="" class="level-3 back-tables input-layout body-card">
                                    <div class="col-sm-12">
                                        <h2 style="text-align: center;">Left (OS)
                                        </h2>

                                        <div class="target">
                                            <div data-ng-hide="data.summary">
                                                <div data-ng-repeat="inp in data.inpDts">
                                                    <div class="full-relative-width "><h3>{{inp.head}}</h3></div>
                                                    <div class="dd-val">

                                                        <div data-ng-repeat="f in inp.list" class="form-group">
                                                            <label mean-token="'create-srt_name'"
                                                                   for="{{data._inpF[f]}}OS"
                                                                   class="col-md-7 control-label">{{data.label[data._inpF[f]]}}</label>

                                                            <div class="col-md-5">
                                                                <input name="{{data._inpF[f]}}"
                                                                       data-ng-hide ="f == 'f'"
                                                                       valid-number
                                                                       type="text"
                                                                       data-ng-model="data[data._inpF.l][data._inpF[f]]"
                                                                       data-ng-trim="false"
                                                                       placeholder="{{data.label[data._inpF[f]]}}"
                                                                       data-ng-required="data[data._inpF.l][data._intVl[f].r]"
                                                                       data-ng-change="calc.onInput(data._inpF[f])"
                                                                       min="{{data._intVl[f].min}}"
                                                                       max="{{data._intVl[f].max}}"
                                                                       class="input-succeces   input-only-number"
                                                                       id="{{data._inpF[f]}}OS" tabindex=11+{{$index}}>

                                                                <md-input-container data-ng-show="f == 'f'"
                                                                        class="md-block input-tables input-only-number"
                                                                        style="padding: 0; margin: 0;">

                                                                    <md-select aria-label="{{data.label[data._inpF.f]}}"
                                                                               ng-model="data[data._inpF.l][data._inpF[f]]"
                                                                               tabindex=15>
                                                                        <md-option ng-repeat="k in data.Kindexes"
                                                                                   value="{{k}}">
                                                                            {{k}}
                                                                        </md-option>
                                                                    </md-select>
                                                                </md-input-container>

                                                                <div class="tooltipes-t" data-ng-hide ="f == 'f'">?
                                                                    <md-tooltip md-direction="Left"><p>
                                                                        {{data.label[data._inpF[f]]}} is between
                                                                        {{data._intVl[f].min}} and
                                                                        {{data._intVl[f].max}}
                                                                        <span data-ng-show="data[data._inpF.l][data._intVl[f].r]">and it`s required</span>
                                                                    </p></md-tooltip>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div data-ng-show="data.summary">
                                                <table class="table table-hover table-bordered">
                                                    <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr data-ng-repeat="f in data.curFieldes">
                                                        <td>{{data.label[data._inpF[f]]}}</td>
                                                        <td>{{data[data._inpF.l][data._inpF[f]]}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="col-sm-8 threejsPrnt" layout="row center ">
                                            <div class="threejs" id="{{data.listOfGraph[1]}}"></div>
                                            <div class="threejsPrint">
                                                <img alt="webgl is not support"/>
                                            </div>
                                        </div>
                                            <div class="col-sm-12" layout="row center ">
                                                <div id="iolOSData" class="iolData">
                                                    <table class="table table-hover iol-data">
                                                        <thead>
                                                        <tr>
                                                            <th><b>IOL (D)</b></th>
                                                            <th><b>REF (D)</b></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="iolRef in data.iolOSRef">
                                                            <td ng-class="{'bol':iolRef.middle}">
                                                                <div ng-class="{ 'glyphicon glyphicon-star ': iolRef.middle}"></div>
                                                                &nbsp;{{ iolRef.iol }}&nbsp;
                                                                <div ng-class="{ 'glyphicon glyphicon-star ': iolRef.middle}"></div>
                                                            </td>
                                                            <td ng-class="{'bol':iolRef.middle}">{{iolRef.ref}}</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="info">Beta Testing Website - For Educational Purposes
                                                        Only
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </md-content>
                            </form>
                        </md-card>
                    </div>
                    <div layout="row " class="input-back" layout-xs="column">
                        <div class="full-relative-width">

                            <section class="row btn-clc"   layout-sm="column" layout-align="center center"
                                     layout-wrap>
                                <div  data-ng-show="data.isInputing">
                                    <div class="col-sm-6">
                                        <md-button aria-label="PLOT" id="plotf"

                                                   ng-click="calc.plot([calcsODForm,calcsOSForm],data.listOfGraph[0])"
                                                   data-ng-disabled="(calcsODForm.$invalid && calcsOSForm.$invalid) || useresForm.$invalid"
                                                   class="md-raised md-primary my-btn-set btn-text-calc">
                                            <md-icon md-svg-src="assets/img/ic_iso_black_24px.svg"></md-icon>
                                            <!--<md-tooltip md-direction="top"> PLOT</md-tooltip>-->PLOT
                                        </md-button>
                                    </div>
                                    <div class="col-sm-6">
                                        <md-button aria-label="Reset"
                                                   data-ng-show="data.isInputing"
                                                   data-ng-click="calc.reset(calcsODForm,data.listOfGraph[0])"
                                                   class="md-raised md-primary my-btn-set btn-text-calc">
                                            <md-icon md-svg-src="assets/img/ic_cached_black_24px.svg"></md-icon>
                                            <!--<md-tooltip md-direction="top"> Reset</md-tooltip>-->Reset
                                        </md-button>
                                    </div>
                                </div>
                                <div  data-ng-hide="data.isInputing">
                                    <div class="col-sm-12">
                                        <md-button aria-label="Edit"
                                                   ng-click="calc.reset(calcsODForm,data.listOfGraph[0],false,true);"
                                                   class="md-raised md-primary my-btn-set btn-text-calc"
                                                   style=" margin-left: 18px!important; ">
                                            <md-icon md-svg-src="assets/img/ic_create_black_24px.svg"></md-icon>
                                            <!--<md-tooltip md-direction="top"> Edit</md-tooltip>-->Edit
                                        </md-button>
                                        <md-button aria-label="New Patient"
                                                   ng-click="calc.reset(calcsODForm,data.listOfGraph[0],'yeas')"
                                                   class="md-raised md-primary my-btn-set btn-text-calc" id="reset-ptnt"
                                                   style="margin-right: 0!important; margin-left: 0!important; ">
                                            <md-icon md-svg-src="assets/img/ic_create_black_24px.svg"></md-icon>
                                            <!--<md-tooltip md-direction="top"> New Patient</md-tooltip>-->New Patient
                                        </md-button>
                                        <md-button aria-label="PRINT"
                                                   ng-click="calc.print(data.listOfGraph[0])"
                                                   class="md-raised md-primary my-btn-set btn-text-calc">
                                            <md-icon md-svg-src="assets/img/ic_print_black_24px.svg"></md-icon>
                                            <!--<md-tooltip md-direction="top"> PRINT</md-tooltip>-->PRINT
                                        </md-button>
                                    </div>
                                </div>

                            </section>
                        </div>
                    </div>
                </md-content>
            </md-card>
        </div>
    </md-content>
</div>