<style>
    .calc-content .post-inputs {
        height: calc(100vh - 105px);
    }
</style>

<div class="calc-content">
    <div class="header-main">
        <div class="col-sm-8 h-logo"><p class="tor-list-menu" data-ng-bind="data.label.web_header"
                                        data-ng-click="utils.version()"></p></div>
        <div class="col-sm-4 h-menu">

            <div class="col-sm-4 tor-link">
                <div class="tor-list-menu " ng-click="utils.move('toric_calc')"><img
                        src="assets/img/toric/toric_new.png" class="new-feature"> <span class="post-tor">Toric Calculator</span>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="tor-list-menu" ng-click="utils.move('settings')">
                    <md-icon md-svg-src="assets/img/ic_settings_black_24px.svg"></md-icon>
                    Settings
                </div>
            </div>

            <div class="col-sm-2">
                <div class="tor-list-menu" ng-click="utils.move('home')">
                    <md-icon md-svg-src="assets/img/ic_home_black_24px.svg"></md-icon>
                    Home
                </div>
            </div>
            <div class="col-sm-3">
                <div class="tor-list-menu" ng-click="utils.logOut()">
                    <md-icon md-svg-src="assets/img/ic_exit_to_app_black_24px.svg"></md-icon>
                    Log out
                </div>
            </div>
        </div>
    </div>
    <md-content class="md-padding">
        <div layout="row" layout-xs="column">
            <md-content flex flex-gt-xs="15" class="post-user-cntrl">
                <div layout="row" layout-xs="column">
                    <md-card flex flex-gt-xs="100">
                        <div class="lad-client-info " id="post-user-info-foc">
                            <input name="usrName" type="text" data-ng-trim="false"
                                   placeholder="Surgeon"
                                   ng-required="true"
                                   data-ng-model="session.user.usr_name"
                                   data-ng-change="utils.changeName(session.user,'usr_name');"
                                   ng-maxlength="51" tabindex=1 class="fs-anim-lower col-sm-12"/>
                            <input name="usrPtnName"
                                   type="text"
                                   data-ng-trim="false"
                                   placeholder="Patient"
                                   data-ng-model="data.ptntName"
                                   ng-maxlength="50" tabindex=2 class="fs-anim-lower col-sm-12"/>
                            <input name="usrPtnID"
                                   type="text"
                                   data-ng-trim="false"
                                   placeholder="Patient ID"
                                   data-ng-model="data.ptntID"
                                   ng-maxlength="50" tabindex=3 class="fs-anim-lower col-sm-12"/>
                        </div>
                        <div class="col-sm-12 lad-imortant  " style="color:#3f51b5!important;"
                             data-ng-hide="data.summary">
                            <div class="lad-imp-cont ">
                                <xml-load></xml-load>
                            </div>
                        </div>
                    </md-card>
                </div>

                <div layout="row" layout-xs="column">
                    <md-card flex flex-gt-xs="100">
                        <div class="post-list-head-inputs" id="ver-cntrls">
                            <div data-ng-repeat="inf in data.listInp[data.curList]" class="row listInp"
                                 data-ng-class="{'avialable activInf':$index<1}">
                                <p class="col-sm-2">{{$index+1}}</p>
                                <p class="col-sm-10" data-ng-bind="inf.header"></p>
                            </div>
                        </div>
                    </md-card>
                </div>
                <div layout="row" layout-xs="column" class="post-calc-btn">
                    <div class="col-sm-12 ">
                        <md-button class="md-fab col-sm-8" aria-label="Reset"
                                   ng-click="calc.reset()">
                            <md-icon md-svg-src="assets/img/ic_cached_black_24px.svg"></md-icon>
                        </md-button>
                        <span class="col-sm-4"> Reset</span>
                    </div>
                </div>
            </md-content>

            <md-card class="post-inputs" flex flex-gt-xs="85">
                <p id="fs-step">step</p>

                <div class="fs-form-wrap" id="fs-form-wrap">
                    <form name="postForm" id="myform" class="fs-form fs-form-full" autocomplete="off">
                        <ol class="fs-fields">
                            <li data-ng-repeat="dt in data.listInp[data.curList]">
                                <div class="fs-anim-upper">
                                    <div  class="header-np-name">{{dt.header}}:</div>
                                    <div  class="post-inp-cntnr" data-ng-repeat="drf in dt.ints" class="row">
                                        <div class="post-calc-group" data-ng-bind="drf.name"></div>

                                        <div data-ng-repeat="f in drf.arr" class="row post-lbl-inp-values"
                                             data-ng-hide="data._outputs.Pics == f.h">
                                            <div class="col-sm-4 post-lbl-inp-val">
                                                <div class="col-md-5" data-ng-click="calc.openInfoData(f.link_val)">
                                                    <label class="fs-field-label fs-anim-upper"
                                                           data-info="{{f.max != undefined? f.l+'  is between '+f.min +' and '+f.max: f.l+' is required'}}">{{f.l}}:<a
                                                            href="#">{{f.link}}</a></label>
                                                </div>
                                                <div class="col-md-7">
                                                    <input class="fs-anim-lower col-sm-11" name="{{f.n}}"
                                                           type="text"
                                                           valid-number
                                                           placeholder="{{f.l}}"
                                                           maxLength="16"
                                                           data-ng-required="(data[f.r] && data._outputs.Pics != f.h) || (f.o && f.o.min =='none' && data['_outputs'][f.o.n] =='Other')
                                       ||( (f.n ==  data._inpF[4] || f.n ==  data._inpF[5]) &&  (data._outputs[data._inpF[5]] != null || data._outputs[data._inpF[4]]!= null) )  "
                                                           data-ng-disabled="f.o && data['_outputs'][f.o.n] != 'Other' || ((f.n == data._inpF[32] || f.n == data._inpF[33])  && data._outputs.optA_const)"
                                                           data-ng-model="data['_outputs'][f.n]"
                                                           data-ng-change="calc.onInput(f.n,'_outputs')"
                                                           data-ng-trim="false"
                                                           data-ng-class="{'inp-post-left':f.s,'inp-hide':f.s && f.o && !f.o.max}"
                                                           maxlength="16"
                                                           size="30"
                                                           align="right"
                                                           min="{{f.min}}"
                                                           max="{{f.max}}"/>

                                                    <div class="tooltipes-t col-sm-1" data-ng-hide="f.s">?
                                                        <md-tooltip md-direction="Left"><p>
                                                            {{f.l}} is between
                                                            {{f.min}} and
                                                            {{f.max}}
                                                        </p></md-tooltip>
                                                    </div>

                                                    <md-select aria-label=" "
                                                               ng-model="data['_outputs'][f.o.n]"
                                                               data-ng-show="f.s"
                                                               data-ng-change="calc.onInput(f.o.n,'_outputs',postForm)"
                                                               data-ng-class="{'ful-w':f.s && f.o && !f.o.max,'inp-post-rig':!(f.s && f.o && !f.o.max),'post-eye-select':f.o.n == 'Eyes'}"
                                                               data-ng-init ="data['_outputs'][f.o.n+'s']=f.s"
                                                               tabindex=4+{{$index}}>
                                                        <md-option ng-repeat="k in f.s"
                                                                   value="{{k}}">
                                                            {{k}}
                                                        </md-option>
                                                    </md-select>

                                                    <div class="error-info col-sm-11 "></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-clc-btn">
                                        <div data-ng-show="!data.fsFnshAnm ">
                                            <md-button class="md-raised   md-button " data-ng-disabled="$index==0"
                                                       onclick="document.getElementById('fs-prev').click()">Previous Step
                                                <md-tooltip md-direction="Top">Or Pres Shift</md-tooltip>
                                            </md-button>
                                            <md-button class="md-raised   md-button "
                                                       onclick="document.getElementById('fs-next').click()">Next step
                                                <md-tooltip md-direction="Top">Or Pres Enter</md-tooltip>
                                            </md-button>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ol>
                        <div class="post-clc-btn post-clc-hide" >
                            <div class="row">
                                <md-button class="md-raised md-primary  md-button col-sm-12"
                                           type="submit" data-ng-click="calc.plot(postForm);">Plot
                                </md-button>
                            </div>
                            <div id="fs-controls">
                                <md-button id="fs-next" class="md-raised   md-button ">Next step</md-button>
                                <md-button id="fs-prev" class="md-raised   md-button ">Previous Step</md-button>
                            </div>
                        </div>
                        <div class="related" data-ng-show="isCalc">
                            <h2><b>IOL calculation formulas used: Double-K Holladay 11, Shammas-PL2, Haigis-L3, OCT-based4, &
                                Barrett
                                True K5</b></h2>

                            <div layout="row" layout-xs="column">
                                <md-card flex>
                                    <div id="max-height-block">
                                        <div layout="row" class="input-back" layout-xs="column">
                                            <div flex>
                                                <div layout-padding="" class="level-3 back-tables input-layout">
                                                    <div data-ng-show="data._outputs.Pics == 'RK'">
                                                        <div class="col-sm-12" style="text-align: center">
                                                            <div class="row">
                                                                <table class="table-hover table-results  table-mc-light-blue">
                                                                    <thead>
                                                                    <tr>
                                                                        <th>ID</th>
                                                                        <th>Name</th>
                                                                        <th>Value</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr data-ng-repeat="mr in data.res.rk"
                                                                        data-ng-hide="mr.val == '--'">
                                                                        <td style="text-align: center;  min-width: 50px;">
                                                                            {{$index}}
                                                                        </td>
                                                                        <td style="text-align: center;padding-right:10px!important">
                                                                            <a
                                                                                    href="#"
                                                                                    data-ng-click="calc.openInfoData(mr.link_val)"><sup
                                                                                    data-ng-show="mr.sub"
                                                                                    data-ng-bind="mr.sub"></sup>
                                                                                {{mr.name}}</a></td>
                                                                        <td style="text-align: center;    min-width: 80px;">
                                                                            {{mr.val}}
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-ng-hide="data._outputs.Pics == 'RK'">
                                                        <div class="col-sm-6" style="text-align: center">
                                                            <div class="row"><label class="col-sm-12">Using ∆MR</label></div>
                                                            <div class="row">
                                                                <table class="table-hover table-results  table-mc-light-blue">
                                                                    <thead>
                                                                    <tr>
                                                                        <th>ID</th>
                                                                        <th>Name</th>
                                                                        <th>Value</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr data-ng-repeat="mr in data.res.mr"
                                                                        data-ng-hide="mr.val == '--'">
                                                                        <td style="text-align: center;  min-width: 50px;">
                                                                            {{$index}}
                                                                        </td>
                                                                        <td style="text-align: center;padding-right:10px!important">
                                                                            <a
                                                                                    href="#"
                                                                                    data-ng-click="calc.openInfoData(mr.link_val)"><sup
                                                                                    data-ng-show="mr.sub"
                                                                                    data-ng-bind="mr.sub"></sup>
                                                                                {{mr.name}}</a></td>
                                                                        <td style="text-align: center;    min-width: 80px;">
                                                                            {{mr.val}}
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                        </div>
                                                        <div class="col-sm-6" style="text-align: center">
                                                            <div class="row"><label>Using no prior data </label></div>
                                                            <div class="row" style="text-align: center">
                                                                <table class="table-hover table-results  table-mc-light-blue">
                                                                    <thead>
                                                                    <tr>
                                                                        <th>ID</th>
                                                                        <th>Name</th>
                                                                        <th>Value</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr data-ng-repeat="mr in data.res.prior"
                                                                        data-ng-hide="mr.val == '--'">
                                                                        <td style="text-align: center;  min-width: 50px;">
                                                                            {{$index}}
                                                                        </td>
                                                                        <td style="text-align: center;padding-right:10px!important">
                                                                            <a
                                                                                    href="#"
                                                                                    data-ng-click="calc.openInfoData(mr.link_val)"><sup
                                                                                    data-ng-show="mr.sub"
                                                                                    data-ng-bind="mr.sub"></sup>
                                                                                {{mr.name}}</a></td>
                                                                        <td style="text-align: center;    min-width: 80px;">
                                                                            {{mr.val}}
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div layout="row" class="input-back" layout-xs="column">
                                                <div layout-padding="" class="level-3 back-tables input-layout">
                                                    <div class="col-sm-12" style=" text-align: center; left: 50%;">
                                                        <table class="table  table-hover  table-results">
                                                            <thead>
                                                            <tr>
                                                                <th style="padding: 15px!important;">ID</th>
                                                                <th style="padding: 15px!important;">Name</th>
                                                                <th style="padding: 15px!important;">Value</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr data-ng-repeat="mr in data.res.middle">
                                                                <td style="text-align: center;padding-right: 10px!important;">
                                                                    {{$index}}
                                                                </td>
                                                                <td style="text-align: right;padding-right: 10px!important;">
                                                                    <h3>
                                                                        {{mr.name}}</h3></td>
                                                                <td style="text-align: left;    min-width: 50px;"> {{mr.val}}
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </md-card>
                            </div>
                        </div>
                    </form>
                </div>

            </md-card>
        </div>

    </md-content>
</div>


<script src="assets/js/libs/FullscreenForm/js/classie.js"></script>
<script src="assets/js/libs/FullscreenForm/js/selectFx.js"></script>
<script src="assets/js/libs/FullscreenForm/js/fullscreenForm.js"></script>
<script>
    function buildPostForm() {
        var formWrap = document.getElementById('fs-form-wrap');

        var hide = jQuery('.fs-controls>.fs').css("visibility") == "hidden" ||
                jQuery('#fs-step').css("display") == "none";
//        formWrap.appendChild(document.getElementsByClassName("post-clc-btn")[0]);
        jQuery('.fs-controls').remove();
        jQuery('.fs-message-error').remove();
        jQuery('.fs-numbers-step').remove();
        [].slice.call(document.querySelectorAll('select.cs-select')).forEach(function (el) {
            new SelectFx(el, {
                stickyPlaceholder: false,
                onChange: function (val) {

                    document.querySelector('span.cs-placeholder').style.backgroundColor = val;
                }
            });
        });

        var f = new FForm(formWrap, {
            onReview: function () {
                classie.add(document.body, 'overview'); // for demo purposes only
            }
        });

        if (hide) {
            jQuery('.fs-anim-upper').find(jQuery('.post-clc-btn')).remove();
            jQuery('.fs').fadeOut();
            jQuery('.fs-numbers').fadeOut();
            jQuery('.fs-nav-dots').fadeOut();
            jQuery('.fs-progress').fadeOut();
        }
        jQuery('.fs-submit').css("visibility", hide ? "visible" : "hidden");

        addEvScrol();
        if (!hide)postCalcResize();
    }
    function addEvScrol() {
        var scrlEl = ".fs-form-wrap",
                form = '.fs-fields',
                cur = '.fs-current';
        $(scrlEl).scroll(function () {

            if (  jQuery('#fs-step').css('display') == 'none') {
                var s = $(scrlEl).height();
                var d = $(form).height(),
                        sd = jQuery(cur).height();
                var maxH = d > s ? d : s;
                maxH = maxH > sd ? maxH : sd;
                var scrlTop = $(this).scrollTop();

                if (scrlTop * 2 > maxH / 2) {
                    $('.scrollToTop').fadeIn();
                    $('.scrollToDown').fadeOut();
                } else {
                    $('.scrollToTop').fadeOut();
                    $('.scrollToDown').fadeIn();
                }

                var listP = jQuery(".post-list-head-inputs").find(document.getElementsByClassName('listInp')),
                        list = jQuery('.fs-fields>li'),
                        del = 250;

                for (var i = 0; i < list.length; i++) {
                    if (i == list.length - 1) {
                        jQuery('.activInf').removeClass('activInf');
                        jQuery(listP[i]).addClass('activInf');
                    } else if (list[i + 1]) {

                        if (scrlTop > jQuery(list[i]).offset().top - del && scrlTop < jQuery(list[i + 1]).offset().top - del) {
                            jQuery('.activInf').removeClass('activInf');
                            jQuery(listP[i]).addClass('activInf');
                            break;
                        }
                    }

                }
            }
        });

        //Click event to scroll to top
        $('.scrollToTop').click(function () {
            $(scrlEl).animate({scrollTop: 0}, 800);
            return false;
        });
        $('.scrollToDown').click(function () {
            var s = $(scrlEl).height();
            var d = $(form).height();
            var sd = jQuery(cur).height();
            var maxH = d > s ? d : s;
            maxH = maxH > sd ? maxH : sd;
            $(scrlEl).animate({scrollTop: maxH}, 800);
            return false;
        });
    }
    jQuery(document).ready(function () {
        setTimeout(function () {
            buildPostForm();
        }, 500);

    })


</script>