<section>
    <md-content class="level-1" style="padding: 10px;">
        <md-button ng-click="utils.move('home')"
                   class="md-raised md-primary my-btn-set">  Back  </md-button>

        <h2><b>Please enter all data available and press "Calculate"</b></h2>

        <div layout="row" layout-xs="column">
            <md-card flex>
                <md-content id="max-height-block">
                    <form name="calcsForm" class="form-horizontal col-md-12" role="form" novalidate>
                        <div layout="row" class="input-back" layout-xs="column">
                            <md-card flex>
                                <md-content layout-padding="" class="level-3 back-tables input-layout">
                                    <div class="col-sm-4">
                                        <md-input-container
                                                class="md-block input-tables input-only-number input-only-number-calc">
                                            <input name="usrName" type="text" data-ng-trim="false"
                                                   placeholder="Doctor Name" ng-required="true"
                                                   data-ng-model="session.user.usr_name"
                                                   data-ng-change="utils.changeName(session.user,'usr_name');"
                                                   ng-maxlength="51">
                                        </md-input-container>
                                    </div>

                                    <div class="col-sm-4">
                                        <md-input-container
                                                class="md-block input-tables input-only-number input-only-number-calc">
                                            <input name="usrPtnName" type="text"
                                                   placeholder="Patient Name" autofocus="true"
                                                   data-ng-model="data.ptntName" ng-maxlength="50">
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-4">
                                        <md-input-container
                                                class="md-block input-tables input-only-number input-only-number-calc">
                                            <input name="usrPtnID" type="text"
                                                   placeholder="Patient ID"
                                                   data-ng-model="data.ptntID" ng-maxlength="50">
                                        </md-input-container>
                                    </div>
                                </md-content>
                            </md-card>
                        </div>
                        <div layout="row" class="input-back" layout-xs="column">
                            <md-card flex>
                                <md-content layout-padding="" class="level-3 back-tables input-layout">
                                    <div class="col-sm-4">
                                        <md-input-container
                                                class="md-block input-tables input-only-number input-only-number-calc">
                                            <input name="eye" type="text" data-ng-trim="false"
                                                   placeholder="Eye"
                                                   data-ng-model="data.eye"
                                                   ng-maxlength="11">
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-4">
                                        <md-input-container
                                                class="md-block input-tables input-only-number input-only-number-calc">
                                            <input name="iol_model" type="text"
                                                   placeholder="IOL Model"
                                                   data-ng-model="data.ptntName" ng-maxlength="50">
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-4">
                                        <md-input-container
                                                class="md-block input-tables input-only-number input-only-number-calc">
                                            <input name="Rfrctn" type="number"
                                                   placeholder="Target Ref (D)"
                                                   data-ng-model="data.input.Rfrctn" ng-maxlength="10">
                                        </md-input-container>
                                    </div>
                                </md-content>
                            </md-card>
                        </div>
                        <h3><b>Pre-LASIK/PRK Data:</b></h3>

                        <div layout="row" class="input-back" layout-xs="column">
                            <md-card flex>
                                <md-content layout-padding="" class="level-3 back-tables input-layout">
                                    <div class="col-sm-3">
                                        <label>Refraction*</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <md-input-container
                                                class="md-block input-tables input-only-number input-only-number-calc">
                                            <input name="Sph_D" type="number" data-ng-trim="false"
                                                   placeholder="Sph(D)"
                                                   data-ng-model="data.pre_lasik.Sph"
                                                   ng-maxlength="11">
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-3">
                                        <md-input-container
                                                class="md-block input-tables input-only-number input-only-number-calc">
                                            <input name="Cyl_D" type="number" data-ng-trim="false"
                                                   placeholder="Cyl(D)*"
                                                   data-ng-model="data.pre_lasik.Cyl"
                                                   ng-maxlength="11">
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-3">
                                        <md-input-container
                                                class="md-block input-tables input-only-number input-only-number-calc">
                                            <input name="Vertex" type="number"
                                                   placeholder="Vertex (If empty, 12.5 mm is used)"
                                                   data-ng-model="data.pre_lasik.Vertex" ng-maxlength="11">
                                        </md-input-container>
                                    </div>
                                </md-content>
                            </md-card>
                        </div>
                        <div layout="row" class="input-back" layout-xs="column">
                            <md-card flex>
                                <md-content layout-padding="" class="level-3 back-tables input-layout">
                                    <div class="col-sm-3">
                                        <label>Keratometry</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <md-input-container
                                                class="md-block input-tables input-only-number input-only-number-calc">
                                            <input name="Sph_D" type="number" data-ng-trim="false"
                                                   placeholder="K1(D)"
                                                   data-ng-model="data.pre_lasik.K1"
                                                   ng-maxlength="11">
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-3">
                                        <md-input-container
                                                class="md-block input-tables input-only-number input-only-number-calc">
                                            <input name="Cyl_D" type="number" data-ng-trim="false"
                                                   placeholder="Cyl(D)*"
                                                   data-ng-model="data.pre_lasik.K2"
                                                   ng-maxlength="11">
                                        </md-input-container>
                                    </div>
                                </md-content>
                            </md-card>
                        </div>
                        <h3><b>Post-LASIK/PRK Data: </b></h3>

                        <div layout="row" class="input-back" layout-xs="column">
                            <md-card flex>
                                <md-content layout-padding="" class="level-3 back-tables input-layout">
                                    <div class="col-sm-3">
                                        <label>Refraction*§</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <md-input-container
                                                class="md-block input-tables input-only-number input-only-number-calc">
                                            <input name="Sph_D" type="number" data-ng-trim="false"
                                                   placeholder="Sph(D)"
                                                   data-ng-model="data.post_lasik.Sph_D"
                                                   ng-maxlength="11">
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-3">
                                        <md-input-container
                                                class="md-block input-tables input-only-number input-only-number-calc">
                                            <input name="Cyl_D" type="number" data-ng-trim="false"
                                                   placeholder="Cyl(D)*"
                                                   data-ng-model="data.post_lasik.Cyl_D"
                                                   ng-maxlength="11">
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-3">
                                        <md-input-container
                                                class="md-block input-tables input-only-number input-only-number-calc">
                                            <input name="Vertex" type="number"
                                                   placeholder="Vertex (If empty, 12.5 mm is used)"
                                                   data-ng-model="data.post_lasik.Vertex" ng-maxlength="11">
                                        </md-input-container>
                                    </div>
                                </md-content>
                            </md-card>
                        </div>
                        <div layout="row" class="input-back" layout-xs="column">
                            <md-card flex>
                                <md-content layout-padding="" class="level-3 back-tables input-layout">
                                    <div class="col-sm-3">
                                        <label>Topography</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <md-input-container
                                                class="md-block input-tables input-only-number input-only-number-calc">
                                            <input name="Sph_D" type="number" data-ng-trim="false"
                                                   placeholder="EyeSys EffRP"
                                                   data-ng-model="data.post_lasik.EyeSys_EffRP"
                                                   ng-maxlength="11">
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-3">
                                        <md-input-container
                                                class="md-block input-tables input-only-number input-only-number-calc">
                                            <input name="Cyl_D" type="number" data-ng-trim="false"
                                                   placeholder="Tomey ACCP#Nidek ACP/APP"
                                                   data-ng-model="data.post_lasik.Tomey_ACCP"
                                                   ng-maxlength="11">
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="col-sm-3">
                                            <md-input-container
                                                    class="md-block input-tables input-only-number input-only-number-calc">
                                                <input name="Vertex" type="number"
                                                       placeholder="Galilei TCP"
                                                       data-ng-model="data.post_lasik.Galilei_TCP" ng-maxlength="11">
                                            </md-input-container>
                                        </div>
                                        <div class="col-sm-9">
                                            <md-radio-group ng-model="data.post_lasik.Version ">
                                                <md-radio-button value="5_2_1" class="md-primary col-sm-12">Version
                                                    5.2.1 or later
                                                </md-radio-button>
                                                <md-radio-button value="5_2" class="md-primary col-sm-12"> Version 5.2
                                                    or earlier
                                                </md-radio-button>
                                            </md-radio-group>
                                        </div>
                                    </div>

                                </md-content>
                            </md-card>
                        </div>
                        <div layout="row" class="input-back" layout-xs="column">
                            <md-card flex>
                                <md-content layout-padding="" class="level-3 back-tables input-layout">
                                    <div class="col-sm-3">
                                        <label>Atlas Zone value </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <md-input-container
                                                class="md-block input-tables input-only-number input-only-number-calc">
                                            <input name="Atlas_zone" type="number" data-ng-trim="false"
                                                   placeholder="EyeSys EffRP"
                                                   data-ng-model="data.post_lasik.Atlas_zone"
                                                   ng-maxlength="11">
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-4">
                                        <md-input-container
                                                class="md-block input-tables input-only-number input-only-number-calc">
                                            <input name="Pentacam_zone" type="number" data-ng-trim="false"
                                                   placeholder="Pentacam TNP_Apex_4.0 mm Zone "
                                                   data-ng-model="data.post_lasik.Pentacam_zone"
                                                   ng-maxlength="11">
                                        </md-input-container>
                                    </div>
                                </md-content>
                            </md-card>
                        </div>
                        <div layout="row" class="input-back" layout-xs="column">
                            <md-card flex>
                                <md-content layout-padding="" class="level-3 back-tables input-layout">
                                    <div class="col-sm-3">
                                        <label>Atlas Ring Values </label>
                                    </div>
                                    <div class="col-sm-3">
                                        <md-input-container
                                                class="md-block input-tables input-only-number input-only-number-calc">
                                            <input name="Atlas_ring_fst" type="number" data-ng-trim="false"
                                                   placeholder="0mm"
                                                   data-ng-model="data.post_lasik.Atlas_ring_fst"
                                                   ng-maxlength="11">
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-2">
                                        <md-input-container
                                                class="md-block input-tables input-only-number input-only-number-calc">
                                            <input name="Atlas_ring_scd" type="number" data-ng-trim="false"
                                                   placeholder="1mm"
                                                   data-ng-model="data.post_lasik.Atlas_ring_scd"
                                                   ng-maxlength="11">
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-2">
                                        <md-input-container
                                                class="md-block input-tables input-only-number input-only-number-calc">
                                            <input name="Atlas_ring_thd" type="number" data-ng-trim="false"
                                                   placeholder="2mm"
                                                   data-ng-model="data.post_lasik.Atlas_ring_thd"
                                                   ng-maxlength="11">
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-2">
                                        <md-input-container
                                                class="md-block input-tables input-only-number input-only-number-calc">
                                            <input name="Atlas_ring_fhd" type="number" data-ng-trim="false"
                                                   placeholder="3mm"
                                                   data-ng-model="data.post_lasik.Atlas_ring_fhd"
                                                   ng-maxlength="11">
                                        </md-input-container>
                                    </div>
                                </md-content>
                            </md-card>
                        </div>
                        <div layout="row" class="input-back" layout-xs="column">
                            <md-card flex>
                                <md-content layout-padding="" class="level-3 back-tables input-layout">
                                    <div class="col-sm-3">
                                        <label>OCT (RTVue or Avanti XR) </label>
                                    </div>
                                    <div class="col-sm-3">
                                        <md-input-container
                                                class="md-block input-tables input-only-number input-only-number-calc">
                                            <input name="Net_Power" type="number" data-ng-trim="false"
                                                   placeholder="Net Corneal Power"
                                                   data-ng-model="data.post_lasik.Net_Power"
                                                   ng-maxlength="11">
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-3">
                                        <md-input-container
                                                class="md-block input-tables input-only-number input-only-number-calc">
                                            <input name="Posterior_Power" type="number" data-ng-trim="false"
                                                   placeholder="Posterior Corneal Power"
                                                   data-ng-model="data.post_lasik.Posterior_Power"
                                                   ng-maxlength="11">
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-3">
                                        <md-input-container
                                                class="md-block input-tables input-only-number input-only-number-calc">
                                            <input name="Central_Power" type="number" data-ng-trim="false"
                                                   placeholder="Central Corneal Thickness"
                                                   data-ng-model="data.post_lasik.Central_Power"
                                                   ng-maxlength="11">
                                        </md-input-container>
                                    </div>
                                </md-content>
                            </md-card>
                        </div>
                        <h3><b>Optical (IOLMaster/Lenstar)/Ultrasound Biometric Data:</b></h3>

                        <div layout="row" class="input-back" layout-xs="column">
                            <md-card flex>
                                <md-content layout-padding="" class="level-3 back-tables input-layout">
                                    <div class="col-sm-3">
                                        <label>Ks</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <md-input-container
                                                class="md-block input-tables input-only-number input-only-number-calc">
                                            <input name="K1" type="number" data-ng-trim="false"
                                                   placeholder="K1(D)"
                                                   data-ng-model="data.optical.K1"
                                                   ng-maxlength="11">
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-3">
                                        <md-input-container
                                                class="md-block input-tables input-only-number input-only-number-calc">
                                            <input name="K2" type="number" data-ng-trim="false"
                                                   placeholder="K2(D)"
                                                   data-ng-model="data.optical.K2"
                                                   ng-maxlength="11">
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="col-sm-9">
                                            <md-radio-group ng-model="data.optical.input_KIndex" class="row">
                                                <md-radio-button value="1.3375"
                                                                 data-ng-click="data.optical.inputKIndexAv = false;"
                                                                 class="md-primary col-sm-4">1.3375
                                                </md-radio-button>
                                                <md-radio-button value="1.332"
                                                                 data-ng-click="data.optical.inputKIndexAv = false;"
                                                                 class="md-primary col-sm-4"> 1.332
                                                </md-radio-button>
                                                <md-radio-button value="0"
                                                                 data-ng-click="data.optical.inputKIndexAv = true"
                                                                 class="  col-sm-4">Other
                                                </md-radio-button>
                                            </md-radio-group>
                                        </div>
                                        <div class="col-sm-3">
                                            <md-input-container
                                                    class="md-block input-tables input-only-number input-only-number-calc">
                                                <input name="Central_Power" type="number" data-ng-trim="false"
                                                       placeholder="Device Keratometric Index (n)"
                                                       data-ng-model="data.optical.Device_Index"
                                                       data-ng-disabled="data.optical.inputKIndexAv"
                                                       ng-maxlength="11">
                                            </md-input-container>
                                        </div>

                                    </div>
                                </md-content>
                            </md-card>
                        </div>
                        <div layout="row" class="input-back" layout-xs="column">
                            <md-card flex>
                                <md-content layout-padding="" class="level-3 back-tables input-layout">
                                    <div class="col-sm-3">
                                    </div>
                                    <div class="col-sm-3">
                                        <md-input-container
                                                class="md-block input-tables input-only-number input-only-number-calc">
                                            <input name="AL" type="number" data-ng-trim="false"
                                                   placeholder="AL(mm)"
                                                   data-ng-model="data.optical.AL"
                                                   ng-maxlength="11">
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-2">
                                        <md-input-container
                                                class="md-block input-tables input-only-number input-only-number-calc">
                                            <input name="ACD" type="number" data-ng-trim="false"
                                                   placeholder="ACD(mm)"
                                                   data-ng-model="data.optical.ACD"
                                                   ng-maxlength="11">
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-2">
                                        <md-input-container
                                                class="md-block input-tables input-only-number input-only-number-calc">
                                            <input name="Lens_Thick" type="number" data-ng-trim="false"
                                                   placeholder="Lens Thick (mm)"
                                                   data-ng-model="data.optical.Lens_Thick "
                                                   ng-maxlength="11">
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-2">
                                        <md-input-container
                                                class="md-block input-tables input-only-number input-only-number-calc">
                                            <input name="WTW" type="number" data-ng-trim="false"
                                                   placeholder="WTW (mm)"
                                                   data-ng-model="data.optical.WTW"
                                                   ng-maxlength="11">
                                        </md-input-container>
                                    </div>
                                </md-content>
                            </md-card>
                        </div>
                        <div layout="row" class="input-back" layout-xs="column">
                            <md-card flex>
                                <md-content layout-padding="" class="level-3 back-tables input-layout">
                                    <div class="col-sm-3">
                                        <label>Lens Constants**</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <md-input-container
                                                class="md-block input-tables input-only-number input-only-number-calc">
                                            <input name="A_const" type="number" data-ng-trim="false"
                                                   placeholder="A-const(SRK/T)"
                                                   data-ng-model="data.optical.A_const"
                                                   ng-maxlength="11">
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-2">
                                        <md-input-container
                                                class="md-block input-tables input-only-number input-only-number-calc">
                                            <input name="SF" type="number" data-ng-trim="false"
                                                   placeholder="SF(Holladay1))"
                                                   data-ng-model="data.optical.SF"
                                                   ng-maxlength="11">
                                        </md-input-container>
                                    </div>
                                </md-content>
                            </md-card>
                        </div>
                        <div layout="row" class="input-back" layout-xs="column">
                            <md-card flex>
                                <md-content layout-padding="" class="level-3 back-tables input-layout">
                                    <div class="col-sm-3">
                                    </div>
                                    <div class="col-sm-3">
                                        <md-input-container
                                                class="md-block input-tables input-only-number input-only-number-calc">
                                            <input name="Haigis_a_fst" type="number" data-ng-trim="false"
                                                   placeholder="Haigis a0 (If empty, converted value is used)"
                                                   data-ng-model="data.optical.Haigis_a_fst"
                                                   ng-maxlength="11">
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-3">
                                        <md-input-container
                                                class="md-block input-tables input-only-number input-only-number-calc">
                                            <input name="Haigis_a_snd" type="number" data-ng-trim="false"
                                                   placeholder="Haigis a1 (If empty, 0.4 is used)"
                                                   data-ng-model="data.optical.Haigis_a_snd"
                                                   ng-maxlength="11">
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-3">
                                        <md-input-container
                                                class="md-block input-tables input-only-number input-only-number-calc">
                                            <input name="Haigis_a_thd" type="number" data-ng-trim="false"
                                                   placeholder="Haigis a2 (If empty, 0.1 is used)	"
                                                   data-ng-model="data.optical.Haigis_a_thd"
                                                   ng-maxlength="11">
                                        </md-input-container>
                                    </div>
                                </md-content>
                            </md-card>
                        </div>

                        <div layout="row" class="input-back" layout-xs="column">
                            <md-card flex>
                                <md-content layout-padding="" class="level-3 back-tables input-layout">
                                    <div class="col-sm-12">
                                        <p> *If entering "Sph(D)", you must enter a value for "Cyl(D)", even if it is
                                            zero.</p>

                                        <p>§Most recent stable refraction prior to development of a cataract.</p>

                                        <p> # Magellan ACP or OPD-Scan III APP 3-mm manual value (personal communication
                                            Stephen D. Klyce, PhD).</p>

                                        <p> **Enter any constants available; others will be calculated from those
                                            entered. If ultrasonic AL is entered, be sure to use your ultrasound lens
                                            constants. It is preferable to use optimized a0, a1, and a2 Haigis
                                            constants.</p>
                                    </div>
                                </md-content>
                            </md-card>
                        </div>
                        <div layout="row" class="input-back" layout-xs="column">
                            <md-card flex>
                                <md-content layout-padding="" class="level-3 back-tables input-layout">
                                    <div class="col-sm-12">
                                        <div class="col-sm-4" style="float: right;">
                                            <div class="col-sm-6" style="text-align: center">
                                                <md-button ng-click="alert('yahoo');isCalc=true;"
                                                           class="md-raised md-primary my-btn-set">
                                                    <md-icon md-svg-src="assets/img/ic_iso_black_24px.svg"></md-icon>
                                                    Calculate
                                                </md-button>
                                            </div>
                                            <div class="col-sm-6" style="text-align: center">
                                                <md-button ng-click="isCalc=false;alert('reset')"
                                                           class="md-raised md-primary my-btn-set">
                                                    <md-icon md-svg-src="assets/img/ic_cached_black_24px.svg"></md-icon>
                                                    RESET
                                                </md-button>
                                            </div>
                                        </div>
                                    </div>
                                </md-content>
                            </md-card>
                        </div>

                    </form>
                </md-content>
            </md-card>
        </div>
        <div data-ng-show="isCalc">
            <h2><b>IOL calculation formulas used: Double-K Holladay 11, Shammas-PL2, Haigis-L3, OCT-based4, & Barrett
                True K5</b></h2>

            <div layout="row" layout-xs="column">
                <md-card flex>
                    <md-content id="max-height-block">
                        <div layout="row" class="input-back" layout-xs="column">
                            <md-card flex>
                                <md-content layout-padding="" class="level-3 back-tables input-layout">
                                    <div class="col-sm-6" style="text-align: center">
                                        <div class="row"><label class="col-sm-12">Using ∆MR</label></div>
                                        <div class="row">
                                            <table class="table table-striped table-hover table-results" >
                                                <tbody>
                                                <tr data-ng-repeat="mr in data.res.mr">
                                                    <td style="text-align: right;padding-right:10px!important"><a
                                                            href="#" data-ng-click="calc.openInfoData(mr.link_val)"><sup
                                                            data-ng-show="mr.sub" data-ng-bind="mr.sub"></sup>
                                                        {{mr.name}}</a></td>
                                                    <td style="text-align: left;    min-width: 50px;"> {{mr.val}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                    <div class="col-sm-6" style="text-align: center">
                                        <div class="row"><label>Using no prior data </label></div>
                                        <div class="row" style="text-align: center">
                                            <table class="table table-striped table-hover table-results" >
                                                <tbody>
                                                <tr data-ng-repeat="mr in data.res.prior">
                                                    <td style="text-align: right;padding-right:10px!important"><a
                                                            href="#" data-ng-click="calc.openInfoData(mr.link_val)"><sup
                                                            data-ng-show="mr.sub" data-ng-bind="mr.sub"></sup>
                                                        {{mr.name}}</a></td>
                                                    <td style="text-align: left;    min-width: 50px;"> {{mr.val}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </md-content>
                            </md-card>
                        </div>
                        <div layout="row" class="input-back" layout-xs="column">
                            <md-card flex>
                                <md-content layout-padding="" class="level-3 back-tables input-layout">
                                    <div class="col-sm-12" style="text-align: center">
                                        <table class="table table-striped table-hover  table-results" >
                                            <tbody>
                                            <tr data-ng-repeat="mr in data.res.middle">
                                                <td style="text-align: right;padding-right: 10px!important;"><h3>
                                                    {{mr.name}}</h3></td>
                                                <td style="text-align: left;    min-width: 50px;"> {{mr.val}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </md-content>
                            </md-card>
                        </div>
                    </md-content>
                </md-card>
            </div>
        </div>
    </md-content>
</section>