<style>
    .threejs-out {
        height: calc(100vh - 106px);
    }

    .tor-form-full > .dd-val {
        max-height: calc(100vh - 408px);
    }
</style>
<div class="calc-content" >
    <div class="header-main">
        <div class="col-sm-8 h-logo"><p class="tor-list-menu"data-ng-bind="data.label.web_header" data-ng-click="utils.version()"></p></div>
        <div class="col-sm-4 h-menu">

            <div class="col-sm-4 tor-link">
                <div class="tor-list-menu " ng-click="utils.move('post-lasik-calc')"> <img src="assets/img/toric/post_new.png" class="new-feature"> <span class="tor-post">Post-LASIK Calculator</span></div>
            </div>
            <div class="col-sm-3">
                <div class="tor-list-menu" ng-click="utils.move('settings')"><md-icon  md-svg-src="assets/img/ic_settings_black_24px.svg"></md-icon>  Settings</div>
            </div>

            <div class="col-sm-2">
                <div class="tor-list-menu" ng-click="utils.move('home')">  <md-icon md-svg-src="assets/img/ic_home_black_24px.svg"></md-icon> Home</div>
            </div>
            <div class="col-sm-3">
                <div class="tor-list-menu" ng-click="utils.logOut()"><md-icon  md-svg-src="assets/img/ic_exit_to_app_black_24px.svg"></md-icon>  Log out</div>
            </div>
        </div>
    </div>

    <md-content   class="md-padding">
        <div layout="row" layout-xs="column">

            <div flex flex-gt-xs="40" layout="column" layout-align="space-between stretch">
                <md-card flex class="tor-client-info">
                    <md-card-content layout="column" layout-align="space-between stretch">
                        <div class="tor-row">
                        <div class="col-sm-8">
                            <div class="row surg-data">
                                <div class="col-sm-6 ">
                                    <input name="usrName" type="text" data-ng-trim="false"
                                           placeholder="Surgeon"
                                           ng-required="data.inputOD.calcsFormSubmitted || data.inputOS.calcsFormSubmitted"
                                           data-ng-model="session.user.usr_name"
                                           data-ng-change="utils.changeName(session.user,'usr_name');"
                                           data-ng-disabled="!data.isInputing"
                                           ng-maxlength="51" tabindex=1 class="fs-anim-lower"/>
                                </div>
                                <div class="col-sm-6">
                                    <input name="usrPtnName"
                                           type="text"
                                           data-ng-trim="false"
                                           placeholder="Patient"
                                           data-ng-model="data.ptntName"
                                           data-ng-disabled="!data.isInputing"
                                           ng-maxlength="50" tabindex=2 class="fs-anim-lower"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <input name="usrPtnID"
                                           type="text"
                                           data-ng-trim="false"
                                           placeholder="Patient ID"
                                           data-ng-model="data.ptntID"
                                           ng-maxlength="50" tabindex=3 class="fs-anim-lower"/>
                                </div>
                                <div class="col-sm-6" data-ng-show="data.isInputing">

                                    <md-input-container  class="selectpicker">

                                        <md-select aria-label=" " ng-model="data.PersCons" tabindex=4>
                                            <md-option ng-repeat="k in data.PersConstes"
                                                       value="{{k}}">  {{k}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="tor-list-menu" data-ng-hide="data.summary">
                                <xml-load></xml-load>
                            </div>
                        </div>
                        </div>
                    </md-card-content>
                </md-card>
                <md-card flex>
                    <div class="tor-eye-btns">
                        <div class="col-sm-6 sn">
                            <md-button class="Right_OD" tabindex=5
                                       aria-label="Right (OD)"
                                       ng-class="{ 'active': data.eyeActive == 'OD'}"
                                       ng-click="calc.selectEye('OD')" id="OD">
                                Right (OD)
                            </md-button>
                        </div>
                        <div class="col-sm-6 sn">
                            <md-button class="" tabindex=6
                                       aria-label="Left (OS)"
                                       ng-class="{ 'active': data.eyeActive == 'OS'}"
                                       ng-click="calc.selectEye('OS')">
                                Left (OS)
                            </md-button>
                        </div>
                    </div>
                    <div class="tor-inputs">
                        <form name="torForm" class="tor-form-full" autocomplete="off">
                            <button type="submit" id="plotf" ng-click="calc.plot([torForm])" ></button>
                            <div class="dd-val">
                                <div class="form-group" data-ng-repeat="f in data._inputes">
                                    <div class="col-md-5">
                                        <label class="fs-field-label tor">{{f.n}}:</label>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="col-sm-11"   >
                                        <input class="fs-anim-lower col-sm-11"
                                               valid-number
                                               name="{{f.n}}"
                                               type="{{f.t}}"
                                               placeholder="{{f.n}}"
                                               maxLength="16"
                                               data-ng-required="data._outputs[f.r] "
                                               data-ng-model="data._outputs[f.n]"
                                               data-ng-change="calc.onInput(f.n)"
                                               data-ng-trim="false"
                                               data-ng-class="[md-block ,input-tables, input-only-number, {'inp-hide':f.s && f.o && !f.o.max}]"
                                               maxlength="16"
                                               size="30"
                                               min="{{f.min}}"
                                               max="{{f.max}}"/>
                                        <div class="tooltipes-t col-sm-1"  data-ng-hide ="f.s">?
                                            <md-tooltip md-direction="Left"><p>
                                                {{f.n}} is between
                                                {{f.min}} and
                                                {{f.max}}
                                            </p></md-tooltip>
                                        </div>


                                        <md-input-container data-ng-show="f.s"
                                                            class="md-block input-tables input-only-number col-sm-12"
                                                            data-ng-class="{'ful-w':f.s && f.o && !f.o.max,'inp-post-rig':!(f.s && f.o && !f.o.max)}">

                                            <md-select aria-label=" " ng-model="data._outputs[f.n]" tabindex=15>
                                                <md-option ng-repeat="k in f.s"
                                                           value="{{k}}">  {{k}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </md-card>
            </div>
            <md-card flex class="threejs-out">

                <div class="tor-eye">
                    <!--<div class="tor-head" ></div>-->
                    <div class="tor-threejs" id="{{$parent.data.listOfGraph[2]}}">
                        <div class="tor-three-info">
                            <p data-ng-bind="data.eyeVal"></p>
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td><div class="FlatA" id="Flat_Axis"></div></td>
                                    <td><p>Flat Axis</p></td>
                                </tr>
                                <tr>
                                    <td><div class="FlatA"  id="Steep_Axis"></div></td>
                                    <td><p>Steep Axis</p></td>
                                </tr>
                                <tr>
                                    <td><div class="iLoctn"  id="Incision_Location"></div></td>
                                    <td><p>Incision Location</p></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tor-face-p">
                            <div class="tor-face-right"></div>
                            <div class="tor-face-left"></div>
                        </div>
                        <div id="iolODData" class="iolData">
                            <table class="table table-hover iol-data">
                                <thead>
                                <tr>
                                    <th><b>IOL (D)</b></th>
                                    <th><b>REF (D)</b></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="iolRef in data.iolODRef">
                                    <td ng-class="{'bol':iolRef.middle}">
                                        <div ng-class="{ 'glyphicon glyphicon-star ': iolRef.middle}"></div>
                                        &nbsp;{{ iolRef.iol }}&nbsp;
                                        <div ng-class="{ 'glyphicon glyphicon-star ': iolRef.middle}"></div>
                                    </td>
                                    <td ng-class="{'bol':iolRef.middle}">{{iolRef.ref}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="info">Beta Testing Website - For Educational Purposes
                                Only
                            </div>
                        </div>
                        <div class="tor-calc-btn">
                            <div class="col-sm-6">
                                <md-button class="md-fab col-sm-8" aria-label="PLOT" onclick="document.getElementById('plotf').click()"
                                       data-ng-disabled="torForm.$invalid">
                                <md-icon md-svg-src="assets/img/ic_iso_black_24px.svg"></md-icon>
                                <!--<md-tooltip  md-direction="Top"> Plot <span data-ng-show="torForm.$invalid">Please fill correct form </span></md-tooltip>-->

                            </md-button>
                                <span class="col-sm-4"> Plot</span>
                            </div>
                            <div class="col-sm-6">
                                <md-button class="md-fab col-sm-8" aria-label="Reset" ng-click="calc.reset(torForm)">
                                <md-icon md-svg-src="assets/img/ic_cached_black_24px.svg"></md-icon>
                                <!--<md-tooltip  md-direction="Top"> Reset </md-tooltip>-->
                            </md-button>
                            <span class="col-sm-4"> Reset</span>
                        </div>
                        </div>
                        <three-js-out></three-js-out>
                    </div>

                </div>
            </md-card>
        </div>
    </md-content>
</div>
