.threejs-tor {
    background: #000 url("../img/toric/back_view.png") center no-repeat;
}
#FlatA,#SteepA{
    width: 50px;
    height: 50px;
    background-position: 0 50%;
}
#iLoctn{
    transform: rotate(270deg);
    width: 90px;
    height: 120px;
    background-position: 100%;
}
.tor-three-info{
    position: absolute;
    z-index: 10;
    z-index: 10;
}
.tor-three-info>.table>tbody>tr>td{
    border: none;
    color: white;
}
.tor-face{
    display: none;
    position: absolute;
    left: 50%;
    background: url("../img/toric/face.png")no-repeat center;
    width: 100%;
    height: 100%;
}
