<section class="main-container">
    <div class="parallax">

        <div id="group-about" class="parallax__group">

            <div class="parallax__layer parallax__layer--base">
                <div class="title">
                    <div class="content">
                        <h3>Who we are?</h3>
                        <div class="about-info">
                            {{data.html.calcs[0].d}}
                            </br>
                            <p><b>ALEX BROWN,</b> founder</p>
                        </div>

                    </div>

                </div>
            </div>

            <div class="parallax__layer parallax__layer--back" style="background: linear-gradient(180deg, #5068c2 50%, rgba(255, 255, 255, 0) 50%);">
                <div class="title grad">
                    <img src="assets/img/home/group-2.png">
                </div>

            </div>
            <div class="parallax__layer parallax__layer--fore"  style="background: rgba(255, 241, 118, 0)">
                <div class="title">
                    <div class="content">
                        <img  style="margin-top: 90vh;" src="assets/img/home/layer-3.png">
                    </div>
                </div>
            </div>
        </div>
        <div   class="partens parallax__group">
            <div class="parallax__layer parallax__layer--deep">
                <div class="title">
                    <div class="content">
                        <h3 style="color: #000">Our Partners</h3>
                        <img src="assets/img/home/2000px-american-red-cross-logo-svg.png">
                        <img src="assets/img/home/8ixrbrret.png">
                        <img src="assets/img/home/msd-logo.png">
                    </div>
                </div>

            </div>


        </div>
        <div   class=" partens parallax__group" style="    margin-bottom: 10%;">
            <div class="parallax__layer parallax__layer--back">
                <div class="title">
                    <div class="content">
                        <h3 style="color: #000">Our Mission</h3>
                        <p>{{data.html.calcs[0].d}}</p>
                    </div>
                </div>
            </div>
        </div>

        <footer></footer>
    </div>
</section>
<!--
<script>
    setTimeout(function(){
        document.getElementsByClassName('parallax')[0].addEventListener("scroll",function(e){
//            console.log("test");

            var op = 140/this.scrollTop;
            console.log(op);
            $(".main-container #group-about .parallax__layer&#45;&#45;back .grad").css({background:'linear-gradient(180deg, #5068c2 50%, rgba(255, 255, 255, '+op+') 50%);'})
        })
    },1500)
</script>-->
