<section class="main-container">
    <div class="parallax">
        <div id="group-about" style="    /*margin-bottom: 0px;*/" class="parallax__group">
            <div class="parallax__layer parallax__layer--base">
                <div class="title">
                    <div class="content" >
                        <md-icon md-svg-src="assets/img/ic_iso_black_24px.svg"></md-icon>
                        <div style="color:black" data-ng-show="session.user">
                            <p>HI, {{session.user.usr_name}}</p>
                            <p>You have full access to:</p>
                        </div>

                        <div class="row">
                            <div data-ng-repeat="cal in  data.html.calcs" class="col-sm-4 cacl-list">
                                <div  class="clc col-sm-8 centerX" data-ng-class="cal.c+'-back'"><p>{{cal.n}}</p></div>
                                <md-button class="dft-btn col-sm-8 centerX"  data-ng-click="utils.move(cal.url)">Start</md-button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!--<div class="parallax__layer parallax__layer&#45;&#45;fore">-->
            <!--</div>-->
        </div>

        <footer></footer>
    </div>
</section>