<section class="main-container">
    <div class="parallax">
        <div id="group-about" style="    margin-bottom: 20vh;" class="parallax__group">
            <div class="parallax__layer parallax__layer--base">
                <div class="title">
                    <div class="content">
                        <h3>Contact Us</h3>

                        <div class="about-info cont centerX">
                            <form name="contactF">
                                <p>Write us a message</p>

                                <div class="row">
                                    <label class=" col-sm-4">Name:</label>
                                    <input type="text" data-ng-model="contact.name" autofocus="true" name="usrname"
                                           data-ng-required="true" class="col-sm-8" data-ng-class="{'input-error':contact.isClicked && contactF.usrname.$invalid}">
                                </div>
                                <div class="row">
                                    <label class=" col-sm-4">Email:</label>
                                    <input type="email" data-ng-model="contact.email" name="eml" data-ng-required="true"
                                           class="col-sm-8" data-ng-class="{'input-error':contact.isClicked && contactF.eml.$invalid}">
                                </div>
                                <div class="row">
                                    <label class=" col-sm-4">Message:</label>
                                    <input type="text" data-ng-model="contact.msg" data-ng-required="true" name="message"
                                           class="col-sm-8"  data-ng-class="{'input-error':contact.isClicked && contactF.message.$invalid}">
                                    {{contact.isClicked && contact.msg.$invalid}}
                                </div>
                                <div class="row">
                                    <div class="col-sm-12" style="text-align: center;    padding: 25px!important;">
                                        <md-button   class="dft-s-btn"
                                                   data-ng-disabled="contact.isClicked && contactF.$invalid"
                                                   data-ng-click="utils.contact(contactF)">DONE
                                        </md-button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            </div>

            <div class="parallax__layer parallax__layer--back"style="    background: linear-gradient(180deg, #5068c2 50%, rgba(255, 255, 255, 0) 50%);">
                <div class="title grad">
                    <img  src="assets/img/home/contact.png">
                </div>

            </div>
        </div>

        <footer></footer>
    </div>
</section>