<div id="group7" class="parallax__group">
    <div class="parallax__layer parallax__layer--base">
        <div class="title">
            <div class="col-sm-7 center footer">
                <div class="col-sm-5 footer-desc" >
                    <h2>IOLCALC.CO</h2>

                    <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.</p>

                    <p>IOLCALC.CO © 2016. All rights reserved</p>
                </div>
                <div class="col-sm-3 list-parent">
                    <ul class="-list-menu">
                        <li class="grow" data-ng-click="utils.move('home_en')"><a href="#" title="Home">Home</a>
                        </li>
                        <li class="grow" data-ng-click="utils.move('calculators')"><a href="#"
                                                                                      title="Calculators">Calculators</a>
                        </li>
                        <li class="grow" data-ng-click="utils.move('about')"><a href="#" title="About Us">About
                            Us</a></li>
                        <li class="grow" data-ng-click="utils.move('contact')"><a href="#" title="Contact Us">Contact
                            Us</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 footer-contact">
                    <h2>Need a help?</h2>
                    <a class="tails__link" href="mailto:admin@iolcalc.com?subject=Hi&amp;body=Hello">support@iolcalc.io</a>

                    <p>Wisozkport, 376 Ankunding Tunnel Office 23c</p>
                </div>
            </div>
        </div>
    </div>
</div>