<section class="main-container">
   <!--  <div class="debug">
         <label><input type="checkbox"> Yie</label>
     </div>-->


    <div class="parallax">
        <div id="group1" style="    height: 100vh;" class="parallax__group">
            <div class="parallax__layer parallax__layer--base">
                <div class="title" style="top: 50%; ">
                    <div class="content" style="top: 50%; ">
                        <h1>IOLCACLC.CO</h1>
                        <h4>START USING NOW</h4>
                        <md-button data-ng-hide="session.user" class="dft-btn" data-ng-click="utils.sign.upA = true">Sign Up</md-button>
                        <div class="slide-container">
                            <div class="slider_wrapper" id="slider_wrapper">
                                <ul id="image_slider">
                                    <li data-ng-repeat="slide in data.html.calcs"><span>{{slide.d}}</span></li>
                                </ul>
                                <span class="nvgt" id="prev"></span>
                                <span class="nvgt" id="next"></span>
                            </div>
                            <ul id="pager">
                                <li data-ng-repeat="slide in data.html.calcs"><span>{{slide.n}}</span></li>
                            </ul>
                        </div>
                        <div class="arrow-bottom" ></div>
                    </div>

                </div>
            </div>
        </div>

        <div id="group3" class="parallax__group circe-cont" data-ng-repeat="val in data.html.calcs"
             data-ng-class="{'parallax__last':data.html.calcs.length-1 == $index}">

            <div class="parallax__layer parallax__layer--deep">
                <div class="title">
                    <div class="content">
                        <div class="title-calc-info">
                            <h2 data-ng-class="val.c+'-color'" data-ng-bind="val.n"></h2>

                            <div class="title-calc-body" data-ng-bind="val.d"></div>
                            <div class="btns-contain">
                                <md-button class="dft-btn" data-ng-click="utils.move(val.url)">Start Now</md-button>
                                <md-button class="dft-btn" data-ng-disabled="true" data-ng-click="utils.move(val.url)">
                                    More
                                    Info
                                </md-button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="parallax__layer parallax__layer--back" style="    /*background: linear-gradient(180deg, #ffffff 50%, rgba(255, 255, 255, 0) 50%);*/">
                <div class="title">
                    <div class="content">
                        <div class="circle-back-op  " data-ng-class="val.c+'-border'">
                            <div class="circle-back center" data-ng-class="val.c+'-back'">

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="parallax__layer parallax__layer--base" style="   transform: translateZ(-150px); ">
                <div class="title">
                    <div class="content" style="top: 50%;">
                        <img src="{{val.s}}" class="prev center"></div>
                </div>

            </div>

        </div>
        <footer></footer>
    </div>
</section>
<!--
<script>
    var debugInput = document.querySelector("input");
    function updateDebugState() {
        document.getElementsByClassName('parallax')[0].classList.toggle('debug-on', debugInput.checked);
    }
    debugInput.addEventListener("click", updateDebugState);
    updateDebugState();



</script>-->
<script>
    (function () {

        var ul;
        var liItems;
        var imageNumber;
        var imageWidth;
        var prev, next;
        var currentPostion = 0;
        var currentImage = 0;


        function init() {

            var parentView = document.getElementById('slider_wrapper');
            ul = document.getElementById('image_slider');
            liItems = ul.children;
            imageNumber = liItems.length;
            imageWidth = parentView.offsetWidth;// liItems[0].children[0].clientWidth || liItems[0].children[0].offsetWidth;
            ul.style.width = parseInt(imageWidth * (imageNumber + 1)) + 'px';
            prev = document.getElementById("prev");
            next = document.getElementById("next");
            generatePager(imageNumber);

            for (var d = 0; d < liItems.length; d++) {
//                liItems[d].style.width = imageWidth;
                jQuery(liItems[d]).css('width', imageWidth + 'px')
//                console.log(imageWidth);
            }
            //.onclike = slide(-1) will be fired when onload;
            /*
             prev.onclick = function(){slide(-1);};
             next.onclick = function(){slide(1);};*/
            prev.onclick = function () {
                onClickPrev();
            };
            next.onclick = function () {
                onClickNext();
            };
            setTimeout(function () {
               var interv= setInterval(function () {
                   if(document.getElementById('image_slider')){
                       next.click();
                   }else{
                       clearInterval(interv);
                   }

                }, 6500);

            }, 3000)
        }

        function animate(opts) {
            var start = new Date;
            (function update() {
                var timePassed = new Date - start;
                var progress = timePassed / opts.duration;
                if (progress > 1) {
                    progress = 1;
                }
                var delta = opts.delta(progress);
                opts.step(delta);
                if (progress == 1) {
                    opts.callback();
                } else {
                    requestAnimationFrame(update)
                }
            })()
        }

        function slideTo(imageToGo) {
            var direction;
            var numOfImageToGo = Math.abs(imageToGo - currentImage);
            // slide toward left

            direction = currentImage > imageToGo ? 1 : -1;
            currentPostion = -1 * currentImage * imageWidth;
            var opts = {
                duration: 500,
                delta: function (p) {
                    return p;
                },
                step: function (delta) {
                    ul.style.left = parseInt(currentPostion + direction * delta * imageWidth * numOfImageToGo) + 'px';
                },
                callback: function () {
                    currentImage = imageToGo;
                    var active = 'activeLi' ,
                            page =  jQuery("#pager");
                    page.find("."+active).removeClass(active);
                    page.children()[currentImage].className = active;
                }
            };
            animate(opts);
        }

        function onClickPrev() {
            if (currentImage == 0) {
                slideTo(imageNumber - 1);
            }
            else {
                slideTo(currentImage - 1);
            }
        }

        function onClickNext() {
            if (currentImage == imageNumber - 1) {
                slideTo(0);
            }
            else {
                slideTo(currentImage + 1);
            }
        }

        function generatePager(imageNumber) {
            var pageNumber;
            var pagerDiv = document.getElementById('pager');
            for (i = 0; i < pagerDiv.children.length; i++) {
                var li = pagerDiv.children[i];//document.createElement('li');
//                pageNumber = document.createTextNode(parseInt(i + 1));
//                li.appendChild(pageNumber);
//                pagerDiv.appendChild(li);
                // add event inside a loop, closure issue.

                if(i==0)li.className ='activeLi';
                li.onclick = function (i) {
                    return function () {
                        slideTo(i);
                    }
                }(i);
            }
            var computedStyle = document.defaultView.getComputedStyle(li, null);
            //border width 1px; offsetWidth = 22
            var liWidth = parseInt(li.offsetWidth);
            var liMargin = parseInt(computedStyle.margin.replace('px', ""));
            pagerDiv.style.width = parseInt((liWidth + liMargin * 2.2) * (imageNumber + 1)) + 'px';
        }

        setTimeout(function () {
            init();
            document.querySelector(".arrow-bottom").addEventListener("click", function () {
                var s = $('.parallax').scrollTop();
                var sd = $('#group1').height();
                $(".parallax").animate({
                    scrollTop: (sd - s) + 500
                }, 1000)

            })
        }, 100)

    })()


</script>